# Description of `Locations` table

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('../tables_creation/final_tables/locations.csv')
df.head()

,regname,areaname,tername,KOATUU_2020,KATOTTG_2023
0,Запорізька область,Мелітопольський район,с.Терпіння,2323085101,UA23080270010078454
1,Хмельницька область,Красилівський район,м.Красилів,6822710100,UA68040210010032567
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,1223881501,UA12140170040016918
3,Чернівецька область,м.Чернівці,Шевченківський район міста,7310100000,UA73060610010033137
4,Миколаївська область,Врадіївський район,с.Кумарі,4822383001,UA48080050190079797

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29219 entries, 0 to 29218
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   regname       29219 non-null  object
 1   areaname      29219 non-null  object
 2   tername       29219 non-null  object
 3   KOATUU_2020   29219 non-null  int64
 4   KATOTTG_2023  29219 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.1+ MB

In [4]:
# print unique values for each column
for col in df.columns:
    print('Unique length in ', col+':\t', len(df[col].unique()))

Unique length in  regname:	 58
Unique length in  areaname:	 985
Unique length in  tername:	 18706
Unique length in  KOATUU_2020:	 18542
Unique length in  KATOTTG_2023:	 18542

Features:
- regname (Region name): 58 unique Region names: region, city of Kyiv, other countries names. This column can contain duplicates due to mistapes in the data, bettet to use only codes.
- areaname (Area name): 985 unique Area names: area, city, other countries city. This column can contain duplicates due to mistapes in the data, bettet to use only codes.
- tername (Territory name): 18706 unique Territory names: territory, city area, other countries city. This column can contain duplicates due to mistapes in the data, bettet to use only codes.
- KOATUU_2020 (KOATUU code): 18542 unique codes(a unique digital code for each administrative-territorial entity of Ukraine, used from January 1998 till January 2021): territory, city area, other countries city. KOATUU codes in Ukraine follow a six-digit format. The first two digits signify the region, the next two represent the district, and the following two denote the city or municipality.
- KATOTTG_2023 (KATOTTG code): 18542 unique KATOTTG codes(a unique digital code for each administrative-territorial entity of Ukraine, used from January 2021 after decentralization): territory, city area, other countries city.