# Description of `Years` table

In [6]:
import pandas as pd
import seaborn as sns

In [7]:
df = pd.read_csv('../tables_creation/data/Years.csv')
df

   year
0  2016
1  2017
2  2018
3  2019
4  2020
5  2021
6  2022
7  2023

In [8]:
df.nunique()

year    8
dtype: int64

Features:

- year: Range of values:
    - 2018-2023 (integer)

Table contains eight unique year values.

Years from 2016 to 2021 stand for EIE test.<br>
Years 2022 and 2023 stand for NMT test.