In [2]:
import numpy as np
import pandas as pd

In [3]:
comparison = pd.read_excel('./location_data/Comparison table.xlsx',  dtype=str, skiprows=2)
comparison

,Кодифікатор,Код об'єкта КОАТУУ,Категорія об’єкта,Назва об’єкта
0,UA01000000000013043,0100000000,О,Автономна Республіка Крим
1,UA01020000000022387,0120400000,Р,Бахчисарайський
2,UA01020010000048857,8536990200,Н,Андріївська
3,UA01020010010075540,8536990201,С,Андріївка
4,UA01020010020030666,8536990203,Х,Сонячний
...,...,...,...,...
31753,UA85000000000065278,8500000000,К,Севастополь
31754,UA85000000000155841,8536300000,В,Балаклавський
31755,UA85000000000259923,8536400000,В,Гагарінський
31756,UA85000000000334608,8536600000,В,Ленінський
31757,UA85000000000449437,8536900000,В,Нахімовський

In [4]:
comparison.rename(columns = {'Кодифікатор':'KATOTTG_2023',"Код об'єкта КОАТУУ ":'KOATUU_2020','Категорія об’єкта':'category', 'Назва об’єкта':'name'}, inplace=True)
comparison

              KATOTTG_2023 KOATUU_2020 category                       name
0      UA01000000000013043  0100000000        О  Автономна Республіка Крим
1      UA01020000000022387  0120400000        Р            Бахчисарайський
2      UA01020010000048857  8536990200        Н               Андріївська
3      UA01020010010075540  8536990201        С                  Андріївка
4      UA01020010020030666  8536990203        Х                   Сонячний
...                    ...         ...      ...                        ...
31753  UA85000000000065278  8500000000        К                Севастополь
31754  UA85000000000155841  8536300000        В              Балаклавський
31755  UA85000000000259923  8536400000        В               Гагарінський
31756  UA85000000000334608  8536600000        В                 Ленінський
31757  UA85000000000449437  8536900000        В               Нахімовський

[31758 rows x 4 columns]

In [5]:
comparison.category.unique()

array(['О', 'Р', 'Н', 'С', 'Х', 'М', 'Т', 'В', 'К'], dtype=object)

О – області та АРК;
К – міста, що мають спеціальний статус (Київ та Севастополь);
Р – райони в областях та в АРК;
Н – територіальні громади;
М – міста;
Т – селища міського типу;
С – села;
Х – селища;
В – райони в містах.

In [6]:
category_dict = {'О': 'region', 'Р':'district', 'Н':'hromada', 'С':'village', 'Х':'settlement', 'М':'city', 'Т':'urban village', 'В':'districts in cities', 'К':'capital'}

In [7]:
for abbr, name in category_dict.items():
    comparison.loc[comparison.category == abbr, 'category'] = name

In [8]:
renaming = pd.read_csv('./location_data/translation_location.csv')
renaming

                ukrainian name               english name
0    Автономна Республіка Крим  Avtonomna Respublika Krym
1                  Амвросіївка                Amvrosiivka
2               Амвросіївський              Amvrosiivskyi
3                      Ананьїв                     Ananiv
4                 Ананьївський                 Ananivskyi
..                         ...                        ...
981                Ямпільський                 Yampilskyi
982              Ярмолинецький             Yarmolynetskyi
983                  Ярмолинці                Yarmolyntsi
984                  Ясинувата                 Yasynuvata
985              Ясинуватський              Yasynuvatskyi

[986 rows x 2 columns]

In [9]:
renaming.rename(columns = {'ukrainian name':'name'}, inplace=True)
renaming

                          name               english name
0    Автономна Республіка Крим  Avtonomna Respublika Krym
1                  Амвросіївка                Amvrosiivka
2               Амвросіївський              Amvrosiivskyi
3                      Ананьїв                     Ananiv
4                 Ананьївський                 Ananivskyi
..                         ...                        ...
981                Ямпільський                 Yampilskyi
982              Ярмолинецький             Yarmolynetskyi
983                  Ярмолинці                Yarmolyntsi
984                  Ясинувата                 Yasynuvata
985              Ясинуватський              Yasynuvatskyi

[986 rows x 2 columns]

In [10]:
merged_df = comparison.merge(renaming, on='name', how='left')
merged_df

,KATOTTG_2023,KOATUU_2020,category,name,english name
0,UA01000000000013043,0100000000,region,Автономна Республіка Крим,Avtonomna Respublika Krym
1,UA01020000000022387,0120400000,district,Бахчисарайський,Bakhchysaraiskyi
2,UA01020010000048857,8536990200,hromada,Андріївська,NaN
3,UA01020010010075540,8536990201,village,Андріївка,NaN
4,UA01020010020030666,8536990203,settlement,Сонячний,NaN
...,...,...,...,...,...
31753,UA85000000000065278,8500000000,capital,Севастополь,Sevastopol
31754,UA85000000000155841,8536300000,districts in cities,Балаклавський,Balaklavskyi
31755,UA85000000000259923,8536400000,districts in cities,Гагарінський,Haharinskyi
31756,UA85000000000334608,8536600000,districts in cities,Ленінський,Leninskyi
31757,UA85000000000449437,8536900000,districts in cities,Нахімовський,Nakhimovskyi

In [14]:
merged_df[merged_df['english name'].isna()&(merged_df.category == 'district')]

,KATOTTG_2023,KOATUU_2020,category,name,english name
463,UA01080000000090798,new district,district,Євпаторійський,NaN
622,UA01100000000047924,new district,district,Керченський,NaN
720,UA01120000000061837,new district,district,Курманський,NaN
884,UA01140000000010124,0122300000,district,Перекопський,NaN
1139,UA01180000000068971,new district,district,Феодосійський,NaN
1292,UA01200000000063976,new district,district,Ялтинський,NaN
5700,UA14020000000013572,1420900000,district,Бахмутський,NaN
5987,UA14060000000024357,new district,district,Горлівський,NaN
6132,UA14080000000098686,new district,district,Донецький,NaN
6305,UA14100000000010319,new district,district,Кальміуський,NaN
6467,UA14120000000070232,new district,district,Краматорський,NaN
6715,UA14140000000070889,new district,district,Маріупольський,NaN
10591,UA26040000000044761,new district,district,Івано-Франківський,NaN
12021,UA32080000000084076,new district,district,Бучанський,NaN
12868,UA35040000000034705,3522500000,district,Кропивницький,NaN
13762,UA44020000000082097,new district,district,Алчевський,NaN
13857,UA44040000000032820,4424200000,district,Довжанський,NaN
13958,UA44060000000048093,new district,district,Луганський,NaN
14064,UA44080000000045512,new district,district,Ровеньківський,NaN
14351,UA44120000000092852,new district,district,Сєвєродонецький,NaN
14648,UA44160000000057142,new district,district,Щастинський,NaN
15118,UA46060000000042587,new district,district,Львівський,NaN
16284,UA46120000000057093,new district,district,Червоноградський,NaN
18288,UA51100000000095786,new district,district,Одеський,NaN
20913,UA56020000000011586,new district,district,Вараський,NaN
27133,UA65100000000029736,new district,district,Херсонський,NaN
29801,UA73040000000031528,new district,district,Дністровський,NaN

In [12]:
merged_df.loc[merged_df.KOATUU_2020 == 'Новий район', 'KOATUU_2020'] = 'new district'

In [13]:
merged_df.to_csv('./final_tables/locations_base.csv', index=False, encoding='utf-8')