In [2]:
import numpy as np
import pandas as pd

In [14]:
# load datasets
datasets = {}
years = range(2018, 2021)
for year in years:
    print(f"Schools stats {year} Loading...")
    file_name = f'ZZSO-{year}.xlsx'
    dataset = pd.read_excel(f"../school_level/fin_data/{file_name}", header=1, dtype='str')
    datasets.update({year:dataset})
    print("success")

Schools stats 2018 Loading...
success
Schools stats 2019 Loading...
success
Schools stats 2020 Loading...
success

In [15]:
rename_dict = {
    "Область": "regname",
    "Тип територіальної одиниці": "tertype",
    "Назва тер. Одиниці": "areaname",
    "Найменування закладу": "eoname",
    "Ступінь закладу ( I, I-II, I-III)": "eolevel",
    "Загальна площа приміщень школи ( без господарських будівель) (кв.м.)": "eosize",
    "Кількість штатних працівників педагогічного персоналу  разом": "teachstuff",
    "Кількість штатних працівників непедагогічного персоналу  разом": "nonteachstuff",
    "Кількість штатних працівників педагогічного персоналу  пенсійного віку": "teachstuffretage",
    "Кількість учнів разом": "pupils",
    "Кількість класів разом": "classes",
    "Видатки на функціонування закладу (загальний фонд), тис.грн.\n2018рік (касові видатки)": "opex",
    "Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (план)": "opexplan",
    "Тип школи: міська / сільська": 'eotype',
    "Разом кількість учнів, та дітей, які здобувають дошкільну освіту": "pupilswithpreschool",
    "Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (касові видатки)": "opex",
    "Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (план)": "opexplan",
    "Опорна": "hub",
    "Код бюджету": "budgetcode",
    "Форма власності": "ownership",
    "Код ДІСО": "DISO",
    "ЄДРПОУ": "Код ЄДРПОУ",
    "Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (касові видатки)": "opex",
    "Видатки на функціонування закладу (загальний фонд), тис.грн.\n2021 рік (план)": "opexplan"
}

In [16]:
datasets[2018]['year'] = 2018
# datasets[2018].loc[datasets[2018]['Область'] != 'м.Київ', 'Область'] += ' область'
datasets[2018].rename(columns=rename_dict, inplace=True)
columns = ['eoname', 'eolevel', 'eosize', 'teachstuff', 'nonteachstuff', 'teachstuffretage', 'pupils', 'classes', 'opex', 'opexplan', 'year']
datasets[2018] = datasets[2018].loc[:, columns]
datasets[2018]

,eoname,eolevel,eosize,teachstuff,nonteachstuff,teachstuffretage,pupils,classes,opex,opexplan,year
0,КЗ «Ординецька ЗОШ І ступеня Погреб районної р...,I,888,0,0,0,0,0,0,0,2018
1,Олександрівська ЗОШ І ступеня Магдалинівської ...,I,1467.4,0,4,0,0,0,237.494,0,2018
2,Крамарська загальноосвітня школа І-ІІ ступенів...,I-II,524.21,0,2,0,0,0,821.143,0,2018
3,Минівська ЗОШ І ступеня Заплавської сільської ...,I,881,0,3,0,0,0,343.575,0,2018
4,Новотроїцька загальноосвітня школа I- II ступе...,I-II,205.7,0,0,0,0,0,927.012,0,2018
...,...,...,...,...,...,...,...,...,...,...,...
14771,Гімназія № 48,I-III,3541,68.5,22,13,638,22,13709.32214,16835.63,2018
14772,Гімназія № 153,I-III,4369,65.661,24,18,632,23,14140.05078,16957.865,2018
14773,Гімназія ім.М.Драгоманова,II-III,1240,47.778,21.75,7,338,14,8614.45277,11388.258,2018
14774,"Спеціалізований навчально- виховний комплекс ""...",I,2593.7,39.92,37.5,1,140,8,9804.02222,13046.697,2018
14775,"Спеціальний навчально- виховний комплекс ""Пізн...",I,2451.2,63.15,59.08,11,53,4,14447.46228,17035.804,2018

In [17]:
datasets[2019]['year'] = 2019
# datasets[2019].loc[datasets[2019]['Область'] != 'місто Київ', 'Область'] += ' область'
# datasets[2019].loc[datasets[2019]['Область'] == 'місто Київ', 'Область'] = 'м.Київ'
datasets[2019].rename(columns=rename_dict, inplace=True)
columns = ['eoname', 'eolevel', 'eosize', 'teachstuff', 'nonteachstuff', 'teachstuffretage', 'pupils', 'pupilswithpreschool', 'classes', 'opex', 'opexplan', 'hub', 'budgetcode', 'ownership', 'DISO', 'Код ЄДРПОУ', 'year']
datasets[2019] = datasets[2019].loc[:, columns]
datasets[2019]

,eoname,eolevel,eosize,teachstuff,nonteachstuff,teachstuffretage,pupils,pupilswithpreschool,classes,opex,opexplan,hub,budgetcode,ownership,DISO,Код ЄДРПОУ,year
0,Загальноосвітня школа І-ІІІ ступенів №1 комуна...,I-III,NaN,44,20,8,539,539,20,9915.2,11123,ні,2202100000,комунальна,8173,26244113,2019
1,"Навчально-виховний комплекс ""Загальноосвітня ш...",I-III,NaN,59,18,8,840,840,30,13692.2,13758.8,ні,2202100000,комунальна,8174,26244107,2019
2,Загальноосвітня школа І-ІІІ ступенів №3 комуна...,I-III,NaN,82,23,11,981,981,36,16184.7,17254.2,ні,2202100000,комунальна,8175,26244136,2019
3,Загальноосвітня школа I-III ступенів №4 комуна...,I-III,NaN,61,22,6,854,854,32,14321.9,14598.6,ні,2202100000,комунальна,8176,26244099,2019
4,"Навчально - виховний комплекс ""Загальноосвітня...",I-III,NaN,70,23,8,864,864,33,15061,16011.5,ні,2202100000,комунальна,8177,23064971,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14170,Школа І ступеня № 326,I,NaN,15,12,3,170,170,6,6642.512,7394.666,ні,26000000000,комунальна,23601,33100952,2019
14171,Школа І ступеня №333 Дарницького району м.Києва,I,NaN,51.89,27.5,0,512,512,16,10285.5,13232.399,ні,26000000000,комунальна,23680,41659088,2019
14172,Початкова школа №332 Дарницького району м. Києва,I,NaN,80.11,35,0,952,952,27,14547.4,21722.249,ні,26000000000,комунальна,23730,42384345,2019
14173,Початкова школа № 334 Дарницького району м. Києва,I,NaN,36.22,26,3,351,351,11,6973.8,13217.047,ні,26000000000,комунальна,23731,42384408,2019
14174,"Коледж хореографічного мистецтва ""Київська мун...",II-III,NaN,21,2,3,103,103,7,3375.1,3567.8,ні,26000000000,комунальна,23877,30382088,2019

In [18]:
datasets[2020]['year'] = 2020
# datasets[2020].loc[datasets[2020]['Область'] != 'місто Київ', 'Область'] += ' область'
# datasets[2020].loc[datasets[2020]['Область'] == 'місто Київ', 'Область'] = 'м.Київ'
datasets[2020].rename(columns=rename_dict, inplace=True)
columns = ['eoname', 'eolevel', 'eosize', 'teachstuff', 'nonteachstuff', 'teachstuffretage', 'pupils', 'classes', 'opex', 'opexplan', 'hub', 'budgetcode', 'ownership', 'DISO', 'Код ЄДРПОУ', 'year']
datasets[2020] = datasets[2020].loc[:, columns]
datasets[2020]

,eoname,eolevel,eosize,teachstuff,nonteachstuff,teachstuffretage,pupils,classes,opex,opexplan,hub,budgetcode,ownership,DISO,Код ЄДРПОУ,year
0,Загальноосвітній навчально-виховний комплекс І...,I-III,NaN,16,19,5,117,9,4388.111,5006.502,NaN,02553000000,комунальна,7137,25844555,2020
1,"КНЗ ""Загальноосвітня школа І-ІІІ ступенів №3 К...",I-III,NaN,27,15,8,312,12,6523.777,8614.601,NaN,02553000000,комунальна,6936,25844992,2020
2,"Комунальний навчальний заклад ""Загальноосвітня...",I-III,NaN,39,17,8,530,21,9273.777,12627.197,NaN,02553000000,комунальна,7149,25844928,2020
3,Загальноосвітня середня школа І-ІІІ ступенів №...,I-III,NaN,35,18,7,465,19,8654.501,11029.117,NaN,02553000000,комунальна,7191,25844970,2020
4,"Комунальний навчальний заклад ""Спеціалізована ...",I-III,NaN,55,21,4,820,31,14833.298,19559.764,NaN,02553000000,комунальна,6976,23101028,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13453,"Спеціалізований навчально-виховний комплекс ""К...",I,NaN,11,21,0,166,6,5415.94732,6742.1,NaN,26000000000,комунальна,22986,22874627,2020
13454,"НВК ""Спеціалізована школа І ступеня з поглибле...",I,NaN,14,21,0,210,7,9401.191,11418.88,NaN,26000000000,комунальна,23112,21580289,2020
13455,Початкова школа № 334 Дарницького району м. Києва,I,NaN,24,34,0,449,14,9552.78,15143.279,NaN,26000000000,комунальна,23731,42384408,2020
13456,Школа І ступеня № 333 Дарницького району м. Києва,I-III,NaN,29,23,0,585,16,11503.71,15556.951,NaN,26000000000,комунальна,23680,41659088,2020
13457,Початкова школа №332 Дарницького району м. Києва,I,NaN,44,44,0,1017,29,17969.26,26466.605,NaN,26000000000,комунальна,23730,42384345,2020

In [19]:
concatenated_df = pd.concat(list(datasets.values()), ignore_index=True)
concatenated_df

,eoname,eolevel,eosize,teachstuff,nonteachstuff,teachstuffretage,pupils,classes,opex,opexplan,year,pupilswithpreschool,hub,budgetcode,ownership,DISO,Код ЄДРПОУ
0,КЗ «Ординецька ЗОШ І ступеня Погреб районної р...,I,888,0,0,0,0,0,0,0,2018,NaN,NaN,NaN,NaN,NaN,NaN
1,Олександрівська ЗОШ І ступеня Магдалинівської ...,I,1467.4,0,4,0,0,0,237.494,0,2018,NaN,NaN,NaN,NaN,NaN,NaN
2,Крамарська загальноосвітня школа І-ІІ ступенів...,I-II,524.21,0,2,0,0,0,821.143,0,2018,NaN,NaN,NaN,NaN,NaN,NaN
3,Минівська ЗОШ І ступеня Заплавської сільської ...,I,881,0,3,0,0,0,343.575,0,2018,NaN,NaN,NaN,NaN,NaN,NaN
4,Новотроїцька загальноосвітня школа I- II ступе...,I-II,205.7,0,0,0,0,0,927.012,0,2018,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42404,"Спеціалізований навчально-виховний комплекс ""К...",I,NaN,11,21,0,166,6,5415.94732,6742.1,2020,NaN,NaN,26000000000,комунальна,22986,22874627
42405,"НВК ""Спеціалізована школа І ступеня з поглибле...",I,NaN,14,21,0,210,7,9401.191,11418.88,2020,NaN,NaN,26000000000,комунальна,23112,21580289
42406,Початкова школа № 334 Дарницького району м. Києва,I,NaN,24,34,0,449,14,9552.78,15143.279,2020,NaN,NaN,26000000000,комунальна,23731,42384408
42407,Школа І ступеня № 333 Дарницького району м. Києва,I-III,NaN,29,23,0,585,16,11503.71,15556.951,2020,NaN,NaN,26000000000,комунальна,23680,41659088
42408,Початкова школа №332 Дарницького району м. Києва,I,NaN,44,44,0,1017,29,17969.26,26466.605,2020,NaN,NaN,26000000000,комунальна,23730,42384345

In [35]:
concatenated_df[concatenated_df['Код ЄДРПОУ'].notna()][concatenated_df[concatenated_df['Код ЄДРПОУ'].notna()]['Код ЄДРПОУ'].apply(len) != 8]

,eoname,eolevel,eosize,teachstuff,nonteachstuff,teachstuffretage,pupils,classes,opex,opexplan,year,pupilswithpreschool,hub,budgetcode,ownership,DISO,Код ЄДРПОУ
14828,Каришківська загальноосвітня школа І-ІІІ ступенів,I-III,NaN,22,17,5,87,11,3980.4,4541.4,2019,87,ні,2301200000,комунальна,6927,2141288
14829,"Марянівський навчально-виховний комплекс ""ДНЗ-...",I,NaN,7,10,0,15,1,1591.8,1391.1,2019,35,ні,2301200000,комунальна,22767,0
15000,"Навчально- виховний комплекс ""Загальноосвітній...",I-III,NaN,17,13,2,61,8,3744.6,4221.4,2019,68,ні,2309200000,комунальна,11377,2141360
15012,Зозівська загальноосвітня школа І-ІІІ ст. Липо...,I-III,NaN,22,18,5,174,10,4798.8,5075.6,2019,174,ні,2310200000,комунальна,11395,2141377
15075,Григорівська загальноосвітня школа 1 ступеня,I,NaN,3,2,0,17,3,530.214,712.694,2019,17,ні,2312200000,комунальна,7183,4326572
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42303,Спеціалізована школа І-ІІІ ступенів №152 з пог...,I-III,NaN,44,30,6,588,24,18971.00334,22593.8,2020,NaN,NaN,26000000000,комунальна,22933,3875118
42311,Школа І-ІІІ ступенів № 294 Десянського району ...,I-III,NaN,62,33,8,1132,41,27706.449149999997,31025.2,2020,NaN,NaN,26000000000,комунальна,22960,1489305
42345,Школа І-ІІІ ступенів № 282 Деснянського району...,I-III,NaN,55,29,6,973,33,23451.75618,29592.3,2020,NaN,NaN,26000000000,комунальна,22956,1488067
42381,Спеціалізована школа І-ІІІ ступенів №202 з пог...,I-III,NaN,48,29,3,732,29,18535.171670000003,22414,2020,NaN,NaN,26000000000,комунальна,22937,3875354
42390,Спеціалізована школа І-ІІІ ступенів № 23 з пог...,I-III,NaN,49,26,2,723,24,26648.166719999997,31694.8,2020,NaN,NaN,26000000000,комунальна,22929,3874432

In [ ]:
# concatenated_df[['pupilswithpreschool', 'budgetcode', 'DISO', 'Код ЄДРПОУ']] = concatenated_df[['pupilswithpreschool', 'budgetcode', 'DISO', 'Код ЄДРПОУ']].fillna(-10000)
# concatenated_df = concatenated_df.astype({'teachstuff': 'int64', 'nonteachstuff': 'int64', 'teachstuffretage': 'int64', 'pupilswithpreschool': 'int64', 'budgetcode': 'int64', 'DISO': 'int64', 'Код ЄДРПОУ': 'int64'})
# concatenated_df = concatenated_df.astype({'pupilswithpreschool': 'str', 'budgetcode': 'str', 'DISO': 'str', 'Код ЄДРПОУ': 'str'})
# concatenated_df[['pupilswithpreschool', 'budgetcode', 'DISO', 'Код ЄДРПОУ']] = concatenated_df[['pupilswithpreschool', 'budgetcode', 'DISO', 'Код ЄДРПОУ']].replace('-10000', np.NaN)
# concatenated_df

In [36]:
concatenated_df.to_csv('Scools_stats.csv', index=False, encoding='utf-8')