In [1]:
import numpy as np
import pandas as pd

In [2]:
# load datasets
datasets = {}
years = range(2018, 2021)
for year in years:
    print(f"Schools stats {year} Loading...")
    file_name = f'ZZSO-{year}.xlsx'
    dataset = pd.read_excel(f"../school_level/fin_data/{file_name}", header=1)
    datasets.update({year:dataset})
    print("success")

Schools stats 2018 Loading...
success
Schools stats 2019 Loading...
success
Schools stats 2020 Loading...
success

In [3]:
rename_dict = {
    "Область": "regname",
    "Тип територіальної одиниці": "tertype",
    "Назва тер. Одиниці": "areaname",
    "Найменування закладу": "eoname",
    "Ступінь закладу ( I, I-II, I-III)": "eolevel",
    "Загальна площа приміщень школи ( без господарських будівель) (кв.м.)": "eosize",
    "Кількість штатних працівників педагогічного персоналу  разом": "teachstuff",
    "Кількість штатних працівників непедагогічного персоналу  разом": "nonteachstuff",
    "Кількість штатних працівників педагогічного персоналу  пенсійного віку": "teachstuffretage",
    "Кількість учнів разом": "pupils",
    "Кількість класів разом": "classes",
    "Видатки на функціонування закладу (загальний фонд), тис.грн.\n2018рік (касові видатки)": "opex",
    "Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (план)": "opexplan",
    "Тип школи: міська / сільська": 'eotype',
    "Разом кількість учнів, та дітей, які здобувають дошкільну освіту": "pupilswithpreschool",
    "Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (касові видатки)": "opex",
    "Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (план)": "opexplan",
    "Опорна": "hub",
    "Код бюджету": "budgetcode",
    "Форма власності": "ownership",
    "Код ДІСО": "DISO",
    "ЄДРПОУ": "Код ЄДРПОУ",
    "Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (касові видатки)": "opex",
    "Видатки на функціонування закладу (загальний фонд), тис.грн.\n2021 рік (план)": "opexplan"
}

In [4]:
datasets[2018]['year'] = 2018
datasets[2018].loc[datasets[2018]['Область'] != 'м.Київ', 'Область'] += ' область'
datasets[2018].rename(columns=rename_dict, inplace=True)
columns = ['regname', 'tertype', 'areaname', 'eoname', 'eolevel', 'eosize', 'teachstuff', 'nonteachstuff', 'teachstuffretage', 'pupils', 'classes', 'opex', 'opexplan', 'year']
datasets[2018] = datasets[2018].loc[:, columns]
datasets[2018]

,regname,tertype,areaname,eoname,eolevel,eosize,teachstuff,nonteachstuff,teachstuffretage,pupils,classes,opex,opexplan,year
0,Вінницька область,Район,Погребищенський,КЗ «Ординецька ЗОШ І ступеня Погреб районної р...,I,888,0.000,0.00,0.0,0,0,0.00000,0,2018
1,Дніпропетровська область,Район,Магдалинівський район,Олександрівська ЗОШ І ступеня Магдалинівської ...,I,1467.4,0.000,4.00,0.0,0,0,237.49400,0,2018
2,Дніпропетровська область,Район,Магдалинівський район,Крамарська загальноосвітня школа І-ІІ ступенів...,I-II,524.21,0.000,2.00,0.0,0,0,821.14300,0,2018
3,Дніпропетровська область,Район,Магдалинівський район,Минівська ЗОШ І ступеня Заплавської сільської ...,I,881,0.000,3.00,0.0,0,0,343.57500,0,2018
4,Дніпропетровська область,Район,П'ятихатський район,Новотроїцька загальноосвітня школа I- II ступе...,I-II,205.7,0.000,0.00,0.0,0,0,927.01200,0,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14771,м.Київ,Місто,Київ- Шевченківський р-н,Гімназія № 48,I-III,3541,68.500,22.00,13.0,638,22,13709.32214,16835.63,2018
14772,м.Київ,Місто,Київ- Шевченківський р-н,Гімназія № 153,I-III,4369,65.661,24.00,18.0,632,23,14140.05078,16957.865,2018
14773,м.Київ,Місто,Київ- Шевченківський р-н,Гімназія ім.М.Драгоманова,II-III,1240,47.778,21.75,7.0,338,14,8614.45277,11388.258,2018
14774,м.Київ,Місто,Київ- Шевченківський р-н,"Спеціалізований навчально- виховний комплекс ""...",I,2593.7,39.920,37.50,1.0,140,8,9804.02222,13046.697,2018
14775,м.Київ,Місто,Київ- Шевченківський р-н,"Спеціальний навчально- виховний комплекс ""Пізн...",I,2451.2,63.150,59.08,11.0,53,4,14447.46228,17035.804,2018

In [6]:
datasets[2019]['year'] = 2019
datasets[2019].loc[datasets[2019]['Область'] != 'місто Київ', 'Область'] += ' область'
datasets[2019].loc[datasets[2019]['Область'] == 'місто Київ', 'Область'] = 'м.Київ'
datasets[2019].rename(columns=rename_dict, inplace=True)
columns = ['regname', 'areaname', 'eoname', 'eolevel', 'eosize', 'teachstuff', 'nonteachstuff', 'teachstuffretage', 'pupils', 'pupilswithpreschool', 'classes', 'opex', 'opexplan', 'hub', 'budgetcode', 'ownership', 'DISO', 'Код ЄДРПОУ', 'year']
datasets[2019] = datasets[2019].loc[:, columns]
datasets[2019]

,regname,areaname,eoname,eolevel,eosize,teachstuff,nonteachstuff,teachstuffretage,pupils,pupilswithpreschool,classes,opex,opexplan,hub,budgetcode,ownership,DISO,Код ЄДРПОУ,year
0,Вінницька область,Жмеринська міська ОТГ,Загальноосвітня школа І-ІІІ ступенів №1 комуна...,I-III,NaN,44.00,20.0,8.0,539,539,20,9915.200,11123,ні,2202100000,комунальна,8173,26244113,2019
1,Вінницька область,Жмеринська міська ОТГ,"Навчально-виховний комплекс ""Загальноосвітня ш...",I-III,NaN,59.00,18.0,8.0,840,840,30,13692.200,13758.8,ні,2202100000,комунальна,8174,26244107,2019
2,Вінницька область,Жмеринська міська ОТГ,Загальноосвітня школа І-ІІІ ступенів №3 комуна...,I-III,NaN,82.00,23.0,11.0,981,981,36,16184.700,17254.2,ні,2202100000,комунальна,8175,26244136,2019
3,Вінницька область,Жмеринська міська ОТГ,Загальноосвітня школа I-III ступенів №4 комуна...,I-III,NaN,61.00,22.0,6.0,854,854,32,14321.900,14598.6,ні,2202100000,комунальна,8176,26244099,2019
4,Вінницька область,Жмеринська міська ОТГ,"Навчально - виховний комплекс ""Загальноосвітня...",I-III,NaN,70.00,23.0,8.0,864,864,33,15061.000,16011.5,ні,2202100000,комунальна,8177,23064971,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14170,м.Київ,місто Київ,Школа І ступеня № 326,I,NaN,15.00,12.0,3.0,170,170,6,6642.512,7394.666,ні,26000000000,комунальна,23601,33100952,2019
14171,м.Київ,місто Київ,Школа І ступеня №333 Дарницького району м.Києва,I,NaN,51.89,27.5,0.0,512,512,16,10285.500,13232.399,ні,26000000000,комунальна,23680,41659088,2019
14172,м.Київ,місто Київ,Початкова школа №332 Дарницького району м. Києва,I,NaN,80.11,35.0,0.0,952,952,27,14547.400,21722.249,ні,26000000000,комунальна,23730,42384345,2019
14173,м.Київ,місто Київ,Початкова школа № 334 Дарницького району м. Києва,I,NaN,36.22,26.0,3.0,351,351,11,6973.800,13217.047,ні,26000000000,комунальна,23731,42384408,2019
14174,м.Київ,місто Київ,"Коледж хореографічного мистецтва ""Київська мун...",II-III,NaN,21.00,2.0,3.0,103,103,7,3375.100,3567.8,ні,26000000000,комунальна,23877,30382088,2019

In [8]:
datasets[2020]['year'] = 2020
datasets[2020].loc[datasets[2020]['Область'] != 'місто Київ', 'Область'] += ' область'
datasets[2020].loc[datasets[2020]['Область'] == 'місто Київ', 'Область'] = 'м.Київ'
datasets[2020].rename(columns=rename_dict, inplace=True)
columns = ['regname', 'areaname', 'eoname', 'eolevel', 'eosize', 'teachstuff', 'nonteachstuff', 'teachstuffretage', 'pupils', 'classes', 'opex', 'opexplan', 'hub', 'budgetcode', 'ownership', 'DISO', 'Код ЄДРПОУ', 'year']
datasets[2020] = datasets[2020].loc[:, columns]
datasets[2020]

,regname,areaname,eoname,eolevel,eosize,teachstuff,nonteachstuff,teachstuffretage,pupils,classes,opex,opexplan,hub,budgetcode,ownership,DISO,Код ЄДРПОУ,year
0,Вінницька область,Козятинська міська ТГ,Загальноосвітній навчально-виховний комплекс І...,I-III,NaN,16.0,19.0,5,117,9,4388.11100,5006.502,NaN,2553000000,комунальна,7137,25844555,2020
1,Вінницька область,Козятинська міська ТГ,"КНЗ ""Загальноосвітня школа І-ІІІ ступенів №3 К...",I-III,NaN,27.0,15.0,8,312,12,6523.77700,8614.601,NaN,2553000000,комунальна,6936,25844992,2020
2,Вінницька область,Козятинська міська ТГ,"Комунальний навчальний заклад ""Загальноосвітня...",I-III,NaN,39.0,17.0,8,530,21,9273.77700,12627.197,NaN,2553000000,комунальна,7149,25844928,2020
3,Вінницька область,Козятинська міська ТГ,Загальноосвітня середня школа І-ІІІ ступенів №...,I-III,NaN,35.0,18.0,7,465,19,8654.50100,11029.117,NaN,2553000000,комунальна,7191,25844970,2020
4,Вінницька область,Козятинська міська ТГ,"Комунальний навчальний заклад ""Спеціалізована ...",I-III,NaN,55.0,21.0,4,820,31,14833.29800,19559.764,NaN,2553000000,комунальна,6976,23101028,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13453,м.Київ,місто Київ,"Спеціалізований навчально-виховний комплекс ""К...",I,NaN,11.0,21.0,0,166,6,5415.94732,6742.100,NaN,26000000000,комунальна,22986,22874627,2020
13454,м.Київ,місто Київ,"НВК ""Спеціалізована школа І ступеня з поглибле...",I,NaN,14.0,21.0,0,210,7,9401.19100,11418.880,NaN,26000000000,комунальна,23112,21580289,2020
13455,м.Київ,місто Київ,Початкова школа № 334 Дарницького району м. Києва,I,NaN,24.0,34.0,0,449,14,9552.78000,15143.279,NaN,26000000000,комунальна,23731,42384408,2020
13456,м.Київ,місто Київ,Школа І ступеня № 333 Дарницького району м. Києва,I-III,NaN,29.0,23.0,0,585,16,11503.71000,15556.951,NaN,26000000000,комунальна,23680,41659088,2020
13457,м.Київ,місто Київ,Початкова школа №332 Дарницького району м. Києва,I,NaN,44.0,44.0,0,1017,29,17969.26000,26466.605,NaN,26000000000,комунальна,23730,42384345,2020

In [65]:
concatenated_df = pd.concat(list(datasets.values()), ignore_index=True)
concatenated_df

,regname,tertype,areaname,eoname,eolevel,eosize,teachstuff,nonteachstuff,teachstuffretage,pupils,classes,opex,opexplan,year,pupilswithpreschool,hub,budgetcode,ownership,DISO,Код ЄДРПОУ
0,Вінницька область,Район,Погребищенський,КЗ «Ординецька ЗОШ І ступеня Погреб районної р...,I,888,0.0,0.0,0.0,0,0,0.00000,0,2018,NaN,NaN,NaN,NaN,NaN,NaN
1,Дніпропетровська область,Район,Магдалинівський район,Олександрівська ЗОШ І ступеня Магдалинівської ...,I,1467.4,0.0,4.0,0.0,0,0,237.49400,0,2018,NaN,NaN,NaN,NaN,NaN,NaN
2,Дніпропетровська область,Район,Магдалинівський район,Крамарська загальноосвітня школа І-ІІ ступенів...,I-II,524.21,0.0,2.0,0.0,0,0,821.14300,0,2018,NaN,NaN,NaN,NaN,NaN,NaN
3,Дніпропетровська область,Район,Магдалинівський район,Минівська ЗОШ І ступеня Заплавської сільської ...,I,881,0.0,3.0,0.0,0,0,343.57500,0,2018,NaN,NaN,NaN,NaN,NaN,NaN
4,Дніпропетровська область,Район,П'ятихатський район,Новотроїцька загальноосвітня школа I- II ступе...,I-II,205.7,0.0,0.0,0.0,0,0,927.01200,0,2018,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42404,м.Київ,NaN,місто Київ,"Спеціалізований навчально-виховний комплекс ""К...",I,NaN,11.0,21.0,0.0,166,6,5415.94732,6742.1,2020,NaN,NaN,2.600000e+10,комунальна,22986.0,22874627.0
42405,м.Київ,NaN,місто Київ,"НВК ""Спеціалізована школа І ступеня з поглибле...",I,NaN,14.0,21.0,0.0,210,7,9401.19100,11418.88,2020,NaN,NaN,2.600000e+10,комунальна,23112.0,21580289.0
42406,м.Київ,NaN,місто Київ,Початкова школа № 334 Дарницького району м. Києва,I,NaN,24.0,34.0,0.0,449,14,9552.78000,15143.279,2020,NaN,NaN,2.600000e+10,комунальна,23731.0,42384408.0
42407,м.Київ,NaN,місто Київ,Школа І ступеня № 333 Дарницького району м. Києва,I-III,NaN,29.0,23.0,0.0,585,16,11503.71000,15556.951,2020,NaN,NaN,2.600000e+10,комунальна,23680.0,41659088.0
42408,м.Київ,NaN,місто Київ,Початкова школа №332 Дарницького району м. Києва,I,NaN,44.0,44.0,0.0,1017,29,17969.26000,26466.605,2020,NaN,NaN,2.600000e+10,комунальна,23730.0,42384345.0

In [66]:
concatenated_df[['pupilswithpreschool', 'budgetcode', 'DISO', 'Код ЄДРПОУ']] = concatenated_df[['pupilswithpreschool', 'budgetcode', 'DISO', 'Код ЄДРПОУ']].fillna(-10000)
concatenated_df = concatenated_df.astype({'teachstuff': 'int64', 'nonteachstuff': 'int64', 'teachstuffretage': 'int64', 'pupilswithpreschool': 'int64', 'budgetcode': 'int64', 'DISO': 'int64', 'Код ЄДРПОУ': 'int64'})
concatenated_df = concatenated_df.astype({'pupilswithpreschool': 'str', 'budgetcode': 'str', 'DISO': 'str', 'Код ЄДРПОУ': 'str'})
concatenated_df[['pupilswithpreschool', 'budgetcode', 'DISO', 'Код ЄДРПОУ']] = concatenated_df[['pupilswithpreschool', 'budgetcode', 'DISO', 'Код ЄДРПОУ']].replace('-10000', np.NaN)
concatenated_df

,regname,tertype,areaname,eoname,eolevel,eosize,teachstuff,nonteachstuff,teachstuffretage,pupils,classes,opex,opexplan,year,pupilswithpreschool,hub,budgetcode,ownership,DISO,Код ЄДРПОУ
0,Вінницька область,Район,Погребищенський,КЗ «Ординецька ЗОШ І ступеня Погреб районної р...,I,888,0,0,0,0,0,0.00000,0,2018,NaN,NaN,NaN,NaN,NaN,NaN
1,Дніпропетровська область,Район,Магдалинівський район,Олександрівська ЗОШ І ступеня Магдалинівської ...,I,1467.4,0,4,0,0,0,237.49400,0,2018,NaN,NaN,NaN,NaN,NaN,NaN
2,Дніпропетровська область,Район,Магдалинівський район,Крамарська загальноосвітня школа І-ІІ ступенів...,I-II,524.21,0,2,0,0,0,821.14300,0,2018,NaN,NaN,NaN,NaN,NaN,NaN
3,Дніпропетровська область,Район,Магдалинівський район,Минівська ЗОШ І ступеня Заплавської сільської ...,I,881,0,3,0,0,0,343.57500,0,2018,NaN,NaN,NaN,NaN,NaN,NaN
4,Дніпропетровська область,Район,П'ятихатський район,Новотроїцька загальноосвітня школа I- II ступе...,I-II,205.7,0,0,0,0,0,927.01200,0,2018,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42404,м.Київ,NaN,місто Київ,"Спеціалізований навчально-виховний комплекс ""К...",I,NaN,11,21,0,166,6,5415.94732,6742.1,2020,NaN,NaN,26000000000,комунальна,22986,22874627
42405,м.Київ,NaN,місто Київ,"НВК ""Спеціалізована школа І ступеня з поглибле...",I,NaN,14,21,0,210,7,9401.19100,11418.88,2020,NaN,NaN,26000000000,комунальна,23112,21580289
42406,м.Київ,NaN,місто Київ,Початкова школа № 334 Дарницького району м. Києва,I,NaN,24,34,0,449,14,9552.78000,15143.279,2020,NaN,NaN,26000000000,комунальна,23731,42384408
42407,м.Київ,NaN,місто Київ,Школа І ступеня № 333 Дарницького району м. Києва,I-III,NaN,29,23,0,585,16,11503.71000,15556.951,2020,NaN,NaN,26000000000,комунальна,23680,41659088
42408,м.Київ,NaN,місто Київ,Початкова школа №332 Дарницького району м. Києва,I,NaN,44,44,0,1017,29,17969.26000,26466.605,2020,NaN,NaN,26000000000,комунальна,23730,42384345

In [67]:
concatenated_df.to_csv('Scools_stats.csv', index=False, encoding='utf-8')