In [1]:
import numpy as np
import pandas as pd

In [2]:
# load datasets
datasets = {}
years = range(2016, 2024)
for year in years:
    print(f"EIE {year} Loading...")
    if int(year) >= 2019:
        file_name = f'Odata{year}File.csv'
    else:
        file_name = f'OpenData{year}.csv'
    try:           
        dataset = pd.read_csv(f"../../data_loader/{year}/{file_name}", sep=";", encoding='utf-8')
    except:
        dataset = pd.read_csv(f"../../data_loader/{year}/{file_name}", sep=";", encoding='Windows 1251')
    datasets.update({year:dataset})
    print("success")

EIE 2016 Loading...
success
EIE 2017 Loading...
success
EIE 2018 Loading...

/var/folders/0h/rk9k32wd7q19kh85p5flfq_r0000gn/T/ipykernel_36701/96975968.py:11: DtypeWarning: Columns (119) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../data_loader/{year}/{file_name}", sep=";", encoding='utf-8')

success
EIE 2019 Loading...

/var/folders/0h/rk9k32wd7q19kh85p5flfq_r0000gn/T/ipykernel_36701/96975968.py:13: DtypeWarning: Columns (100,116,117,118,120,122,123,124,125) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../data_loader/{year}/{file_name}", sep=";", encoding='Windows 1251')

success
EIE 2020 Loading...

/var/folders/0h/rk9k32wd7q19kh85p5flfq_r0000gn/T/ipykernel_36701/96975968.py:13: DtypeWarning: Columns (96,97,98,100,102,103,104,105,116,117,118,120,122,123,124,125) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../data_loader/{year}/{file_name}", sep=";", encoding='Windows 1251')

success
EIE 2021 Loading...

/var/folders/0h/rk9k32wd7q19kh85p5flfq_r0000gn/T/ipykernel_36701/96975968.py:11: DtypeWarning: Columns (117,118,119,121,123,124,125,126,137,138,139,141,143,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../data_loader/{year}/{file_name}", sep=";", encoding='utf-8')

success
EIE 2022 Loading...
success
EIE 2023 Loading...
success

In [3]:
for year, dataset in datasets.items():
    #lowercase all columns and add year as attribute
    dataset.columns = [col.lower() for col in dataset.columns]

# EIE

In [4]:
nmt_start_year = 2022 # all years before that had EIE
eie_subjects = set()
for year, dataset in datasets.items():
    subjects = [col for col in dataset.columns if col.endswith('test')]
    if year < nmt_start_year:
        eie_subjects.update(subjects)
    print(year, subjects)

2016 ['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'frtest', 'deutest', 'sptest', 'rustest']
2017 ['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest', 'rustest']
2018 ['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
2019 ['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
2020 ['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
2021 ['umltest', 'ukrtest', 'ukrsubtest', 'histtest', 'mathtest', 'mathsttest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
2022 ['test']
2023 ['test']

In [5]:
eie_subjects.remove('frtest')
eie_subjects.remove('sptest')
eie_subjects

{'biotest',
 'chemtest',
 'deutest',
 'engtest',
 'fratest',
 'geotest',
 'histtest',
 'mathsttest',
 'mathtest',
 'phystest',
 'rustest',
 'spatest',
 'ukrsubtest',
 'ukrtest',
 'umltest'}

In [6]:
eie_df = pd.DataFrame(data={"test_type": ["EIE"] * len(eie_subjects), "test_subject": list(eie_subjects)})
eie_df

   test_type test_subject
0        EIE     histtest
1        EIE   mathsttest
2        EIE      ukrtest
3        EIE     phystest
4        EIE      geotest
5        EIE      umltest
6        EIE      spatest
7        EIE     mathtest
8        EIE      deutest
9        EIE      engtest
10       EIE      biotest
11       EIE      rustest
12       EIE   ukrsubtest
13       EIE      fratest
14       EIE     chemtest

# NMT

In [7]:
print('test', 2022, datasets[2022]['test'].unique(), 2023, datasets[2023]['test'].unique())
print('ukrtest', 2022, datasets[2022]['block1'].unique(), 2023, datasets[2023]['ukrblock'].unique())
print('histtest', 2022, datasets[2022]['block2'].unique(), 2023, datasets[2023]['histblock'].unique())
print('mathtest', 2022, datasets[2022]['block3'].unique(), 2023, datasets[2023]['mathblock'].unique())

test 2022 ['НМТ '] 2023 ['НМТ']
ukrtest 2022 ['Українська мова'] 2023 ['Українська мова']
histtest 2022 ['Історія України'] 2023 [nan 'Історія України']
mathtest 2022 ['Математика'] 2023 ['Математика']

From 2023 NMT have not only: `ukr, hist, math tests`

In [8]:
subjects = [col for col in datasets[2023].columns if col.endswith('block')]
print(subjects)

['ukrblock', 'histblock', 'mathblock', 'physblock', 'chemblock', 'bioblock', 'engblock', 'frablock', 'deublock', 'spablock']

In [9]:
print('phystest', 2023, datasets[2023]['physblock'].unique())
print('chemtest', 2023,datasets[2023]['chemblock'].unique())
print('biotest', 2023,datasets[2023]['bioblock'].unique())
print('engtest', 2023,datasets[2023]['engblock'].unique())
print('fratest', 2023,datasets[2023]['frablock'].unique())
print('deutest', 2023,datasets[2023]['deublock'].unique())
print('spatest', 2023,datasets[2023]['spablock'].unique())

phystest 2023 [nan 'Фізика']
chemtest 2023 [nan 'Хімія']
biotest 2023 [nan 'Біологія']
engtest 2023 ['Англійська мова' nan]
fratest 2023 [nan 'Французька мова']
deutest 2023 [nan 'Німецька мова']
spatest 2023 [nan 'Іспанська мова']

In [10]:
nmt_subjects = [col.replace('block', 'test') for col in subjects]
nmt_subjects

['ukrtest',
 'histtest',
 'mathtest',
 'phystest',
 'chemtest',
 'biotest',
 'engtest',
 'fratest',
 'deutest',
 'spatest']

In [11]:
nmt_df = pd.DataFrame(data={"test_type": ["NMT"] * len(nmt_subjects), "test_subject": nmt_subjects})
nmt_df

  test_type test_subject
0       NMT      ukrtest
1       NMT     histtest
2       NMT     mathtest
3       NMT     phystest
4       NMT     chemtest
5       NMT      biotest
6       NMT      engtest
7       NMT      fratest
8       NMT      deutest
9       NMT      spatest

In [12]:
subjects_df = pd.concat([eie_df,nmt_df], ignore_index=True)
subjects_df

   test_type test_subject
0        EIE     histtest
1        EIE   mathsttest
2        EIE      ukrtest
3        EIE     phystest
4        EIE      geotest
5        EIE      umltest
6        EIE      spatest
7        EIE     mathtest
8        EIE      deutest
9        EIE      engtest
10       EIE      biotest
11       EIE      rustest
12       EIE   ukrsubtest
13       EIE      fratest
14       EIE     chemtest
15       NMT      ukrtest
16       NMT     histtest
17       NMT     mathtest
18       NMT     phystest
19       NMT     chemtest
20       NMT      biotest
21       NMT      engtest
22       NMT      fratest
23       NMT      deutest
24       NMT      spatest

In [13]:
subjects_df.to_csv("./final_tables/subjects.csv", index=False)