In [1]:
import numpy as np
import pandas as pd

In [3]:
# load datasets
datasets = {}
years = range(2016, 2023)
for year in years:
    print(f"EIE {year} Loading...")
    if int(year) >= 2019:
        file_name = f'Odata{year}File.csv'
    else:
        file_name = f'OpenData{year}.csv'
    try:           
        dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='utf-8')
    except:
        dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='Windows 1251')
    datasets.update({year:dataset})
    print("success")

EIE 2016 Loading...
success
EIE 2017 Loading...
success
EIE 2018 Loading...

/home/olha/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (119) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

success
EIE 2019 Loading...

/home/olha/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (100,116,117,118,120,122,123,124,125) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

success
EIE 2020 Loading...

/home/olha/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (96,97,98,100,102,103,104,105,116,117,118,120,122,123,124,125) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

success
EIE 2021 Loading...

/home/olha/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (117,118,119,121,123,124,125,126,137,138,139,141,143,144,145,146) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

success
EIE 2022 Loading...
success

In [4]:
for year, dataset in datasets.items():
    #lowercase all columns and add year as attribute
    dataset.columns = [col.lower() for col in dataset.columns]

In [14]:
print(datasets[2022].columns)

Index(['outid', 'birth', 'sextypename', 'regname', 'areaname', 'tername',
       'regtypename', 'tertypename', 'eoname', 'eotypename', 'eoregname',
       'eoareaname', 'eotername', 'eoparent', 'test', 'testdate', 'teststatus',
       'block1', 'block1ball100', 'block1ball', 'block2', 'block2ball100',
       'block2ball', 'block3', 'block3ball100', 'block3ball', 'ptregname',
       'ptareaname', 'pttername'],
      dtype='object')

In [15]:
print(datasets[2022]['test'].unique())

['НМТ ']

In [16]:
print(datasets[2022]['block1'].unique())

['Українська мова']

This is the same as `ukrtest` in previous years.

In [25]:
print(datasets[2022]['block2'].unique())

['Історія України']

This is the same as `histtest` in previous years.

In [18]:
print(datasets[2022]['block3'].unique())

['Математика']

This is the same as `mathtest` in previous years.

In [53]:
nmt_start_year = 2022 # all years before that had EIE
test_types = []
test_subjects = []
test_years = []
for year, dataset in datasets.items():
    subjects = [col for col in dataset.columns if col.endswith('test')]
    if 'frtest' in subjects:
        subjects.remove('frtest')
        subjects.append('fratest')
    test_type = "EIE"
    if year >= nmt_start_year:
        test_type = "NMT"
        subjects = ["ukrtest", "histtest", "mathtest"]
    print(test_type)
    test_types.extend([test_type] * len(subjects))
    test_subjects.extend(subjects)
    test_years.extend([year] * len(subjects))
    print(subjects)

EIE
['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'deutest', 'sptest', 'rustest', 'fratest']
EIE
['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest', 'rustest']
EIE
['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
EIE
['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
EIE
['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
EIE
['umltest', 'ukrtest', 'ukrsubtest', 'histtest', 'mathtest', 'mathsttest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
NMT
['ukrtest', 'histtest', 'mathtest']

In [54]:
subjects_df = pd.DataFrame(data={"test_type": test_types, "test_subject": test_subjects, "test_year": test_years})
subjects_df

   test_type test_subject  test_year
0        EIE      ukrtest       2016
1        EIE     histtest       2016
2        EIE     mathtest       2016
3        EIE     phystest       2016
4        EIE     chemtest       2016
..       ...          ...        ...
69       EIE      deutest       2021
70       EIE      spatest       2021
71       NMT      ukrtest       2022
72       NMT     histtest       2022
73       NMT     mathtest       2022

[74 rows x 3 columns]

In [55]:
subjects_df["test_subject"].unique()

array(['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest',
       'biotest', 'geotest', 'engtest', 'deutest', 'sptest', 'rustest',
       'fratest', 'spatest', 'umltest', 'ukrsubtest', 'mathsttest'],
      dtype=object)

In [56]:
subjects_df.to_csv("./data/Subjects_with_years.csv", index=False)