In [1]:
import numpy as np
import pandas as pd

In [2]:
# load datasets
datasets = {}
years = range(2016, 2023)
for year in years:
    print(f"EIE {year} Loading...")
    if int(year) >= 2019:
        file_name = f'Odata{year}File.csv'
    else:
        file_name = f'OpenData{year}.csv'
    try:           
        dataset = pd.read_csv(f"../../zno/ZNO/{year}/{file_name}", sep=";", encoding='utf-8')
    except:
        dataset = pd.read_csv(f"../../zno/ZNO/{year}/{file_name}", sep=";", encoding='Windows 1251')
    datasets.update({year:dataset})
    print("success")

EIE 2016 Loading...
success
EIE 2017 Loading...
success
EIE 2018 Loading...

C:\Users\SlavaUkraine\AppData\Local\Temp\ipykernel_15184\3750648354.py:11: DtypeWarning: Columns (119) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/ZNO/{year}/{file_name}", sep=";", encoding='utf-8')

success
EIE 2019 Loading...

C:\Users\SlavaUkraine\AppData\Local\Temp\ipykernel_15184\3750648354.py:13: DtypeWarning: Columns (100,116,117,118,120,122,123,124,125) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/ZNO/{year}/{file_name}", sep=";", encoding='Windows 1251')

success
EIE 2020 Loading...

C:\Users\SlavaUkraine\AppData\Local\Temp\ipykernel_15184\3750648354.py:13: DtypeWarning: Columns (96,97,98,100,102,103,104,105,116,117,118,120,122,123,124,125) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/ZNO/{year}/{file_name}", sep=";", encoding='Windows 1251')

success
EIE 2021 Loading...

C:\Users\SlavaUkraine\AppData\Local\Temp\ipykernel_15184\3750648354.py:11: DtypeWarning: Columns (117,118,119,121,123,124,125,126,137,138,139,141,143,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/ZNO/{year}/{file_name}", sep=";", encoding='utf-8')

success
EIE 2022 Loading...
success

In [3]:
for year, dataset in datasets.items():
    #lowercase all columns and add year as attribute
    dataset.columns = [col.lower() for col in dataset.columns]

In [4]:
for year, dataset in datasets.items():
    print([col for col in dataset.columns if 'pt' in col])

['ukrptname', 'ukrptregname', 'ukrptareaname', 'ukrpttername', 'histptname', 'histptregname', 'histptareaname', 'histpttername', 'mathptname', 'mathptregname', 'mathptareaname', 'mathpttername', 'physptname', 'physptregname', 'physptareaname', 'physpttername', 'chemptname', 'chemptregname', 'chemptareaname', 'chempttername', 'bioptname', 'bioptregname', 'bioptareaname', 'biopttername', 'geoptname', 'geoptregname', 'geoptareaname', 'geopttername', 'engptname', 'engptregname', 'engptareaname', 'engpttername', 'frptname', 'frptregname', 'frptareaname', 'frpttername', 'deuptname', 'deuptregname', 'deuptareaname', 'deupttername', 'sptest', 'spteststatus', 'spptname', 'spptregname', 'spptareaname', 'sppttername', 'rusptname', 'rusptregname', 'rusptareaname', 'ruspttername']
['ukrptname', 'ukrptregname', 'ukrptareaname', 'ukrpttername', 'histptname', 'histptregname', 'histptareaname', 'histpttername', 'mathptname', 'mathptregname', 'mathptareaname', 'mathpttername', 'physptname', 'physptregname', 'physptareaname', 'physpttername', 'chemptname', 'chemptregname', 'chemptareaname', 'chempttername', 'bioptname', 'bioptregname', 'bioptareaname', 'biopttername', 'geoptname', 'geoptregname', 'geoptareaname', 'geopttername', 'engptname', 'engptregname', 'engptareaname', 'engpttername', 'fraptname', 'fraptregname', 'fraptareaname', 'frapttername', 'deuptname', 'deuptregname', 'deuptareaname', 'deupttername', 'spaptname', 'spaptregname', 'spaptareaname', 'spapttername', 'rusptname', 'rusptregname', 'rusptareaname', 'ruspttername']
['ukrptname', 'ukrptregname', 'ukrptareaname', 'ukrpttername', 'histptname', 'histptregname', 'histptareaname', 'histpttername', 'mathptname', 'mathptregname', 'mathptareaname', 'mathpttername', 'physptname', 'physptregname', 'physptareaname', 'physpttername', 'chemptname', 'chemptregname', 'chemptareaname', 'chempttername', 'bioptname', 'bioptregname', 'bioptareaname', 'biopttername', 'geoptname', 'geoptregname', 'geoptareaname', 'geopttername', 'engptname', 'engptregname', 'engptareaname', 'engpttername', 'fraptname', 'fraptregname', 'fraptareaname', 'frapttername', 'deuptname', 'deuptregname', 'deuptareaname', 'deupttername', 'spaptname', 'spaptregname', 'spaptareaname', 'spapttername']
['ukradaptscale', 'ukrptname', 'ukrptregname', 'ukrptareaname', 'ukrpttername', 'histptname', 'histptregname', 'histptareaname', 'histpttername', 'mathptname', 'mathptregname', 'mathptareaname', 'mathpttername', 'physptname', 'physptregname', 'physptareaname', 'physpttername', 'chemptname', 'chemptregname', 'chemptareaname', 'chempttername', 'bioptname', 'bioptregname', 'bioptareaname', 'biopttername', 'geoptname', 'geoptregname', 'geoptareaname', 'geopttername', 'engptname', 'engptregname', 'engptareaname', 'engpttername', 'fraptname', 'fraptregname', 'fraptareaname', 'frapttername', 'deuptname', 'deuptregname', 'deuptareaname', 'deupttername', 'spaptname', 'spaptregname', 'spaptareaname', 'spapttername']
['ukradaptscale', 'ukrptname', 'ukrptregname', 'ukrptareaname', 'ukrpttername', 'histptname', 'histptregname', 'histptareaname', 'histpttername', 'mathptname', 'mathptregname', 'mathptareaname', 'mathpttername', 'physptname', 'physptregname', 'physptareaname', 'physpttername', 'chemptname', 'chemptregname', 'chemptareaname', 'chempttername', 'bioptname', 'bioptregname', 'bioptareaname', 'biopttername', 'geoptname', 'geoptregname', 'geoptareaname', 'geopttername', 'engptname', 'engptregname', 'engptareaname', 'engpttername', 'fraptname', 'fraptregname', 'fraptareaname', 'frapttername', 'deuptname', 'deuptregname', 'deuptareaname', 'deupttername', 'spaptname', 'spaptregname', 'spaptareaname', 'spapttername']
['umladaptscale', 'umlptname', 'umlptregname', 'umlptareaname', 'umlpttername', 'ukradaptscale', 'ukrptname', 'ukrptregname', 'ukrptareaname', 'ukrpttername', 'histptname', 'histptregname', 'histptareaname', 'histpttername', 'mathptname', 'mathptregname', 'mathptareaname', 'mathpttername', 'mathstptname', 'mathstptregname', 'mathstptareaname', 'mathstpttername', 'physptname', 'physptregname', 'physptareaname', 'physpttername', 'chemptname', 'chemptregname', 'chemptareaname', 'chempttername', 'bioptname', 'bioptregname', 'bioptareaname', 'biopttername', 'geoptname', 'geoptregname', 'geoptareaname', 'geopttername', 'engptname', 'engptregname', 'engptareaname', 'engpttername', 'fraptname', 'fraptregname', 'fraptareaname', 'frapttername', 'deuptname', 'deuptregname', 'deuptareaname', 'deupttername', 'spaptname', 'spaptregname', 'spaptareaname', 'spapttername']
['ptregname', 'ptareaname', 'pttername']

In [5]:
schools_edrpou = pd.read_csv("schools_edrpou.csv")
schools_edrpou

,eoname,KOATUU_2020,year,id,EDRPOU,KOATUU_2020_reg
0,"ВСП ""Технологічно-промисловий фаховий коледж В...",510100000,[2022],вдокремленийструктурнийпдроздлтехнологчнопроми...,NaN,5
1,Вище професійне училище №11 м. Вінниці,510100000,"[2018, 2019, 2020, 2021, 2022]",вищепрофесйнеучилище11мвниц,NaN,5
2,Вище художнє професійно-технічне училище №5 м....,510100000,"[2018, 2019, 2020, 2021, 2022]",вищехудожнєпрофесйнотехнчнеучилище5мвниця,NaN,5
3,"Відокремлений структурний підрозділ ""Вінницьки...",510100000,"[2021, 2022]",вдокремленийструктурнийпдроздлвницькийколеджна...,NaN,5
4,"Відокремлений структурний підрозділ ""Вінницьки...",510100000,"[2021, 2022]",вдокремленийструктурнийпдроздлвницькийколеджек...,NaN,5
...,...,...,...,...,...,...
27505,Школа №25 І-ІІІ ступенів Шевченківського район...,8039100000,"[2016, 2017, 2018, 2019, 2020, 2021]",школа253ступшевченквськогорайонумкиєва,NaN,80
27506,Школа №27 І-ІІІ ступенів Шевченківського район...,8039100000,[2016],школа273ступшевченквськогорайонумкиєва,NaN,80
27507,Школа №70 І-ІІІ ступенів Шевченківського район...,8039100000,[2016],школа703ступшевченквськогорайонумкиєва,NaN,80
27508,Школа №95 І-ІІІ ступенів Шевченківського район...,8039100000,[2017],школа953ступшевченквськогорайонумкиєва,NaN,80
27509,школа І-ІІІ ступенів №175 ім.В Марченка Шевчен...,8039100000,"[2020, 2021, 2022]",школа3ступ175менвмарченкашевченквськогорайонум...,26125940.0,80

In [ ]:
# matched = 0
# total = 0

# for year, dataset in datasets.items():
#     columns = [col for col in dataset.columns if 'ptname' in col]
#     for col in columns:
#         print(year, col, dataset[dataset[col].notna()].merge(schools_edrpou, left_on=col, right_on='eoname', how='inner').shape[0], 'matched from', dataset[dataset[col].notna()].shape[0])
#         matched += dataset[dataset[col].notna()].merge(schools_edrpou, left_on=col, right_on='eoname', how='inner').shape[0]
#         total += dataset[dataset[col].notna()].shape[0]

# print("In total", matched, "from", total)

In [12]:
test_centers_df = pd.DataFrame(columns=['ptname', 'ptregname', 'ptareaname', 'pttername'])

In [15]:
for year, dataset in datasets.items():
    prefixes = [col[:-6] for col in dataset.columns if 'ptname' in col]
    for prefix in prefixes:
        dataset_help = dataset.loc[:, [prefix + 'ptname', prefix + 'ptregname', prefix + 'ptareaname', prefix + 'pttername']]
        dataset_help.rename(columns={prefix + 'ptname': 'ptname', prefix + 'ptregname': 'ptregname', prefix + 'ptareaname': 'ptareaname', prefix + 'pttername': 'pttername'}, inplace=True)
        test_centers_df = pd.concat([test_centers_df, dataset_help], ignore_index=True)
        print(year, prefix, dataset_help.dropna(how = 'all').shape[0])
    
test_centers_df

2016 ukr 267000
2016 hist 193304
2016 math 132164
2016 phys 31990
2016 chem 28502
2016 bio 78071
2016 geo 56255
2016 eng 84900
2016 fr 765
2016 deu 2959
2016 sp 151
2016 rus 2191
2017 ukr 239952
2017 hist 182221
2017 math 113120
2017 phys 26492
2017 chem 24812
2017 bio 89281
2017 geo 73587
2017 eng 83856
2017 fra 815
2017 deu 2556
2017 spa 144
2017 rus 3381
2018 ukr 333173
2018 hist 168929
2018 math 112023
2018 phys 23405
2018 chem 21978
2018 bio 82319
2018 geo 79713
2018 eng 89312
2018 fra 624
2018 deu 2359
2018 spa 176
2019 ukr 349365
2019 hist 231857
2019 math 160782
2019 phys 23485
2019 chem 15476
2019 bio 81276
2019 geo 80312
2019 eng 96188
2019 fra 616
2019 deu 2190
2019 spa 152
2020 ukr 369554
2020 hist 264014
2020 math 186072
2020 phys 28109
2020 chem 14105
2020 bio 113893
2020 geo 130937
2020 eng 117663
2020 fra 493
2020 deu 2153
2020 spa 158
2021 uml 250681
2021 ukr 373963
2021 hist 298972
2021 math 291789
2021 mathst 77320
2021 phys 32090
2021 chem 12744
2021 bio 127202
2021 geo 175427
2021 eng 146366
2021 fra 561
2021 deu 2418
2021 spa 224

,ptname,ptregname,ptareaname,pttername
0,Мелітопольська загальноосвітня школа І-ІІІ сту...,Запорізька область,м.Мелітополь,м.Мелітополь
1,"Красилівський навчально-виховний комплекс ""Гім...",Хмельницька область,Красилівський район,м.Красилів
2,Першотравенська загальноосвітня школа І-ІІІ ст...,Дніпропетровська область,м.Першотравенськ,м.Першотравенськ
3,Чернівецька загальноосвітня школа І-ІІІ ступен...,Чернівецька область,м.Чернівці. Шевченківський район міста,Шевченківський район міста
4,Первомайська загальноосвітня школа I-III ступе...,Миколаївська область,м.Первомайськ,м.Первомайськ
...,...,...,...,...
45849379,NaN,NaN,NaN,NaN
45849380,NaN,NaN,NaN,NaN
45849381,NaN,NaN,NaN,NaN
45849382,NaN,NaN,NaN,NaN
45849383,NaN,NaN,NaN,NaN

In [16]:
test_centers_df.drop_duplicates(inplace=True)
test_centers_df.dropna(how = 'all', inplace=True)
test_centers_df.reset_index(drop=True, inplace=True)
test_centers_df

,ptname,ptregname,ptareaname,pttername
0,Мелітопольська загальноосвітня школа І-ІІІ сту...,Запорізька область,м.Мелітополь,м.Мелітополь
1,"Красилівський навчально-виховний комплекс ""Гім...",Хмельницька область,Красилівський район,м.Красилів
2,Першотравенська загальноосвітня школа І-ІІІ ст...,Дніпропетровська область,м.Першотравенськ,м.Першотравенськ
3,Чернівецька загальноосвітня школа І-ІІІ ступен...,Чернівецька область,м.Чернівці. Шевченківський район міста,Шевченківський район міста
4,Первомайська загальноосвітня школа I-III ступе...,Миколаївська область,м.Первомайськ,м.Первомайськ
...,...,...,...,...
3690,Спеціалізована школа І-ІІІ ступенів №246 м. Ки...,м.Київ,м.Київ. Дніпровський район міста,Дніпровський район міста
3691,"Комунальний опорний навчальний заклад ""Іларіон...",Дніпропетровська область,Синельниківський район,смт Іларіонове
3692,Середня загальноосвітня школа №166 м.Києва,м.Київ,м.Київ. Солом'янський район міста,Солом'янський район міста
3693,Великодолинський заклад загальної середньої ос...,Одеська область,Овідіопольський район,смт Великодолинське
3694,Великодолинський заклад загальної середньої ос...,Одеська область,Овідіопольський район,смт Великодолинське

In [17]:
test_centers_df.merge(schools_edrpou, left_on='ptname', right_on='eoname', how='inner')

,ptname,ptregname,ptareaname,pttername,eoname,KOATUU_2020,year,id,EDRPOU,KOATUU_2020_reg
0,Мелітопольська загальноосвітня школа І-ІІІ сту...,Запорізька область,м.Мелітополь,м.Мелітополь,Мелітопольська загальноосвітня школа І-ІІІ сту...,2310700000,"[2016, 2017, 2018, 2019, 2020, 2021]",мелтопольськазагальноосвтняшкола3ступ7мелтопол...,26317154.0,23
1,"Красилівський навчально-виховний комплекс ""Гім...",Хмельницька область,Красилівський район,м.Красилів,"Красилівський навчально-виховний комплекс ""Гім...",6822710100,"[2016, 2017, 2018, 2019, 2020, 2021, 2022]",красилвськийнавчальновиховнийкомплексгмназятаз...,25890006.0,68
2,Першотравенська загальноосвітня школа І-ІІІ ст...,Дніпропетровська область,м.Першотравенськ,м.Першотравенськ,Першотравенська загальноосвітня школа І-ІІІ ст...,1212600000,"[2016, 2017, 2018, 2019, 2020, 2021]",першотравенськазагальноосвтняшкола3ступ5,26329200.0,12
3,Чернівецька загальноосвітня школа І-ІІІ ступен...,Чернівецька область,м.Чернівці. Шевченківський район міста,Шевченківський район міста,Чернівецька загальноосвітня школа І-ІІІ ступен...,7310100000,"[2016, 2017, 2018, 2019, 2020, 2021]",чернвецьказагальноосвтняшкола3ступ27чернвецько...,21431264.0,73
4,Чернівецька загальноосвітня школа І-ІІІ ступен...,Чернівецька область,м.Чернівці,м.Чернівці,Чернівецька загальноосвітня школа І-ІІІ ступен...,7310100000,"[2016, 2017, 2018, 2019, 2020, 2021]",чернвецьказагальноосвтняшкола3ступ27чернвецько...,21431264.0,73
...,...,...,...,...,...,...,...,...,...,...
3157,Спеціалізована школа І-ІІІ ступенів №246 м. Ки...,м.Київ,м.Київ. Дніпровський район міста,Дніпровський район міста,Спеціалізована школа І-ІІІ ступенів №246 м. Ки...,8036600000,"[2016, 2017, 2018, 2019, 2020, 2021, 2022]",спецалзованашкола3ступ246мкиєвазпоглибленимвив...,22875058.0,80
3158,"Комунальний опорний навчальний заклад ""Іларіон...",Дніпропетровська область,Синельниківський район,смт Іларіонове,"Комунальний опорний навчальний заклад ""Іларіон...",1224855300,"[2018, 2019, 2020, 2021]",комунальнийопорнийнавчальнийзакладларонвськаза...,26461922.0,12
3159,Середня загальноосвітня школа №166 м.Києва,м.Київ,м.Київ. Солом'янський район міста,Солом'янський район міста,Середня загальноосвітня школа №166 м.Києва,8038900000,"[2021, 2022]",середнязагальноосвтняшкола166мкиєва,22880183.0,80
3160,Великодолинський заклад загальної середньої ос...,Одеська область,Овідіопольський район,смт Великодолинське,Великодолинський заклад загальної середньої ос...,5123755300,"[2021, 2022]",великодолинськийзакладзагальносередньоосвти2ве...,NaN,51
3161,Великодолинський заклад загальної середньої ос...,Одеська область,Овідіопольський район,смт Великодолинське,Великодолинський заклад загальної середньої ос...,5123755300,"[2021, 2022]",великодолинськийзакладзагальносередньоосвти1ве...,NaN,51

In [18]:
test_centers_df.to_csv('Test_centers.csv', index=False)