In [1]:
import numpy as np
import pandas as pd

In [3]:
# load datasets
datasets = {}
years = range(2016, 2023)
for year in years:
    print(f"EIE {year} Loading...")
    if int(year) >= 2019:
        file_name = f'Odata{year}File.csv'
    else:
        file_name = f'OpenData{year}.csv'
    try:           
        dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='utf-8')
    except:
        dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='Windows 1251')
    datasets.update({year:dataset})
    print("success")

EIE 2016 Loading...
success
EIE 2017 Loading...
success
EIE 2018 Loading...

/home/olha/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (119) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

success
EIE 2019 Loading...

/home/olha/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (100,116,117,118,120,122,123,124,125) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

success
EIE 2020 Loading...

/home/olha/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (96,97,98,100,102,103,104,105,116,117,118,120,122,123,124,125) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

success
EIE 2021 Loading...

/home/olha/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (117,118,119,121,123,124,125,126,137,138,139,141,143,144,145,146) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

success
EIE 2022 Loading...
success

In [4]:
for year, dataset in datasets.items():
    #lowercase all columns and add year as attribute
    dataset.columns = [col.lower() for col in dataset.columns]

In [13]:
nmt_start_year = 2022 # all years before that had EIE
eie_subjects = set()
for year, dataset in datasets.items():
    subjects = [col for col in dataset.columns if col.endswith('test')]
    if year < nmt_start_year:
        eie_subjects.update(subjects)
    print(subjects)

['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'frtest', 'deutest', 'sptest', 'rustest']
['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest', 'rustest']
['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
['umltest', 'ukrtest', 'ukrsubtest', 'histtest', 'mathtest', 'mathsttest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
['test']

In [14]:
print(datasets[2022].columns)

Index(['outid', 'birth', 'sextypename', 'regname', 'areaname', 'tername',
       'regtypename', 'tertypename', 'eoname', 'eotypename', 'eoregname',
       'eoareaname', 'eotername', 'eoparent', 'test', 'testdate', 'teststatus',
       'block1', 'block1ball100', 'block1ball', 'block2', 'block2ball100',
       'block2ball', 'block3', 'block3ball100', 'block3ball', 'ptregname',
       'ptareaname', 'pttername'],
      dtype='object')

In [15]:
print(datasets[2022]['test'].unique())

['НМТ ']

In [16]:
print(datasets[2022]['block1'].unique())

['Українська мова']

This is the same as `ukrtest` in previous years.

In [25]:
print(datasets[2022]['block2'].unique())

['Історія України']

This is the same as `histtest` in previous years.

In [18]:
print(datasets[2022]['block3'].unique())

['Математика']

This is the same as `mathtest` in previous years.

In [26]:
eie_subjects.remove('frtest')
eie_subjects

{'biotest',
 'chemtest',
 'deutest',
 'engtest',
 'fratest',
 'geotest',
 'histtest',
 'mathsttest',
 'mathtest',
 'phystest',
 'rustest',
 'spatest',
 'sptest',
 'ukrsubtest',
 'ukrtest',
 'umltest'}

In [36]:
eie_df = pd.DataFrame(data={"test_type": ["EIE"] * len(eie_subjects), "test_subject": list(eie_subjects)})
eie_df

   test_type test_subject
0        EIE      umltest
1        EIE   ukrsubtest
2        EIE      engtest
3        EIE     chemtest
4        EIE      biotest
5        EIE     phystest
6        EIE      deutest
7        EIE      ukrtest
8        EIE      spatest
9        EIE      fratest
10       EIE   mathsttest
11       EIE      rustest
12       EIE     histtest
13       EIE     mathtest
14       EIE       sptest
15       EIE      geotest

In [29]:
nmt_subjects = ["ukrtest", "histtest", "mathtest"]

In [33]:
nmt_df = pd.DataFrame(data={"test_type": ["NMT"] * len(nmt_subjects), "test_subject": nmt_subjects})
nmt_df

  test_type test_subject
0       NMT      ukrtest
1       NMT     histtest
2       NMT     mathtest

In [38]:
subjects_df = eie_df.append(nmt_df, ignore_index=True)
subjects_df

   test_type test_subject
0        EIE      umltest
1        EIE   ukrsubtest
2        EIE      engtest
3        EIE     chemtest
4        EIE      biotest
5        EIE     phystest
6        EIE      deutest
7        EIE      ukrtest
8        EIE      spatest
9        EIE      fratest
10       EIE   mathsttest
11       EIE      rustest
12       EIE     histtest
13       EIE     mathtest
14       EIE       sptest
15       EIE      geotest
16       NMT      ukrtest
17       NMT     histtest
18       NMT     mathtest

In [40]:
subjects_df.to_csv("./data/Subjects.csv", index=False)