In [2]:
import numpy as np
import pandas as pd

In [3]:
# load datasets
datasets = {}
years = range(2016, 2024)
for year in years:
    print(f"EIE {year} Loading...")
    if int(year) >= 2019:
        file_name = f'Odata{year}File.csv'
    else:
        file_name = f'OpenData{year}.csv'
    try:           
        dataset = pd.read_csv(f"../../data_loader/{year}/{file_name}", sep=";", encoding='utf-8')
    except:
        dataset = pd.read_csv(f"../../data_loader/{year}/{file_name}", sep=";", encoding='Windows 1251')
    datasets.update({year:dataset})
    print("success")

EIE 2016 Loading...
success
EIE 2017 Loading...
success
EIE 2018 Loading...

/Users/nazardrushchak/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (119) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

success
EIE 2019 Loading...

/Users/nazardrushchak/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (100,116,117,118,120,122,123,124,125) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

success
EIE 2020 Loading...

/Users/nazardrushchak/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (96,97,98,100,102,103,104,105,116,117,118,120,122,123,124,125) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

success
EIE 2021 Loading...

/Users/nazardrushchak/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (117,118,119,121,123,124,125,126,137,138,139,141,143,144,145,146) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

success
EIE 2022 Loading...
success
EIE 2023 Loading...
success

In [31]:
for year, dataset in datasets.items():
    #lowercase all columns and add year as attribute
    dataset.columns = [col.lower() for col in dataset.columns]

In [32]:
nmt_start_year = 2022 # all years before that had EIE
eie_subjects = set()
for year, dataset in datasets.items():
    subjects = [col for col in dataset.columns if col.endswith('test')]
    if year < nmt_start_year:
        eie_subjects.update(subjects)
    print(subjects)

['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'frtest', 'deutest', 'sptest', 'rustest']
['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest', 'rustest']
['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
['ukrtest', 'histtest', 'mathtest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
['umltest', 'ukrtest', 'ukrsubtest', 'histtest', 'mathtest', 'mathsttest', 'phystest', 'chemtest', 'biotest', 'geotest', 'engtest', 'fratest', 'deutest', 'spatest']
['test']
['test']

In [33]:
print(datasets[2022].columns, datasets[2023].columns)

Index(['outid', 'birth', 'sextypename', 'regname', 'areaname', 'tername',
       'regtypename', 'tertypename', 'eoname', 'eotypename', 'eoregname',
       'eoareaname', 'eotername', 'eoparent', 'test', 'testdate', 'teststatus',
       'block1', 'block1ball100', 'block1ball', 'block2', 'block2ball100',
       'block2ball', 'block3', 'block3ball100', 'block3ball', 'ptregname',
       'ptareaname', 'pttername'],
      dtype='object') Index(['outid', 'birth', 'sextypename', 'regname', 'areaname', 'tername',
       'regtypename', 'tertypename', 'eoname', 'eotypename', 'eoregname',
       'eoareaname', 'eotername', 'eoparent', 'test', 'testdate', 'ukrblock',
       'ukrblockstatus', 'ukrblockball100', 'ukrblockball', 'histblock',
       'histblockstatus', 'histblockball100', 'histblockball', 'mathblock',
       'mathblockstatus', 'mathblockball100', 'mathblockball', 'physblock',
       'physblockstatus', 'physblockball100', 'physblockball', 'chemblock',
       'chemblockstatus', 'chemblockball100', 'chemblockball', 'bioblock',
       'bioblockstatus', 'bioblockball100', 'bioblockball', 'engblock',
       'engblockstatus', 'engblockball100', 'engblockball', 'frablock',
       'frablockstatus', 'frablockball100', 'frablockball', 'deublock',
       'deublockstatus', 'deublockball100', 'deublockball', 'spablock',
       'spablockstatus', 'spablockball100', 'spablockball', 'ptregname',
       'ptareaname', 'pttername'],
      dtype='object')

In [34]:
print(datasets[2022]['test'].unique(), datasets[2023]['test'].unique())

['НМТ '] ['НМТ']

In [35]:
print(datasets[2022]['block1'].unique(), datasets[2023]['ukrblock'].unique())

['Українська мова'] ['Українська мова']

This is the same as `ukrtest` in previous years.

In [36]:
print(datasets[2022]['block2'].unique(), datasets[2023]['histblock'].unique())

['Історія України'] [nan 'Історія України']

This is the same as `histtest` in previous years.

In [37]:
print(datasets[2022]['block3'].unique(), datasets[2023]['mathblock'].unique())

['Математика'] ['Математика']

This is the same as `mathtest` in previous years.

From 2023 NMT have not only: `ukr, hist, math tests`

In [38]:
subjects = [col for col in datasets[2023].columns if col.endswith('block')]
print(subjects)

['ukrblock', 'histblock', 'mathblock', 'physblock', 'chemblock', 'bioblock', 'engblock', 'frablock', 'deublock', 'spablock']

In [39]:
print(datasets[2023]['physblock'].unique())

[nan 'Фізика']

This is the same as `phystest` in previous years.

In [40]:
print(datasets[2023]['chemblock'].unique())

[nan 'Хімія']

This is the same as `chemtest` in previous years.

In [41]:
print(datasets[2023]['bioblock'].unique())

[nan 'Біологія']

This is the same as `biotest` in previous years.

In [42]:
print(datasets[2023]['engblock'].unique())

['Англійська мова' nan]

This is the same as `engtest` in previous years.

In [43]:
print(datasets[2023]['frablock'].unique())

[nan 'Французька мова']

This is the same as `fratest` in previous years.

In [44]:
print(datasets[2023]['deublock'].unique())

[nan 'Німецька мова']

This is the same as `deutest` in previous years.

In [45]:
print(datasets[2023]['spablock'].unique())

[nan 'Іспанська мова']

This is the same as `spatest` in previous years.

In [46]:
eie_subjects.remove('frtest')
eie_subjects

{'biotest',
 'chemtest',
 'deutest',
 'engtest',
 'fratest',
 'geotest',
 'histtest',
 'mathsttest',
 'mathtest',
 'phystest',
 'rustest',
 'spatest',
 'sptest',
 'ukrsubtest',
 'ukrtest',
 'umltest'}

In [47]:
eie_df = pd.DataFrame(data={"test_type": ["EIE"] * len(eie_subjects), "test_subject": list(eie_subjects)})
eie_df

   test_type test_subject
0        EIE     mathtest
1        EIE      umltest
2        EIE      ukrtest
3        EIE     phystest
4        EIE      engtest
5        EIE      geotest
6        EIE   ukrsubtest
7        EIE   mathsttest
8        EIE     chemtest
9        EIE     histtest
10       EIE      spatest
11       EIE      fratest
12       EIE       sptest
13       EIE      rustest
14       EIE      deutest
15       EIE      biotest

In [48]:
nmt_subjects = ["ukrtest", "histtest", "mathtest"]
nmt_subjects_from_2023 = ['phystest', 'chemtest', 'biotest', 'engtest', 'fratest', 'deutest', 'spatest']
nmt_subjects += nmt_subjects_from_2023

In [49]:
nmt_df = pd.DataFrame(data={"test_type": ["NMT"] * len(nmt_subjects), "test_subject": nmt_subjects})
nmt_df

  test_type test_subject
0       NMT      ukrtest
1       NMT     histtest
2       NMT     mathtest
3       NMT     phystest
4       NMT     chemtest
5       NMT      biotest
6       NMT      engtest
7       NMT      fratest
8       NMT      deutest
9       NMT      spatest

In [50]:
subjects_df = eie_df.append(nmt_df, ignore_index=True)
subjects_df

   test_type test_subject
0        EIE     mathtest
1        EIE      umltest
2        EIE      ukrtest
3        EIE     phystest
4        EIE      engtest
5        EIE      geotest
6        EIE   ukrsubtest
7        EIE   mathsttest
8        EIE     chemtest
9        EIE     histtest
10       EIE      spatest
11       EIE      fratest
12       EIE       sptest
13       EIE      rustest
14       EIE      deutest
15       EIE      biotest
16       NMT      ukrtest
17       NMT     histtest
18       NMT     mathtest
19       NMT     phystest
20       NMT     chemtest
21       NMT      biotest
22       NMT      engtest
23       NMT      fratest
24       NMT      deutest
25       NMT      spatest

In [51]:
subjects_df.to_csv("./data/Subjects.csv", index=False)