# Aggregation EIE dataset for school level and matching it with school finance

In [1]:
import pandas as pd

In [2]:
# ZNO==EIE
df_preprocessed = pd.read_csv("../students_level/zno_preprocessed.csv")

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/968964493.py:2: DtypeWarning: Columns (74,75,77,78,79,80,88,89,91,92,93,94,95,96,98,99,100,101,105,106) have mixed types. Specify dtype option on import or set low_memory=False.
  df_preprocessed = pd.read_csv("../students_level/zno_preprocessed.csv")

In [3]:
df_preprocessed

,outid,sextypename,regname,areaname,tername,regtypename,eoname,eotypename,eoregname,eoareaname,...,mathball,physball,chemball,bioball,geoball,engball,fraball,deuball,spaball,ukradaptscale
0,a99c6c63-aa70-4aec-ba42-370f7261e857,чоловіча,Запорізька область,Мелітопольський район,с.Терпіння,Випускник української школи поточного року,"Терпіннівський колегіум ""Джерело"" Мелітопольсь...",колегіум,Запорізька область,Мелітопольський район,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,c3136421-569e-422e-ae8f-41c4c931fd70,жіноча,Хмельницька область,Красилівський район,м.Красилів,Випускник української школи поточного року,Красилівська загальноосвітня школа I-III ступе...,середня загальноосвітня школа,Хмельницька область,Красилівський район,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,fbd0e280-4b77-4f34-942d-00bc850c2992,жіноча,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,Випускник минулих років,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30de395e-7a74-452a-8370-6856d240fbfb,чоловіча,Чернівецька область,м.Чернівці,Шевченківський район міста,Випускник української школи поточного року,Чернівецька спеціалізована школа І-ІІІ ступені...,спеціалізована школа,Чернівецька область,м.Чернівці,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,52a40c74-374e-4744-bd6f-938ab7a4a641,чоловіча,Миколаївська область,Врадіївський район,с.Кумарі,Учень коледжу закладу професійної (професійно-...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1967009,e62710ee-74fa-4085-b066-f38fc37ceae7,жіноча,Рівненська область,Демидівський район,смт Демидівка,Учень коледжу закладу професійної (професійно-...,Вище професійне училище №25 смт.Демидівка,заклад професійної (професійно-технічної) освіти,Рівненська область,Демидівський район,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1967010,b2e4de44-7ebd-4163-8952-f988a9de1f67,жіноча,Харківська область,Кегичівський район,смт Кегичівка,Учень коледжу закладу професійної (професійно-...,Професійно-технічне училище №60 смт Кегичівка ...,заклад професійної (професійно-технічної) освіти,Харківська область,Кегичівський район,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967011,e007c190-1fe1-4658-9eb0-f7cf489fc015,жіноча,Одеська область,Одеська область,м.Білгород-Дністровський,Учень коледжу закладу професійної (професійно-...,"ОКУ ""Білгород-Дністровський медичний фаховий к...",заклад фахової передвищої освіти,Одеська область,м.Білгород-Дністровський,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967012,2668b9f3-ddf9-4062-acd7-fdf6e2ca8cc8,чоловіча,Вінницька область,Гайсинський район,с.Чечелівка,Випускник української школи поточного року,Середня загальноосвіня школа I-III ступенів с....,середня загальноосвітня школа,Вінницька область,Гайсинський район,...,38.0,NaN,NaN,58.0,NaN,NaN,NaN,NaN,NaN,0.0
1967013,c0723de9-57b5-4450-b404-ffe67945d843,жіноча,Хмельницька область,Хмельницька область,м.Славута,Випускник української школи поточного року,"Славутський навчально-виховний комплекс ""Спеці...",спеціалізована школа,Хмельницька область,м.Славута,...,NaN,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,0.0

In [4]:
df_preprocessed['region'] = df_preprocessed.eoregname.str.split().str[0]
df_preprocessed['region'] = df_preprocessed['region'].str.replace('м.Київ', 'місто Київ')
df_preprocessed

,outid,sextypename,regname,areaname,tername,regtypename,eoname,eotypename,eoregname,eoareaname,...,physball,chemball,bioball,geoball,engball,fraball,deuball,spaball,ukradaptscale,region
0,a99c6c63-aa70-4aec-ba42-370f7261e857,чоловіча,Запорізька область,Мелітопольський район,с.Терпіння,Випускник української школи поточного року,"Терпіннівський колегіум ""Джерело"" Мелітопольсь...",колегіум,Запорізька область,Мелітопольський район,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Запорізька
1,c3136421-569e-422e-ae8f-41c4c931fd70,жіноча,Хмельницька область,Красилівський район,м.Красилів,Випускник української школи поточного року,Красилівська загальноосвітня школа I-III ступе...,середня загальноосвітня школа,Хмельницька область,Красилівський район,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Хмельницька
2,fbd0e280-4b77-4f34-942d-00bc850c2992,жіноча,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,Випускник минулих років,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30de395e-7a74-452a-8370-6856d240fbfb,чоловіча,Чернівецька область,м.Чернівці,Шевченківський район міста,Випускник української школи поточного року,Чернівецька спеціалізована школа І-ІІІ ступені...,спеціалізована школа,Чернівецька область,м.Чернівці,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Чернівецька
4,52a40c74-374e-4744-bd6f-938ab7a4a641,чоловіча,Миколаївська область,Врадіївський район,с.Кумарі,Учень коледжу закладу професійної (професійно-...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1967009,e62710ee-74fa-4085-b066-f38fc37ceae7,жіноча,Рівненська область,Демидівський район,смт Демидівка,Учень коледжу закладу професійної (професійно-...,Вище професійне училище №25 смт.Демидівка,заклад професійної (професійно-технічної) освіти,Рівненська область,Демидівський район,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,Рівненська
1967010,b2e4de44-7ebd-4163-8952-f988a9de1f67,жіноча,Харківська область,Кегичівський район,смт Кегичівка,Учень коледжу закладу професійної (професійно-...,Професійно-технічне училище №60 смт Кегичівка ...,заклад професійної (професійно-технічної) освіти,Харківська область,Кегичівський район,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Харківська
1967011,e007c190-1fe1-4658-9eb0-f7cf489fc015,жіноча,Одеська область,Одеська область,м.Білгород-Дністровський,Учень коледжу закладу професійної (професійно-...,"ОКУ ""Білгород-Дністровський медичний фаховий к...",заклад фахової передвищої освіти,Одеська область,м.Білгород-Дністровський,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Одеська
1967012,2668b9f3-ddf9-4062-acd7-fdf6e2ca8cc8,чоловіча,Вінницька область,Гайсинський район,с.Чечелівка,Випускник української школи поточного року,Середня загальноосвіня школа I-III ступенів с....,середня загальноосвітня школа,Вінницька область,Гайсинський район,...,NaN,NaN,58.0,NaN,NaN,NaN,NaN,NaN,0.0,Вінницька
1967013,c0723de9-57b5-4450-b404-ffe67945d843,жіноча,Хмельницька область,Хмельницька область,м.Славута,Випускник української школи поточного року,"Славутський навчально-виховний комплекс ""Спеці...",спеціалізована школа,Хмельницька область,м.Славута,...,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,0.0,Хмельницька

In [5]:
fin_datasets = []
year=2018
for name in ['ZZSO-2018.xlsx','ZZSO-2019.xlsx','ZZSO-2020.xlsx']:
    dataset = pd.read_excel('fin_data/'+name, header = 1)
    dataset['year'] = year
    year = year+1
    fin_datasets.append(dataset)

fin_datasets = pd.concat(fin_datasets).reset_index(drop=True)

In [6]:
fin_datasets.columns

Index(['№ Області', 'Область', 'Тип територіальної одиниці', '№№',
       'Назва тер. Одиниці', 'Найменування закладу',
       'Ступінь закладу ( I, I-II, I-III)',
       'Загальна площа приміщень школи ( без господарських будівель) (кв.м.)',
       'Кількість штатних працівників педагогічного персоналу  разом',
       'Кількість штатних працівників непедагогічного персоналу  разом',
       'Кількість штатних працівників педагогічного персоналу  пенсійного віку',
       'Питома вага непедагогічного персоналу у загальній кількості працівників, %**',
       'Питома вага педагогічних працівників пенсійного віку у загальній кількості педагогічних працівників, %**',
       'Кількість учнів разом', 'Кількість класів разом',
       'Фактична наповнюваність класів, учнів на клас**',
       'Показник співвідношення кількості учнів на одного вчителя, учнів на вчителя**',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2018рік (касові видатки)',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (план)',
       'Видатки на 1 учня, 2018, тис. грн.**',
       'Видатки на 1 клас, тис. грн.** 2018 рік (каса)', 'year',
       'Тип школи: міська / сільська',
       'Разом кількість учнів, та дітей, які здобувають дошкільну освіту',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (касові видатки)',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (план)',
       'Видатки на 1 учня, 2019, тис. грн.**',
       'Видатки на 1 клас, тис. грн.** 2019 рік (каса)', 'Опорна',
       'Код бюджету', 'Форма власності', 'Код ДІСО', 'ЄДРПОУ', 'Примітка',
       'Питома вага непедагогічного персоналу у загальній кількості працівників, %',
       'Питома вага педагогічних працівників пенсійного віку у загальній кількості педагогічних працівників, %',
       'Фактична наповнюваність класів, учнів на клас',
       'Показник співвідношення кількості учнів на одного вчителя, учнів на вчителя',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (касові видатки)',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2021 рік (план)',
       'Видатки на 1 учня, 2020, тис. грн.',
       'Видатки на 1 клас, тис. грн. 2020 рік (каса)'],
      dtype='object')

In [7]:
# matching key (get from match_schools_{year} folders)
match_datasets = []
year=2018
for name in ['match_schools_2018/finance_schools_matched_2018.csv',
             'match_schools_2019/finance_schools_matched_2019.csv',
             'match_schools_2020/finance_schools_matched_2020.csv']:
    dataset = pd.read_csv(name)
    dataset['year'] = year
    year = year+1
    match_datasets.append(dataset)

match_df = pd.concat(match_datasets).drop_duplicates().reset_index(drop=True)
match_df = match_df.rename(columns={'regname': 'region'})
match_df

,eoname,schoolname,region,year
0,Нововолинська гімназія Нововолинської міської ...,Нововолинська гімназія Нововолинської міської ...,Волинська,2018
1,Шаргородська районна гімназія,Шаргородська районна гімназія,Вінницька,2018
2,"Комунальний заклад ""Вінницький технічний ліцей""","Комунальний заклад ""Вінницький технічний ліцей""",Вінницька,2018
3,Комунальний заклад загальної середньої освіти ...,Комунальний заклад загальної середньої освіти ...,Дніпропетровська,2018
4,Марганецька загальноосвітня школа І-ІІІ ступен...,Марганецька загальноосвітня школа І-ІІІ ступен...,Дніпропетровська,2018
...,...,...,...,...
18615,Комунальний заклад Липоводолинська спеціалізов...,Липоводолинська спеціалізована школа І-ІІІ сту...,Сумська,2020
18616,ОНЗ Кременчуківський ліцей Красилівського райо...,Кременчуківський ліцей Красилівського району Х...,Хмельницька,2020
18617,"Старокривинський навчально-виховний комплекс ""...","Старокривинський навчально-виховний комплекс ""...",Хмельницька,2020
18618,Політехнічний ліцей Національного технічного у...,Технічний ліцей Національного технічного уніве...,місто Київ,2020
18619,"Комунальний заклад ""Навчально-виховний комплек...","Навчально-виховний комплекс "" Школа І ступеня ...",місто Київ,2020

In [8]:
fin_datasets = fin_datasets.rename(columns={
    "Найменування закладу":"schoolname",
    'Область': 'region'
})

In [9]:
fin_datasets = pd.merge(fin_datasets, match_df, on=['schoolname','year','region'], how='inner')

In [10]:
fin_datasets

,№ Області,region,Тип територіальної одиниці,№№,Назва тер. Одиниці,schoolname,"Ступінь закладу ( I, I-II, I-III)",Загальна площа приміщень школи ( без господарських будівель) (кв.м.),Кількість штатних працівників педагогічного персоналу разом,Кількість штатних працівників непедагогічного персоналу разом,...,Примітка,"Питома вага непедагогічного персоналу у загальній кількості працівників, %","Питома вага педагогічних працівників пенсійного віку у загальній кількості педагогічних працівників, %","Фактична наповнюваність класів, учнів на клас","Показник співвідношення кількості учнів на одного вчителя, учнів на вчителя","Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (касові видатки)","Видатки на функціонування закладу (загальний фонд), тис.грн.\n2021 рік (план)","Видатки на 1 учня, 2020, тис. грн.","Видатки на 1 клас, тис. грн. 2020 рік (каса)",eoname
0,4,Дніпропетровська,Район,1963,П'ятихатський район,"Троїцький навчально- виховний комплекс ""загаль...",I-III,2766,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Троїцький навчально-виховний комплекс ""загальн..."
1,8,Запорізька,Район,4363,Токмацький р-н,Долинська ЗОШ,I-II,0,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Долинська загальноосвітня школа I-III ступенів...
2,8,Запорізька,Район,4194,Бердянський р-н,Долинська ЗОШ,I-III,1575,16.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Долинська загальноосвітня школа I-III ступенів...
3,14,Миколаївська,Район,7791,Березнегуватський район,Калинівська загальноосвітня школа,I,157,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Калинівська загальноосвітня школа I-III ступен...
4,14,Миколаївська,Район,7867,Єланецький район,Калинівська загальноосвітня школа,I-III,1270,16.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Калинівська загальноосвітня школа I-III ступен...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18580,26,місто Київ,NaN,13440,місто Київ,Спеціалізована школа І-ІІІ ступенів № 23 з пог...,I-III,NaN,49.0,26.0,...,NaN,0.346667,0.040816,30.125000,14.755102,26648.166720,31694.800,36.857769,1110.340280,Спеціалізована школа І-ІІІ ступенів № 23 з пог...
18581,26,місто Київ,NaN,13441,місто Київ,Школа І-ІІІ ступенів № 151 міста Києва,I-III,NaN,26.0,23.0,...,NaN,0.469388,0.038462,25.000000,18.269231,11631.393210,17399.100,24.487144,612.178590,Школа І-ІІІ ступенів №151 міста Києва
18582,26,місто Київ,NaN,13443,місто Київ,Середня загальноосвітня школа І-ІІІ ступенів №...,I-III,NaN,58.0,26.0,...,NaN,0.309524,0.034483,24.323529,14.258621,22065.400000,26469.200,26.681258,648.982353,Середня загальноосвітня школа І-ІІІ ступенів №...
18583,26,місто Київ,NaN,13444,місто Київ,Спеціалізована школа І-ІІІ ступенів № 73 з пог...,I-III,NaN,32.0,22.0,...,NaN,0.407407,0.031250,26.833333,15.093750,15793.702951,10294.196,32.699178,877.427942,Спеціалізована школа І-ІІІ ступенів №73 з погл...
18584,26,місто Київ,NaN,13445,місто Київ,Спеціалізована школа № 131 Святошинського райо...,I-III,NaN,50.0,30.0,...,NaN,0.375000,0.020000,28.700000,17.220000,20353.200000,13412.100,23.639024,678.440000,Спеціалізована школа №131 Святошинського район...

In [12]:
fin_datasets = fin_datasets.dropna(subset=['eoname']).reset_index(drop=True)

Find duplicates and drop schools with level I-II

In [13]:
index  = fin_datasets[fin_datasets[['eoname','year','region']].duplicated(keep = False) &(fin_datasets['Ступінь закладу ( I, I-II, I-III)'] != 'I-III')].index

In [14]:
fin_datasets.drop(index , inplace=True)

In [15]:
ind = fin_datasets[fin_datasets[['eoname','year','region']].duplicated(keep = False)].index
fin_datasets.drop(ind, inplace=True)

### Delete not relevant columns

In [16]:
fin_datasets = fin_datasets.drop(columns=['№ Області', 'Тип територіальної одиниці', '№№','Загальна площа приміщень школи ( без господарських будівель) (кв.м.)',
'Назва тер. Одиниці', 'Тип школи: міська / сільська', 'Питома вага непедагогічного персоналу у загальній кількості працівників, %**',
       'Питома вага педагогічних працівників пенсійного віку у загальній кількості педагогічних працівників, %**',
'Фактична наповнюваність класів, учнів на клас**', 'Фактична наповнюваність класів, учнів на клас',
       'Показник співвідношення кількості учнів на одного вчителя, учнів на вчителя**',
       'Видатки на 1 учня, 2018, тис. грн.**', 'Видатки на 1 клас, тис. грн.** 2018 рік (каса)',
       'Видатки на 1 учня, 2019, тис. грн.**', 'Видатки на 1 клас, тис. грн.** 2019 рік (каса)', 
       'Опорна', 'Код бюджету', 'Форма власності', 'Код ДІСО', 'ЄДРПОУ', 'Примітка',
       'Питома вага непедагогічного персоналу у загальній кількості працівників, %',
       'Питома вага педагогічних працівників пенсійного віку у загальній кількості педагогічних працівників, %',
        'Показник співвідношення кількості учнів на одного вчителя, учнів на вчителя', 'Видатки на 1 учня, 2020, тис. грн.',
       'Видатки на 1 клас, тис. грн. 2020 рік (каса)'
       ])

In [17]:
fin_datasets.columns

Index(['region', 'schoolname', 'Ступінь закладу ( I, I-II, I-III)',
       'Кількість штатних працівників педагогічного персоналу  разом',
       'Кількість штатних працівників непедагогічного персоналу  разом',
       'Кількість штатних працівників педагогічного персоналу  пенсійного віку',
       'Кількість учнів разом', 'Кількість класів разом',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2018рік (касові видатки)',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (план)',
       'year',
       'Разом кількість учнів, та дітей, які здобувають дошкільну освіту',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (касові видатки)',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (план)',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (касові видатки)',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2021 рік (план)',
       'eoname'],
      dtype='object')

In [18]:
list(df_preprocessed.columns)

['outid',
 'sextypename',
 'regname',
 'areaname',
 'tername',
 'regtypename',
 'eoname',
 'eotypename',
 'eoregname',
 'eoareaname',
 'eotername',
 'eoparent',
 'ukrtest',
 'ukrteststatus',
 'ukrball100',
 'ukrptname',
 'ukrptregname',
 'ukrptareaname',
 'ukrpttername',
 'histtest',
 'histlang',
 'histteststatus',
 'histball100',
 'histptname',
 'histptregname',
 'histptareaname',
 'histpttername',
 'mathtest',
 'mathlang',
 'mathteststatus',
 'mathball100',
 'mathptname',
 'mathptregname',
 'mathptareaname',
 'mathpttername',
 'phystest',
 'physlang',
 'physteststatus',
 'physball100',
 'physptname',
 'physptregname',
 'physptareaname',
 'physpttername',
 'chemtest',
 'chemlang',
 'chemteststatus',
 'chemball100',
 'chemptname',
 'chemptregname',
 'chemptareaname',
 'chempttername',
 'biotest',
 'biolang',
 'bioteststatus',
 'bioball100',
 'bioptname',
 'bioptregname',
 'bioptareaname',
 'biopttername',
 'geotest',
 'geolang',
 'geoteststatus',
 'geoball100',
 'geoptname',
 'geoptregname',
 'geoptareaname',
 'geopttername',
 'engtest',
 'engteststatus',
 'engball100',
 'engptname',
 'engptregname',
 'engptareaname',
 'engpttername',
 'fratest',
 'frateststatus',
 'fraball100',
 'fraptname',
 'fraptregname',
 'fraptareaname',
 'frapttername',
 'deutest',
 'deuteststatus',
 'deuball100',
 'deuptname',
 'deuptregname',
 'deuptareaname',
 'deupttername',
 'spatest',
 'spateststatus',
 'spaball100',
 'spaptname',
 'spaptregname',
 'spaptareaname',
 'spapttername',
 'rustest',
 'rusteststatus',
 'rusball100',
 'rusptname',
 'rusptregname',
 'rusptareaname',
 'ruspttername',
 'year',
 'age',
 'tertypename',
 'classprofilename',
 'classlangname',
 'ukrball',
 'histball',
 'mathball',
 'physball',
 'chemball',
 'bioball',
 'geoball',
 'engball',
 'fraball',
 'deuball',
 'spaball',
 'ukradaptscale',
 'region']

In [19]:
orig_df = df_preprocessed.drop(['outid', 'regname', 'areaname', 'tername', 'regtypename', 'tertypename', 
                                'ukrptname', 'ukrptregname', 'ukrptareaname', 'ukrpttername',
                                'histptname', 'histptregname', 'histptareaname', 'histpttername',
                                'mathptname', 'mathptregname', 'mathptareaname', 'mathpttername',
                                'physptname', 'physptregname', 'physptareaname', 'physpttername',
                                'chemptname', 'chemptregname', 'chemptareaname', 'chempttername',
                                'bioptname', 'bioptregname', 'bioptareaname', 'biopttername',
                                'geoptname', 'geoptregname', 'geoptareaname', 'geopttername',
                                'engptname', 'engptregname', 'engptareaname', 'engpttername',
                                'fraptname', 'fraptregname', 'fraptareaname', 'frapttername', 
                                'deuptname', 'deuptregname', 'deuptareaname', 'deupttername',
                                'spaptname', 'spaptregname', 'spaptareaname', 'spapttername',
                                 'rusptname', 'rusptregname', 'rusptareaname', 'ruspttername'], axis=1)

In [20]:
orig_df.columns

Index(['sextypename', 'eoname', 'eotypename', 'eoregname', 'eoareaname',
       'eotername', 'eoparent', 'ukrtest', 'ukrteststatus', 'ukrball100',
       'histtest', 'histlang', 'histteststatus', 'histball100', 'mathtest',
       'mathlang', 'mathteststatus', 'mathball100', 'phystest', 'physlang',
       'physteststatus', 'physball100', 'chemtest', 'chemlang',
       'chemteststatus', 'chemball100', 'biotest', 'biolang', 'bioteststatus',
       'bioball100', 'geotest', 'geolang', 'geoteststatus', 'geoball100',
       'engtest', 'engteststatus', 'engball100', 'fratest', 'frateststatus',
       'fraball100', 'deutest', 'deuteststatus', 'deuball100', 'spatest',
       'spateststatus', 'spaball100', 'rustest', 'rusteststatus', 'rusball100',
       'year', 'age', 'classprofilename', 'classlangname', 'ukrball',
       'histball', 'mathball', 'physball', 'chemball', 'bioball', 'geoball',
       'engball', 'fraball', 'deuball', 'spaball', 'ukradaptscale', 'region'],
      dtype='object')

### Aggregation EIE dataset for school level

In [21]:
orig_df["sexM"] = (orig_df["sextypename"] == "чоловіча").astype(int)
orig_df["sexF"] = (orig_df["sextypename"] == "жіноча").astype(int)

In [22]:
orig_df.classprofilename = orig_df.classprofilename.replace('Інший(багатопрофільність)', 'Інший')

In [23]:
orig_df.classprofilename.unique()

array([nan, 'Фізико-математичний', 'Історичний', 'Універсальний',
       'Української філології', 'Іноземної філології',
       'Інформаційно-технологічний', 'Інший', 'Математичний',
       'Екологічний', 'Економічний', 'Технологічний', 'Географічний',
       'Біолого-хімічний', 'Спортивний', 'Фізичний',
       'Військово-спортивний', 'Художньо-естетичний', 'Правовий',
       'Біотехнологічний', 'Хіміко-технологічний та агрохімічний',
       'Біолого-фізичний', 'Філософський', 'Фізико-хімічний',
       'Біологічний', 'Молодший спеціаліст', 'Кваліфікований робітник'],
      dtype=object)

In [24]:
dct = {"phys_mat":'Фізико-математичний', "foreign_phyl":'Іноземної філології', "universal":'Універсальний',
       "ukr_phyl":'Української філології', "technology":'Технологічний', "bio_phys":'Біолого-фізичний',
       "economy":'Економічний', "history":'Історичний', "sport":'Спортивний', "math":'Математичний', 
       "law":'Правовий', "other":'Інший', "martial_sport":'Військово-спортивний',
       "philosophy":'Філософський', "ecology":'Екологічний', "arts":'Художньо-естетичний',
       "geography":'Географічний', "physics":'Фізичний', "chem_tech":'Хіміко-технологічний та агрохімічний',
       "biology":'Біологічний', "phys_chem":'Фізико-хімічний', "young_spec":'Молодший спеціаліст',
       "qual_work":'Кваліфікований робітник', 'it_tech':'Інформаційно-технологічний', 'bio_chem': 'Біолого-хімічний',
       'bio_tech': 'Біотехнологічний'}

In [25]:
for subj in dct:
    orig_df[subj] = (orig_df["classprofilename"] == dct[subj]).astype(int)

In [26]:
languages = {"hung_lang":'угорська', "ukr_lang":'українська', "rus_lang":'російська', 
        "roman_lang":'румунська', "pol_lang":'польська', "mold_lang":'молдовська', "other_lang":'інша'}

for lang in languages:
    orig_df[lang] = (orig_df["classlangname"] == languages[lang]).astype(int)

In [27]:
def change_teststatus(test):
    orig_df[f"{test}_accept"] = (orig_df[f"{test}teststatus"] == 'Зараховано').astype(int)
    orig_df[f"{test}_fail"] = (orig_df[f"{test}teststatus"] == 'Не подолав поріг').astype(int)
    orig_df[f"{test}_abscent"] = (orig_df[f"{test}teststatus"] == 'Не з’явився').astype(int)
    orig_df[f"{test}_annul"] = (orig_df[f"{test}teststatus"] == 'Анульовано').astype(int)
    orig_df[f"{test}_no_choice"] = (orig_df[f"{test}teststatus"] == 'Не обрано 100-200').astype(int)

In [28]:
subjects = ["ukr", "hist", "math", "phys", "chem", "bio", "geo", "eng", "fra", "deu", "spa", 'rus']

for sub in subjects:
    change_teststatus(sub)

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/3973987650.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_no_choice"] = (orig_df[f"{test}teststatus"] == 'Не обрано 100-200').astype(int)

In [29]:
def change_testlang(test):
    orig_df[f"{test}_ukrlang"] = (orig_df[f"{test}lang"] == 'українська').astype(int)
    orig_df[f"{test}_ruslang"] = (orig_df[f"{test}lang"] == 'російська').astype(int)
    orig_df[f"{test}_moldlang"] = (orig_df[f"{test}lang"] == 'молдовська').astype(int)
    orig_df[f"{test}_hunglang"] = (orig_df[f"{test}lang"] == 'угорська').astype(int)
    orig_df[f"{test}_romlang"] = (orig_df[f"{test}lang"] == 'румунська').astype(int)
    orig_df[f"{test}_pollang"] = (orig_df[f"{test}lang"] == 'польська').astype(int)

In [30]:
subj = ["hist", "math", "phys", "chem", "bio", "geo"]

for sub in subj:
    change_testlang(sub)

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_ukrlang"] = (orig_df[f"{test}lang"] == 'українська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_ruslang"] = (orig_df[f"{test}lang"] == 'російська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_moldlang"] = (orig_df[f"{test}lang"] == 'молдовська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_hunglang"] = (orig_df[f"{test}lang"] == 'угорська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_romlang"] = (orig_df[f"{test}lang"] == 'румунська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_pollang"] = (orig_df[f"{test}lang"] == 'польська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_ukrlang"] = (orig_df[f"{test}lang"] == 'українська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_ruslang"] = (orig_df[f"{test}lang"] == 'російська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_moldlang"] = (orig_df[f"{test}lang"] == 'молдовська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_hunglang"] = (orig_df[f"{test}lang"] == 'угорська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_romlang"] = (orig_df[f"{test}lang"] == 'румунська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_pollang"] = (orig_df[f"{test}lang"] == 'польська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_ukrlang"] = (orig_df[f"{test}lang"] == 'українська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_ruslang"] = (orig_df[f"{test}lang"] == 'російська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_moldlang"] = (orig_df[f"{test}lang"] == 'молдовська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_hunglang"] = (orig_df[f"{test}lang"] == 'угорська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_romlang"] = (orig_df[f"{test}lang"] == 'румунська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_pollang"] = (orig_df[f"{test}lang"] == 'польська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_ukrlang"] = (orig_df[f"{test}lang"] == 'українська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_ruslang"] = (orig_df[f"{test}lang"] == 'російська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_moldlang"] = (orig_df[f"{test}lang"] == 'молдовська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_hunglang"] = (orig_df[f"{test}lang"] == 'угорська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_romlang"] = (orig_df[f"{test}lang"] == 'румунська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_pollang"] = (orig_df[f"{test}lang"] == 'польська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_ukrlang"] = (orig_df[f"{test}lang"] == 'українська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_ruslang"] = (orig_df[f"{test}lang"] == 'російська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_moldlang"] = (orig_df[f"{test}lang"] == 'молдовська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_hunglang"] = (orig_df[f"{test}lang"] == 'угорська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_romlang"] = (orig_df[f"{test}lang"] == 'румунська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_pollang"] = (orig_df[f"{test}lang"] == 'польська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_ukrlang"] = (orig_df[f"{test}lang"] == 'українська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_ruslang"] = (orig_df[f"{test}lang"] == 'російська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_moldlang"] = (orig_df[f"{test}lang"] == 'молдовська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_hunglang"] = (orig_df[f"{test}lang"] == 'угорська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_romlang"] = (orig_df[f"{test}lang"] == 'румунська').astype(int)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_73210/1592660275.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  orig_df[f"{test}_pollang"] = (orig_df[f"{test}lang"] == 'польська').astype(int)

In [31]:
orig_df = orig_df.drop(['sextypename'], axis=1)

In [32]:
to_remove = ['classprofilename', 'classlangname', 'ukrteststatus', 'histteststatus',
                        'mathteststatus', 'physteststatus', 'chemteststatus', 'bioteststatus',
                        'geoteststatus', 'engteststatus', 'frateststatus', 'deuteststatus',
                        'spateststatus', 'mathlang', 'histlang', 'physlang', 'chemlang',
                        'biolang', 'geolang', 'rusteststatus']
for feature in to_remove:
    orig_df = orig_df.drop([feature], axis=1)

In [33]:
def q25(x):
    return x.quantile(0.25)

def q50(x):
    return x.quantile(0.5)

def q75(x):
    return x.quantile(0.75)

In [34]:
list(orig_df.columns)

['eoname',
 'eotypename',
 'eoregname',
 'eoareaname',
 'eotername',
 'eoparent',
 'ukrtest',
 'ukrball100',
 'histtest',
 'histball100',
 'mathtest',
 'mathball100',
 'phystest',
 'physball100',
 'chemtest',
 'chemball100',
 'biotest',
 'bioball100',
 'geotest',
 'geoball100',
 'engtest',
 'engball100',
 'fratest',
 'fraball100',
 'deutest',
 'deuball100',
 'spatest',
 'spaball100',
 'rustest',
 'rusball100',
 'year',
 'age',
 'ukrball',
 'histball',
 'mathball',
 'physball',
 'chemball',
 'bioball',
 'geoball',
 'engball',
 'fraball',
 'deuball',
 'spaball',
 'ukradaptscale',
 'region',
 'sexM',
 'sexF',
 'phys_mat',
 'foreign_phyl',
 'universal',
 'ukr_phyl',
 'technology',
 'bio_phys',
 'economy',
 'history',
 'sport',
 'math',
 'law',
 'other',
 'martial_sport',
 'philosophy',
 'ecology',
 'arts',
 'geography',
 'physics',
 'chem_tech',
 'biology',
 'phys_chem',
 'young_spec',
 'qual_work',
 'it_tech',
 'bio_chem',
 'bio_tech',
 'hung_lang',
 'ukr_lang',
 'rus_lang',
 'roman_lang',
 'pol_lang',
 'mold_lang',
 'other_lang',
 'ukr_accept',
 'ukr_fail',
 'ukr_abscent',
 'ukr_annul',
 'ukr_no_choice',
 'hist_accept',
 'hist_fail',
 'hist_abscent',
 'hist_annul',
 'hist_no_choice',
 'math_accept',
 'math_fail',
 'math_abscent',
 'math_annul',
 'math_no_choice',
 'phys_accept',
 'phys_fail',
 'phys_abscent',
 'phys_annul',
 'phys_no_choice',
 'chem_accept',
 'chem_fail',
 'chem_abscent',
 'chem_annul',
 'chem_no_choice',
 'bio_accept',
 'bio_fail',
 'bio_abscent',
 'bio_annul',
 'bio_no_choice',
 'geo_accept',
 'geo_fail',
 'geo_abscent',
 'geo_annul',
 'geo_no_choice',
 'eng_accept',
 'eng_fail',
 'eng_abscent',
 'eng_annul',
 'eng_no_choice',
 'fra_accept',
 'fra_fail',
 'fra_abscent',
 'fra_annul',
 'fra_no_choice',
 'deu_accept',
 'deu_fail',
 'deu_abscent',
 'deu_annul',
 'deu_no_choice',
 'spa_accept',
 'spa_fail',
 'spa_abscent',
 'spa_annul',
 'spa_no_choice',
 'rus_accept',
 'rus_fail',
 'rus_abscent',
 'rus_annul',
 'rus_no_choice',
 'hist_ukrlang',
 'hist_ruslang',
 'hist_moldlang',
 'hist_hunglang',
 'hist_romlang',
 'hist_pollang',
 'math_ukrlang',
 'math_ruslang',
 'math_moldlang',
 'math_hunglang',
 'math_romlang',
 'math_pollang',
 'phys_ukrlang',
 'phys_ruslang',
 'phys_moldlang',
 'phys_hunglang',
 'phys_romlang',
 'phys_pollang',
 'chem_ukrlang',
 'chem_ruslang',
 'chem_moldlang',
 'chem_hunglang',
 'chem_romlang',
 'chem_pollang',
 'bio_ukrlang',
 'bio_ruslang',
 'bio_moldlang',
 'bio_hunglang',
 'bio_romlang',
 'bio_pollang',
 'geo_ukrlang',
 'geo_ruslang',
 'geo_moldlang',
 'geo_hunglang',
 'geo_romlang',
 'geo_pollang']

In [35]:
ag_dct = {col:'sum' for col in orig_df.columns if col not in ['eoname', 'year', 'age']}

for col in ag_dct:
    if 'ball' in col:
        ag_dct[col] = ['min', 'max', q25, q50, q75, 'mean']
    elif 'test' in col:
        ag_dct[col] = 'count'
    elif '_lang' in col:
        ag_dct[col] = 'max'
    elif col.startswith('eo'):
        ag_dct[col] = 'min'

ag_dct['ukradaptscale'] = 'first'
ag_dct['region'] = 'min'

In [36]:
grouped = orig_df.groupby(["eoname", "year"],dropna=True).agg(ag_dct)
print("SUCCESS")

SUCCESS

In [37]:
grouped = grouped.reset_index()

In [38]:
grouped.columns = [col[0] if col[1] in ['sum','','first'] else f"{col[0]}_{col[1]}" for col in grouped.columns]
grouped.head()

,eoname,year,eotypename_min,eoregname_min,eoareaname_min,eotername_min,eoparent_min,ukrtest_count,ukrball100_min,ukrball100_max,...,bio_moldlang,bio_hunglang,bio_romlang,bio_pollang,geo_ukrlang,geo_ruslang,geo_moldlang,geo_hunglang,geo_romlang,geo_pollang
0,Славгородська загальноосвітня школа I-II...,2016,середня загальноосвітня школа,Сумська область,Краснопільський район,с.Славгород,"Відділ освіти, молоді та спорту Краснопільсько...",8,0.0,165.0,...,0,0,0,0,0,0,0,0,0,0
1,Славгородська загальноосвітня школа I-II...,2017,середня загальноосвітня школа,Сумська область,Краснопільський район,с.Славгород,"Відділ освіти, молоді та спорту Краснопільсько...",12,0.0,145.0,...,0,0,0,0,0,0,0,0,0,0
2,"Івашківський навчально-виховний комплекс ""Заг...",2016,навчально-виховний комплекс,Одеська область,Кодимський район,с.Івашків,Відділ освіти Кодимської районної державної ад...,5,0.0,167.0,...,0,0,0,0,3,0,0,0,0,0
3,"Грабівський навчально-виховний комплекс ""Зага...",2016,навчально-виховний комплекс,Одеська область,Кодимський район,с.Грабове,Відділ освіти Кодимської районної державної ад...,11,100.0,146.0,...,0,0,0,0,0,0,0,0,0,0
4,"Кримківська ордена ""Знак Пошани"" ЗОШ І-ІІІ ст...",2016,середня загальноосвітня школа,Миколаївська область,Первомайський район,с.Кримка,Відділ освіти Первомайської районної державної...,10,0.0,130.0,...,0,0,0,0,2,0,0,0,0,0

### Merge datasets

In [39]:
grouped = grouped.rename(columns={'region_min': 'region'})

In [40]:
dataset_to_merge = fin_datasets

In [41]:
dataset_to_merge['Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures)'] = dataset_to_merge['Видатки на функціонування закладу (загальний фонд), тис.грн.\n2018рік (касові видатки)'].combine_first(dataset_to_merge['Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (касові видатки)']).combine_first(dataset_to_merge['Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (касові видатки)'])
dataset_to_merge['Expenditures for the operation of the institution (general fund), UAH thousand (plan)'] = dataset_to_merge['Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (план)'].combine_first(dataset_to_merge['Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (план)']).combine_first(dataset_to_merge['Видатки на функціонування закладу (загальний фонд), тис.грн.\n2021 рік (план)'])

In [42]:
dataset_to_merge = dataset_to_merge.drop(columns = ['Видатки на функціонування закладу (загальний фонд), тис.грн.\n2018рік (касові видатки)',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (план)','Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (касові видатки)',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (план)',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (касові видатки)',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2021 рік (план)',])

In [43]:
dataset_to_merge.drop(columns = ['schoolname'])

,region,"Ступінь закладу ( I, I-II, I-III)",Кількість штатних працівників педагогічного персоналу разом,Кількість штатних працівників непедагогічного персоналу разом,Кількість штатних працівників педагогічного персоналу пенсійного віку,Кількість учнів разом,Кількість класів разом,year,"Разом кількість учнів, та дітей, які здобувають дошкільну освіту",eoname,"Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures)","Expenditures for the operation of the institution (general fund), UAH thousand (plan)"
0,Дніпропетровська,I-III,0.0,0.0,0.0,0,0,2018,NaN,"Троїцький навчально-виховний комплекс ""загальн...",1175.116000,0
2,Запорізька,I-III,16.0,16.0,1.0,85,11,2018,NaN,Долинська загальноосвітня школа I-III ступенів...,3326.265000,3934.055
4,Миколаївська,I-III,16.0,7.0,3.0,69,8,2018,NaN,Калинівська загальноосвітня школа I-III ступен...,2612.050000,1763.971
5,Вінницька,I-III,39.0,23.0,6.0,478,22,2018,NaN,Агрономічненська середня загальноосвітня школа...,9391.200000,10219.755
6,Вінницька,I-III,23.0,18.0,5.0,181,11,2018,NaN,Бохоницька середня загальноосвітня школа I-III...,4345.200000,5062.252
...,...,...,...,...,...,...,...,...,...,...,...,...
18580,місто Київ,I-III,49.0,26.0,2.0,723,24,2020,NaN,Спеціалізована школа І-ІІІ ступенів № 23 з пог...,26648.166720,31694.8
18581,місто Київ,I-III,26.0,23.0,1.0,475,19,2020,NaN,Школа І-ІІІ ступенів №151 міста Києва,11631.393210,17399.1
18582,місто Київ,I-III,58.0,26.0,2.0,827,34,2020,NaN,Середня загальноосвітня школа І-ІІІ ступенів №...,22065.400000,26469.2
18583,місто Київ,I-III,32.0,22.0,1.0,483,18,2020,NaN,Спеціалізована школа І-ІІІ ступенів №73 з погл...,15793.702951,10294.196
18584,місто Київ,I-III,50.0,30.0,1.0,861,30,2020,NaN,Спеціалізована школа №131 Святошинського район...,20353.200000,13412.1

In [44]:
school_dataset = pd.merge(grouped, dataset_to_merge, on=['eoname','year', 'region'], how='inner')
school_dataset

,eoname,year,eotypename_min,eoregname_min,eoareaname_min,eotername_min,eoparent_min,ukrtest_count,ukrball100_min,ukrball100_max,...,schoolname,"Ступінь закладу ( I, I-II, I-III)",Кількість штатних працівників педагогічного персоналу разом,Кількість штатних працівників непедагогічного персоналу разом,Кількість штатних працівників педагогічного персоналу пенсійного віку,Кількість учнів разом,Кількість класів разом,"Разом кількість учнів, та дітей, які здобувають дошкільну освіту","Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures)","Expenditures for the operation of the institution (general fund), UAH thousand (plan)"
0,"""Демино-Олександрівський ліцей Троїцької селищ...",2019,ліцей,Луганська область,Троїцький район,с.Демино-Олександрівка,"Відділ освіти, молоді та спорту Троїцької сели...",8,0.0,178.0,...,"""Демино-Олександрівський ліцей Троїцької селищ...",I-III,22.61,8.0,2.0,59,6,59.0,3468.816000,4066.48
1,"""Демино-Олександрівський ліцей Троїцької селищ...",2020,ліцей,Луганська область,Троїцький район,с.Демино-Олександрівка,"Відділ освіти, молоді та спорту Троїцької сели...",9,0.0,169.0,...,"""Демино-Олександрівський ліцей Троїцької селищ...",I-III,15.00,6.0,2.0,62,8,NaN,3620.100000,4862.1
2,"""Лантратівський ліцей Троїцької селищної ради ...",2019,ліцей,Луганська область,Троїцький район,с.Лантратівка,"Відділ освіти, молоді та спорту Троїцької сели...",12,0.0,164.0,...,"""Лантратівський ліцей Троїцької селищної ради ...",I-III,26.28,9.5,2.8,95,11,95.0,4170.501000,4652.336
3,"""Лантратівський ліцей Троїцької селищної ради ...",2020,ліцей,Луганська область,Троїцький район,с.Лантратівка,"Відділ освіти, молоді та спорту Троїцької сели...",4,0.0,157.0,...,"""Лантратівський ліцей Троїцької селищної ради ...",I-III,17.00,9.0,4.0,96,11,NaN,4298.700000,5290.8
4,"""Навчально-виховний комплекс ""Школа І-ІІ ступе...",2019,навчально-виховний комплекс,м.Київ,м.Київ. Шевченківський район міста,Шевченківський район міста,Управління освіти Шевченківської районної в мі...,44,120.0,198.0,...,"Навчально-виховний комплекс""Школа І-ІІ ступені...",I-III,74.00,33.0,17.0,778,27,778.0,18463.070000,28107.648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18474,"опорний навчальний заклад ""Апостолівська загал...",2019,середня загальноосвітня школа,Дніпропетровська область,Апостолівський район,м.Апостолове,Відділ освіти виконавчого комітету Апостолівсь...,22,0.0,191.0,...,"Опорний навчальний заклад ""Апостолівська загал...",I-III,80.00,58.0,11.0,797,41,844.0,19541.000000,21160.3
18475,"опорний навчальний заклад ""Левківська загально...",2020,середня загальноосвітня школа,Житомирська область,Житомирський район,с.Левків,"Відділ освіти, національно-патріотичного вихов...",25,0.0,164.0,...,"Опорний навчальний заклад ""Левківська загально...",I-III,36.00,32.0,6.0,420,19,NaN,12722.000000,14112.3
18476,школа І-ІІІ ступенів № 104 імені О.Ольжича Обо...,2019,середня загальноосвітня школа,м.Київ,м.Київ. Оболонський район міста,Оболонський район міста,Управління освіти Оболонської районної в місті...,40,0.0,192.0,...,школа І-ІІІ ступенів № 104 імені О. Ольжича Об...,I-III,72.00,55.0,16.0,1011,33,1011.0,25717.609000,31263.175
18477,школа І-ІІІ ступенів № 104 імені О.Ольжича Обо...,2020,середня загальноосвітня школа,м.Київ,м.Київ. Оболонський район міста,Оболонський район міста,Управління освіти Оболонської районної в місті...,47,111.0,192.0,...,школа І-ІІІ ступенів № 104 імені О. Ольжича Об...,I-III,58.00,58.0,14.0,1023,33,NaN,27213.933000,39694.435
18478,школа І-ІІІ ступенів №175 ім.В Марченка Шевчен...,2020,середня загальноосвітня школа,м.Київ,м.Київ. Шевченківський район міста,Шевченківський район міста,Управління освіти Шевченківської районної в мі...,49,0.0,181.0,...,Школа І -ІІІ ступенів № 175 ім.В.Марченка Шевч...,I-III,39.00,25.0,6.0,781,29,NaN,20595.251144,12204.962

In [45]:
school_dataset.shape

(18479, 300)

In [46]:
school_dataset.columns

Index(['eoname', 'year', 'eotypename_min', 'eoregname_min', 'eoareaname_min',
       'eotername_min', 'eoparent_min', 'ukrtest_count', 'ukrball100_min',
       'ukrball100_max',
       ...
       'schoolname', 'Ступінь закладу ( I, I-II, I-III)',
       'Кількість штатних працівників педагогічного персоналу  разом',
       'Кількість штатних працівників непедагогічного персоналу  разом',
       'Кількість штатних працівників педагогічного персоналу  пенсійного віку',
       'Кількість учнів разом', 'Кількість класів разом',
       'Разом кількість учнів, та дітей, які здобувають дошкільну освіту',
       'Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures)',
       'Expenditures for the operation of the institution (general fund), UAH thousand (plan)'],
      dtype='object', length=300)

In [47]:
school_dataset.loc[3492, 'Expenditures for the operation of the institution (general fund), UAH thousand (plan)'] = 4360.1

In [48]:
school_dataset['Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures)'] = school_dataset['Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures)'].map(lambda x: x if isinstance(x, float) else float(x))

In [49]:
school_dataset['Expenditures for the operation of the institution (general fund), UAH thousand (plan)'] = school_dataset['Expenditures for the operation of the institution (general fund), UAH thousand (plan)'].map(lambda x: x if isinstance(x, float) else float(x))

In [50]:
dict(school_dataset.dtypes)

{'eoname': dtype('O'),
 'year': dtype('int64'),
 'eotypename_min': dtype('O'),
 'eoregname_min': dtype('O'),
 'eoareaname_min': dtype('O'),
 'eotername_min': dtype('O'),
 'eoparent_min': dtype('O'),
 'ukrtest_count': dtype('int64'),
 'ukrball100_min': dtype('float64'),
 'ukrball100_max': dtype('float64'),
 'ukrball100_q25': dtype('float64'),
 'ukrball100_q50': dtype('float64'),
 'ukrball100_q75': dtype('float64'),
 'ukrball100_mean': dtype('float64'),
 'histtest_count': dtype('int64'),
 'histball100_min': dtype('float64'),
 'histball100_max': dtype('float64'),
 'histball100_q25': dtype('float64'),
 'histball100_q50': dtype('float64'),
 'histball100_q75': dtype('float64'),
 'histball100_mean': dtype('float64'),
 'mathtest_count': dtype('int64'),
 'mathball100_min': dtype('float64'),
 'mathball100_max': dtype('float64'),
 'mathball100_q25': dtype('float64'),
 'mathball100_q50': dtype('float64'),
 'mathball100_q75': dtype('float64'),
 'mathball100_mean': dtype('float64'),
 'phystest_count': dtype('int64'),
 'physball100_min': dtype('float64'),
 'physball100_max': dtype('float64'),
 'physball100_q25': dtype('float64'),
 'physball100_q50': dtype('float64'),
 'physball100_q75': dtype('float64'),
 'physball100_mean': dtype('float64'),
 'chemtest_count': dtype('int64'),
 'chemball100_min': dtype('float64'),
 'chemball100_max': dtype('float64'),
 'chemball100_q25': dtype('float64'),
 'chemball100_q50': dtype('float64'),
 'chemball100_q75': dtype('float64'),
 'chemball100_mean': dtype('float64'),
 'biotest_count': dtype('int64'),
 'bioball100_min': dtype('float64'),
 'bioball100_max': dtype('float64'),
 'bioball100_q25': dtype('float64'),
 'bioball100_q50': dtype('float64'),
 'bioball100_q75': dtype('float64'),
 'bioball100_mean': dtype('float64'),
 'geotest_count': dtype('int64'),
 'geoball100_min': dtype('float64'),
 'geoball100_max': dtype('float64'),
 'geoball100_q25': dtype('float64'),
 'geoball100_q50': dtype('float64'),
 'geoball100_q75': dtype('float64'),
 'geoball100_mean': dtype('float64'),
 'engtest_count': dtype('int64'),
 'engball100_min': dtype('float64'),
 'engball100_max': dtype('float64'),
 'engball100_q25': dtype('float64'),
 'engball100_q50': dtype('float64'),
 'engball100_q75': dtype('float64'),
 'engball100_mean': dtype('float64'),
 'fratest_count': dtype('int64'),
 'fraball100_min': dtype('float64'),
 'fraball100_max': dtype('float64'),
 'fraball100_q25': dtype('float64'),
 'fraball100_q50': dtype('float64'),
 'fraball100_q75': dtype('float64'),
 'fraball100_mean': dtype('float64'),
 'deutest_count': dtype('int64'),
 'deuball100_min': dtype('float64'),
 'deuball100_max': dtype('float64'),
 'deuball100_q25': dtype('float64'),
 'deuball100_q50': dtype('float64'),
 'deuball100_q75': dtype('float64'),
 'deuball100_mean': dtype('float64'),
 'spatest_count': dtype('int64'),
 'spaball100_min': dtype('float64'),
 'spaball100_max': dtype('float64'),
 'spaball100_q25': dtype('float64'),
 'spaball100_q50': dtype('float64'),
 'spaball100_q75': dtype('float64'),
 'spaball100_mean': dtype('float64'),
 'rustest_count': dtype('int64'),
 'rusball100_min': dtype('float64'),
 'rusball100_max': dtype('float64'),
 'rusball100_q25': dtype('float64'),
 'rusball100_q50': dtype('float64'),
 'rusball100_q75': dtype('float64'),
 'rusball100_mean': dtype('float64'),
 'ukrball_min': dtype('float64'),
 'ukrball_max': dtype('float64'),
 'ukrball_q25': dtype('float64'),
 'ukrball_q50': dtype('float64'),
 'ukrball_q75': dtype('float64'),
 'ukrball_mean': dtype('float64'),
 'histball_min': dtype('float64'),
 'histball_max': dtype('float64'),
 'histball_q25': dtype('float64'),
 'histball_q50': dtype('float64'),
 'histball_q75': dtype('float64'),
 'histball_mean': dtype('float64'),
 'mathball_min': dtype('float64'),
 'mathball_max': dtype('float64'),
 'mathball_q25': dtype('float64'),
 'mathball_q50': dtype('float64'),
 'mathball_q75': dtype('float64'),
 'mathball_mean': dtype('float64'),
 'physball_min': dtype('float64'),
 'physball_max': dtype('float64'),
 'physball_q25': dtype('float64'),
 'physball_q50': dtype('float64'),
 'physball_q75': dtype('float64'),
 'physball_mean': dtype('float64'),
 'chemball_min': dtype('float64'),
 'chemball_max': dtype('float64'),
 'chemball_q25': dtype('float64'),
 'chemball_q50': dtype('float64'),
 'chemball_q75': dtype('float64'),
 'chemball_mean': dtype('float64'),
 'bioball_min': dtype('float64'),
 'bioball_max': dtype('float64'),
 'bioball_q25': dtype('float64'),
 'bioball_q50': dtype('float64'),
 'bioball_q75': dtype('float64'),
 'bioball_mean': dtype('float64'),
 'geoball_min': dtype('float64'),
 'geoball_max': dtype('float64'),
 'geoball_q25': dtype('float64'),
 'geoball_q50': dtype('float64'),
 'geoball_q75': dtype('float64'),
 'geoball_mean': dtype('float64'),
 'engball_min': dtype('float64'),
 'engball_max': dtype('float64'),
 'engball_q25': dtype('float64'),
 'engball_q50': dtype('float64'),
 'engball_q75': dtype('float64'),
 'engball_mean': dtype('float64'),
 'fraball_min': dtype('float64'),
 'fraball_max': dtype('float64'),
 'fraball_q25': dtype('float64'),
 'fraball_q50': dtype('float64'),
 'fraball_q75': dtype('float64'),
 'fraball_mean': dtype('float64'),
 'deuball_min': dtype('float64'),
 'deuball_max': dtype('float64'),
 'deuball_q25': dtype('float64'),
 'deuball_q50': dtype('float64'),
 'deuball_q75': dtype('float64'),
 'deuball_mean': dtype('float64'),
 'spaball_min': dtype('float64'),
 'spaball_max': dtype('float64'),
 'spaball_q25': dtype('float64'),
 'spaball_q50': dtype('float64'),
 'spaball_q75': dtype('float64'),
 'spaball_mean': dtype('float64'),
 'ukradaptscale': dtype('float64'),
 'region': dtype('O'),
 'sexM': dtype('int64'),
 'sexF': dtype('int64'),
 'phys_mat': dtype('int64'),
 'foreign_phyl': dtype('int64'),
 'universal': dtype('int64'),
 'ukr_phyl': dtype('int64'),
 'technology': dtype('int64'),
 'bio_phys': dtype('int64'),
 'economy': dtype('int64'),
 'history': dtype('int64'),
 'sport': dtype('int64'),
 'math': dtype('int64'),
 'law': dtype('int64'),
 'other': dtype('int64'),
 'martial_sport': dtype('int64'),
 'philosophy': dtype('int64'),
 'ecology': dtype('int64'),
 'arts': dtype('int64'),
 'geography': dtype('int64'),
 'physics': dtype('int64'),
 'chem_tech': dtype('int64'),
 'biology': dtype('int64'),
 'phys_chem': dtype('int64'),
 'young_spec': dtype('int64'),
 'qual_work': dtype('int64'),
 'it_tech': dtype('int64'),
 'bio_chem': dtype('int64'),
 'bio_tech': dtype('int64'),
 'hung_lang_max': dtype('int64'),
 'ukr_lang_max': dtype('int64'),
 'rus_lang_max': dtype('int64'),
 'roman_lang_max': dtype('int64'),
 'pol_lang_max': dtype('int64'),
 'mold_lang_max': dtype('int64'),
 'other_lang_max': dtype('int64'),
 'ukr_accept': dtype('int64'),
 'ukr_fail': dtype('int64'),
 'ukr_abscent': dtype('int64'),
 'ukr_annul': dtype('int64'),
 'ukr_no_choice': dtype('int64'),
 'hist_accept': dtype('int64'),
 'hist_fail': dtype('int64'),
 'hist_abscent': dtype('int64'),
 'hist_annul': dtype('int64'),
 'hist_no_choice': dtype('int64'),
 'math_accept': dtype('int64'),
 'math_fail': dtype('int64'),
 'math_abscent': dtype('int64'),
 'math_annul': dtype('int64'),
 'math_no_choice': dtype('int64'),
 'phys_accept': dtype('int64'),
 'phys_fail': dtype('int64'),
 'phys_abscent': dtype('int64'),
 'phys_annul': dtype('int64'),
 'phys_no_choice': dtype('int64'),
 'chem_accept': dtype('int64'),
 'chem_fail': dtype('int64'),
 'chem_abscent': dtype('int64'),
 'chem_annul': dtype('int64'),
 'chem_no_choice': dtype('int64'),
 'bio_accept': dtype('int64'),
 'bio_fail': dtype('int64'),
 'bio_abscent': dtype('int64'),
 'bio_annul': dtype('int64'),
 'bio_no_choice': dtype('int64'),
 'geo_accept': dtype('int64'),
 'geo_fail': dtype('int64'),
 'geo_abscent': dtype('int64'),
 'geo_annul': dtype('int64'),
 'geo_no_choice': dtype('int64'),
 'eng_accept': dtype('int64'),
 'eng_fail': dtype('int64'),
 'eng_abscent': dtype('int64'),
 'eng_annul': dtype('int64'),
 'eng_no_choice': dtype('int64'),
 'fra_accept': dtype('int64'),
 'fra_fail': dtype('int64'),
 'fra_abscent': dtype('int64'),
 'fra_annul': dtype('int64'),
 'fra_no_choice': dtype('int64'),
 'deu_accept': dtype('int64'),
 'deu_fail': dtype('int64'),
 'deu_abscent': dtype('int64'),
 'deu_annul': dtype('int64'),
 'deu_no_choice': dtype('int64'),
 'spa_accept': dtype('int64'),
 'spa_fail': dtype('int64'),
 'spa_abscent': dtype('int64'),
 'spa_annul': dtype('int64'),
 'spa_no_choice': dtype('int64'),
 'rus_accept': dtype('int64'),
 'rus_fail': dtype('int64'),
 'rus_abscent': dtype('int64'),
 'rus_annul': dtype('int64'),
 'rus_no_choice': dtype('int64'),
 'hist_ukrlang': dtype('int64'),
 'hist_ruslang': dtype('int64'),
 'hist_moldlang': dtype('int64'),
 'hist_hunglang': dtype('int64'),
 'hist_romlang': dtype('int64'),
 'hist_pollang': dtype('int64'),
 'math_ukrlang': dtype('int64'),
 'math_ruslang': dtype('int64'),
 'math_moldlang': dtype('int64'),
 'math_hunglang': dtype('int64'),
 'math_romlang': dtype('int64'),
 'math_pollang': dtype('int64'),
 'phys_ukrlang': dtype('int64'),
 'phys_ruslang': dtype('int64'),
 'phys_moldlang': dtype('int64'),
 'phys_hunglang': dtype('int64'),
 'phys_romlang': dtype('int64'),
 'phys_pollang': dtype('int64'),
 'chem_ukrlang': dtype('int64'),
 'chem_ruslang': dtype('int64'),
 'chem_moldlang': dtype('int64'),
 'chem_hunglang': dtype('int64'),
 'chem_romlang': dtype('int64'),
 'chem_pollang': dtype('int64'),
 'bio_ukrlang': dtype('int64'),
 'bio_ruslang': dtype('int64'),
 'bio_moldlang': dtype('int64'),
 'bio_hunglang': dtype('int64'),
 'bio_romlang': dtype('int64'),
 'bio_pollang': dtype('int64'),
 'geo_ukrlang': dtype('int64'),
 'geo_ruslang': dtype('int64'),
 'geo_moldlang': dtype('int64'),
 'geo_hunglang': dtype('int64'),
 'geo_romlang': dtype('int64'),
 'geo_pollang': dtype('int64'),
 'schoolname': dtype('O'),
 'Ступінь закладу ( I, I-II, I-III)': dtype('O'),
 'Кількість штатних працівників педагогічного персоналу  разом': dtype('float64'),
 'Кількість штатних працівників непедагогічного персоналу  разом': dtype('float64'),
 'Кількість штатних працівників педагогічного персоналу  пенсійного віку': dtype('float64'),
 'Кількість учнів разом': dtype('int64'),
 'Кількість класів разом': dtype('int64'),
 'Разом кількість учнів, та дітей, які здобувають дошкільну освіту': dtype('float64'),
 'Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures)': dtype('float64'),
 'Expenditures for the operation of the institution (general fund), UAH thousand (plan)': dtype('float64')}

In [51]:
school_dataset = school_dataset.drop(columns = 'schoolname')
school_dataset

,eoname,year,eotypename_min,eoregname_min,eoareaname_min,eotername_min,eoparent_min,ukrtest_count,ukrball100_min,ukrball100_max,...,geo_pollang,"Ступінь закладу ( I, I-II, I-III)",Кількість штатних працівників педагогічного персоналу разом,Кількість штатних працівників непедагогічного персоналу разом,Кількість штатних працівників педагогічного персоналу пенсійного віку,Кількість учнів разом,Кількість класів разом,"Разом кількість учнів, та дітей, які здобувають дошкільну освіту","Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures)","Expenditures for the operation of the institution (general fund), UAH thousand (plan)"
0,"""Демино-Олександрівський ліцей Троїцької селищ...",2019,ліцей,Луганська область,Троїцький район,с.Демино-Олександрівка,"Відділ освіти, молоді та спорту Троїцької сели...",8,0.0,178.0,...,0,I-III,22.61,8.0,2.0,59,6,59.0,3468.816000,4066.480
1,"""Демино-Олександрівський ліцей Троїцької селищ...",2020,ліцей,Луганська область,Троїцький район,с.Демино-Олександрівка,"Відділ освіти, молоді та спорту Троїцької сели...",9,0.0,169.0,...,0,I-III,15.00,6.0,2.0,62,8,NaN,3620.100000,4862.100
2,"""Лантратівський ліцей Троїцької селищної ради ...",2019,ліцей,Луганська область,Троїцький район,с.Лантратівка,"Відділ освіти, молоді та спорту Троїцької сели...",12,0.0,164.0,...,0,I-III,26.28,9.5,2.8,95,11,95.0,4170.501000,4652.336
3,"""Лантратівський ліцей Троїцької селищної ради ...",2020,ліцей,Луганська область,Троїцький район,с.Лантратівка,"Відділ освіти, молоді та спорту Троїцької сели...",4,0.0,157.0,...,0,I-III,17.00,9.0,4.0,96,11,NaN,4298.700000,5290.800
4,"""Навчально-виховний комплекс ""Школа І-ІІ ступе...",2019,навчально-виховний комплекс,м.Київ,м.Київ. Шевченківський район міста,Шевченківський район міста,Управління освіти Шевченківської районної в мі...,44,120.0,198.0,...,0,I-III,74.00,33.0,17.0,778,27,778.0,18463.070000,28107.648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18474,"опорний навчальний заклад ""Апостолівська загал...",2019,середня загальноосвітня школа,Дніпропетровська область,Апостолівський район,м.Апостолове,Відділ освіти виконавчого комітету Апостолівсь...,22,0.0,191.0,...,0,I-III,80.00,58.0,11.0,797,41,844.0,19541.000000,21160.300
18475,"опорний навчальний заклад ""Левківська загально...",2020,середня загальноосвітня школа,Житомирська область,Житомирський район,с.Левків,"Відділ освіти, національно-патріотичного вихов...",25,0.0,164.0,...,0,I-III,36.00,32.0,6.0,420,19,NaN,12722.000000,14112.300
18476,школа І-ІІІ ступенів № 104 імені О.Ольжича Обо...,2019,середня загальноосвітня школа,м.Київ,м.Київ. Оболонський район міста,Оболонський район міста,Управління освіти Оболонської районної в місті...,40,0.0,192.0,...,0,I-III,72.00,55.0,16.0,1011,33,1011.0,25717.609000,31263.175
18477,школа І-ІІІ ступенів № 104 імені О.Ольжича Обо...,2020,середня загальноосвітня школа,м.Київ,м.Київ. Оболонський район міста,Оболонський район міста,Управління освіти Оболонської районної в місті...,47,111.0,192.0,...,0,I-III,58.00,58.0,14.0,1023,33,NaN,27213.933000,39694.435
18478,школа І-ІІІ ступенів №175 ім.В Марченка Шевчен...,2020,середня загальноосвітня школа,м.Київ,м.Київ. Шевченківський район міста,Шевченківський район міста,Управління освіти Шевченківської районної в мі...,49,0.0,181.0,...,0,I-III,39.00,25.0,6.0,781,29,NaN,20595.251144,12204.962

In [52]:
school_dataset.columns

Index(['eoname', 'year', 'eotypename_min', 'eoregname_min', 'eoareaname_min',
       'eotername_min', 'eoparent_min', 'ukrtest_count', 'ukrball100_min',
       'ukrball100_max',
       ...
       'geo_pollang', 'Ступінь закладу ( I, I-II, I-III)',
       'Кількість штатних працівників педагогічного персоналу  разом',
       'Кількість штатних працівників непедагогічного персоналу  разом',
       'Кількість штатних працівників педагогічного персоналу  пенсійного віку',
       'Кількість учнів разом', 'Кількість класів разом',
       'Разом кількість учнів, та дітей, які здобувають дошкільну освіту',
       'Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures)',
       'Expenditures for the operation of the institution (general fund), UAH thousand (plan)'],
      dtype='object', length=299)

In [53]:
school_dataset = school_dataset.rename(columns = {'Ступінь закладу ( I, I-II, I-III)':'Degree of institution',
       'Кількість штатних працівників педагогічного персоналу  разом': 'Number of full-time teaching staff in total',
       'Кількість штатних працівників непедагогічного персоналу  разом': 'Number of full-time non-teaching staff in total',
       'Кількість штатних працівників педагогічного персоналу  пенсійного віку':'Number of full-time teaching staff of retirement age',
       'Кількість учнів разом': 'Number of students in total', 
       'Кількість класів разом':'Number of classes in total',
       'Разом кількість учнів, та дітей, які здобувають дошкільну освіту':'Total number of students and children receiving preschool education'})

In [54]:
school_dataset.reset_index(drop=True)

,eoname,year,eotypename_min,eoregname_min,eoareaname_min,eotername_min,eoparent_min,ukrtest_count,ukrball100_min,ukrball100_max,...,geo_pollang,Degree of institution,Number of full-time teaching staff in total,Number of full-time non-teaching staff in total,Number of full-time teaching staff of retirement age,Number of students in total,Number of classes in total,Total number of students and children receiving preschool education,"Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures)","Expenditures for the operation of the institution (general fund), UAH thousand (plan)"
0,"""Демино-Олександрівський ліцей Троїцької селищ...",2019,ліцей,Луганська область,Троїцький район,с.Демино-Олександрівка,"Відділ освіти, молоді та спорту Троїцької сели...",8,0.0,178.0,...,0,I-III,22.61,8.0,2.0,59,6,59.0,3468.816000,4066.480
1,"""Демино-Олександрівський ліцей Троїцької селищ...",2020,ліцей,Луганська область,Троїцький район,с.Демино-Олександрівка,"Відділ освіти, молоді та спорту Троїцької сели...",9,0.0,169.0,...,0,I-III,15.00,6.0,2.0,62,8,NaN,3620.100000,4862.100
2,"""Лантратівський ліцей Троїцької селищної ради ...",2019,ліцей,Луганська область,Троїцький район,с.Лантратівка,"Відділ освіти, молоді та спорту Троїцької сели...",12,0.0,164.0,...,0,I-III,26.28,9.5,2.8,95,11,95.0,4170.501000,4652.336
3,"""Лантратівський ліцей Троїцької селищної ради ...",2020,ліцей,Луганська область,Троїцький район,с.Лантратівка,"Відділ освіти, молоді та спорту Троїцької сели...",4,0.0,157.0,...,0,I-III,17.00,9.0,4.0,96,11,NaN,4298.700000,5290.800
4,"""Навчально-виховний комплекс ""Школа І-ІІ ступе...",2019,навчально-виховний комплекс,м.Київ,м.Київ. Шевченківський район міста,Шевченківський район міста,Управління освіти Шевченківської районної в мі...,44,120.0,198.0,...,0,I-III,74.00,33.0,17.0,778,27,778.0,18463.070000,28107.648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18474,"опорний навчальний заклад ""Апостолівська загал...",2019,середня загальноосвітня школа,Дніпропетровська область,Апостолівський район,м.Апостолове,Відділ освіти виконавчого комітету Апостолівсь...,22,0.0,191.0,...,0,I-III,80.00,58.0,11.0,797,41,844.0,19541.000000,21160.300
18475,"опорний навчальний заклад ""Левківська загально...",2020,середня загальноосвітня школа,Житомирська область,Житомирський район,с.Левків,"Відділ освіти, національно-патріотичного вихов...",25,0.0,164.0,...,0,I-III,36.00,32.0,6.0,420,19,NaN,12722.000000,14112.300
18476,школа І-ІІІ ступенів № 104 імені О.Ольжича Обо...,2019,середня загальноосвітня школа,м.Київ,м.Київ. Оболонський район міста,Оболонський район міста,Управління освіти Оболонської районної в місті...,40,0.0,192.0,...,0,I-III,72.00,55.0,16.0,1011,33,1011.0,25717.609000,31263.175
18477,школа І-ІІІ ступенів № 104 імені О.Ольжича Обо...,2020,середня загальноосвітня школа,м.Київ,м.Київ. Оболонський район міста,Оболонський район міста,Управління освіти Оболонської районної в місті...,47,111.0,192.0,...,0,I-III,58.00,58.0,14.0,1023,33,NaN,27213.933000,39694.435
18478,школа І-ІІІ ступенів №175 ім.В Марченка Шевчен...,2020,середня загальноосвітня школа,м.Київ,м.Київ. Шевченківський район міста,Шевченківський район міста,Управління освіти Шевченківської районної в мі...,49,0.0,181.0,...,0,I-III,39.00,25.0,6.0,781,29,NaN,20595.251144,12204.962

In [55]:
school_dataset.to_csv('school_dataset_sample.csv',index=False)

### Save dataset to csv

In [56]:
dataset_to_merge[dataset_to_merge[['eoname','year','region']].duplicated(keep = False)]

Empty DataFrame
Columns: [region, schoolname, Ступінь закладу ( I, I-II, I-III), Кількість штатних працівників педагогічного персоналу  разом, Кількість штатних працівників непедагогічного персоналу  разом, Кількість штатних працівників педагогічного персоналу  пенсійного віку, Кількість учнів разом, Кількість класів разом, year, Разом кількість учнів, та дітей, які здобувають дошкільну освіту, eoname, Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures), Expenditures for the operation of the institution (general fund), UAH thousand (plan)]
Index: []

In [57]:
eie_full_dataset = pd.merge(df_preprocessed, dataset_to_merge, on=['eoname','year','region'], how='left')
eie_full_dataset

,outid,sextypename,regname,areaname,tername,regtypename,eoname,eotypename,eoregname,eoareaname,...,schoolname,"Ступінь закладу ( I, I-II, I-III)",Кількість штатних працівників педагогічного персоналу разом,Кількість штатних працівників непедагогічного персоналу разом,Кількість штатних працівників педагогічного персоналу пенсійного віку,Кількість учнів разом,Кількість класів разом,"Разом кількість учнів, та дітей, які здобувають дошкільну освіту","Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures)","Expenditures for the operation of the institution (general fund), UAH thousand (plan)"
0,a99c6c63-aa70-4aec-ba42-370f7261e857,чоловіча,Запорізька область,Мелітопольський район,с.Терпіння,Випускник української школи поточного року,"Терпіннівський колегіум ""Джерело"" Мелітопольсь...",колегіум,Запорізька область,Мелітопольський район,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,c3136421-569e-422e-ae8f-41c4c931fd70,жіноча,Хмельницька область,Красилівський район,м.Красилів,Випускник української школи поточного року,Красилівська загальноосвітня школа I-III ступе...,середня загальноосвітня школа,Хмельницька область,Красилівський район,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,fbd0e280-4b77-4f34-942d-00bc850c2992,жіноча,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,Випускник минулих років,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30de395e-7a74-452a-8370-6856d240fbfb,чоловіча,Чернівецька область,м.Чернівці,Шевченківський район міста,Випускник української школи поточного року,Чернівецька спеціалізована школа І-ІІІ ступені...,спеціалізована школа,Чернівецька область,м.Чернівці,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,52a40c74-374e-4744-bd6f-938ab7a4a641,чоловіча,Миколаївська область,Врадіївський район,с.Кумарі,Учень коледжу закладу професійної (професійно-...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1967009,e62710ee-74fa-4085-b066-f38fc37ceae7,жіноча,Рівненська область,Демидівський район,смт Демидівка,Учень коледжу закладу професійної (професійно-...,Вище професійне училище №25 смт.Демидівка,заклад професійної (професійно-технічної) освіти,Рівненська область,Демидівський район,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967010,b2e4de44-7ebd-4163-8952-f988a9de1f67,жіноча,Харківська область,Кегичівський район,смт Кегичівка,Учень коледжу закладу професійної (професійно-...,Професійно-технічне училище №60 смт Кегичівка ...,заклад професійної (професійно-технічної) освіти,Харківська область,Кегичівський район,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967011,e007c190-1fe1-4658-9eb0-f7cf489fc015,жіноча,Одеська область,Одеська область,м.Білгород-Дністровський,Учень коледжу закладу професійної (професійно-...,"ОКУ ""Білгород-Дністровський медичний фаховий к...",заклад фахової передвищої освіти,Одеська область,м.Білгород-Дністровський,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967012,2668b9f3-ddf9-4062-acd7-fdf6e2ca8cc8,чоловіча,Вінницька область,Гайсинський район,с.Чечелівка,Випускник української школи поточного року,Середня загальноосвіня школа I-III ступенів с....,середня загальноосвітня школа,Вінницька область,Гайсинський район,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967013,c0723de9-57b5-4450-b404-ffe67945d843,жіноча,Хмельницька область,Хмельницька область,м.Славута,Випускник української школи поточного року,"Славутський навчально-виховний комплекс ""Спеці...",спеціалізована школа,Хмельницька область,м.Славута,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
eie_full_dataset.rename(columns = {'Ступінь закладу ( I, I-II, I-III)':'Degree of institution',
       'Кількість штатних працівників педагогічного персоналу  разом': 'Number of full-time teaching staff in total',
       'Кількість штатних працівників непедагогічного персоналу  разом': 'Number of full-time non-teaching staff in total',
       'Кількість штатних працівників педагогічного персоналу  пенсійного віку':'Number of full-time teaching staff of retirement age',
       'Кількість учнів разом': 'Number of students in total', 
       'Кількість класів разом':'Number of classes in total',
       'Разом кількість учнів, та дітей, які здобувають дошкільну освіту':'Total number of students and children receiving preschool education'}, inplace = True)

In [ ]:
eie_full_dataset.drop(columns = ['schoolname', 'region'], inplace = True)

In [58]:
eie_full_dataset.shape

(1967014, 130)

In [59]:
eie_full_dataset.to_csv('eie_full_dataset.csv', index=False)