# ML task for school level dataset (regression and classification)

In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [32]:
df = pd.read_csv('school_dataset_sample.csv')

/Users/nazardrushchak/opt/anaconda3/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (293) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [33]:
# get only one year for test (possible years: 2018,2019,2020)
df = df[df['year']==2020]

In [34]:
df = df.reset_index()

In [35]:
col = [
       'sexM', 'sexF', 'phys_mat', 'foreign_phyl',
       'universal', 'ukr_phyl', 'technology', 'bio_phys', 'economy', 'history',
       'sport', 'math', 'law', 'other', 'martial_sport', 'philosophy',
       'ecology', 'arts', 'geography', 'physics', 'chem_tech', 'biology',
       'phys_chem', 'young_spec', 'qual_work', 'hung_lang_max', 'ukr_lang_max',
       'rus_lang_max', 'roman_lang_max', 'pol_lang_max', 'mold_lang_max',
       'other_lang_max', 'eotypename_min', 'eoregname_min', 'eoareaname_min',
       'eotername_min', 'eoparent_min',
       'mathball100_mean', 
       'Ступінь закладу ( I, I-II, I-III)',
       'Кількість штатних працівників педагогічного персоналу  разом',
       'Кількість штатних працівників непедагогічного персоналу  разом',
       'Кількість штатних працівників педагогічного персоналу  пенсійного віку',
       'Кількість учнів разом', 'Кількість класів разом',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2018рік (касові видатки)',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (план)',
       'Разом кількість учнів, та дітей, які здобувають дошкільну освіту',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (касові видатки)',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (план)',

       'Питома вага непедагогічного персоналу у загальній кількості працівників, %',
       'Питома вага педагогічних працівників пенсійного віку у загальній кількості педагогічних працівників, %',
       'Фактична наповнюваність класів, учнів на клас',
]

In [36]:
pd.set_option('display.max_columns', None)
df[col].head()

,sexM,sexF,phys_mat,foreign_phyl,universal,ukr_phyl,technology,bio_phys,economy,history,sport,math,law,other,martial_sport,philosophy,ecology,arts,geography,physics,chem_tech,biology,phys_chem,young_spec,qual_work,hung_lang_max,ukr_lang_max,rus_lang_max,roman_lang_max,pol_lang_max,mold_lang_max,other_lang_max,eotypename_min,eoregname_min,eoareaname_min,eotername_min,eoparent_min,mathball100_mean,"Ступінь закладу ( I, I-II, I-III)",Кількість штатних працівників педагогічного персоналу разом,Кількість штатних працівників непедагогічного персоналу разом,Кількість штатних працівників педагогічного персоналу пенсійного віку,Кількість учнів разом,Кількість класів разом,"Видатки на функціонування закладу (загальний фонд), тис.грн.\n2018рік (касові видатки)","Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (план)","Разом кількість учнів, та дітей, які здобувають дошкільну освіту","Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (касові видатки)","Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (план)","Питома вага непедагогічного персоналу у загальній кількості працівників, %","Питома вага педагогічних працівників пенсійного віку у загальній кількості педагогічних працівників, %","Фактична наповнюваність класів, учнів на клас"
0,6,3,0,0,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,ліцей,Луганська область,Троїцький район,с.Демино-Олександрівка,"Відділ освіти, молоді та спорту Троїцької сели...",98.000000,I-III,15.0,6.0,2.0,62,8,NaN,NaN,NaN,NaN,NaN,0.285714,0.133333,7.750000
1,2,2,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,ліцей,Луганська область,Троїцький район,с.Лантратівка,"Відділ освіти, молоді та спорту Троїцької сели...",98.000000,I-III,17.0,9.0,4.0,96,11,NaN,NaN,NaN,NaN,NaN,0.346154,0.235294,8.727273
2,23,25,0,19,0,0,0,0,0,0,0,29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,навчально-виховний комплекс,м.Київ,м.Київ. Шевченківський район міста,Шевченківський район міста,Управління освіти Шевченківської районної в мі...,169.968750,I-III,53.0,34.0,14.0,782,27,NaN,NaN,NaN,NaN,NaN,0.390805,0.264151,28.962963
3,11,10,0,0,21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,ліцей,Луганська область,Троїцький район,смт Троїцьке,"Відділ освіти, молоді та спорту Троїцької сели...",96.285714,I-III,41.0,25.0,5.0,362,21,NaN,NaN,NaN,NaN,NaN,0.378788,0.121951,17.238095
4,5,4,0,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,середня загальноосвітня школа,Сумська область,Глухівський район,смт Шалигине,"Відділ освіти, молоді та спорту Шалигинської с...",56.000000,I-III,29.0,22.0,4.0,149,15,NaN,NaN,NaN,NaN,NaN,0.431373,0.137931,9.933333

In [37]:
class Preprocessing:
    DATA_TYPES = ['train','test']

    def __init__(self,
                 drop_strange_st_data: bool = True,
                 column_for_onehot: list = [],
                 scale_columns: list = []):

        self.drop_strange_st_data = drop_strange_st_data
        self.column_for_onehot = column_for_onehot
        self.scale_columns = scale_columns

        self.encoder = OneHotEncoder()
        self.scaler = MinMaxScaler()
        self.is_encoder_fit = False
        self.is_scaler_fit = False

    def process(self, 
                df: pd.DataFrame,
                data_type: str = 'train') -> pd.DataFrame:

        if data_type not in self.DATA_TYPES:
            raise ValueError(f'Unexpected data type. Data type must be one of {self.DATA_TYPES}.')
        
        if ((not self.is_encoder_fit) and (self.column_for_onehot)) and data_type == 'test':
            raise ValueError(f'Please, use train dataset first.')
            
        if ((not self.is_scaler_fit) and (self.scale_columns)) and data_type == 'test':
            raise ValueError(f'Please, use train dataset first.')

        if self.drop_strange_st_data:
            df = self._drop_strange_data_students_data(df)
        
        if self.column_for_onehot:
            df = self._one_hot_encoding(
                df = df,
                column_for_onehot = self.column_for_onehot,
                data_type = data_type
            )
            self.is_encoder_fit = True
        
        if self.scale_columns:
            df = self._scaling_columns(
                df = df,
                scale_columns = self.scale_columns,
                data_type = data_type
            )
            self.is_scaler_fit = True

        object_columns = self._get_object_columns(df)
        df,obj2num = self._encode_str_values(
            df = df,
            obj_columns = object_columns
        )

        self.obj2num = obj2num

        return df

    def _one_hot_encoding(self,
                          df: pd.DataFrame,
                          column_for_onehot: list,
                          data_type: str) -> pd.DataFrame:

        if data_type == 'train':
            data = self.encoder.fit_transform(df[column_for_onehot]).toarray()

        else: 
            data = self.encoder.transform(df[column_for_onehot]).toarray()

        df[self.encoder.get_feature_names_out(column_for_onehot)] = data
        df = df.drop(columns = column_for_onehot)

        return  df
    
    def _scaling_columns(self,
                         df: pd.DataFrame,
                         scale_columns: list,
                         data_type: str) -> pd.DataFrame:
        if data_type == 'train':
            df[scale_columns] = self.scaler.fit_transform(df[scale_columns])
        else: 
            df[scale_columns] = self.scaler.transform(df[scale_columns])

        return df
    
    @staticmethod
    def _encode_str_values(df: pd.DataFrame,
                           obj_columns: list) -> pd.DataFrame:
        obj2num = []
        for col in obj_columns:
            obj2num.append({col:{obj: i for i,obj in enumerate(set(df[col]))}})
            cur_num = obj2num[-1]
            df[col] = df[col].map(lambda x:cur_num[col][x])
        
        return (df,obj2num)

    @staticmethod
    def _drop_strange_data_students_data(df: pd.DataFrame) -> pd.DataFrame:
        return df.reset_index(drop=True)
    
    @staticmethod
    def _get_object_columns(df:pd.DataFrame) -> list:
        obj_col = []
        for column in df.columns:
            if df[column].dtype == 'object':
                obj_col.append(column)

        return obj_col

# Regression

In [38]:
X = df[col]

In [39]:
X = X.fillna(-1)

In [40]:
X.head()

,sexM,sexF,phys_mat,foreign_phyl,universal,ukr_phyl,technology,bio_phys,economy,history,sport,math,law,other,martial_sport,philosophy,ecology,arts,geography,physics,chem_tech,biology,phys_chem,young_spec,qual_work,hung_lang_max,ukr_lang_max,rus_lang_max,roman_lang_max,pol_lang_max,mold_lang_max,other_lang_max,eotypename_min,eoregname_min,eoareaname_min,eotername_min,eoparent_min,mathball100_mean,"Ступінь закладу ( I, I-II, I-III)",Кількість штатних працівників педагогічного персоналу разом,Кількість штатних працівників непедагогічного персоналу разом,Кількість штатних працівників педагогічного персоналу пенсійного віку,Кількість учнів разом,Кількість класів разом,"Видатки на функціонування закладу (загальний фонд), тис.грн.\n2018рік (касові видатки)","Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (план)","Разом кількість учнів, та дітей, які здобувають дошкільну освіту","Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (касові видатки)","Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (план)","Питома вага непедагогічного персоналу у загальній кількості працівників, %","Питома вага педагогічних працівників пенсійного віку у загальній кількості педагогічних працівників, %","Фактична наповнюваність класів, учнів на клас"
0,6,3,0,0,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,ліцей,Луганська область,Троїцький район,с.Демино-Олександрівка,"Відділ освіти, молоді та спорту Троїцької сели...",98.000000,I-III,15.0,6.0,2.0,62,8,-1.0,-1.0,-1.0,-1.0,-1,0.285714,0.133333,7.750000
1,2,2,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,ліцей,Луганська область,Троїцький район,с.Лантратівка,"Відділ освіти, молоді та спорту Троїцької сели...",98.000000,I-III,17.0,9.0,4.0,96,11,-1.0,-1.0,-1.0,-1.0,-1,0.346154,0.235294,8.727273
2,23,25,0,19,0,0,0,0,0,0,0,29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,навчально-виховний комплекс,м.Київ,м.Київ. Шевченківський район міста,Шевченківський район міста,Управління освіти Шевченківської районної в мі...,169.968750,I-III,53.0,34.0,14.0,782,27,-1.0,-1.0,-1.0,-1.0,-1,0.390805,0.264151,28.962963
3,11,10,0,0,21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,ліцей,Луганська область,Троїцький район,смт Троїцьке,"Відділ освіти, молоді та спорту Троїцької сели...",96.285714,I-III,41.0,25.0,5.0,362,21,-1.0,-1.0,-1.0,-1.0,-1,0.378788,0.121951,17.238095
4,5,4,0,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,середня загальноосвітня школа,Сумська область,Глухівський район,смт Шалигине,"Відділ освіти, молоді та спорту Шалигинської с...",56.000000,I-III,29.0,22.0,4.0,149,15,-1.0,-1.0,-1.0,-1.0,-1,0.431373,0.137931,9.933333

In [61]:
train_df,test_df = train_test_split(X,test_size=0.2,random_state=42)

In [62]:
onehotencode_col = ["eotypename_min", "Ступінь закладу ( I, I-II, I-III)"]

In [63]:
preprocessor = Preprocessing(
    drop_strange_st_data = False,
    column_for_onehot = onehotencode_col
)

In [64]:
preprocess_train_df = preprocessor.process(
    df = train_df,
    data_type = 'train'
)
preprocess_train_df

,sexM,sexF,phys_mat,foreign_phyl,universal,ukr_phyl,technology,bio_phys,economy,history,sport,math,law,other,martial_sport,philosophy,ecology,arts,geography,physics,chem_tech,biology,phys_chem,young_spec,qual_work,hung_lang_max,ukr_lang_max,rus_lang_max,roman_lang_max,pol_lang_max,mold_lang_max,other_lang_max,eoregname_min,eoareaname_min,eotername_min,eoparent_min,mathball100_mean,Кількість штатних працівників педагогічного персоналу разом,Кількість штатних працівників непедагогічного персоналу разом,Кількість штатних працівників педагогічного персоналу пенсійного віку,Кількість учнів разом,Кількість класів разом,"Видатки на функціонування закладу (загальний фонд), тис.грн.\n2018рік (касові видатки)","Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (план)","Разом кількість учнів, та дітей, які здобувають дошкільну освіту","Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (касові видатки)","Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (план)","Питома вага непедагогічного персоналу у загальній кількості працівників, %","Питома вага педагогічних працівників пенсійного віку у загальній кількості педагогічних працівників, %","Фактична наповнюваність класів, учнів на клас",eotypename_min_гімназія,eotypename_min_колегіум,eotypename_min_ліцей,eotypename_min_навчально-виховне об'єднання,eotypename_min_навчально-виховний комплекс,eotypename_min_середня загальноосвітня школа,eotypename_min_спеціальна загальноосвітня школа,eotypename_min_спеціалізована школа,"Ступінь закладу ( I, I-II, I-III)_I-III","Ступінь закладу ( I, I-II, I-III)_II-III","Ступінь закладу ( I, I-II, I-III)_III"
3196,38,45,0,0,0,0,0,0,0,0,0,52,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,8,537,1282,343,155.333333,67.0,30.0,16.0,1298,41,-1.0,-1.0,-1.0,-1.0,-1,0.309278,0.238806,31.658537,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3071,17,22,0,0,0,24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,19,652,784,543,99.200000,59.0,26.0,14.0,802,31,-1.0,-1.0,-1.0,-1.0,-1,0.305882,0.237288,25.870968,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6663,4,10,0,0,0,0,0,0,0,0,14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,14,98,2697,386,38.166667,32.0,20.0,2.0,280,19,-1.0,-1.0,-1.0,-1.0,-1,0.384615,0.062500,14.736842,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5582,30,23,0,0,0,0,0,0,0,0,0,27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,328,419,626,150.900000,57.0,28.0,18.0,1044,36,-1.0,-1.0,-1.0,-1.0,-1,0.329412,0.315789,29.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
969,3,5,0,0,0,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,8,189,3175,935,133.166667,18.0,11.0,2.0,184,13,-1.0,-1.0,-1.0,-1.0,-1,0.379310,0.111111,14.153846,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3772,14,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,30,0,0,0,0,1,0,0,0,0,0,6,583,3238,1124,147.000000,23.0,16.0,4.0,319,13,-1.0,-1.0,-1.0,-1.0,-1,0.410256,0.173913,24.538462,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5191,6,8,0,0,1,0,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,7,634,2078,611,112.000000,28.0,22.0,5.0,424,21,-1.0,-1.0,-1.0,-1.0,-1,0.440000,0.178571,20.190476,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5226,11,16,0,0,0,19,0,0,0,0,0,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,12,265,107,416,144.200000,37.0,29.0,8.0,434,20,-1.0,-1.0,-1.0,-1.0,-1,0.439394,0.216216,21.700000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
5390,11,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,13,609,558,351,142.000000,19.0,19.0,1.0,202,11,-1.0,-1.0,-1.0,-1.0,-1,0.500000,0.052632,18.363636,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
860,9,15,0,0,24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,2,94,1909,920,115.533333,43.0,40.0,9.0,529,33,-1.0,-1.0,-1.0,-1.0,-1,0.481928,0.209302,16.030303,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [65]:
preprocess_test_df = preprocessor.process(
    df = test_df,
    data_type = 'test'
)

In [66]:
rf_reg = RandomForestRegressor(
    random_state=42,
    max_depth=10,
    n_estimators=500
)

In [67]:
y_train = preprocess_train_df['mathball100_mean']
X_train = preprocess_train_df.drop(columns=['mathball100_mean'])
rf_reg.fit(X_train,y_train)

RandomForestRegressor(max_depth=10, n_estimators=500, random_state=42)

In [68]:
rf_reg.score(X_train,y_train)

0.5586916254955336

In [69]:
y_test = preprocess_test_df['mathball100_mean']
X_test = preprocess_test_df.drop(columns=['mathball100_mean'])
rf_reg.score(X_test,y_test)

0.22255316966766658

In [70]:
from sklearn.metrics import mean_squared_error
y_pred = rf_reg.predict(X_test)
mean_squared_error(y_test, y_pred)

1249.308622701803

In [71]:
y_pred[:5],y_test[:5]

(array([111.06869264, 103.23976064, 110.80278532,  91.94547674,
        107.93518492]),
 5665    142.777778
 994     147.200000
 6061    115.333333
 5711    139.000000
 4094    108.333333
 Name: mathball100_mean, dtype: float64)

# Classification

In [72]:
X = df[col]
X = X.fillna(-1)

In [73]:
def encode_statuc_binary(x):
    if x > 120:
        return 1
    return 0

X['mathball_status'] = X.mathball100_mean.map(encode_statuc_binary)

In [75]:
train_df,test_df = train_test_split(X, test_size=0.2, random_state=42)

In [76]:
onehotencode_col = ["eotypename_min", "Ступінь закладу ( I, I-II, I-III)"]
preprocessor = Preprocessing(
    drop_strange_st_data = False,
    column_for_onehot = onehotencode_col
)

In [77]:
preprocess_train_df = preprocessor.process(
    df = train_df,
    data_type = 'train'
)
preprocess_test_df = preprocessor.process(
    df = test_df,
    data_type = 'test'
)

In [84]:
rf_cf = RandomForestClassifier(
    random_state=42,
    max_depth=10,
    n_estimators=500
)

In [85]:
y_train = preprocess_train_df['mathball_status']
X_train = preprocess_train_df.drop(columns=['mathball_status', 'mathball100_mean'])
rf_cf.fit(X_train,y_train)

RandomForestClassifier(max_depth=10, n_estimators=500, random_state=42)

In [86]:
rf_cf.score(X_train,y_train)

0.7832850940665702

In [87]:
y_test = preprocess_test_df['mathball_status']
X_test = preprocess_test_df.drop(columns=['mathball_status', 'mathball100_mean'])
rf_cf.score(X_test,y_test)

0.6490593342981187

In [88]:
pred_train_y = rf_cf.predict(X_train)
pred_test_y = rf_cf.predict(X_test)

In [89]:
print('TRAIN DATA:')
print(classification_report(y_train,pred_train_y))
print('\n\n')
print('TEST DATA:')
print(classification_report(y_test,pred_test_y))

TRAIN DATA:
              precision    recall  f1-score   support

           0       0.71      0.89      0.79      2528
           1       0.88      0.69      0.78      3000

    accuracy                           0.78      5528
   macro avg       0.80      0.79      0.78      5528
weighted avg       0.80      0.78      0.78      5528




TEST DATA:
              precision    recall  f1-score   support

           0       0.60      0.75      0.67       652
           1       0.71      0.56      0.63       730

    accuracy                           0.65      1382
   macro avg       0.66      0.65      0.65      1382
weighted avg       0.66      0.65      0.65      1382