In [1]:
import pandas as pd
import re

Create dataset for the corresponding year

In [2]:
# dataset = pd.read_csv('/Users/scipyguru/Library/Mobile Documents/com~apple~CloudDocs/Documents_New/NY fairness/NeurIPS/ZNO-Dataset/notebooks/students_level/zno_preprocessed.csv')
# dataset_grad = dataset[(dataset.regtypename == 'Випускник української школи поточного року') & (dataset.year == 2020)]
# dataset_schools = dataset_grad[['eoname', 'eotypename', 'eoregname', 'eoareaname', 'eotername', 'eoparent']]
# eie_schools=dataset_schools.drop_duplicates()
# eie_schools.to_csv('schools2020.csv', index=False)

download dataset from EIE

In [3]:
eie_schools = pd.read_csv('schools2020.csv')

In [4]:
eie_schools.shape

(9432, 6)

In [5]:
eie_schools.eoregname

0            Донецька область
1          Полтавська область
2                      м.Київ
3           Львівська область
4          Рівненська область
                ...
9427        Луганська область
9428    Тернопільська область
9429      Хмельницька область
9430        Черкаська область
9431    Тернопільська область
Name: eoregname, Length: 9432, dtype: object

Create new column with region name and territory name in the format that matched with finance dataset

In [6]:
eie_schools['region'] = eie_schools.eoregname.str.split().str[0]
eie_schools['region'] = eie_schools['region'].str.replace('м.Київ', 'місто Київ')
eie_schools['tername'] = eie_schools.eoareaname.str.split().str[0]
eie_schools

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername
0,"Комунальний заклад ""Маріупольська загальноосві...",середня загальноосвітня школа,Донецька область,м.Маріуполь. Приморський район міста,Приморський район міста,Департамент освіти Маріупольської міської ради...,Донецька,м.Маріуполь.
1,"Опорний навчальний заклад ""Хомутецька загально...",середня загальноосвітня школа,Полтавська область,Миргородський район,с.Хомутець,Відділ освіти Миргородської райдержадміністрац...,Полтавська,Миргородський
2,"Товариство з обмеженою відповідальністю ""Центр...",середня загальноосвітня школа,м.Київ,м.Київ. Святошинський район міста,Святошинський район міста,"Управління освіти, молоді та спорту Святошинсь...",місто Київ,м.Київ.
3,Заклад загальної середньої освіти №87 Львівськ...,середня загальноосвітня школа,Львівська область,м.Львів. Галицький район міста,Галицький район міста,Відділ освіти Галицького та Франківського райо...,Львівська,м.Львів.
4,Любиковицька загальноосвітня школа І-ІІІ ступе...,середня загальноосвітня школа,Рівненська область,Сарненський район,с.Любиковичі,"Відділ освіти, молоді та спорту Сарненської ра...",Рівненська,Сарненський
...,...,...,...,...,...,...,...,...
9427,Сватівська обласна спеціальна школа,спеціальна загальноосвітня школа-інтернат,Луганська область,Сватівський район,м.Сватове,Департамент освіти і науки Луганської обласної...,Луганська,Сватівський
9428,Теребовлянський навчально-реабілітаційний центр,спеціальна загальноосвітня школа-інтернат,Тернопільська область,Теребовлянський район,м.Теребовля,Управління освіти і науки Тернопільської облас...,Тернопільська,Теребовлянський
9429,Тарнорудська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Хмельницька область,Волочиський район,с.Тарноруда,"Відділ освіти, молоді та спорту Волочиської мі...",Хмельницька,Волочиський
9430,"Тимченківський навчально-виховний комплекс ""До...",навчально-виховний комплекс,Черкаська область,Чорнобаївський район,с.Тимченки,Відділ освіти Чорнобаївської районної державно...,Черкаська,Чорнобаївський
9431,Олесинська загальноосвітня школа І-ІІІ ступенів,середня загальноосвітня школа,Тернопільська область,Козівський район,с.Олесине,Відділ освіти та спорту Козівської районної де...,Тернопільська,Козівський

download finance dataset

In [7]:
finance_schools = pd.read_excel('/Users/scipyguru/Library/Mobile Documents/com~apple~CloudDocs/Documents_New/NY fairness/NeurIPS/ZNO-Dataset/notebooks/school_level/fin_data/ZZSO-2020.xlsx', header = 1)

In [8]:
finance_schools.head()

,№ Області,Область,Тип школи: міська / сільська,№№,Назва тер. Одиниці,Найменування закладу,"Ступінь закладу ( I, I-II, I-III)",Загальна площа приміщень школи ( без господарських будівель) (кв.м.),Кількість штатних працівників педагогічного персоналу разом,Кількість штатних працівників непедагогічного персоналу разом,...,"Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (касові видатки)","Видатки на функціонування закладу (загальний фонд), тис.грн.\n2021 рік (план)","Видатки на 1 учня, 2020, тис. грн.","Видатки на 1 клас, тис. грн. 2020 рік (каса)",Опорна,Код бюджету,Форма власності,Код ДІСО,ЄДРПОУ,Примітка
0,2,Вінницька,місто,1,Козятинська міська ТГ,Загальноосвітній навчально-виховний комплекс І...,I-III,NaN,16.0,19.0,...,4388.111,5006.502,37.505222,487.567889,NaN,2553000000,комунальна,7137,25844555,NaN
1,2,Вінницька,місто,2,Козятинська міська ТГ,"КНЗ ""Загальноосвітня школа І-ІІІ ступенів №3 К...",I-III,NaN,27.0,15.0,...,6523.777,8614.601,20.909542,543.648083,NaN,2553000000,комунальна,6936,25844992,NaN
2,2,Вінницька,місто,3,Козятинська міська ТГ,"Комунальний навчальний заклад ""Загальноосвітня...",I-III,NaN,39.0,17.0,...,9273.777,12627.197,17.497692,441.608429,NaN,2553000000,комунальна,7149,25844928,NaN
3,2,Вінницька,місто,4,Козятинська міська ТГ,Загальноосвітня середня школа І-ІІІ ступенів №...,I-III,NaN,35.0,18.0,...,8654.501,11029.117,18.611830,455.500053,NaN,2553000000,комунальна,7191,25844970,NaN
4,2,Вінницька,місто,5,Козятинська міська ТГ,"Комунальний навчальний заклад ""Спеціалізована ...",I-III,NaN,55.0,21.0,...,14833.298,19559.764,18.089388,478.493484,NaN,2553000000,комунальна,6976,23101028,NaN

In [9]:
finance_schools.columns

Index(['№ Області', 'Область', 'Тип школи: міська / сільська', '№№',
       'Назва тер. Одиниці', 'Найменування закладу',
       'Ступінь закладу ( I, I-II, I-III)',
       'Загальна площа приміщень школи ( без господарських будівель) (кв.м.)',
       'Кількість штатних працівників педагогічного персоналу  разом',
       'Кількість штатних працівників непедагогічного персоналу  разом',
       'Кількість штатних працівників педагогічного персоналу  пенсійного віку',
       'Питома вага непедагогічного персоналу у загальній кількості працівників, %',
       'Питома вага педагогічних працівників пенсійного віку у загальній кількості педагогічних працівників, %',
       'Кількість учнів разом', 'Кількість класів разом',
       'Фактична наповнюваність класів, учнів на клас',
       'Показник співвідношення кількості учнів на одного вчителя, учнів на вчителя',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (касові видатки)',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2021 рік (план)',
       'Видатки на 1 учня, 2020, тис. грн.',
       'Видатки на 1 клас, тис. грн. 2020 рік (каса)', 'Опорна', 'Код бюджету',
       'Форма власності', 'Код ДІСО', 'ЄДРПОУ', 'Примітка'],
      dtype='object')

choose columns that give information about schools

In [10]:
finance_schools = finance_schools[['Область', 'Назва тер. Одиниці', 'Найменування закладу']]

Rename columns using a dictionary

In [74]:
set(finance_schools.region)==set(eie_schools.region)

True

In [11]:
new_columns = {'Область': 'region', 'Назва тер. Одиниці': 'tername', 'Найменування закладу': 'schoolname'}
finance_schools = finance_schools.rename(columns=new_columns)

In [12]:
finance_schools

,region,tername,schoolname
0,Вінницька,Козятинська міська ТГ,Загальноосвітній навчально-виховний комплекс І...
1,Вінницька,Козятинська міська ТГ,"КНЗ ""Загальноосвітня школа І-ІІІ ступенів №3 К..."
2,Вінницька,Козятинська міська ТГ,"Комунальний навчальний заклад ""Загальноосвітня..."
3,Вінницька,Козятинська міська ТГ,Загальноосвітня середня школа І-ІІІ ступенів №...
4,Вінницька,Козятинська міська ТГ,"Комунальний навчальний заклад ""Спеціалізована ..."
...,...,...,...
13453,місто Київ,місто Київ,"Спеціалізований навчально-виховний комплекс ""К..."
13454,місто Київ,місто Київ,"НВК ""Спеціалізована школа І ступеня з поглибле..."
13455,місто Київ,місто Київ,Початкова школа № 334 Дарницького району м. Києва
13456,місто Київ,місто Київ,Школа І ступеня № 333 Дарницького району м. Києва
13457,місто Київ,місто Київ,Початкова школа №332 Дарницького району м. Києва

In [13]:
finance_schools.shape

(13458, 3)

In [14]:
eie_schools.shape

(9432, 8)

In [15]:
df = pd.DataFrame(columns=['eoname', 'schoolname', 'regname'])
df

Empty DataFrame
Columns: [eoname, schoolname, regname]
Index: []

check for duplicates by the name of school

In [16]:
eie_schools[eie_schools.eoname.duplicated(keep=False)]

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername
4238,Писарівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Вінницька область,Вінницький район,с.Писарівка,Відділ освіти Вінницької районної державної ад...,Вінницька,Вінницький
5608,Озерянська загальноосвітня школа І-ІІІ ступенів,середня загальноосвітня школа,Тернопільська область,Бучацький район,с.Озеряни,Відділ освіти Бучацької районної державної адм...,Тернопільська,Бучацький
6893,Озерянська загальноосвітня школа І-ІІІ ступенів,середня загальноосвітня школа,Тернопільська область,Борщівський район,с.Озеряни,Відділ освіти та соціально-культурної сфери Оз...,Тернопільська,Борщівський
9087,Писарівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Хмельницька область,Волочиський район,с.Писарівка,"Відділ освіти, молоді та спорту, культури та т...",Хмельницька,Волочиський

since they are in different regions we can ignore it

In [17]:
finance_schools[finance_schools.schoolname.duplicated(keep=False)]

,region,tername,schoolname
9568,Тернопільська,Бучацька міська ТГ,Озерянська загальноосвітня школа І-ІІІ ступенів
9952,Тернопільська,Борщівська міська ТГ,Озерянська загальноосвітня школа І-ІІІ ступенів

In [18]:
eie_schools.loc[5608, 'eoname'] = eie_schools.loc[5608, 'eoname']+ 'Бучацького'
finance_schools.loc[9568, 'schoolname'] = finance_schools.loc[9568, 'schoolname']+ 'Бучацького'

In [19]:
eie_schools_temp = eie_schools
finance_schools_temp = finance_schools

In [20]:
for region in sorted(eie_schools.region.unique()):
    for eoname in eie_schools[eie_schools.region == region].eoname:
        if eoname in finance_schools[finance_schools.region == region].schoolname.unique():
            df = pd.concat([df, pd.DataFrame([{'eoname': eoname, 'schoolname': eoname, 'regname': region}])], ignore_index=True)
            eie_schools_temp = eie_schools_temp[eie_schools_temp.eoname != eoname]
            finance_schools_temp = finance_schools_temp[finance_schools_temp.schoolname != eoname]

df

,eoname,schoolname,regname
0,Калуська загальноосвітня школа І-ІІІ ступенів ...,Калуська загальноосвітня школа І-ІІІ ступенів ...,Івано-Франківська
1,Стецівський ліцей Снятинської районної ради Ів...,Стецівський ліцей Снятинської районної ради Ів...,Івано-Франківська
2,Івано-Франківський природничо-математичний ліц...,Івано-Франківський природничо-математичний ліц...,Івано-Франківська
3,Пасічнянський ліцей Надвірнянської районної ра...,Пасічнянський ліцей Надвірнянської районної ра...,Івано-Франківська
4,Снятинський ліцей імені Василя Стефаника Сняти...,Снятинський ліцей імені Василя Стефаника Сняти...,Івано-Франківська
...,...,...,...
2383,Школа І-ІІІ ступенів № 213 Деснянського району...,Школа І-ІІІ ступенів № 213 Деснянського району...,місто Київ
2384,"Гімназія №172 ""Нивки"" Шевченківського району м...","Гімназія №172 ""Нивки"" Шевченківського району м...",місто Київ
2385,Медична гімназія №33 міста Києва,Медична гімназія №33 міста Києва,місто Київ
2386,"Спеціалізована школа ІІ-ІІІ ступеня №325 ""Щастя""","Спеціалізована школа ІІ-ІІІ ступеня №325 ""Щастя""",місто Київ
2387,Школа І-ІІІ ступенів № 218 Деснянського району...,Школа І-ІІІ ступенів № 218 Деснянського району...,місто Київ

control the number of rows added and removed

In [21]:
print(eie_schools.shape[0]-eie_schools_temp.shape[0])
print(finance_schools.shape[0] - finance_schools_temp.shape[0])
print(df.shape[0])

2388
2388
2388

Creating id from school's name

In [22]:
eie_schools_temp['id'] = eie_schools_temp['eoname']
eie_schools_temp['id'] = eie_schools_temp['id'].str.replace('[\s]', '', regex = True)
eie_schools_temp.loc[eie_schools_temp['id'].str.endswith('обл'), 'id'] = eie_schools_temp.loc[eie_schools_temp['id'].str.endswith('обл'), 'id'] + '.'
eie_schools_temp['id'] = eie_schools_temp['id'].str.replace('І', 'I')
eie_schools_temp['id'] = eie_schools_temp['id'].str.replace('I-III', '3')
eie_schools_temp['id'] = eie_schools_temp['id'].str.replace('I-II', '2')
eie_schools_temp['id'] = eie_schools_temp['id'].str.lower()

dct = {'с.':'села', 'ст.':'ступенів', 'ім.':'імені', 'iм.':'імені', 'обл.': 'області', 
       '||||':'3', '|||':'2',
       'i':'', 'і':'', 'ї':'', 'o':'о', 'y':'у', 'p':'р', 'c':'с', 'ґ':'г', 'e':'е', 'a':'а', 'k':'к', 'x': 'х',
       "'":'', "’":'', ",":'', ".":'', "«":'', "»":'', "–":'', "-":'', 
       "_x000d_":'', '_x000D_':'', "_":'', "(":'', ")":'', "[":'', "]":'', "}":'', "{":'', 
       "нвк":'навчальновиховнийкомплекс', 'знз': 'загальноосвтнйнавчальнийзаклад', 'нн':'н', 'днз': 'дошкльнийнавчальнийзаклад'}

for symb in dct:
    eie_schools_temp['id'] = eie_schools_temp['id'].str.replace(symb, dct[symb])

eie_schools_temp['id'] = eie_schools_temp['id'].str.replace('"', '', regex = True)

In [23]:
eie_schools_temp.head(10)

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
2,"Товариство з обмеженою відповідальністю ""Центр...",середня загальноосвітня школа,м.Київ,м.Київ. Святошинський район міста,Святошинський район міста,"Управління освіти, молоді та спорту Святошинсь...",місто Київ,м.Київ.,товариствозобмеженоювдповдальнстюцентрдистанцй...
6,Ліцей №7 Івано-Франківської міської ради,середня загальноосвітня школа,Івано-Франківська область,м.Івано-Франківськ,м.Івано-Франківськ,Департамент освіти і науки Івано-Франківської ...,Івано-Франківська,м.Івано-Франківськ,лцей№7ванофранквськомськоради
7,"Репинський навчально-виховний комплекс ""загаль...",навчально-виховний комплекс,Закарпатська область,Міжгірський район,с.Репинне,Відділ освіти Міжгірської районної державної а...,Закарпатська,Міжгірський,репинськийнавчальновиховнийкомплексзагальноосв...
8,Криворізька загальноосвітня школа І-ІІІ ступен...,середня загальноосвітня школа,Дніпропетровська область,м.Кривий Ріг. Тернівський район міста,Тернівський район міста,Відділ освіти виконавчого комітету Тернівської...,Дніпропетровська,м.Кривий,криворзьказагальноосвтняшкола3ступенв№27кривор...
9,Комунальна установа Сумська загальноосвітня шк...,середня загальноосвітня школа,Сумська область,м.Суми. Зарічний район міста,Зарічний район міста,Управління освіти і науки Сумської міської ради,Сумська,м.Суми.,комунальнаустановасумськазагальноосвтняшкола3с...
10,Павлоградська загальноосвітня школа І-ІІІ ступ...,середня загальноосвітня школа,Дніпропетровська область,м.Павлоград,м.Павлоград,Відділ освіти Павлоградської міської ради Дніп...,Дніпропетровська,м.Павлоград,павлоградськазагальноосвтняшкола3ступенв№7павл...
11,"Навчально-виховний комплекс ""Оженинська загаль...",навчально-виховний комплекс,Рівненська область,Острозький район,с.Оженин,Відділ освіти Острозької районної державної ад...,Рівненська,Острозький,навчальновиховнийкомплексоженинськазагальноосв...
12,"Комунальний заклад ""Луцький навчально-виховний...",навчально-виховний комплекс,Волинська область,м.Луцьк,м.Луцьк,Управління освіти Луцької міської ради Волинсь...,Волинська,м.Луцьк,комунальнийзакладлуцькийнавчальновиховнийкомпл...
13,Широківська загальноосвітня школа I-III ступен...,середня загальноосвітня школа,Херсонська область,Скадовський район,с.Широке,"Відділ освіти, культури, молоді та спорту Скад...",Херсонська,Скадовський,широквськазагальноосвтняшкола3ступенвскадовськ...
14,"Новоушицький навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,Хмельницька область,Новоушицький район,смт Нова Ушиця,"Відділ освіти, молоді та спорту Новоушицької с...",Хмельницька,Новоушицький,новоушицькийнавчальновиховнийкомплексзагальноо...

In [24]:
finance_schools_temp['id'] = finance_schools_temp.schoolname
finance_schools_temp['id'] = finance_schools_temp['id'].str.replace('[\s]', '', regex = True)
finance_schools_temp.loc[finance_schools_temp['id'].str.endswith('обл'), 'id'] = finance_schools_temp.loc[finance_schools_temp['id'].str.endswith('обл'), 'id'] + '.'
finance_schools_temp['id'] = finance_schools_temp['id'].str.replace('І', 'I')
finance_schools_temp['id'] = finance_schools_temp['id'].str.replace('I-III', '3')
finance_schools_temp['id'] = finance_schools_temp['id'].str.replace('I-II', '2')
finance_schools_temp['id'] = finance_schools_temp['id'].str.lower()

dct = {'с.':'села', 'ст.':'ступенів', 'ім.':'імені', 'iм.':'імені', 'обл.': 'області', 
       '||||':'3', '|||':'2',
       'i':'', 'і':'', 'ї':'', 'o':'о', 'y':'у', 'p':'р', 'c':'с', 'ґ':'г', 'e':'е', 'a':'а', 'k':'к', 'x': 'х',
       "'":'', "’":'', ",":'', ".":'', "«":'', "»":'', "–":'', "-":'', 
       "_x000d_":'', '_x000D_':'', "_":'', "(":'', ")":'', "[":'', "]":'', "}":'', "{":'', 
       "нвк":'навчальновиховнийкомплекс', 'знз': 'загальноосвтнйнавчальнийзаклад', 'нн':'н', 'днз': 'дошкльнийнавчальнийзаклад'}

for symb in dct:
    finance_schools_temp['id'] = finance_schools_temp['id'].str.replace(symb, dct[symb])

finance_schools_temp['id'] = finance_schools_temp['id'].str.replace('"', '', regex = True)
finance_schools_temp.head()

,region,tername,schoolname,id
0,Вінницька,Козятинська міська ТГ,Загальноосвітній навчально-виховний комплекс І...,загальноосвтнйнавчальновиховнийкомплекс3ступен...
1,Вінницька,Козятинська міська ТГ,"КНЗ ""Загальноосвітня школа І-ІІІ ступенів №3 К...",кнззагальноосвтняшкола3ступенв№3козятинськомсь...
2,Вінницька,Козятинська міська ТГ,"Комунальний навчальний заклад ""Загальноосвітня...",комунальнийнавчальнийзакладзагальноосвтняшкола...
3,Вінницька,Козятинська міська ТГ,Загальноосвітня середня школа І-ІІІ ступенів №...,загальноосвтнясередняшкола3ступенв№5козятинськ...
4,Вінницька,Козятинська міська ТГ,"Комунальний навчальний заклад ""Спеціалізована ...",комунальнийнавчальнийзакладспецалзованашкола3с...

check duplicates inside regions of interest for both datasets

In [25]:
for region in sorted(eie_schools_temp.region.unique()):
    region_school = eie_schools_temp[eie_schools_temp.region == region]
    region_finance = finance_schools_temp[finance_schools_temp.region == region]
    for id in region_school.id:
        if id in region_finance.id.unique():
            if len(region_school[region_school.id == id]) > 1 or len(region_finance[region_finance.id == id]) > 1:
                print('eie')
                display(region_school[region_school.id == id])
                print('finance')
                display(region_finance[region_finance.id == id])

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
169,ІІ-Іванівська загальноосвітня школа I-III ступ...,середня загальноосвітня школа,Харківська область,Барвінківський район,с-ще Іванівка,Відділ освіти Барвінківської районної державно...,Харківська,Барвінківський,ванвськазагальноосвтняшкола3ступенвбарвнквсько...
8884,І-Іванівська загальноосвітня школа I-III ступе...,середня загальноосвітня школа,Харківська область,Барвінківський район,с.Іванівка,Відділ освіти Барвінківської районної державно...,Харківська,Барвінківський,ванвськазагальноосвтняшкола3ступенвбарвнквсько...

finance

,region,tername,schoolname,id
10420,Харківська,Барвінківська міська ТГ,ІІ-Іванівська загальноосвітня школа І-ІІІ ступ...,ванвськазагальноосвтняшкола3ступенвбарвнквсько...
10423,Харківська,Барвінківська міська ТГ,І-Іванівська загальноосвітня школа І-ІІІ ступе...,ванвськазагальноосвтняшкола3ступенвбарвнквсько...

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
169,ІІ-Іванівська загальноосвітня школа I-III ступ...,середня загальноосвітня школа,Харківська область,Барвінківський район,с-ще Іванівка,Відділ освіти Барвінківської районної державно...,Харківська,Барвінківський,ванвськазагальноосвтняшкола3ступенвбарвнквсько...
8884,І-Іванівська загальноосвітня школа I-III ступе...,середня загальноосвітня школа,Харківська область,Барвінківський район,с.Іванівка,Відділ освіти Барвінківської районної державно...,Харківська,Барвінківський,ванвськазагальноосвтняшкола3ступенвбарвнквсько...

finance

,region,tername,schoolname,id
10420,Харківська,Барвінківська міська ТГ,ІІ-Іванівська загальноосвітня школа І-ІІІ ступ...,ванвськазагальноосвтняшкола3ступенвбарвнквсько...
10423,Харківська,Барвінківська міська ТГ,І-Іванівська загальноосвітня школа І-ІІІ ступе...,ванвськазагальноосвтняшкола3ступенвбарвнквсько...

resolving duplicates

In [26]:
eie_schools_temp.loc[169, 'id'] = 'II'+eie_schools_temp.loc[169, 'id']
eie_schools_temp.loc[8884, 'id'] = 'I' +eie_schools_temp.loc[8884, 'id']
finance_schools_temp.loc[10420, 'id'] = 'II'+finance_schools_temp.loc[10420, 'id']
finance_schools_temp.loc[10423, 'id'] = 'I'+finance_schools_temp.loc[10423, 'id']

checking again

In [27]:
for region in sorted(eie_schools_temp.region.unique()):
    region_school = eie_schools_temp[eie_schools_temp.region == region]
    region_finance = finance_schools_temp[finance_schools_temp.region == region]
    for id in region_school.id:
        if id in region_finance.id.unique():
            if len(region_school[region_school.id == id]) > 1 or len(region_finance[region_finance.id == id]) > 1:
                print('data')
                display(region_school[region_school.id == id])
                print('finance')
                display(region_finance[region_finance.id == id])

In [28]:
eie_schools_temp1 = eie_schools_temp
finance_schools_temp1 = finance_schools_temp

matching by id

In [29]:
for region in sorted(eie_schools_temp.region.unique()):
    region_school = eie_schools_temp[eie_schools_temp.region == region]
    region_finance = finance_schools_temp[finance_schools_temp.region == region]
    for id in region_school.id:
        if id in region_finance.id.unique():
            df = pd.concat([df, pd.DataFrame([{'eoname': eie_schools_temp.loc[eie_schools_temp.id == id, 'eoname'].iloc[0], 'schoolname': finance_schools_temp.loc[finance_schools_temp.id == id, 'schoolname'].iloc[0], 'regname': region}])], ignore_index=True)
            eie_schools_temp1 = eie_schools_temp1[~((eie_schools_temp1.region == region) & (eie_schools_temp1.id == id))]
            finance_schools_temp1 = finance_schools_temp1[~((finance_schools_temp1.region == region) & (finance_schools_temp1.id == id))]


df.shape

(6171, 3)

In [30]:
print(eie_schools.shape[0]-eie_schools_temp1.shape[0])
print(finance_schools.shape[0] - finance_schools_temp1.shape[0])
print(df.shape[0])

6171
6171
6171

In [31]:
df

,eoname,schoolname,regname
0,Калуська загальноосвітня школа І-ІІІ ступенів ...,Калуська загальноосвітня школа І-ІІІ ступенів ...,Івано-Франківська
1,Стецівський ліцей Снятинської районної ради Ів...,Стецівський ліцей Снятинської районної ради Ів...,Івано-Франківська
2,Івано-Франківський природничо-математичний ліц...,Івано-Франківський природничо-математичний ліц...,Івано-Франківська
3,Пасічнянський ліцей Надвірнянської районної ра...,Пасічнянський ліцей Надвірнянської районної ра...,Івано-Франківська
4,Снятинський ліцей імені Василя Стефаника Сняти...,Снятинський ліцей імені Василя Стефаника Сняти...,Івано-Франківська
...,...,...,...
6166,Середня загальноосвітня школа І-ІІІ ступенів №...,Середня загальноосвітня школа I-III ступенів №...,місто Київ
6167,Школа І-ІІІ ступенів № 119 Деснянського району...,школа І-ІІІ ступенів № 119 Деснянського району...,місто Київ
6168,Загальноосвітній навчальний заклад І-ІІІ ступе...,Загальноосвітній навчальний заклад І-ІІІ ступе...,місто Київ
6169,Школа І-ІІІ ступенів №150 міста Києва,Школа І - ІІІ ступенів № 150 міста Києва,місто Київ
6170,Спеціалізована школа І-ІІІ ступенів з поглибле...,Спеціалізована школа І-ІІІ ступенів з поглибле...,місто Київ

matching by id trimming to the length of the other id

In [32]:
eie_schools_temp2 = eie_schools_temp1
finance_schools_temp2 = finance_schools_temp1

In [33]:
(eie_schools.shape[0]-eie_schools_temp2.shape[0]) == (finance_schools.shape[0]-finance_schools_temp2.shape[0])

True

In [34]:
for region in sorted(eie_schools_temp1.region.unique()):
    region_schools = eie_schools_temp1[eie_schools_temp1.region == region]
    region_finance = finance_schools_temp1[finance_schools_temp1.region == region]
    for id in region_schools.id:
        if (id in region_finance.id.str[:len(id)].unique()) and \
             re.findall(r'№(\d+)', region_schools.loc[region_schools.id == id, 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id.str[:len(id)] == id, 'schoolname'].iloc[0]):
            if len(region_schools[region_schools.id == id])>1 or len(region_finance[region_finance.id.str[:len(id)] == id]) >1:
                print('eie')
                display(region_schools[region_schools.id == id])
                print('finance')
                display(region_finance[region_finance.id.str[:len(id)] == id])

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
8807,Романівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Романівський район,с.Романівка,Відділ освіти Романівської районної державної ...,Житомирська,Романівський,романвськазагальноосвтняшкола3ступенв

finance

,region,tername,schoolname,id
2370,Житомирська,Райгородоцька сільська ТГ,Романівська загальноосвітня школа І - ІІІ ступ...,романвськазагальноосвтняшкола3ступенвбердичвсь...
2387,Житомирська,Романівська селищна ТГ,РОМАНІВСЬКА ЗАГАЛЬНООСВІТНЯ ШКОЛА І-ІІІ СТУПЕН...,романвськазагальноосвтняшкола3ступенвроманвськ...
2697,Житомирська,Квітнева сільська ТГ,РОМАНІВСЬКА ЗАГАЛЬНООСВІТНЯ ШКОЛА І-ІІІ СТУПЕН...,романвськазагальноосвтняшкола3ступенвменментри...

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
9097,Бистрицька загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Ружинський район,с.Бистрик,Відділ освіти Ружинської районної державної ад...,Житомирська,Ружинський,бистрицьказагальноосвтняшкола3ступенв

finance

,region,tername,schoolname,id
2374,Житомирська,Райгородоцька сільська ТГ,Бистрицька загальноосвітня школа І-ІІІ ступені...,бистрицьказагальноосвтняшкола3ступенвбердичвсь...
2529,Житомирська,Ружинська селищна ТГ,Бистрицька загальноосвітня школа І-ІІІ ступені...,бистрицьказагальноосвтняшкола3ступенвх000dружи...

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
6804,Вільховецька загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Хмельницька область,Чемеровецький район,с.Вільхівці,"Відділ освіти, культури, молоді та спорту Чеме...",Хмельницька,Чемеровецький,вльховецьказагальноосвтняшкола3ступенв

finance

,region,tername,schoolname,id
11400,Хмельницька,Закупненська селищна ТГ,Вільховецька загальноосвітня школа І-ІІІ ступе...,вльховецьказагальноосвтняшкола3ступенвчемерове...
11549,Хмельницька,Новоушицька селищна ТГ,Вільховецька загальноосвітня школа І-ІІІ ступе...,вльховецьказагальноосвтняшкола3ступенвменфедор...

resolving duplicates

In [35]:
eie_schools_temp1.loc[8807, 'id'] = 'ром'+eie_schools_temp1.loc[8807, 'id']
finance_schools_temp1.loc[2387, 'id'] = 'ром' +finance_schools_temp1.loc[2387, 'id']
eie_schools_temp1.loc[9097, 'id'] = 'руж'+eie_schools_temp1.loc[9097, 'id']
finance_schools_temp1.loc[2529, 'id'] = 'руж'+finance_schools_temp1.loc[2529, 'id']
eie_schools_temp1.loc[6804, 'id'] = 'ново'+eie_schools_temp1.loc[6804, 'id']
finance_schools_temp1.loc[11549, 'id'] = 'ново'+finance_schools_temp1.loc[11549, 'id']

checking after removing

In [36]:
for region in sorted(eie_schools_temp1.region.unique()):
    region_schools = eie_schools_temp1[eie_schools_temp1.region == region]
    region_finance = finance_schools_temp1[finance_schools_temp1.region == region]
    for id in region_schools.id:
        if (id in region_finance.id.str[:len(id)].unique()) and \
             re.findall(r'№(\d+)', region_schools.loc[region_schools.id == id, 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id.str[:len(id)] == id, 'schoolname'].iloc[0]):
            if len(region_schools[region_schools.id == id])>1 or len(region_finance[region_finance.id.str[:len(id)] == id]) >1:
                print('eie')
                display(region_schools[region_schools.id == id])
                print('finance')
                display(region_finance[region_finance.id.str[:len(id)] == id])

matching

In [37]:
for region in sorted(eie_schools_temp1.region.unique()):
    region_schools = eie_schools_temp1[eie_schools_temp1.region == region]
    region_finance = finance_schools_temp1[finance_schools_temp1.region == region]
    for id in region_schools.id:
        if (id in region_finance.id.str[:len(id)].unique()) and \
             re.findall(r'№(\d+)', region_schools.loc[region_schools.id == id, 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id.str[:len(id)] == id, 'schoolname'].iloc[0]):
            df = pd.concat([df, pd.DataFrame([{'eoname': region_schools.loc[region_schools.id == id, 'eoname'].iloc[0], \
                                            'schoolname': region_finance.loc[region_finance.id.str[:len(id)] == id, 'schoolname'].iloc[0],
                                            'regname': region}])], ignore_index=True)
            eie_schools_temp2 = eie_schools_temp2[~((eie_schools_temp2.region == region) & (eie_schools_temp2.id == id))]
            finance_schools_temp2 = finance_schools_temp2[~((finance_schools_temp2.region == region) & (finance_schools_temp2.id.str[:len(id)] == id))]

df.shape

(6627, 3)

In [38]:
df.tail(10)

,eoname,schoolname,regname
6617,"Навчально-виховний комплекс ""Спеціалізована шк...","Навчально-виховний комплекс ""Спеціалізована шк...",місто Київ
6618,Загальноосвітній навчальний заклад І-ІІІ ступе...,Загальноосвітній навчальний заклад I-III ступе...,місто Київ
6619,"Навчально-виховний комплекс ""Школа І-ІІ ступен...","Навчально-виховний комплекс ""Школа I-II ступен...",місто Київ
6620,Спеціалізована школа №80,Спеціалізована школа №80 Печерського району мі...,місто Київ
6621,Ліцей міжнародних відносин №51,Ліцей міжнародних відносин №51 міста Києва,місто Київ
6622,"Гімназія №32 ""Успіх""","Гімназія №32 ""Успіх"" Печерського району м. Києва",місто Київ
6623,Комунальний навчальний заклад «Навчально-вихов...,"Комунальний навчальний заклад ""Навчально-вихов...",місто Київ
6624,Предславинська гімназія №56,Предславинська гімназія №56 Печерського району...,місто Київ
6625,Спеціалізована школа №47 імені А.С.Макаренка,Спеціалізована школа №47 імені А.С.Макаренка з...,місто Київ
6626,Ліцей інформаційних технологій №79,Ліцей інформаційних технологій №79 Печерського...,місто Київ

In [39]:
print(eie_schools.shape[0]-eie_schools_temp2.shape[0])
print(finance_schools.shape[0] - finance_schools_temp2.shape[0])
print(df.shape[0])

6627
6627
6627

matching by trimming in different direction

In [40]:
eie_schools_temp3 = eie_schools_temp2
finance_schools_temp3 = finance_schools_temp2

In [41]:
for region in sorted(eie_schools_temp2.region.unique()):
    region_schools = eie_schools_temp2[eie_schools_temp2.region == region]
    region_finance = finance_schools_temp2[finance_schools_temp2.region == region]
    for id in region_finance.id:
        if (id in region_schools.id.str[:len(id)].unique()) and \
            re.findall(r'№(\d+)', region_schools.loc[region_schools.id.str[:len(id)] == id, 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id == id, 'schoolname'].iloc[0]):
            if len(region_schools[region_schools.id.str[:len(id)] == id])>1 or len(region_finance[region_finance.id == id]) >1:
                print('data')
                display(region_schools[region_schools.id.str[:len(id)] == id])
                print('finance')
                display(region_finance[region_finance.id == id])

data

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
955,Яланецька загальноосвітня школа I-III ступенів...,середня загальноосвітня школа,Вінницька область,Томашпільський район,с.Яланець,Відділ освіти Томашпільської районної державно...,Вінницька,Томашпільський,яланецьказагальноосвтняшкола3ступенвтомашпльсь...
3472,Яланецька загальноосвітня школа I-III ступенів...,середня загальноосвітня школа,Вінницька область,Бершадський район,с.Яланець,"Відділ освіти, фізичної культури та спорту Бер...",Вінницька,Бершадський,яланецьказагальноосвтняшкола3ступенвбершадсько...

finance

,region,tername,schoolname,id
45,Вінницька,Бершадська міська ТГ,Яланецька загальноосвітня школа І-ІІІ ступенів,яланецьказагальноосвтняшкола3ступенв

data

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
1323,Олександрівська загальноосвітня школа I-III ст...,середня загальноосвітня школа,Херсонська область,Голопристанський район,с.Олександрівка,"Відділ освіти, культури, молоді та спорту Голо...",Херсонська,Голопристанський,олександрвськазагальноосвтняшкола3ступенволекс...
1895,Олександрівська загальноосвітня школа I-III ст...,середня загальноосвітня школа,Херсонська область,Білозерський район,с.Олександрівка,"Відділ освіти, молоді і спорту Білозерської ра...",Херсонська,Білозерський,олександрвськазагальноосвтняшкола3ступенвблозе...
8397,Олександрівська загальноосвітня школа I-III ст...,середня загальноосвітня школа,Херсонська область,Новотроїцький район,с.Олександрівка,Відділ освіти Новотроїцької районної державної...,Херсонська,Новотроїцький,олександрвськазагальноосвтняшкола3ступенвновот...

finance

,region,tername,schoolname,id
11009,Херсонська,Новотроїцька селищна ТГ,Олександрівська загальноосвітня школа І-ІІІ ст...,олександрвськазагальноосвтняшкола3ступенв

In [42]:
eie_schools_temp2.loc[3472, 'id'] = 'бер'+eie_schools_temp2.loc[3472, 'id']
finance_schools_temp2.loc[45, 'id'] = 'бер' +finance_schools_temp2.loc[45, 'id']
eie_schools_temp2.loc[8397, 'id'] = 'новот'+eie_schools_temp2.loc[8397, 'id']
finance_schools_temp2.loc[11009, 'id'] = 'новот'+finance_schools_temp2.loc[11009, 'id']

In [43]:
for region in sorted(eie_schools_temp2.region.unique()):
    region_schools = eie_schools_temp2[eie_schools_temp2.region == region]
    region_finance = finance_schools_temp2[finance_schools_temp2.region == region]
    for id in region_finance.id:
        if (id in region_schools.id.str[:len(id)].unique()) and \
            re.findall(r'№(\d+)', region_schools.loc[region_schools.id.str[:len(id)] == id, 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id == id, 'schoolname'].iloc[0]):
            if len(region_schools[region_schools.id.str[:len(id)] == id])>1 or len(region_finance[region_finance.id == id]) >1:
                print('data')
                display(region_schools[region_schools.id.str[:len(id)] == id])
                print('finance')
                display(region_finance[region_finance.id == id])

In [44]:
for region in sorted(eie_schools_temp2.region.unique()):
    region_schools = eie_schools_temp2[eie_schools_temp2.region == region]
    region_finance = finance_schools_temp2[finance_schools_temp2.region == region]
    for id in region_finance.id:
        if (id in region_schools.id.str[:len(id)].unique()) and \
            re.findall(r'№(\d+)', region_schools.loc[region_schools.id.str[:len(id)] == id, 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id == id, 'schoolname'].iloc[0]):
            df = pd.concat([df, pd.DataFrame([{'eoname':region_schools.loc[region_schools.id.str[:len(id)] == id, 'eoname'].iloc[0], \
                                            'schoolname': region_finance.loc[region_finance.id == id, 'schoolname'].iloc[0],
                                            'regname':region}])], ignore_index=True)
            eie_schools_temp3 = eie_schools_temp3[~((eie_schools_temp3.region == region) & (eie_schools_temp3.id.str[:len(id)] == id))]
            finance_schools_temp3 = finance_schools_temp3[~((finance_schools_temp3.region == region) & (finance_schools_temp3.id == id))]
df.shape

(6950, 3)

In [45]:
print(eie_schools.shape[0]-eie_schools_temp3.shape[0])
print(finance_schools.shape[0] - finance_schools_temp3.shape[0])
print(df.shape[0])

6950
6950
6950

In [46]:
df.tail(10)

,eoname,schoolname,regname
6940,Парафіївська загальноосвітня школа I-III ступе...,Парафіївська загальноосвітня школа І-ІІІ ступе...,Чернігівська
6941,Южненська загальноосвітня школа I-III ступенів...,Южненська загальноосвітня школа І-ІІІ ступенів...,Чернігівська
6942,Салтиково-Дівицький заклад загальної середньої...,Салтиково - Дівицький заклад загальної середнь...,Чернігівська
6943,Горбівський заклад загальної середньої освіти ...,Горбівський заклад загальної середньої освіти ...,Чернігівська
6944,Олишівська загальноосвітня школа I-III ступені...,Олишівська загальноосвітня школа І-ІІІ ступені...,Чернігівська
6945,Спеціалізована школа №7 імені М.Т.Рильського м...,Спеціалізована школа №7 імені М.Т.Рильського,місто Київ
6946,Школа І-ІІІ ступенів №70 Шевченківського район...,Школа І-ІІІ ступенів №70 Шевченківського району,місто Київ
6947,Спеціалізована школа №185 імені Володимира Вер...,Спеціалізована школа №185 ім. Володимира Верна...,місто Київ
6948,Спеціалізована школа І-ІІІ ступенів №61 з погл...,Спеціалізована школа І-ІІІ ступенів №61 з погл...,місто Київ
6949,Середня загальноосвітня школа №288 Святошинськ...,Середня загальноосвітня школа №288,місто Київ

downloading dataset that has information about the status (private or public) iof schools

In [47]:
schools = pd.read_excel('/Users/scipyguru/Library/Mobile Documents/com~apple~CloudDocs/Documents_New/NY fairness/NeurIPS/ZNO/Заклади загальної середньої освіти.xlsx')
schools

,Повна назва,Код в ЄДЕБО,ОУО підтвердив дані,Скорочена назва,Статус,Тип закладу,Форма власності,Код КОАТУУ,Регіон,Населений пункт,...,Телефон,Факс,Електронна пошта,Веб-сайт,Керівник,Опорний / Філія,Сільський,Гірський,Інтернат,Ліцензовані обсяги
0,гімназія №179 міста Києва,148440,так,гімназія №179 міста Києва,працює,гімназія,Комунальна,8036100000,КИЇВ,Київ,...,(044)2584242,NaN,gymn179@hotmail.com,http://179.kiev.ua,Директор Бойко Ірина Львівна,ні,ні,ні,ні,1800.0
1,гімназія №59 імені О.М. Бойченка міста Києва,148414,так,гімназія №59,працює,гімназія,Комунальна,8036100000,КИЇВ,Київ,...,(044)5252138,(044)5252138,gymnasium59@ukr.net,http://gymnasium59.org.ua/,Директор Антоненко Тетяна Стефанівна,ні,ні,ні,ні,1800.0
2,Еколого-природничий ліцей №116 міста Києва,148429,так,Еколого-природничий ліцей №116 міста Києва,працює,ліцей,Комунальна,8036100000,КИЇВ,Київ,...,(044)2589988,(044)2589988,ecoprirodnichi116@gmail.com,http://eco116.at.ua/,Директор Авраменко Таміла Олексіївна,ні,ні,ні,ні,NaN
3,"Заклад освіти ""Приватний загальноосвітній навч...",148411,так,"ЗО ""ПЗНЗ ""МІДГАРД""",працює,школа,Приватна,8036100000,КИЇВ,Київ,...,(098)888-09-99,NaN,midgard.kiev@gmail.com,http://www.midgard.school,Директор Попов Олег Анатолійович,ні,ні,ні,ні,600.0
4,Ліцей «Гранд»,148412,так,Ліцей «Гранд»,працює,ліцей,Приватна,8036100000,КИЇВ,Київ,...,(044)2871457,NaN,school@grand.kiev.ua,www.grandschool.com.ua,Директор Зайчук Світлана Анатоліївна,ні,ні,ні,ні,250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16254,"комунальний заклад ""Яблунівський ліцей"" Черніг...",139767,так,"КЗ ""Яблунівський ліцей""",працює,ліцей,Комунальна,7424189701,Чернігівська область,"с. Яблунівка, Прилуцький район, Чернігівська о...",...,"(04637)65238, (04637)65282",NaN,Yablunovka@ukr.net,NaN,Директор Шаповаленко Неоніла Олександрівна,Опорний заклад,так,ні,так,170.0
16255,Яблунівська загальноосвітня школа I-III ступен...,144175,так,Яблунівська ЗОШ І-ІІІ ступенів,працює,школа,Комунальна,7424189701,Чернігівська область,"с. Яблунівка, Прилуцький район, Чернігівська о...",...,(04637)6-52-42,NaN,yablunivkask@ukr.net,NaN,Директор Колесник Анатолій Васильович,ні,так,ні,ні,320.0
16256,Ядутинська загальноосвітня школа І-ІІІ ступені...,135163,так,Ядутинська ЗОШ І-ІІІ ст.,працює,школа,Комунальна,7420889601,Чернігівська область,"с. Ядути, Борзнянський район, Чернігівська обл...",...,(04653)27571,NaN,yaduti@ukr.net,NaN,Шостак Ірина Володимирівна,ні,так,ні,ні,1.0
16257,Янжулівська філія І-ІІ ступенів Семенівської г...,134967,так,Янжулівська філія І-ІІ ст.,працює,школа,Комунальна,7424781701,Чернігівська область,"с. Янжулівка, Семенівський район, Чернігівська...",...,(046)5924644,NaN,NaN,NaN,Завідувач філією Подоляк Ірина Миколаївна,Філія,так,ні,ні,90.0
16258,Ярославська філія І-ІІ ступенів Бобровицькогоз...,141845,так,Ярославська філія І-ІІ ступенів Бобровицького ...,працює,школа,Комунальна,7420688401,Чернігівська область,"с. Ярославка, Бобровицький район, Чернігівська...",...,(067)4223332,NaN,yaroslavka.zzso@ukr.net,NaN,Завідувач філією Смага Ольга Миколаївна,ні,так,ні,ні,NaN

In [48]:
schools.shape

(16259, 23)

In [49]:
schools_private = schools[schools['Форма власності'] == 'Приватна']

In [50]:
schools_private['id'] = schools_private ['Повна назва']
schools_private['id'] = schools_private['id'].str.replace('[\s-]', '', regex = True)
schools_private.loc[schools_private['id'].str.endswith('обл'), 'id'] = schools_private.loc[schools_private['id'].str.endswith('обл'), 'id'] + '.'
schools_private['id'] = schools_private['id'].str.replace('І', 'I')
schools_private['id'] = schools_private['id'].str.replace('I-III', '3')
schools_private['id'] = schools_private['id'].str.replace('I-II', '2')
schools_private['id'] = schools_private['id'].str.lower()

dct = {'с.':'села', 'ст.':'ступенів', 'ім.':'імені', 'iм.':'імені', 'обл.': 'області', 
       '||||':'3', '|||':'2',
       'i':'', 'і':'', 'ї':'і', 'o':'о', 'y':'у', 'p':'р', 'c':'с', 'ґ':'г', 'e':'е', 'a':'а', 'k':'к', 'x': 'х',
       "'":'', "’":'', ",":'', ".":'', "«":'', "»":'', "–":'', "-":'', 
       "_x000d_":'', '_x000D_':'', "_":'', "(":'', ")":'', "[":'', "]":'', "}":'', "{":'', 
       "нвк":'навчальновиховнийкомплекс', 'знз': 'загальноосвтнйнавчальнийзаклад', 'нн':'н', 'днз': 'дошкльнийнавчальнийзаклад'}

for symb in dct:
    schools_private['id'] = schools_private['id'].str.replace(symb, dct[symb])

schools_private['id'] = schools_private['id'].str.replace('"', '', regex = True)

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_66427/1521500785.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private ['Повна назва']
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_66427/1521500785.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private['id'].str.replace('[\s-]', '', regex = True)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_66427/1521500785.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private['id'].str.replace('І', 'I')
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_66427/1521500785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private['id'].str.replace('I-III', '3')
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_66427/1521500785.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private['id'].str.replace('I-II', '2')
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_66427/1521500785.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private['id'].str.lower()
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_66427/1521500785.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private['id'].str.replace(symb, dct[symb])
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_66427/1521500785.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private['id'].str.replace('"', '', regex = True)

In [51]:
schools_private

,Повна назва,Код в ЄДЕБО,ОУО підтвердив дані,Скорочена назва,Статус,Тип закладу,Форма власності,Код КОАТУУ,Регіон,Населений пункт,...,Факс,Електронна пошта,Веб-сайт,Керівник,Опорний / Філія,Сільський,Гірський,Інтернат,Ліцензовані обсяги,id
3,"Заклад освіти ""Приватний загальноосвітній навч...",148411,так,"ЗО ""ПЗНЗ ""МІДГАРД""",працює,школа,Приватна,8036100000,КИЇВ,Київ,...,NaN,midgard.kiev@gmail.com,http://www.midgard.school,Директор Попов Олег Анатолійович,ні,ні,ні,ні,600.0,закладосвтиприватнийзагальноосвтнйнавчальнийза...
4,Ліцей «Гранд»,148412,так,Ліцей «Гранд»,працює,ліцей,Приватна,8036100000,КИЇВ,Київ,...,NaN,school@grand.kiev.ua,www.grandschool.com.ua,Директор Зайчук Світлана Анатоліївна,ні,ні,ні,ні,250.0,лцейгранд
10,МІЖНАРОДНИЙ ХРИСТИЯНСЬКИЙ ПРИВАТНИЙ ЗАКЛАД ЗАГ...,176484,так,МХЛ м. Київ «ДІТИ ЦАРЯ»,працює,ліцей,Приватна,8036100000,КИЇВ,Київ,...,NaN,kingkids@ukr.net,https://kingskids-school.com/,Директор Богорад Алла Олександрівна,ні,ні,ні,ні,NaN,мжнароднийхристиянськийприватнийзакладзагально...
14,"Навчально-виховний комплекс ""Міжнародний ліцей...",144362,так,"НВК ""Міжнародний ліцей МАУП""",працює,навчально-виховний комплекс (об'єднання),Приватна,8036100000,КИЇВ,Київ,...,NaN,liceum@ilmaup.com.ua,ilmaup.com.ua,Директор Зеленська Зоя Петрівна,ні,ні,ні,ні,NaN,навчальновиховнийкомплексмжнароднийлцеймжрегон...
15,"освітній заклад ""ШКОЛА ""ГРАНД-ЕКСПО"" (структур...",176486,так,"ПП ""МОК ""ГРАНД-ЕКСПО""",працює,школа,Приватна,8036100000,КИЇВ,Київ,...,NaN,NaN,NaN,Директор Веприцька Тетяна Володимирівна,ні,ні,ні,ні,NaN,освтнйзакладшколаграндекспоструктурнийпдроздлп...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15374,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЧЕРНІ...",176567,так,"ТОВ ""ЧЕРНІВЕЦЬКИЙ ПРИВАТНИЙ ЛІЦЕЙ ""ЮНІК""",працює,ліцей,Приватна,7310100000,Чернівецька область,"Чернівці, Чернівецька область",...,NaN,NaN,NaN,Директор Куницька Ірина Михайлівна,ні,ні,ні,ні,NaN,товариствозобмеженоювдповдальнстючернвецькийпр...
15801,"ПРИВАТНЕ ПІДПРИЄМСТВО ""ПРИВАТНИЙ ЗАКЛАД ОСВІТИ...",148340,так,"ПП ""ПЗО ""МУДРАНГЕЛИКИ""",працює,школа,Приватна,7410136300,Чернігівська область,"Чернігів, Чернігівська область",...,NaN,mudrangelschool@gmail.com,https://mudrangels.com/,Директор Лавріненко Неля Петрівна,ні,ні,ні,ні,NaN,приватнепдприємствоприватнийзакладосвтимудранг...
15804,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІЦЕЙ...",176538,так,"ТОВ ""ЛІЦЕЙ ""РОБОСКУЛ""",працює,ліцей,Приватна,7410100000,Чернігівська область,"Чернігів, Чернігівська область",...,NaN,info@roboschool.org.ua,NaN,Директор Лимар Сергій Миколайович,ні,ні,ні,ні,NaN,товариствозобмеженоювдповдальнстюлцейробоскулм...
15805,"Товариство з обмеженою відповідальністю ""Прива...",176496,так,"ТОВ ""Приватна дистанційна загальноосвітня школ...",працює,школа,Приватна,7410100000,Чернігівська область,"Чернігів, Чернігівська область",...,NaN,manager.redfox@gmail.com,NaN,Директор Василенко Неля Анатоліївна,ні,ні,ні,ні,300.0,товариствозобмеженоювдповдальнстюприватнадиста...
15866,ЧЕРНІГІВСЬКА ФІЛІЯ ТОВАРИСТВА З ОБМЕЖЕНОЮ ВІДП...,151640,так,ЧФ ТОВ «ШКОЛА 977»,працює,гімназія,Приватна,7410700000,Чернігівська область,"Прилуки, Чернігівська область",...,NaN,977info@gmail.com,977.com.ua,Завідувач філією Пономаренко Валерій Борисович,Філія,ні,ні,ні,1.0,чернгвськафлятовариствазобмеженоювдповдальнстю...

In [52]:
set(schools_private['Регіон'])-set(eie_schools.region)

{'Івано-Франківська область',
 'Волинська область',
 'Вінницька область',
 'Дніпропетровська область',
 'Донецька область',
 'Житомирська область',
 'Закарпатська область',
 'Запорізька область',
 'КИЇВ',
 'Київська область',
 'Кіровоградська область',
 'Луганська область',
 'Львівська область',
 'Миколаївська область',
 'Одеська область',
 'Полтавська область',
 'Рівненська область',
 'Сумська область',
 'Харківська область',
 'Херсонська область',
 'Хмельницька область',
 'Черкаська область',
 'Чернівецька область',
 'Чернігівська область'}

In [53]:
schools_private['region'] = schools_private['Регіон'].str.split().str[0]
schools_private['region'] = schools_private['region'].str.replace('КИЇВ', 'місто Київ')

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_66427/1340364044.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['region'] = schools_private['Регіон'].str.split().str[0]
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_66427/1340364044.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['region'] = schools_private['region'].str.replace('КИЇВ', 'місто Київ')

In [54]:
set(schools_private.region)-set(eie_schools.region)

set()

In [55]:
eie_schools_temp4 = eie_schools_temp3

removing from our dataset for matching all private schools

In [56]:
count = 0
for region in sorted(eie_schools_temp3.region.unique()):
    region_schools = eie_schools_temp3[eie_schools_temp3.region == region]
    for id in region_schools.id:
        if id in schools_private.id.str[:len(id)].unique():
            count +=1
            eie_schools_temp4 = eie_schools_temp4[eie_schools_temp4.id != id]

df.shape

(6950, 3)

In [57]:
count

31

In [58]:
print(eie_schools.shape[0]-eie_schools_temp4.shape[0])
print(finance_schools.shape[0] - finance_schools_temp3.shape[0]+count)
print(df.shape[0]+count)

6981
6981
6981

In [59]:
eie_schools_temp5 = eie_schools_temp4
finance_schools_temp5 = finance_schools_temp3

matching by contains

In [60]:
for region in sorted(eie_schools_temp4.region.unique()):
    region_schools = eie_schools_temp4[eie_schools_temp4.region == region]
    region_finance = finance_schools_temp3[finance_schools_temp3.region == region]
    for id in region_schools.id:
        matching_long_values = region_finance[region_finance.id.str.contains(id)]
        if not matching_long_values.empty and \
            re.findall(r'№(\d+)', region_schools.loc[region_schools.id == id, 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id.str.contains(id), 'schoolname'].iloc[0]):
            
            if len(matching_long_values)>1:
                print('data')
                display(region_schools[region_schools.id == id])
                print('finance')
                display(matching_long_values)

In [61]:
for region in sorted(eie_schools_temp4.region.unique()):
    region_schools = eie_schools_temp4[eie_schools_temp4.region == region]
    region_finance = finance_schools_temp3[finance_schools_temp3.region == region]
    for id in region_schools.id:
        matching_long_values = region_finance[region_finance.id.str.contains(id)]
        if not matching_long_values.empty and \
            re.findall(r'№(\d+)', region_schools.loc[region_schools.id == id, 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id.str.contains(id), 'schoolname'].iloc[0]):

            df = pd.concat([df, pd.DataFrame([{'eoname': region_schools.loc[region_schools.id == id, 'eoname'].iloc[0], \
                                            'schoolname': region_finance.loc[region_finance['id'].str.contains(id), 'schoolname'].iloc[0],
                                            'regname':region}])], ignore_index=True)
            eie_schools_temp5 = eie_schools_temp5[~((eie_schools_temp5.region == region) & (eie_schools_temp5.id == id))]
            finance_schools_temp5 = finance_schools_temp5[~((finance_schools_temp5.region == region) & (finance_schools_temp5.id.str.contains(id)))]

df.shape

(6995, 3)

In [62]:
df.tail()

,eoname,schoolname,regname
6990,Менська гімназія Менської міської ради Менсько...,Опорний заклад Менська гімназія Менської міськ...,Чернігівська
6991,Остерська загальноосвітня школа І-ІІІ ступенів...,Опорний заклад - Остерська загальноосвітня шко...,Чернігівська
6992,Ліцей №303 суспільно-природничого профілю,м.Київ ліцей №303 суспільно-природничого профі...,місто Київ
6993,Спеціалізована загальноосвітня школа №291 з по...,м.Київ Спеціалізована загальноосвітня школа №2...,місто Київ
6994,Спеціалізована школа І-ІІІ ступенів №96 ім.О.К...,Київська спеціалізована школа I-III ступенів №...,місто Київ

In [63]:
print(eie_schools.shape[0]-eie_schools_temp5.shape[0])
print(finance_schools.shape[0] - finance_schools_temp5.shape[0]+count)
print(df.shape[0]+count)

7026
7026
7026

In [64]:
eie_schools_temp6 = eie_schools_temp5
finance_schools_temp6 = finance_schools_temp5

In [65]:
for region in sorted(eie_schools_temp5.region.unique()):
    region_schools = eie_schools_temp5[eie_schools_temp5.region == region]
    region_finance = finance_schools_temp5[finance_schools_temp5.region == region]
    for id in region_finance.id:
        matching_long_values = region_schools[region_schools.id.str.contains(id)]
        if not matching_long_values.empty and \
            re.findall(r'№(\d+)', region_schools.loc[region_schools.id.str.contains(id), 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id == id, 'schoolname'].iloc[0]):
            
            if len(matching_long_values)>1:
                print(id)
                print('data')
                display(matching_long_values)
                print('finance')
                display(region_finance[region_finance.id == id])

In [66]:
for region in sorted(eie_schools_temp5.region.unique()):
    region_schools = eie_schools_temp5[eie_schools_temp5.region == region]
    region_finance = finance_schools_temp5[finance_schools_temp5.region == region]
    for id in region_finance.id:
        matching_long_values = region_schools[region_schools.id.str.contains(id)]
        if not matching_long_values.empty and \
            re.findall(r'№(\d+)', region_schools.loc[region_schools.id.str.contains(id), 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id == id, 'schoolname'].iloc[0]):
            
            df = pd.concat([df, pd.DataFrame([{'eoname': region_schools.loc[region_schools.id.str.contains(id), 'eoname'].iloc[0], \
                                            'schoolname': region_finance.loc[region_finance.id == id, 'schoolname'].iloc[0],
                                            'regname':region}])], ignore_index=True)
            eie_schools_temp6 = eie_schools_temp6[~((eie_schools_temp6.region == region) & (eie_schools_temp6.id.str.contains(id)))]
            finance_schools_temp6 = finance_schools_temp6[~((finance_schools_temp6.region == region) & (finance_schools_temp6.id == id))]


df.shape

(7008, 3)

In [67]:
df.tail()

,eoname,schoolname,regname
7003,Комунальний заклад Липоводолинська спеціалізов...,Липоводолинська спеціалізована школа І-ІІІ сту...,Сумська
7004,ОНЗ Кременчуківський ліцей Красилівського райо...,Кременчуківський ліцей Красилівського району Х...,Хмельницька
7005,"Старокривинський навчально-виховний комплекс ""...","Старокривинський навчально-виховний комплекс ""...",Хмельницька
7006,Політехнічний ліцей Національного технічного у...,Технічний ліцей Національного технічного уніве...,місто Київ
7007,"Комунальний заклад ""Навчально-виховний комплек...","Навчально-виховний комплекс "" Школа І ступеня ...",місто Київ

In [68]:
print(eie_schools.shape[0]-eie_schools_temp6.shape[0])
print(finance_schools.shape[0] - finance_schools_temp6.shape[0]+count)
print(df.shape[0]+count)

7039
7039
7039

In [69]:
eie_schools_temp6.to_csv('zno_schools_unmatched_2020.csv', index=False)

In [70]:
finance_schools_temp6.to_csv('finance_schools_unmatched_2020.csv', index=False)

In [77]:
df = df.drop_duplicates().reset_index(drop=True)

In [78]:
df.shape

(7008, 3)

In [79]:
df.to_csv('finance_schools_matched_2020.csv', index=False)

In [72]:
print('need to match', eie_schools.shape[0]-df.shape[0], 'schools')

need to match 2424 schools

In [73]:
print('matched', round(df.shape[0]/eie_schools.shape[0]*100), '% of schools')

matched 74 % of schools

In [76]:
df[df[['eoname','regname']].duplicated(keep = False)]

Empty DataFrame
Columns: [eoname, schoolname, regname]
Index: []