In [1]:
%pip install -q sqlalchemy

Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd
from sqlalchemy import create_engine
# for postgreSQL database credentials can be written as 
user = 'myuser'
password = 'mypassword'
host = '127.0.0.1'
port = '5432'
database = 'EIE'
# for creating connection string
connection_str = f"postgresql://{user}:{password}@{host}:{port}/{database}"
# SQLAlchemy engine
engine = create_engine(connection_str)
# you can test if the connection is made or not
try:
    with engine.connect() as connection_str:
        print('Successfully connected to the PostgreSQL database')
except Exception as ex:
    print(f'Sorry failed to connect: {ex}')

Successfully connected to the PostgreSQL database

In [11]:
# run the query
query = "SELECT * FROM locations LIMIT 5;"
df = pd.read_sql(query, engine)
df.head()

  koatuu_2020         katottg_2023 category      region_name
0  2323085101  UA23080270010078454  village        Zaporizka
1  6822710100  UA68040210010032567     town      Khmelnytska
2  1223881501  UA12140170040016918  village  Dnipropetrovska
3  7310100000  UA73060610010033137     town     Chernivetska
4  4822383001  UA48080050190079797  village      Mykolaivska