In [1]:
%pip install -q sqlalchemy

Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd
from sqlalchemy import create_engine
# for postgreSQL database credentials can be written as 
user = 'myuser'
password = 'mypassword'
host = 'localhost'
port = '5433'
database = 'eie'
# for creating connection string
connection_str = f"postgresql://{user}:{password}@{host}:{port}/{database}"
# SQLAlchemy engine
engine = create_engine(connection_str)
# you can test if the connection is made or not
try:
    with engine.connect() as connection_str:
        print('Successfully connected to the PostgreSQL database')
except Exception as ex:
    print(f'Sorry failed to connect: {ex}')

Successfully connected to the PostgreSQL database

In [16]:
# run the query
query = "SELECT * FROM students_take_tests;"
df = pd.read_sql(query, engine)
df.head()

,outid,years,score100,score12,score,test_status,test_subject,test_type,katottg_2023_test_center,edrpou_test_center
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,161.0,9.0,NaN,Accepted,ukrtest,EIE,UA51100270010275193,20995060
1,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,ukrtest,EIE,UA18060090010074365,22061344
2,00001a8d-fff5-4c7c-bea2-b0157f7c5655,2021,128.0,6.0,31.0,Accepted,ukrtest,EIE,UA71080490010144486,25922746
3,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,160.0,8.0,NaN,Accepted,ukrtest,EIE,UA63120270010216514,24486622
4,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,166.0,9.0,69.0,Accepted,ukrtest,EIE,UA46100230010074173,34387362