In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

In [2]:
dataset = pd.read_csv('zno_translated.csv')

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_55856/2814263813.py:1: DtypeWarning: Columns (83,84,85,86,87,88,102) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('zno_translated.csv')

In [3]:
dataset.head()

,outid,birth,sextypename,regname,areaname,tername,regtypename,eoname,eotypename,eoregname,...,engdpalevel,engball,fradpalevel,fraball,deudpalevel,deuball,spadpalevel,spaball,ukradaptscale,age
0,a4e039d0-07ef-4a3d-820d-106dcaf01b96,2001,Male,Zakarpattia Oblast,Berehiv district,the village of Koson,A graduate of an Ukrainian school of the curre...,Kosonsk comprehensive school of grades I-III w...,Secondary general education school,Zakarpattia Oblast,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,c1fa1ed0-d2af-4964-9a88-3c138008304b,2001,Female,Kyiv Oblast,Kyiv region,Brovary,A graduate of an Ukrainian school of the curre...,Brovary specialized school of grades I-III #7 ...,Specialized school,Kyiv Oblast,...,Profile,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,6504a7f3-7dfd-4a64-a2d9-4d49f5021303,2000,Female,Kharkiv Oblast,Kharkiv,Chervonozavod district of the city,A graduate of an Ukrainian school of the curre...,Kharkiv Gymnasium No. 12 of Kharkiv City Counc...,Gymnasium,Kharkiv Oblast,...,Profile,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
3,5cbcd343-2e63-48b8-b36d-48797a76be31,2000,Male,Rivne Oblast,Mlynivskyi district,the village of Mlyniv,A graduate of an Ukrainian school of the curre...,Mlyniv secondary school of grades I-III #1 of ...,Secondary general education school,Rivne Oblast,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
4,063c6498-7345-492c-b567-174938bac671,1999,Male,Rivne Oblast,Rivne region,Ostrog,College graduate,State Vocational and Technical Educational Ins...,Higher vocational school,Rivne Oblast,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19

In [4]:
print(list(dataset.columns))

['outid', 'birth', 'sextypename', 'regname', 'areaname', 'tername', 'regtypename', 'eoname', 'eotypename', 'eoregname', 'eoareaname', 'eotername', 'eoparent', 'ukrtest', 'ukrteststatus', 'ukrptname', 'ukrptregname', 'ukrptareaname', 'ukrpttername', 'histtest', 'histlang', 'histteststatus', 'histptname', 'histptregname', 'histptareaname', 'histpttername', 'mathtest', 'mathlang', 'mathteststatus', 'mathptname', 'mathptregname', 'mathptareaname', 'mathpttername', 'phystest', 'physlang', 'physteststatus', 'physptname', 'physptregname', 'physptareaname', 'physpttername', 'chemtest', 'chemlang', 'chemteststatus', 'chemptname', 'chemptregname', 'chemptareaname', 'chempttername', 'biotest', 'biolang', 'bioteststatus', 'bioptname', 'bioptregname', 'bioptareaname', 'biopttername', 'geotest', 'geolang', 'geoteststatus', 'geoptname', 'geoptregname', 'geoptareaname', 'geopttername', 'engtest', 'engteststatus', 'engptname', 'engptregname', 'engptareaname', 'engpttername', 'deutest', 'deuteststatus', 'deuptname', 'deuptregname', 'deuptareaname', 'deupttername', 'year', 'tertypename', 'classprofilename', 'classlangname', 'fratest', 'frateststatus', 'fraptname', 'fraptregname', 'fraptareaname', 'frapttername', 'spatest', 'spateststatus', 'spaptname', 'spaptregname', 'spaptareaname', 'spapttername', 'ukrball', 'histball', 'mathball', 'physball', 'chemball', 'bioball', 'geoball', 'engdpalevel', 'engball', 'fradpalevel', 'fraball', 'deudpalevel', 'deuball', 'spadpalevel', 'spaball', 'ukradaptscale', 'age']

In [5]:
dataset.shape

(1458122, 106)

# Feature Description

Dataset contains 1,458,122 individuals and 105 features (general and test performance)

## General features (demographic, educational etc.)

`outid` â€“ unique identifier of the participant

`birth` â€“ year of birth of the participant (1944-2007)

`sextypename` â€“ gender of the participant ('Male' 'Female')

`regname` â€“ region of registration/residence of the participant in Ukraine (24 oblasts and Kyiv, the capital of the country)

`areaname` â€“ district/city of registration/residence of the participant

`tername` â€“ place of registration/residence of the participant

`regtypename` â€“ status of the participant (5 types: 'A graduate of an Ukrainian school of the current year', 'College graduate', 'A student of a higher education institution', 'A graduate of a school of the previous years', 'A graduate of a foreign school')

`tertypename` â€“ type of territory (3 types: 'Village', 'City', 'Urban-type settlement')

`classprofilename`â€“ profile of the participant's training class (24 types and two specific types: 'Junior specialit' for students and 'Skilled worker' for graduated people). Full information for the graduates of a Ukrainian school of the current year, partially for college graduates and students of a higher education institution. For else the values are NaN.

`classlangname` â€“ participant's language of study (6 types and 'other' category). Full information for the graduates of a Ukrainian school of the current year, partially for college graduates and students of a higher education institution. For else the values are NaN.

`eoname` â€“ the name of participant's institution of education. Full information for the graduates of a Ukrainian school of the current year, partially for college graduates and students of a higher education institution. For else the values are NaN.

`eotypename` â€“ type of educational institution (30 types: 'Lyceum', 'Gymnasium', etc). Full information for the graduates of a Ukrainian school of the current year, partially for college graduates and students of a higher education institution. For else the values are NaN.

`eoregname` â€“ region where the educational institution is located (same list as in regname). Full information for the graduates of a Ukrainian school of the current year, partially for college graduates and students of a higher education institution. For else the values are NaN.

`eoareaname` â€“ district/city where the educational institution is located (same list as areaname). Full information for the graduates of a Ukrainian school of the current year, partially for college graduates and students of a higher education institution. For else the values are NaN.

`eotername` â€“ place where the educational institution is located (same list as tername). Full information for the graduates of a Ukrainian school of the current year, partially for college graduates and students of a higher education institution. For else the values are NaN.

`eoparent` â€“ the authority to which the educational institution is subordinated. Full information for the graduates of a Ukrainian school of the current year (except 2021), partially for college graduates and students of a higher education institution. For else the values are NaN.

`year` - individual's participation year

`age` - individual's age at the moment of the participation

## Test performance features

There are several subjects to choose from:
- ukr (ukrainian language and literature)
- hist (Ukrainian history)
- math (Mathematics)
- phys (Physics)
- chem (Chemistry)
- bio (biology)
- geo (geography)
- eng (English language)
- fr (French language)
- deu (Deutch language)
- sp (Spanish language)

We will decode one of them as `subj` instead of one of the 11 subjects mentioned above.

So, for each subject we have the following features:

`subjtest` - the name of the subject (corresponding name or nan if the participant didn't choose to take it)

`subjteststatus` â€“ the result of the test ('The score threshold wasn't reached', 'Test passed', 'No attendance',
 'Test results were cancelled', '100-200 wasn't selected', or NaN if the participant didn't choose to take it)
       
`subjball`â€“ raw score of the corresponding subject for participants with statuses: 'Test passed' and 'The score threshold wasn't reached' by subjteststatus (for else is NaN).

`subjptname`â€“ the place of conducting the ZNO (corresponding name or nan if the participant didn't choose to take it)

`subjptregname` â€“ the region where the ZNO is conducted (corresponding name, similar to regname, or nan if the participant didn't choose to take it)

`subjptareaname` â€“ district/city where the ZNO testing center is located (corresponding name, similar to areaname, or nan if the participant didn't choose to take it)

`subjpttername` â€“ place where the ZNO testing center is located (corresponding name, similar to tername, or nan if the participant didn't choose to take it)

In [9]:
for cols in dataset.columns:
    print(cols, ':', end=' ')
    if len(dataset[cols].unique())>6:
        print('{ number:', len(dataset[cols].unique()), ', nan:', dataset[cols].isnull().sum(),'}')
    else:
        print(dataset[cols].unique(), ', nan:', dataset[cols].isnull().sum())

outid : { number: 1458122 , nan: 0 }
birth : { number: 58 , nan: 0 }
sextypename : ['Male' 'Female'] , nan: 0
regname : { number: 25 , nan: 0 }
areaname : { number: 561 , nan: 0 }
tername : { number: 9366 , nan: 0 }
regtypename : ['A graduate of an Ukrainian school of the current year'
 'College graduate' 'A student of a higher education institution'
 'A graduate of a school of the previous years'
 'A graduate of a foreign school'] , nan: 0
eoname : { number: 18016 , nan: 160630 }
eotypename : { number: 29 , nan: 160630 }
eoregname : { number: 26 , nan: 160630 }
eoareaname : { number: 686 , nan: 160630 }
eotername : { number: 5447 , nan: 160630 }
eoparent : { number: 2508 , nan: 164292 }
ukrtest : ['Ukrainian language and literature' nan] , nan: 155349
ukrteststatus : ["The score threshold wasn't reached" 'Test passed' 'No attendance' nan
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 155349
ukrptname : { number: 2388 , nan: 155349 }
ukrptregname : { number: 26 , nan: 155349 }
ukrptareaname : { number: 388 , nan: 155349 }
ukrpttername : { number: 396 , nan: 155349 }
histtest : ['History of Ukraine' nan] , nan: 494350
histlang : { number: 7 , nan: 494350 }
histteststatus : ["The score threshold wasn't reached" 'Test passed' nan 'No attendance'
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 494350
histptname : { number: 2037 , nan: 494350 }
histptregname : { number: 26 , nan: 494350 }
histptareaname : { number: 364 , nan: 494350 }
histpttername : { number: 367 , nan: 494350 }
mathtest : [nan 'Mathematics'] , nan: 707456
mathlang : { number: 7 , nan: 707456 }
mathteststatus : [nan 'Test passed' "The score threshold wasn't reached" 'No attendance'
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 707456
mathptname : { number: 1850 , nan: 707456 }
mathptregname : { number: 26 , nan: 707456 }
mathptareaname : { number: 371 , nan: 707456 }
mathpttername : { number: 366 , nan: 707456 }
phystest : [nan 'Physics'] , nan: 1351033
physlang : { number: 7 , nan: 1351033 }
physteststatus : [nan "The score threshold wasn't reached" 'No attendance' 'Test passed'
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 1351033
physptname : { number: 321 , nan: 1351033 }
physptregname : { number: 26 , nan: 1351033 }
physptareaname : { number: 98 , nan: 1351033 }
physpttername : { number: 83 , nan: 1351033 }
chemtest : [nan 'Chemistry'] , nan: 1393819
chemlang : { number: 7 , nan: 1393819 }
chemteststatus : [nan 'Test passed' "The score threshold wasn't reached" 'No attendance'
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 1393819
chemptname : { number: 206 , nan: 1393819 }
chemptregname : { number: 26 , nan: 1393819 }
chemptareaname : { number: 77 , nan: 1393819 }
chempttername : { number: 66 , nan: 1393819 }
biotest : ['Biology' nan] , nan: 1053432
biolang : { number: 7 , nan: 1053432 }
bioteststatus : ['Test passed' nan "The score threshold wasn't reached" 'No attendance'
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 1053432
bioptname : { number: 1045 , nan: 1053432 }
bioptregname : { number: 26 , nan: 1053432 }
bioptareaname : { number: 237 , nan: 1053432 }
biopttername : { number: 220 , nan: 1053432 }
geotest : [nan 'Geography'] , nan: 991733
geolang : [nan 'Ukrainian' 'Russian' 'Hungarian' 'Moldovan' 'Romanian'] , nan: 991733
geoteststatus : [nan 'Test passed' 'No attendance' "The score threshold wasn't reached"
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 991733
geoptname : { number: 1209 , nan: 991733 }
geoptregname : { number: 26 , nan: 991733 }
geoptareaname : { number: 254 , nan: 991733 }
geopttername : { number: 242 , nan: 991733 }
engtest : [nan 'English language'] , nan: 1008593
engteststatus : [nan 'Test passed' 'No attendance' "The score threshold wasn't reached"
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 1008593
engptname : { number: 818 , nan: 1008593 }
engptregname : { number: 26 , nan: 1008593 }
engptareaname : { number: 206 , nan: 1008593 }
engpttername : { number: 189 , nan: 1008593 }
deutest : [nan 'German language'] , nan: 1449002
deuteststatus : [nan "The score threshold wasn't reached" 'Test passed' 'No attendance'
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 1449002
deuptname : { number: 54 , nan: 1449002 }
deuptregname : { number: 23 , nan: 1449002 }
deuptareaname : { number: 38 , nan: 1449002 }
deupttername : { number: 35 , nan: 1449002 }
year : [2018 2019 2020 2021] , nan: 0
tertypename : ['Village' 'City' 'Urban-type settlement'] , nan: 0
classprofilename : { number: 27 , nan: 278837 }
classlangname : { number: 8 , nan: 278837 }
fratest : [nan 'French language'] , nan: 1455828
frateststatus : [nan 'Test passed' 'No attendance' "The score threshold wasn't reached"
 "100-200 wasn't selected"] , nan: 1455828
fraptname : { number: 51 , nan: 1455828 }
fraptregname : { number: 23 , nan: 1455828 }
fraptareaname : { number: 35 , nan: 1455828 }
frapttername : { number: 32 , nan: 1455828 }
spatest : [nan 'Spanish language'] , nan: 1457412
spateststatus : [nan 'Test passed' "The score threshold wasn't reached" 'No attendance'
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 1457412
spaptname : { number: 42 , nan: 1457412 }
spaptregname : { number: 23 , nan: 1457412 }
spaptareaname : { number: 34 , nan: 1457412 }
spapttername : { number: 31 , nan: 1457412 }
ukrball : { number: 118 , nan: 299531 }
histball : { number: 96 , nan: 698260 }
mathball : { number: 69 , nan: 800298 }
physball : { number: 66 , nan: 1370469 }
chemball : { number: 81 , nan: 1403846 }
bioball : { number: 84 , nan: 1149792 }
geoball : { number: 96 , nan: 1102381 }
engdpalevel : [nan 'Profile' 'Standard (academic)'] , nan: 1149185
engball : { number: 74 , nan: 1050592 }
fradpalevel : [nan 'Profile' 'Standard (academic)'] , nan: 1456928
fraball : { number: 68 , nan: 1456191 }
deudpalevel : [nan 'Standard (academic)' 'Profile'] , nan: 1453929
deuball : { number: 70 , nan: 1450450 }
spadpalevel : [nan 'Profile' 'Standard (academic)'] , nan: 1457988
spaball : { number: 68 , nan: 1457603 }
ukradaptscale : [nan  0.  3.  7.  4.] , nan: 474329
age : { number: 59 , nan: 0 }

In [8]:
dataset['eotypename'].value_counts()

eotypename
Secondary general education school                                443436
Higher educational institution                                    185117
Educational complex                                               105778
Lyceum                                                            103975
Higher educational institution of I-II levels of accreditation     75987
Gymnasium                                                          64320
Specialized school                                                 63684
Professional lyceum of the relevant profile                        48754
Institution of vocational education                                48714
Institution of professional preliminary higher education           46341
Higher vocational school                                           41481
Vocational school of the relevant profile                          24808
Center of professional and technical education                     12987
Educational association                                             8143
Center of professional education                                    6266
Specialized boarding school                                         3536
Collegium                                                           3118
Boarding secondary general education school                         2496
Night (shift) school                                                1893
Higher vocational school of art                                     1837
Sanatorium general education school                                 1491
Collegium/college                                                    878
College                                                              788
Center for training and retraining of working personnel              705
Special general education school                                     586
Special boarding general education school                            328
Educational and rehabilitation center                                 41
School of social rehabilitation                                        4
Name: count, dtype: int64

In [16]:
dataset[dataset['classlangname'].isnull()].regtypename.unique()

array(['College graduate', 'A student of a higher education institution',
       'A graduate of a school of the previous years',
       'A graduate of a foreign school'], dtype=object)

In [15]:
dataset[dataset['classlangname'].notnull()].regtypename.unique()

array(['A graduate of an Ukrainian school of the current year',
       'A student of a higher education institution', 'College graduate'],
      dtype=object)

In [14]:
dataset['classprofilename'].unique()

array(['Physics and mathematics', 'Foreign philology', nan, 'Universal',
       'Ukrainian philology', 'Technology', 'Biology and physics',
       'Information technology', 'Biotechnology', 'Biology and chemistry',
       'Economics', 'History', 'Sports', 'Mathematics', 'Law',
       'Other (multi-profile)', 'Military and sports', 'Philosophy',
       'Ecology', 'Art and aesthetics', 'Geography', 'Physics',
       'Chemical technologies and agrochemistry', 'Biology',
       'Physics and chemistry', 'Junior specialist', 'Skilled worker'],
      dtype=object)

In [11]:
dataset.classprofilename.value_counts()

classprofilename
Junior specialist                          227506
Ukrainian philology                        187661
Universal                                  180839
Skilled worker                             147912
Foreign philology                           92907
Mathematics                                 65655
History                                     49086
Technology                                  42557
Other (multi-profile)                       37815
Information technology                      28526
Biology and chemistry                       18513
Physics and mathematics                     17838
Economics                                   16904
Law                                         14755
Military and sports                          9678
Sports                                       9122
Biology                                      6953
Biotechnology                                6471
Ecology                                      5601
Geography                                    5121
Art and aesthetics                           4115
Physics                                      1086
Biology and physics                          1042
Chemical technologies and agrochemistry      1015
Philosophy                                    434
Physics and chemistry                         173
Name: count, dtype: int64

In [10]:
dataset.classlangname.value_counts()

classlangname
Ukrainian    1117557
Russian        53948
Romanian        3778
Hungarian       2912
Moldovan         633
Polish           366
Other             91
Name: count, dtype: int64