In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv('eie_full_translated.csv')

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_93373/3111726938.py:1: DtypeWarning: Columns (74,75,77,78,79,80,88,89,91,92,93,94,95,96,98,99,100,101,105,106,119) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('eie_full_translated.csv')

In [4]:
dataset.head()

,outid,sextypename,regname,areaname,tername,regtypename,eoname,eotypename,eoregname,eoareaname,...,ukradaptscale,Degree of institution,Number of full-time teaching staff in total,Number of full-time non-teaching staff in total,Number of full-time teaching staff of retirement age,Number of students in total,Number of classes in total,Total number of students and children receiving preschool education,"Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures)","Expenditures for the operation of the institution (general fund), UAH thousand (plan)"
0,a99c6c63-aa70-4aec-ba42-370f7261e857,Male,Zaporizhzhia Oblast,Melitopol district,s. Patience,A graduate of an Ukrainian school of the curre...,"Terpinniv Collegium ""Zherelo"" of the Melitopol...",Collegium,Zaporizhzhia Oblast,Melitopol district,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,c3136421-569e-422e-ae8f-41c4c931fd70,Female,Khmelnytskyi Oblast,Krasylivskyi district,the city of Krasiliv,A graduate of an Ukrainian school of the curre...,Krasyliv secondary school of grades I-III No. ...,Secondary general education school,Khmelnytskyi Oblast,Krasylivskyi district,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,fbd0e280-4b77-4f34-942d-00bc850c2992,Female,Dnipropetrovsk Oblast,Petropavlovsk district,Dmytrivka village,A graduate of a school of the previous years,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30de395e-7a74-452a-8370-6856d240fbfb,Male,Chernivtsi Oblast,Chernivtsi,Shevchenkiv district of the city,A graduate of an Ukrainian school of the curre...,Chernivtsi specialized school of the I-III deg...,Specialized school,Chernivtsi Oblast,Chernivtsi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,52a40c74-374e-4744-bd6f-938ab7a4a641,Male,Mykolaiv Oblast,Vradiivskyi district,Kumari village,College student of a vocational or higher educ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
list(dataset.columns)

['outid',
 'sextypename',
 'regname',
 'areaname',
 'tername',
 'regtypename',
 'eoname',
 'eotypename',
 'eoregname',
 'eoareaname',
 'eotername',
 'eoparent',
 'ukrtest',
 'ukrteststatus',
 'ukrball100',
 'ukrptname',
 'ukrptregname',
 'ukrptareaname',
 'ukrpttername',
 'histtest',
 'histlang',
 'histteststatus',
 'histball100',
 'histptname',
 'histptregname',
 'histptareaname',
 'histpttername',
 'mathtest',
 'mathlang',
 'mathteststatus',
 'mathball100',
 'mathptname',
 'mathptregname',
 'mathptareaname',
 'mathpttername',
 'phystest',
 'physlang',
 'physteststatus',
 'physball100',
 'physptname',
 'physptregname',
 'physptareaname',
 'physpttername',
 'chemtest',
 'chemlang',
 'chemteststatus',
 'chemball100',
 'chemptname',
 'chemptregname',
 'chemptareaname',
 'chempttername',
 'biotest',
 'biolang',
 'bioteststatus',
 'bioball100',
 'bioptname',
 'bioptregname',
 'bioptareaname',
 'biopttername',
 'geotest',
 'geolang',
 'geoteststatus',
 'geoball100',
 'geoptname',
 'geoptregname',
 'geoptareaname',
 'geopttername',
 'engtest',
 'engteststatus',
 'engball100',
 'engptname',
 'engptregname',
 'engptareaname',
 'engpttername',
 'fratest',
 'frateststatus',
 'fraball100',
 'fraptname',
 'fraptregname',
 'fraptareaname',
 'frapttername',
 'deutest',
 'deuteststatus',
 'deuball100',
 'deuptname',
 'deuptregname',
 'deuptareaname',
 'deupttername',
 'spatest',
 'spateststatus',
 'spaball100',
 'spaptname',
 'spaptregname',
 'spaptareaname',
 'spapttername',
 'rustest',
 'rusteststatus',
 'rusball100',
 'rusptname',
 'rusptregname',
 'rusptareaname',
 'ruspttername',
 'year',
 'age',
 'tertypename',
 'classprofilename',
 'classlangname',
 'ukrball',
 'histball',
 'mathball',
 'physball',
 'chemball',
 'bioball',
 'geoball',
 'engball',
 'fraball',
 'deuball',
 'spaball',
 'ukradaptscale',
 'Degree of institution',
 'Number of full-time teaching staff in total',
 'Number of full-time non-teaching staff in total',
 'Number of full-time teaching staff of retirement age',
 'Number of students in total',
 'Number of classes in total',
 'Total number of students and children receiving preschool education',
 'Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures)',
 'Expenditures for the operation of the institution (general fund), UAH thousand (plan)']

In [6]:
dataset.shape

(1967014, 128)

# Feature Description

EIE dataset contains 1,967,014 individuals and 128 features (general, test performance, and school information)

## General features (demographic, educational etc.)

`outid` – unique identifier of the participant

`sextypename` – gender of the participant ['Male', 'Female']

In [61]:
dataset.sextypename.value_counts(dropna=False)

sextypename
Female    994053
Male      972961
Name: count, dtype: int64

`regname` – region of registration/residence of the participant in Ukraine (24 oblasts and Kyiv, the capital of the country)

In [23]:
sorted(dataset.regname.unique())

['Cherkasy Oblast',
 'Chernihiv Oblast',
 'Chernivtsi Oblast',
 'Dnipropetrovsk Oblast',
 'Donetsk Oblast',
 'Ivano-Frankivsk Oblast',
 'Kharkiv Oblast',
 'Kherson Oblast',
 'Khmelnytskyi Oblast',
 'Kirovohrad Oblast',
 'Kyiv City',
 'Kyiv Oblast',
 'Luhansk Oblast',
 'Lviv Oblast',
 'Mykolaiv Oblast',
 'Odesa Oblast',
 'Poltava Oblast',
 'Rivne Oblast',
 'Sumy Oblast',
 'Ternopil Oblast',
 'Vinnytsia Oblast',
 'Volyn Oblast',
 'Zakarpattia Oblast',
 'Zaporizhzhia Oblast',
 'Zhytomyr Oblast']

`areaname` – district/city of registration/residence of the participant (a subdivision of regname)

`tername` – place of registration/residence of the participant (a subdivision of areaname)

`regtypename` – an educational status of the participant (5 types: 'A graduate of an Ukrainian school of the current year', 'A graduate of a school of the previous years', 'College student of a vocational or higher education institution', 'Penitentiary institution', 'A graduate of a foreign school')

In [29]:
dataset.regtypename.unique()

array(['A graduate of an Ukrainian school of the current year',
       'A graduate of a school of the previous years',
       'College student of a vocational or higher education institution',
       'Penitentiary institution', 'A graduate of a foreign school'],
      dtype=object)

In [59]:
pivot_df = dataset.groupby(['regtypename', 'year']).size().unstack()
pivot_df.loc['Total'] = pivot_df.sum()
pivot_df

year,2016,2017,2018,2019,2020,2021
regtypename,,,,,,
A graduate of a foreign school,62.0,62.0,32.0,33.0,45.0,36.0
A graduate of a school of the previous years,48506.0,34424.0,29307.0,33103.0,42419.0,51009.0
A graduate of an Ukrainian school of the current year,200726.0,192785.0,185373.0,187659.0,211195.0,219640.0
College student of a vocational or higher education institution,18325.0,13618.0,120975.0,133018.0,125640.0,118638.0
Penitentiary institution,384.0,NaN,NaN,NaN,NaN,NaN
Total,268003.0,240889.0,335687.0,353813.0,379299.0,389323.0

In 2018 it becames obligatory to take EIE for college students of a vocational or higher education institution to be admitted at the universtity.

`tertypename` – type of territory (3 types: 'Village', 'City', 'Urban-type settlement')

In [30]:
dataset.tertypename.unique()

array(['Village', 'City', 'Urban-type settlement', nan], dtype=object)

In [63]:
pivot_df = dataset.groupby(['tertypename', 'year'], dropna=False).size().unstack()
pivot_df.loc['Total'] = pivot_df.sum()
pivot_df

year,2016,2017,2018,2019,2020,2021
tertypename,,,,,,
City,159036.0,152203.0,245246.0,263006.0,278221.0,284190.0
Urban-type settlement,22075.0,21465.0,27032.0,27775.0,30326.0,31515.0
Village,86891.0,67221.0,63409.0,63032.0,70752.0,73618.0
NaN,1.0,NaN,NaN,NaN,NaN,NaN
Total,268003.0,240889.0,335687.0,353813.0,379299.0,389323.0

In [32]:
dataset[dataset.tertypename.isnull()]

,outid,sextypename,regname,areaname,tername,regtypename,eoname,eotypename,eoregname,eoareaname,...,ukradaptscale,Degree of institution,Number of full-time teaching staff in total,Number of full-time non-teaching staff in total,Number of full-time teaching staff of retirement age,Number of students in total,Number of classes in total,Total number of students and children receiving preschool education,"Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures)","Expenditures for the operation of the institution (general fund), UAH thousand (plan)"
144704,3b07c9d4-067c-47fa-8cf4-8e2097ade009,Male,Dnipropetrovsk Oblast,Dnipropetrovsk region,Petropavlovsk district,College student of a vocational or higher educ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

`classprofilename`– profile of the participant's training class (24 types and two specific types: 'Junior specialit' for students and 'Skilled worker' for graduated people). Full information for the graduates of a Ukrainian school of the current year, partially for college graduates and students of a higher education institution. For else the values are NaN.

In [33]:
dataset.classprofilename.unique()

array([nan, 'Physics and mathematics', 'History', 'Universal',
       'Ukrainian philology', 'Foreign philology',
       'Information technology', 'Other (multi-profile)', 'Mathematics',
       'Ecology', 'Economics', 'Technology', 'Geography',
       'Biology and chemistry', 'Sports', 'Physics',
       'Military and sports', 'Art and aesthetics', 'Law',
       'Biotechnology', 'Chemical technologies and agrochemistry',
       'Biology and physics', 'Philosophy', 'Physics and chemistry',
       'Інший(багатопрофільність)', 'Biology', 'Junior specialist',
       'Skilled worker'], dtype=object)

In [48]:
dataset[dataset.classprofilename.isnull()][['regtypename', 'year']]

                                               regtypename  year
0        A graduate of an Ukrainian school of the curre...  2016
1        A graduate of an Ukrainian school of the curre...  2016
2             A graduate of a school of the previous years  2016
3        A graduate of an Ukrainian school of the curre...  2016
4        College student of a vocational or higher educ...  2016
...                                                    ...   ...
1966598       A graduate of a school of the previous years  2021
1966697       A graduate of a school of the previous years  2021
1966698       A graduate of a school of the previous years  2021
1966699       A graduate of a school of the previous years  2021
1966832       A graduate of a school of the previous years  2021

[594944 rows x 2 columns]

In [53]:
dataset[dataset.classprofilename.isnull()].groupby(['regtypename', 'year']).size().unstack()

year,2016,2017,2018,2019,2020,2021
regtypename,,,,,,
A graduate of a foreign school,62.0,62.0,32.0,33.0,45.0,36.0
A graduate of a school of the previous years,48506.0,34424.0,29307.0,33103.0,42419.0,51009.0
A graduate of an Ukrainian school of the current year,200726.0,NaN,NaN,NaN,NaN,NaN
College student of a vocational or higher education institution,18325.0,13618.0,120975.0,989.0,352.0,537.0
Penitentiary institution,384.0,NaN,NaN,NaN,NaN,NaN

`classprofilename`– profile of the participant's training class (24 types and two specific types: 'Junior specialit' for students and 'Skilled worker' for graduated people). Full information for the graduates of a Ukrainian school of the current year, partially for college graduates and students of a higher education institution. For else the values are NaN.

`classlangname` – participant's language of study (6 types and 'other' category). Full information for the graduates of a Ukrainian school of the current year, partially for college graduates and students of a higher education institution. For else the values are NaN.

`eoname` – the name of participant's institution of education. Full information for the graduates of a Ukrainian school of the current year, partially for college graduates and students of a higher education institution. For else the values are NaN.

`eotypename` – type of educational institution (30 types: 'Lyceum', 'Gymnasium', etc). Full information for the graduates of a Ukrainian school of the current year, partially for college graduates and students of a higher education institution. For else the values are NaN.

`eoregname` – region where the educational institution is located (same list as in regname). Full information for the graduates of a Ukrainian school of the current year, partially for college graduates and students of a higher education institution. For else the values are NaN.

`eoareaname` – district/city where the educational institution is located (same list as areaname). Full information for the graduates of a Ukrainian school of the current year, partially for college graduates and students of a higher education institution. For else the values are NaN.

`eotername` – place where the educational institution is located (same list as tername). Full information for the graduates of a Ukrainian school of the current year, partially for college graduates and students of a higher education institution. For else the values are NaN.

`eoparent` – the authority to which the educational institution is subordinated. Full information for the graduates of a Ukrainian school of the current year (except 2021), partially for college graduates and students of a higher education institution. For else the values are NaN.

`year` - individual's participation year

`age` - individual's age at the moment of the participation

## Test performance features

There are several subjects to choose from:
- ukr (ukrainian language and literature)
- hist (Ukrainian history)
- math (Mathematics)
- phys (Physics)
- chem (Chemistry)
- bio (biology)
- geo (geography)
- eng (English language)
- fr (French language)
- deu (Deutch language)
- sp (Spanish language)

We will decode one of them as `subj` instead of one of the 11 subjects mentioned above.

So, for each subject we have the following features:

`subjtest` - the name of the subject (corresponding name or nan if the participant didn't choose to take it)

`subjteststatus` – the result of the test ('The score threshold wasn't reached', 'Test passed', 'No attendance',
 'Test results were cancelled', '100-200 wasn't selected', or NaN if the participant didn't choose to take it)
       
`subjball`– raw score of the corresponding subject for participants with statuses: 'Test passed' and 'The score threshold wasn't reached' by subjteststatus (for else is NaN).

`subjptname`– the place of conducting the ZNO (corresponding name or nan if the participant didn't choose to take it)

`subjptregname` – the region where the ZNO is conducted (corresponding name, similar to regname, or nan if the participant didn't choose to take it)

`subjptareaname` – district/city where the ZNO testing center is located (corresponding name, similar to areaname, or nan if the participant didn't choose to take it)

`subjpttername` – place where the ZNO testing center is located (corresponding name, similar to tername, or nan if the participant didn't choose to take it)

In [8]:
for cols in dataset.columns:
    print(cols, ':', end=' ')
    if len(dataset[cols].unique())>6:
        print('{ number:', len(dataset[cols].unique()), ', nan:', dataset[cols].isnull().sum(),'}')
    else:
        print(dataset[cols].unique(), ', nan:', dataset[cols].isnull().sum())

outid : { number: 1967014 , nan: 0 }
sextypename : ['Male' 'Female'] , nan: 0
regname : { number: 25 , nan: 0 }
areaname : { number: 590 , nan: 0 }
tername : { number: 17513 , nan: 0 }
regtypename : ['A graduate of an Ukrainian school of the current year'
 'A graduate of a school of the previous years'
 'College student of a vocational or higher education institution'
 'Penitentiary institution' 'A graduate of a foreign school'] , nan: 0
eoname : { number: 22518 , nan: 275623 }
eotypename : { number: 30 , nan: 275623 }
eoregname : { number: 26 , nan: 275623 }
eoareaname : { number: 747 , nan: 275623 }
eotername : { number: 6533 , nan: 275623 }
eoparent : { number: 2828 , nan: 279285 }
ukrtest : ['Ukrainian language and literature' nan] , nan: 157289
ukrteststatus : ['Test passed' 'No attendance' "The score threshold wasn't reached" nan
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 157289
ukrball100 : { number: 111 , nan: 324904 }
ukrptname : { number: 2895 , nan: 157289 }
ukrptregname : { number: 26 , nan: 157289 }
ukrptareaname : { number: 526 , nan: 157289 }
ukrpttername : { number: 506 , nan: 157289 }
histtest : ['History of Ukraine' nan] , nan: 627717
histlang : { number: 7 , nan: 627717 }
histteststatus : ['Test passed' nan 'No attendance' "The score threshold wasn't reached"
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 627717
histball100 : { number: 112 , nan: 853851 }
histptname : { number: 2502 , nan: 627717 }
histptregname : { number: 26 , nan: 627717 }
histptareaname : { number: 486 , nan: 627717 }
histpttername : { number: 462 , nan: 627717 }
mathtest : [nan 'Mathematics'] , nan: 971064
mathlang : { number: 7 , nan: 971064 }
mathteststatus : [nan 'Test passed' 'No attendance' "The score threshold wasn't reached"
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 971064
mathball100 : { number: 95 , nan: 1079875 }
mathptname : { number: 2218 , nan: 971064 }
mathptregname : { number: 26 , nan: 971064 }
mathptareaname : { number: 467 , nan: 971064 }
mathpttername : { number: 438 , nan: 971064 }
phystest : [nan 'Physics'] , nan: 1801443
physlang : { number: 7 , nan: 1801443 }
physteststatus : [nan 'Test passed' "The score threshold wasn't reached" 'No attendance'
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 1801443
physball100 : { number: 91 , nan: 1827997 }
physptname : { number: 450 , nan: 1801443 }
physptregname : { number: 26 , nan: 1801443 }
physptareaname : { number: 131 , nan: 1801443 }
physpttername : { number: 100 , nan: 1801443 }
chemtest : [nan 'Chemistry'] , nan: 1849397
chemlang : { number: 7 , nan: 1849397 }
chemteststatus : [nan 'Test passed' "The score threshold wasn't reached" 'No attendance'
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 1849397
chemball100 : { number: 99 , nan: 1865381 }
chemptname : { number: 332 , nan: 1849397 }
chemptregname : { number: 26 , nan: 1849397 }
chemptareaname : { number: 118 , nan: 1849397 }
chempttername : { number: 90 , nan: 1849397 }
biotest : [nan 'Biology'] , nan: 1394972
biolang : { number: 7 , nan: 1394972 }
bioteststatus : [nan 'Test passed' "The score threshold wasn't reached" 'No attendance'
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 1394972
bioball100 : { number: 103 , nan: 1506403 }
bioptname : { number: 1273 , nan: 1394972 }
bioptregname : { number: 26 , nan: 1394972 }
bioptareaname : { number: 285 , nan: 1394972 }
biopttername : { number: 240 , nan: 1394972 }
geotest : [nan 'Geography'] , nan: 1370783
geolang : { number: 7 , nan: 1370783 }
geoteststatus : [nan "The score threshold wasn't reached" 'No attendance' 'Test passed'
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 1370783
geoball100 : { number: 109 , nan: 1495595 }
geoptname : { number: 1354 , nan: 1370783 }
geoptregname : { number: 26 , nan: 1370783 }
geoptareaname : { number: 288 , nan: 1370783 }
geopttername : { number: 252 , nan: 1370783 }
engtest : [nan 'English language'] , nan: 1348729
engteststatus : [nan 'Test passed' 'No attendance' "The score threshold wasn't reached"
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 1348729
engball100 : { number: 100 , nan: 1402749 }
engptname : { number: 1125 , nan: 1348729 }
engptregname : { number: 26 , nan: 1348729 }
engptareaname : { number: 250 , nan: 1348729 }
engpttername : { number: 207 , nan: 1348729 }
fratest : [nan 'French language'] , nan: 1963140
frateststatus : [nan 'No attendance' 'Test passed' "The score threshold wasn't reached"
 "100-200 wasn't selected"] , nan: 1963140
fraball100 : { number: 100 , nan: 1963673 }
fraptname : { number: 91 , nan: 1963140 }
fraptregname : { number: 25 , nan: 1963140 }
fraptareaname : { number: 49 , nan: 1963140 }
frapttername : { number: 43 , nan: 1963140 }
deutest : [nan 'German language'] , nan: 1952379
deuteststatus : [nan 'Test passed' 'No attendance' "The score threshold wasn't reached"
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 1952379
deuball100 : { number: 99 , nan: 1954450 }
deuptname : { number: 92 , nan: 1952379 }
deuptregname : { number: 25 , nan: 1952379 }
deuptareaname : { number: 53 , nan: 1952379 }
deupttername : { number: 46 , nan: 1952379 }
spatest : [nan 'Spanish language'] , nan: 1966009
spateststatus : [nan 'Test passed' 'No attendance' "The score threshold wasn't reached"
 'Test results were cancelled' "100-200 wasn't selected"] , nan: 1966009
spaball100 : { number: 94 , nan: 1966255 }
spaptname : { number: 71 , nan: 1966009 }
spaptregname : { number: 23 , nan: 1966009 }
spaptareaname : { number: 43 , nan: 1966009 }
spapttername : { number: 37 , nan: 1966009 }
rustest : [nan 'russian language'] , nan: 1961442
rusteststatus : [nan 'No attendance' 'Test passed' "The score threshold wasn't reached"] , nan: 1961442
rusball100 : { number: 82 , nan: 1962876 }
rusptname : { number: 49 , nan: 1961442 }
rusptregname : { number: 25 , nan: 1961442 }
rusptareaname : { number: 40 , nan: 1961442 }
ruspttername : { number: 36 , nan: 1961442 }
year : [2016 2017 2018 2019 2020 2021] , nan: 0
age : { number: 59 , nan: 0 }
tertypename : ['Village' 'City' 'Urban-type settlement' nan] , nan: 1
classprofilename : { number: 28 , nan: 594944 }
classlangname : { number: 8 , nan: 594944 }
ukrball : { number: 118 , nan: 808423 }
histball : { number: 96 , nan: 1207152 }
mathball : { number: 69 , nan: 1309190 }
physball : { number: 66 , nan: 1879361 }
chemball : { number: 81 , nan: 1912738 }
bioball : { number: 84 , nan: 1658684 }
geoball : { number: 96 , nan: 1611273 }
engball : { number: 74 , nan: 1559484 }
fraball : { number: 68 , nan: 1965083 }
deuball : { number: 70 , nan: 1959342 }
spaball : { number: 68 , nan: 1966495 }
ukradaptscale : [nan  0.  3.  7.  4.] , nan: 983221
Degree of institution : { number: 8 , nan: 1584082 }
Number of full-time teaching staff in total : { number: 764 , nan: 1584082 }
Number of full-time non-teaching staff in total : { number: 361 , nan: 1584082 }
Number of full-time teaching staff of retirement age : { number: 214 , nan: 1584082 }
Number of students in total : { number: 1557 , nan: 1584082 }
Number of classes in total : { number: 79 , nan: 1584082 }
Total number of students and children receiving preschool education : { number: 1291 , nan: 1826022 }
Expenditures for the operation of the institution (general fund), UAH thousand (cash expenditures) : { number: 17849 , nan: 1584082 }
Expenditures for the operation of the institution (general fund), UAH thousand (plan) : { number: 17944 , nan: 1584082 }

In [9]:
dataset['eotypename'].value_counts()

eotypename
Secondary general education school                                677278
Higher educational institution                                    185117
Educational complex                                               160215
Lyceum                                                            133145
Gymnasium                                                          97332
Specialized school                                                 94686
Higher educational institution of I-II levels of accreditation     75988
Professional lyceum of the relevant profile                        48767
Institution of vocational education                                48714
Institution of professional preliminary higher education           46341
Higher vocational school                                           41481
Vocational school of the relevant profile                          24808
Center of professional and technical education                     12987
Educational association                                             8777
Specialized boarding school                                         6387
Center of professional education                                    6266
Collegium                                                           5717
Boarding secondary general education school                         5487
Night (shift) school                                                3544
Sanatorium general education school                                 2019
Higher vocational school of art                                     1837
College                                                              890
Collegium/college                                                    878
Special general education school                                     823
Special boarding general education school                            766
Center for training and retraining of working personnel              705
Пеніціарна установа                                                  385
Educational and rehabilitation center                                 41
School of social rehabilitation                                       10
Name: count, dtype: int64

In [10]:
dataset[dataset['classlangname'].isnull()].regtypename.unique()

array(['A graduate of an Ukrainian school of the current year',
       'A graduate of a school of the previous years',
       'College student of a vocational or higher education institution',
       'Penitentiary institution', 'A graduate of a foreign school'],
      dtype=object)

In [11]:
dataset[dataset['classlangname'].notnull()].regtypename.unique()

array(['A graduate of an Ukrainian school of the current year',
       'College student of a vocational or higher education institution'],
      dtype=object)

In [12]:
dataset['classprofilename'].unique()

array([nan, 'Physics and mathematics', 'History', 'Universal',
       'Ukrainian philology', 'Foreign philology',
       'Information technology', 'Other (multi-profile)', 'Mathematics',
       'Ecology', 'Economics', 'Technology', 'Geography',
       'Biology and chemistry', 'Sports', 'Physics',
       'Military and sports', 'Art and aesthetics', 'Law',
       'Biotechnology', 'Chemical technologies and agrochemistry',
       'Biology and physics', 'Philosophy', 'Physics and chemistry',
       'Інший(багатопрофільність)', 'Biology', 'Junior specialist',
       'Skilled worker'], dtype=object)

In [13]:
dataset.classprofilename.value_counts()

classprofilename
Universal                                  239443
Junior specialist                          227506
Ukrainian philology                        218325
Skilled worker                             147912
Foreign philology                          112719
Mathematics                                 77652
Technology                                  57675
History                                     50561
Інший(багатопрофільність)                   37815
Information technology                      35810
Other (multi-profile)                       24024
Biology and chemistry                       23581
Physics and mathematics                     23570
Economics                                   17478
Law                                         15398
Military and sports                         11990
Sports                                      11183
Biotechnology                                8651
Ecology                                      7443
Biology                                      6953
Geography                                    6295
Art and aesthetics                           5305
Physics                                      1415
Chemical technologies and agrochemistry      1355
Biology and physics                          1353
Philosophy                                    460
Physics and chemistry                         198
Name: count, dtype: int64

In [14]:
dataset.classlangname.value_counts()

classlangname
Ukrainian    1289672
Russian        72454
Romanian        4915
Hungarian       3644
Moldovan         832
Polish           461
Other             92
Name: count, dtype: int64