In [98]:
import numpy as np
import pandas as pd
import renaming_dictionaries as renam
import importlib

In [2]:
# load datasets
datasets = {}
years = range(2016, 2022)
for year in years:
    print(f"EIE {year} Loading...")
    if int(year) >= 2019:
        file_name = f'Odata{year}File.csv'
    else:
        file_name = f'OpenData{year}.csv'
    try:           
        dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='utf-8')
    except:
        dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='Windows 1251')
    datasets.update({year:dataset})
    print("success")

EIE 2016 Loading...
success
EIE 2017 Loading...
success
EIE 2018 Loading...

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_2918/936874828.py:11: DtypeWarning: Columns (119) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='utf-8')

success
EIE 2019 Loading...

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_2918/936874828.py:13: DtypeWarning: Columns (100,116,117,118,120,122,123,124,125) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='Windows 1251')

success
EIE 2020 Loading...

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_2918/936874828.py:13: DtypeWarning: Columns (96,97,98,100,102,103,104,105,116,117,118,120,122,123,124,125) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='Windows 1251')

success
EIE 2021 Loading...

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_2918/936874828.py:11: DtypeWarning: Columns (117,118,119,121,123,124,125,126,137,138,139,141,143,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='utf-8')

success

In [3]:
for year, dataset in datasets.items():
    #lowercase all columns and add year as attribute
    dataset.columns = [col.lower() for col in dataset.columns]
    #add year before merging datasets
    dataset['year'] = year

In [4]:
for year, dataset in datasets.items():
    print(year, dataset.shape)

2016 (268003, 107)
2017 (240889, 120)
2018 (335687, 126)
2019 (353813, 127)
2020 (379299, 127)
2021 (389323, 148)

In [5]:
for year, dataset in datasets.items():
    print([col for col in dataset.columns if col.endswith('regname')])

['regname', 'eoregname', 'ukrptregname', 'histptregname', 'mathptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'frptregname', 'deuptregname', 'spptregname', 'rusptregname']
['regname', 'eoregname', 'ukrptregname', 'histptregname', 'mathptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'fraptregname', 'deuptregname', 'spaptregname', 'rusptregname']
['regname', 'eoregname', 'ukrptregname', 'histptregname', 'mathptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'fraptregname', 'deuptregname', 'spaptregname']
['regname', 'eoregname', 'ukrptregname', 'histptregname', 'mathptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'fraptregname', 'deuptregname', 'spaptregname']
['regname', 'eoregname', 'ukrptregname', 'histptregname', 'mathptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'fraptregname', 'deuptregname', 'spaptregname']
['regname', 'eoregname', 'umlptregname', 'ukrptregname', 'histptregname', 'mathptregname', 'mathstptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'fraptregname', 'deuptregname', 'spaptregname']

In [6]:
types = ['', 'eo', 'ukrpt', 'umlpt', 'mathpt', 'histpt', 'physpt', 'mathstptregname', 'chempt', 'biopt', 'geopt', 'engpt', 'frapt', 'frpt', 'deupt', 'spapt', 'sppt', 'ruspt']

In [7]:
locations = pd.DataFrame(columns=['regname', 'areaname', 'tername'])

In [8]:
for year, dataset in datasets.items():
    for typ in types:
        new_col = {typ+'regname': 'regname', typ+'areaname':'areaname', typ+'tername': 'tername'}
        if all(column in dataset.columns for column in new_col):
            temp_data = dataset.loc[:,new_col.keys()]
            temp_data.rename(columns=new_col, inplace=True)
            locations = pd.concat([locations, temp_data], ignore_index=True)

locations.drop_duplicates(inplace=True)
locations.reset_index(drop=True, inplace=True)
#when student doesn't take the test the corresponding location is NaN
#we drop these rows
locations.dropna(how = 'all', inplace=True)
locations

,regname,areaname,tername
0,Запорізька область,Мелітопольський район,с.Терпіння
1,Хмельницька область,Красилівський район,м.Красилів
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка
3,Чернівецька область,м.Чернівці,Шевченківський район міста
4,Миколаївська область,Врадіївський район,с.Кумарі
...,...,...,...
22588,Житомирська область,Любарський район,с.Великий Браталів
22589,Хмельницька область,Ізяславський район,с.Влашанівка
22590,Львівська область,Яворівський район,с.Коханівка
22591,Житомирська область,Ємільчинський район,с.Бастова Рудня
22592,Чернівецька область,м.Чернівці,м.Чернівці

# Codifier brush-up

In [9]:
code2020 = pd.read_excel('KOATUU_26112020.xls',  dtype=str)
code2020

               TE   NP                                       NU
0      0100000000  NaN  АВТОНОМНА РЕСПУБЛІКА КРИМ/М.СІМФЕРОПОЛЬ
1      0110000000  NaN         МІСТА АВТОНОМНОЇ РЕСПУБЛІКИ КРИМ
2      0110100000  NaN                              СІМФЕРОПОЛЬ
3      0110130000  NaN                     РАЙОНИ М.СІМФЕРОПОЛЯ
4      0110136300    Р                              ЗАЛІЗНИЧНИЙ
...           ...  ...                                      ...
39415  8536990504    С                                  КАМИШЛИ
39416  8536990505    С                                ПИРОГОВКА
39417  8536990507    С                                ПОВОРОТНЕ
39418  8536990509    С                                 ФРОНТОВЕ
39419  8536990511    С                                 ФРУКТОВЕ

[39420 rows x 3 columns]

In [10]:
code2020['region_KOATUU'] = code2020['TE'].str[:2]
code2020['area_KOATUU'] = code2020['TE'].str[2:5]
code2020['local_KOATUU'] = code2020['TE'].str[5:]
code2020

,TE,NP,NU,region_KOATUU,area_KOATUU,local_KOATUU
0,0100000000,NaN,АВТОНОМНА РЕСПУБЛІКА КРИМ/М.СІМФЕРОПОЛЬ,01,000,00000
1,0110000000,NaN,МІСТА АВТОНОМНОЇ РЕСПУБЛІКИ КРИМ,01,100,00000
2,0110100000,NaN,СІМФЕРОПОЛЬ,01,101,00000
3,0110130000,NaN,РАЙОНИ М.СІМФЕРОПОЛЯ,01,101,30000
4,0110136300,Р,ЗАЛІЗНИЧНИЙ,01,101,36300
...,...,...,...,...,...,...
39415,8536990504,С,КАМИШЛИ,85,369,90504
39416,8536990505,С,ПИРОГОВКА,85,369,90505
39417,8536990507,С,ПОВОРОТНЕ,85,369,90507
39418,8536990509,С,ФРОНТОВЕ,85,369,90509
39419,8536990511,С,ФРУКТОВЕ,85,369,90511

In [11]:
code2020['name_KOATUU'] = code2020['NU'].str.split('/').str[0].str.lower().str.capitalize()
code2020[code2020.area_KOATUU == '000'][['NU', 'region_KOATUU', 'name_KOATUU']]

,NU,region_KOATUU,name_KOATUU
0,АВТОНОМНА РЕСПУБЛІКА КРИМ/М.СІМФЕРОПОЛЬ,01,Автономна республіка крим
1328,ВІННИЦЬКА ОБЛАСТЬ/М.ВІННИЦЯ,05,Вінницька область
3508,ВОЛИНСЬКА ОБЛАСТЬ/М.ЛУЦЬК,07,Волинська область
4870,ДНІПРОПЕТРОВСЬКА ОБЛАСТЬ/М.ДНІПРО,12,Дніпропетровська область
6645,ДОНЕЦЬКА ОБЛАСТЬ/М.ДОНЕЦЬК,14,Донецька область
8272,ЖИТОМИРСЬКА ОБЛАСТЬ/М.ЖИТОМИР,18,Житомирська область
10367,ЗАКАРПАТСЬКА ОБЛАСТЬ/М.УЖГОРОД,21,Закарпатська область
11303,ЗАПОРІЗЬКА ОБЛАСТЬ/М.ЗАПОРІЖЖЯ,23,Запорізька область
12483,ІВАНО-ФРАНКІВСЬКА ОБЛАСТЬ/М.ІВАНО-ФРАНКІВСЬК,26,Івано-франківська область
13716,КИЇВСЬКА ОБЛАСТЬ/М.КИЇВ,32,Київська область
15548,КІРОВОГРАДСЬКА ОБЛАСТЬ/М.КРОПИВНИЦЬКИЙ,35,Кіровоградська область
17013,ЛУГАНСЬКА ОБЛАСТЬ/М.ЛУГАНСЬК,44,Луганська область
18187,ЛЬВІВСЬКА ОБЛАСТЬ/М.ЛЬВІВ,46,Львівська область
20787,МИКОЛАЇВСЬКА ОБЛАСТЬ/М.МИКОЛАЇВ,48,Миколаївська область
21951,ОДЕСЬКА ОБЛАСТЬ/М.ОДЕСА,51,Одеська область
23588,ПОЛТАВСЬКА ОБЛАСТЬ/М.ПОЛТАВА,53,Полтавська область
25930,РІВНЕНСЬКА ОБЛАСТЬ/М.РІВНЕ,56,Рівненська область
27273,СУМСЬКА ОБЛАСТЬ/М.СУМИ,59,Сумська область
29114,ТЕРНОПІЛЬСЬКА ОБЛАСТЬ/М.ТЕРНОПІЛЬ,61,Тернопільська область
30650,ХАРКІВСЬКА ОБЛАСТЬ/М.ХАРКІВ,63,Харківська область
32823,ХЕРСОНСЬКА ОБЛАСТЬ/М.ХЕРСОН,65,Херсонська область
33798,ХМЕЛЬНИЦЬКА ОБЛАСТЬ/М.ХМЕЛЬНИЦЬКИЙ,68,Хмельницька область
35623,ЧЕРКАСЬКА ОБЛАСТЬ/М.ЧЕРКАСИ,71,Черкаська область
36952,ЧЕРНІВЕЦЬКА ОБЛАСТЬ/М.ЧЕРНІВЦІ,73,Чернівецька область
37569,ЧЕРНІГІВСЬКА ОБЛАСТЬ/М.ЧЕРНІГІВ,74,Чернігівська область
39363,М.КИЇВ,80,М.київ
39375,М.СЕВАСТОПОЛЬ,85,М.севастополь

In [12]:
code2020 = code2020[~code2020['region_KOATUU'].isin(['01', '85'])]

In [13]:
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('міста ')]
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('райони ')]
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('селища ')]
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('населенi ')]
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('селища, ')]
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('сільради ')]
code2020 = code2020.reset_index(drop=True)

In [14]:
code2020.NP.unique()

array([nan, 'М', 'Т', 'С', 'Щ', 'Р', 'C'], dtype=object)

In [15]:
code2020.NP = code2020.NP.str.replace('C', 'С')

In [16]:
code2020.loc[code2020['NP'] == 'М', 'name_KOATUU'] = 'м.' + code2020.loc[code2020['NP'] == 'М', 'name_KOATUU']
code2020.loc[code2020['NP'] == 'С', 'name_KOATUU'] = 'с.' + code2020.loc[code2020['NP'] == 'С', 'name_KOATUU']
code2020.loc[code2020['NP'] == 'Щ', 'name_KOATUU'] = 'с-ще ' + code2020.loc[code2020['NP'] == 'Щ', 'name_KOATUU']
code2020.loc[code2020['NP'] == 'Т', 'name_KOATUU'] = 'смт ' + code2020.loc[code2020['NP'] == 'Т', 'name_KOATUU']

In [17]:
set(code2020[code2020.area_KOATUU == '000'].name_KOATUU.str.lower())^set(locations.regname.str.lower())

set()

In [18]:
locations_region = locations.merge(code2020[['region_KOATUU']], left_on=locations['regname'].str.lower(), right_on=code2020['name_KOATUU'].str.lower(), how='left')
locations_region = locations_region.drop('key_0', axis=1)
locations_region.head()

,regname,areaname,tername,region_KOATUU
0,Запорізька область,Мелітопольський район,с.Терпіння,23
1,Хмельницька область,Красилівський район,м.Красилів,68
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73
4,Миколаївська область,Врадіївський район,с.Кумарі,48

In [19]:
locations_region[['regname', 'region_KOATUU']].value_counts()

regname                    region_KOATUU
Львівська область          46               1787
Вінницька область          05               1338
Житомирська область        18               1274
Полтавська область         53               1215
Хмельницька область        68               1207
Харківська область         63               1176
Дніпропетровська область   12               1120
Рівненська область         56               1102
Волинська область          07               1079
Тернопільська область      61               1039
Київська область           32               1027
Одеська область            51                935
Чернігівська область       74                884
Івано-Франківська область  26                823
Запорізька область         23                800
Донецька область           14                754
Сумська область            59                750
Черкаська область          71                734
Закарпатська область       21                689
Кіровоградська область     35                688
Миколаївська область       48                672
Херсонська область         65                634
Чернівецька область        73                445
Луганська область          44                390
м.Київ                     80                 30
Name: count, dtype: int64

# Matching areas

In [20]:
locations_region['areaname_new'] = locations_region['areaname']
locations_region.head(25)

,regname,areaname,tername,region_KOATUU,areaname_new
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район
5,Донецька область,Донецька область,м.Дружківка,14,Донецька область
6,Тернопільська область,Тернопільська область,м.Тернопіль,61,Тернопільська область
7,Дніпропетровська область,Дніпропетровська область,м.Нікополь,12,Дніпропетровська область
8,Кіровоградська область,Новгородківський район,с.Тарасівка,35,Новгородківський район
9,Дніпропетровська область,м.Дніпропетровськ,Жовтневий район міста,12,м.Дніпропетровськ
10,Одеська область,м.Одеса,Суворовський район міста,51,м.Одеса
11,Дніпропетровська область,Дніпропетровська область,м.Павлоград,12,Дніпропетровська область
12,Львівська область,Яворівський район,смт Івано-Франкове,46,Яворівський район
13,Івано-Франківська область,Надвірнянський район,с.Лоєва (Лоївська сільрада),26,Надвірнянський район
14,Хмельницька область,Славутський район,с.Гута (Хоровецька сільрада),68,Славутський район
15,Одеська область,Кілійський район,м.Кілія,51,Кілійський район
16,Дніпропетровська область,м.Дніпропетровськ,Ленінський район міста,12,м.Дніпропетровськ
17,Харківська область,Вовчанський район,с.Пролетарське (Червоноармійська Перша сільрада),63,Вовчанський район
18,Черкаська область,Черкаська область,м.Умань,71,Черкаська область
19,Одеська область,м.Одеса,Малиновський район міста,51,м.Одеса
20,Хмельницька область,Білогірський район,смт Білогір'я,68,Білогірський район
21,Тернопільська область,Теребовлянський район,с.Бенева (Бенівська сільрада),61,Теребовлянський район
22,Тернопільська область,Теребовлянський район,м.Теребовля,61,Теребовлянський район
23,Дніпропетровська область,м.Дніпропетровськ,Красногвардійський район міста,12,м.Дніпропетровськ
24,Донецька область,Артемівський район,с.Парасковіївка,14,Артемівський район

Sometimes they wrongly put the name of regions in the second column. We fix it here

In [21]:
locations_region['areaname_new'] = locations_region.apply(lambda row: row['tername'] if ('область' in row['areaname_new'] or 'м.Київ' in row['areaname_new']) else row['areaname_new'], axis=1)

In [22]:
locations_region['areaname_new'] = locations_region.apply(lambda row: row['areaname_new'].split('. ')[0] if ('. ' in row['areaname_new']) else row['areaname_new'], axis=1)

In [23]:
dct = {}
for code in code2020.region_KOATUU.unique():
    troubles = set(locations_region[(locations_region.region_KOATUU == code)].areaname_new.str.lower())-set(code2020[(code2020.region_KOATUU == code)&(code2020.area_KOATUU != '000')&(code2020.local_KOATUU == '00000')].name_KOATUU.str.lower())
    if troubles:
        dct[code] = troubles
print(dct)

{'12': {"м.кам'янське", 'м.орджонікідзе', 'м.дніпропетровськ', 'м.дніпро', 'дніпропетровський район', 'м.дніпродзержинськ', 'м.кривий ріг'}, '14': {'м.красний лиман', 'артемівський район', 'м.маріуполь', 'м.красноармійськ', 'м.димитров', 'першотравневий район', 'красноармійський район', 'володарський район', 'м.дзержинськ', 'м.артемівськ'}, '18': {'володарськ-волинський район', 'м.житомир', 'червоноармійський район'}, '21': {'м.мукачеве'}, '23': {'м.запоріжжя', 'куйбишевський район'}, '32': {'м.переяслав-хмельницький'}, '35': {'м.кропивницький', 'м.кіровоград', 'ульяновський район', 'кіровоградський район'}, '46': {'м.львів'}, '48': {'м.миколаїв', 'жовтневий район'}, '51': {'красноокнянський район', 'комінтернівський район', 'фрунзівський район', 'котовський район', 'м.іллічівськ', 'м.котовськ', 'м.одеса'}, '53': {'м.полтава', 'м.кременчук', 'м.комсомольськ'}, '56': {'м.кузнецовськ'}, '59': {'м.суми'}, '63': {'м.харків'}, '65': {'цюрупинський район', 'м.херсон'}, '71': {'м.черкаси'}, '74': {'щорський район', 'м.чернігів'}, '80': {'дарницький район міста', "солом'янський район міста", 'голосіївський район міста', 'печерський район міста', 'деснянський район міста', 'оболонський район міста', 'шевченківський район міста', 'подільський район міста', 'святошинський район міста', 'дніпровський район міста'}}

In [24]:
for code in renam.dct_rename_area:
    for name in renam.dct_rename_area[code]:
        locations_region.loc[(locations_region.region_KOATUU == code) & (locations_region['areaname_new'] == name), 'areaname_new'] = renam.dct_rename_area[code][name]

In [25]:
for city in renam.dct_cities:
    code2020.loc[(code2020['local_KOATUU'] == '00000') & (code2020['name_KOATUU'].str.lower() == city), 'name_KOATUU'] = renam.dct_cities[city]

In [26]:
for ray in renam.kyiv_dict:
    locations_region.loc[(locations_region.regname == 'м.Київ') & (locations_region.areaname_new.str.lower() == ray), 'areaname_new'] = renam.kyiv_dict[ray]

In [27]:
dct = {}
for code in code2020.region_KOATUU.unique():
    troubles = set(locations_region[(locations_region.region_KOATUU == code)].areaname_new.str.lower())-set(code2020[(code2020.region_KOATUU == code)&(code2020.area_KOATUU != '000')&(code2020.local_KOATUU == '00000')].name_KOATUU.str.lower())
    if troubles:
        dct[code] = troubles
print(dct)

{}

In [28]:
locations_area = locations_region.merge(code2020[['area_KOATUU']], left_on=[locations_region['region_KOATUU'], locations_region['areaname_new'].str.lower()], right_on=[code2020['region_KOATUU'], code2020['name_KOATUU'].str.lower()], how='left')
locations_area = locations_area.drop(columns = ['key_0', 'key_1'], axis=1)
locations_area.head()

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223

In [29]:
locations_area[(locations_area.area_KOATUU.isna())]

Empty DataFrame
Columns: [regname, areaname, tername, region_KOATUU, areaname_new, area_KOATUU]
Index: []

# Matching tername

In [30]:
locations_area['tername_new'] = locations_area['tername']
locations_area['tername_new'] = locations_area['tername_new'].str.replace(r'\(.*\)', '', regex = True).str.strip()
locations_area['tername_new'] = locations_area['tername_new'].str.replace(' район міста','')
locations_area['tername_new']

0                с.Терпіння
1                м.Красилів
2               с.Дмитрівка
3            Шевченківський
4                  с.Кумарі
                ...
22587    с.Великий Браталів
22588          с.Влашанівка
22589           с.Коханівка
22590       с.Бастова Рудня
22591            м.Чернівці
Name: tername_new, Length: 22592, dtype: object

In [31]:
locations_area['code'] = locations_area['region_KOATUU']+locations_area['area_KOATUU']
locations_area

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,Шевченківський,73101
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223
...,...,...,...,...,...,...,...,...
22587,Житомирська область,Любарський район,с.Великий Браталів,18,Любарський район,231,с.Великий Браталів,18231
22588,Хмельницька область,Ізяславський район,с.Влашанівка,68,Ізяславський район,221,с.Влашанівка,68221
22589,Львівська область,Яворівський район,с.Коханівка,46,Яворівський район,258,с.Коханівка,46258
22590,Житомирська область,Ємільчинський район,с.Бастова Рудня,18,Ємільчинський район,217,с.Бастова Рудня,18217
22591,Чернівецька область,м.Чернівці,м.Чернівці,73,м.Чернівці,101,м.Чернівці,73101

In [32]:
code2020['code'] = code2020['region_KOATUU']+code2020['area_KOATUU']
code2020

,TE,NP,NU,region_KOATUU,area_KOATUU,local_KOATUU,name_KOATUU,code
0,0500000000,NaN,ВІННИЦЬКА ОБЛАСТЬ/М.ВІННИЦЯ,05,000,00000,Вінницька область,05000
1,0510100000,М,ВІННИЦЯ,05,101,00000,м.Вінниця,05101
2,0510141000,Т,ДЕСНА,05,101,41000,смт Десна,05101
3,0510300000,М,ЖМЕРИНКА,05,103,00000,м.Жмеринка,05103
4,0510390001,С,ЖУКІВЦІ,05,103,90001,с.Жуківці,05103
...,...,...,...,...,...,...,...,...
36847,8038200000,Р,ПЕЧЕРСЬКИЙ,80,382,00000,Печерський,80382
36848,8038500000,Р,ПОДІЛЬСЬКИЙ,80,385,00000,Подільський,80385
36849,8038600000,Р,СВЯТОШИНСЬКИЙ,80,386,00000,Святошинський,80386
36850,8038900000,Р,СОЛОМ'ЯНСЬКИЙ,80,389,00000,Солом'янський,80389
36851,8039100000,Р,ШЕВЧЕНКІВСЬКИЙ,80,391,00000,Шевченківський,80391

In [33]:
renaming = pd.read_csv('Renaming.csv')
renaming

,New,Old,areaname,regname,year
0,с.Азовське,с.Луначарське,Бердянський район,Запорізька область,2016
1,с.Армашівка,с.Орджонікідзе,Ширяївський район,Одеська область,2016
2,с.Високе,с.Артемівка,Кегичівський район,Харківська область,2016
3,с.Вишневе,с.Жовтневе,Калинівський район,Вінницька область,2016
4,с.Єрмішкове,с.Дзержинське,Великомихайлівський район,Одеська область,2016
...,...,...,...,...,...
1536,м.Яремче,м.Яремча,м.Яремче,Івано-Франківська область,2006
1537,с.Яромель,с.Йосипівка,Ківерцівський район,Волинська область,1989
1538,с.Ясинівка,с.Ясенівка,Дубенський район,Рівненська область,2013
1539,с.Ятвяги,с.Прибілля,Жидачівський район,Львівська область,2015
1540,с.Яшники,с.Ячники,Лохвицький район,Полтавська область,1995

In [34]:
set(code2020[code2020.area_KOATUU == '000'].name_KOATUU.str.lower())^set(renaming.regname.str.lower())

{'м.київ'}

In [35]:
renam_code = renaming.merge(code2020[['region_KOATUU']], left_on=renaming['regname'].str.lower(), right_on=code2020['name_KOATUU'].str.lower(), how='left')
renam_code = renam_code.drop('key_0', axis=1)
renam_code

,New,Old,areaname,regname,year,region_KOATUU
0,с.Азовське,с.Луначарське,Бердянський район,Запорізька область,2016,23
1,с.Армашівка,с.Орджонікідзе,Ширяївський район,Одеська область,2016,51
2,с.Високе,с.Артемівка,Кегичівський район,Харківська область,2016,63
3,с.Вишневе,с.Жовтневе,Калинівський район,Вінницька область,2016,05
4,с.Єрмішкове,с.Дзержинське,Великомихайлівський район,Одеська область,2016,51
...,...,...,...,...,...,...
1536,м.Яремче,м.Яремча,м.Яремче,Івано-Франківська область,2006,26
1537,с.Яромель,с.Йосипівка,Ківерцівський район,Волинська область,1989,07
1538,с.Ясинівка,с.Ясенівка,Дубенський район,Рівненська область,2013,56
1539,с.Ятвяги,с.Прибілля,Жидачівський район,Львівська область,2015,46
1540,с.Яшники,с.Ячники,Лохвицький район,Полтавська область,1995,53

In [36]:
dct = {}
for code in code2020.region_KOATUU.unique():
    troubles = set(renam_code[(renam_code.region_KOATUU == code)].areaname.str.lower())-set(code2020[(code2020.region_KOATUU == code)&(code2020.area_KOATUU != '000')&(code2020.local_KOATUU == '00000')].name_KOATUU.str.lower())
    if troubles:
        dct[code] = troubles
print(dct)

{}

In [37]:
renam_code = renam_code.merge(code2020[['area_KOATUU']], left_on=[renam_code['region_KOATUU'], renam_code['areaname'].str.lower()], right_on=[code2020['region_KOATUU'], code2020['name_KOATUU'].str.lower()], how='left')
renam_code = renam_code.drop(columns = ['key_0', 'key_1'], axis=1)
renam_code

,New,Old,areaname,regname,year,region_KOATUU,area_KOATUU
0,с.Азовське,с.Луначарське,Бердянський район,Запорізька область,2016,23,206
1,с.Армашівка,с.Орджонікідзе,Ширяївський район,Одеська область,2016,51,254
2,с.Високе,с.Артемівка,Кегичівський район,Харківська область,2016,63,231
3,с.Вишневе,с.Жовтневе,Калинівський район,Вінницька область,2016,05,216
4,с.Єрмішкове,с.Дзержинське,Великомихайлівський район,Одеська область,2016,51,216
...,...,...,...,...,...,...,...
1536,м.Яремче,м.Яремча,м.Яремче,Івано-Франківська область,2006,26,110
1537,с.Яромель,с.Йосипівка,Ківерцівський район,Волинська область,1989,07,218
1538,с.Ясинівка,с.Ясенівка,Дубенський район,Рівненська область,2013,56,216
1539,с.Ятвяги,с.Прибілля,Жидачівський район,Львівська область,2015,46,215
1540,с.Яшники,с.Ячники,Лохвицький район,Полтавська область,1995,53,226

In [38]:
renam_code['code'] = renam_code['region_KOATUU']+renam_code['area_KOATUU']
renam_code

,New,Old,areaname,regname,year,region_KOATUU,area_KOATUU,code
0,с.Азовське,с.Луначарське,Бердянський район,Запорізька область,2016,23,206,23206
1,с.Армашівка,с.Орджонікідзе,Ширяївський район,Одеська область,2016,51,254,51254
2,с.Високе,с.Артемівка,Кегичівський район,Харківська область,2016,63,231,63231
3,с.Вишневе,с.Жовтневе,Калинівський район,Вінницька область,2016,05,216,05216
4,с.Єрмішкове,с.Дзержинське,Великомихайлівський район,Одеська область,2016,51,216,51216
...,...,...,...,...,...,...,...,...
1536,м.Яремче,м.Яремча,м.Яремче,Івано-Франківська область,2006,26,110,26110
1537,с.Яромель,с.Йосипівка,Ківерцівський район,Волинська область,1989,07,218,07218
1538,с.Ясинівка,с.Ясенівка,Дубенський район,Рівненська область,2013,56,216,56216
1539,с.Ятвяги,с.Прибілля,Жидачівський район,Львівська область,2015,46,215,46215
1540,с.Яшники,с.Ячники,Лохвицький район,Полтавська область,1995,53,226,53226

In [39]:
renaming_dict = {(row['Old'], row['code']): row['New'] for _, row in renam_code.iterrows()}
locations_area['tername_new'] = locations_area.apply(lambda row: renaming_dict.get((row['tername_new'], row['code']), row['tername_new']), axis=1)

In [40]:
for cod in locations_area.code.unique():
    troubles = set(locations_area[(locations_area.code == cod)].tername_new.str.lower())-set(code2020[code2020.code == cod].name_KOATUU.str.lower())
    if troubles:
        print(f'{repr(cod)}:{troubles},')

'68227':{'с.дружнє'},
'73101':{'шевченківський', 'садгірський', 'першотравневий'},
'14117':{'смт олексіїво-дружківка'},
'12101':{'кіровський', 'жовтневий', 'ленінський', 'красногвардійський', 'бабушкінський'},
'46258':{'с.руда краковецька', 'с.щеплати'},
'26240':{'с.саджавка'},
'68239':{'с.старий кривин', "с.д'яків", 'с.голики'},
'51223':{'с.миколаівка'},
'63216':{'с-ще новоолександрівка', 'с-ще вірівка', 'с-ще профінтерн'},
'14209':{'с-ще володимирівка', 'с-ще хромове', 'с.зайцеве', 'с.покровське', 'с.відродження', 'с-ще зеленопілля', 'с.кліщіївка', 'с.переізне', 'с.іванівське', 'с-ще опитне', 'с.іванград', 'с.клинове'},
'46212':{'с.отриничі'},
'71234':{'с.летицівка'},
'63101':{'червонозаводський', 'фрунзенський', 'жовтневий', 'ленінський', 'комінтернівський', 'дзержинський', 'орджонікідзевський'},
'35222':{'с.золоми'},
'05101':{'ленінський', 'замостянський', 'староміський'},
'74241':{'с.билорічиця'},
'14141':{'м.миколаївка'},
'56212':{'с.угольці'},
'53232':{'с.декабристів'},
'65101':{'комсомольський'},
'51210':{'с-ще повстанське', 'м.біляївка', 'с.майори'},
'32214':{'с.степове', 'с.вільшанська-новоселиця'},
'05230':{'с.кірова', 'с.нові обіходи'},
'21244':{'с.вонігово'},
'48220':{'с.новогригорівка', 'с.ракове'},
'46215':{'с.демянка-надднистрянська'},
'63220':{'с-ще дворічний кут'},
'32212':{'с.кулажінци'},
'56242':{'с.розваж'},
'14233':{'с-ще максимівка', 'с-ще дальнє', 'с-ще дачне', 'с-ще водяне', 'с.степне', 'с.павлівка', 'с-ще степне', 'с-ще солодке', 'с-ще янтарне'},
'12110':{'жовтневий', 'дзержинський'},
'59101':{'с.верхне піщане'},
'23101':{'ленінський', 'орджонікідзевський', 'жовтневий', 'смт тепличне'},
'53101':{'ленінський', 'октябрський'},
'12220':{'с-ще кудашівка', 'с-ще вишневе'},
'48101':{'ленінський'},
'14239':{'с-ще приазовське', 'с-ще азовське', "с-ще дем'янівка", 'с.білосарайська', 'с-ще портівське', 'с-ще агробаза'},
'71231':{'с.паланочки'},
'61226':{'с.плесківці', 'с.малашівці', 'с.глядки', 'с.чернихів', 'с.курівці', 'с.іванківці', 'с.вертелка', 'с.воробіівка', 'с.кобзарівка'},
'53206':{'м.глобино'},
'46251':{'с.городивичі', 'с.велика-волосянка'},
'14129':{'смт молотаранівка'},
'61216':{'с.орішківці', 'с.паівка'},
'63217':{'с-ще першотравневе', 'с-ще красна поляна', 'с-ще водяне', 'с-ще роздольне'},
'51214':{'с-ще оксамитне', 'с-ще тополине'},
'23242':{'с.улянівка'},
'74220':{'с.калитянське'},
'14103':{'м.соледар', 'м.часів яр'},
'65223':{'с.білогрудове', 'м.гола пристань', "с.стара збур'ївка"},
'35101':{'ленінський', 'кіровський'},
'14123':{'жовтневий', 'с.піонерське', 'с.виноградне', 'орджонікідзевський', 'іллічівський'},
'61234':{'с.дунаів', 'с.старий почаів', 'с.савчинці', 'с.гаі', 'м.кременець'},
'18240':{'с.маковиці', 'с.майстрова воля', 'с.майстрів'},
'14203':{"с.запаро-мар'євка"},
'51227':{'с-ще гвардійське'},
'05210':{'с.рів', 'с.жуківці', 'с.сідава', 'с.коростівці', 'с.межирів'},
'61252':{'с.прощова', 'с.чистілів'},
'46209':{'с.тулиголови'},
'65107':{'м.тавріїськ'},
'18244':{'с.рудня озерянська', 'с.майдан копищенський'},
'63208':{'с.улянівка'},
'12104':{'баглійський'},
'46248':{'с.свитязі'},
'51254':{'с.новопетрівка перша', 'с.новопетрівка друга'},
'07218':{'с.сапогове', 'с.дачне', 'с.жабка', 'с.прилуцьке'},
'65229':{'с.новодмитрівка-друга'},
'46118':{'м.соснівка'},
'73245':{'с.зруб-комарівці', 'с.аршица'},
'32105':{'с.несторівка'},
'18217':{'с.рудня іванівська'},
'21253':{'с.крайна', 'с.бороняво'},
'14215':{'с-ще привільне', 'с-ще діанівка', 'с-ще хлібодарівка', 'с-ще пільне', 'с-ще ближнє', 'с-ще степне', 'с.октябрьське', 'с-ще кіровське', 'смт ольгінка'},
'59253':{'с.остроушки', 'с.ображіївка', 'с.погребки'},
'05206':{'смт десна'},
'05253':{'с.рахни лісові'},
'32224':{'с.княжічі'},
'32202':{'с.паршиків', 'с-ще садове'},
'46242':{'с.воля-бранецька'},
'21232':{"с.тур'я бистра"},
'21227':{'с.шенборн', 'с.дерцен', 'с.нижній коропець', 'с.павшино', 'с.кендерешів', 'с.лавки', 'с.нове давидково'},
'21204':{'с.бодалово'},
'26228':{'с.вістова', 'с.мостище', 'с.студінка', 'с.сівка-калуська', 'с.кропивник', 'с.середній бабин'},
'05104':{'с.одая', 'с.сонячне'},
'12259':{'с.сергієвка', 'с.новотимофієвське'},
'74203':{'смт батурин', 'с.крапивне', 'с.фастовци'},
'53204':{'с.біленченківка', 'м.гадяч'},
'53218':{'с.грицаівка'},
'12252':{'с.ганно-миколаєвка', 'с.олексієвка', 'с.андрієвка'},
'46230':{'с.крупсько', 'с.мала горожана'},
'56208':{'с.заболоття'},
'59212':{'с.заводське'},
'74233':{'с.кунашівка'},
'23215':{'с.багатирівка'},
'51231':{'с.малаівці'},
'18242':{'с-ще білокамінка'},
'71206':{'смт шрамківка', 'с.драбове-барятинське'},
'59247':{'с-ще сад'},
'32208':{'с.петрівське'},
'46221':{'с.тадан'},
'18228':{'с-ще станційне'},
'53240':{'с.терентіівка'},
'12229':{'с-ще першотравневе', 'с-ще західне', 'с.шолохове', 'с-ще східне'},
'53216':{'с.вакулиха', 'с.халтурине', 'с.голобородьківське', 'с.красне', 'с.тагамлицьке', 'с.іванівка', 'с.солона балка', 'с.шевченка', 'с.михайлівське'},
'51202':{'с.ананьїв перший', 'с.ананьїв другий'},
'44209':{'с.заіківка'},
'51206':{'с.перельоти', 'с.гольма', 'с.березівка', 'с.козацьке', 'с.лісничівка', 'с.мирони', 'с.коритне', 'с.перейма', 'с.саражинка', 'с.борсуки', 'с.немирівське', 'с.євтодія', 'с.пасицели', 'с.андріяшівка', 'с.бендзари', 'с.обжиле', 'с.акулинівка', 'с.пасат', 'с.білине', 'с.кармалюківка', 'м.балта', 'с.оленівка'},
'74247':{'с.іванпуть'},
'26220':{'с.слобода болехівська', 'с.слобода долинська'},
'51212':{'с-ще жовтнівка', 'с-ще семихатки', 'с-ще виноград'},
'26248':{'с.слобода небилівська', 'с.слобода рівнянська'},
'46203':{'с.гаї-смоленскі'},
'53236':{'с-ще куйбишеве', 'с-ще вишневе'},
'71215':{'с.пальміра', 'с.плешкани'},
'05204':{'с.велика кириївка'},
'05202':{'с-ще слобода-ходацька'},
'44240':{'с.преображене'},
'63202':{'с-ще раківка'},
'73240':{'с.ломачинці'},
'12235':{'с.межеріч'},
'46239':{'с.паздимир'},
'44231':{'с.новоахтирка'},
'32204':{'с.олійникова-слобода'},
'59203':{'с.сосонка', 'с.кудрявоє', 'с.підлозієвка', 'с.климентове'},
'12226':{'с.малієвське', 'с.новопетрівське'},
'23221':{'с.біленьке-перше'},
'51233':{'с.сергіівка'},
'63242':{'с-ще ватутіне', 'с-ще комінтерн', 'с-ще слобожанське'},
'63231':{'с.бесарабівка'},
'68212':{'с.мала яромірка', 'с.велика яромірка'},
'35203':{'с.новоселівка', 'с.комінтерн'},
'51245':{'с-ще розівка'},
'63237':{'с-ще лісна стінка', 'с-ще ягідне', 'с-ще орлянка'},
'53245':{'с.старий калкаів'},
'05216':{'с-ще голендри'},
'51239':{'с-ще степове'},
'61258':{'с.матвіівці', 'с.кудлаівка'},
'12214':{'с-ще новотаромське', 'с-ще орджонікідзе'},
'59209':{'с.нечаівка'},
'18254':{'с-ще ягодинка', 'с-ще молодіжне'},
'65250':{'с-ще цюрупинське'},
'65203':{'с-ще східне'},
'53210':{'с-ще чапаєвка', 'с-ще діброва'},
'26208':{'с.устерікі'},
'59206':{'с-ще тімірязівка'},
'71212':{'с.богачівка'},
'35249':{'с-ще володимирівка', 'с-ще рядове'},
'48257':{'с.поляна'},
'18203':{'с.бровки-перші'},
'12248':{'с.новоолексієвка'},
'63218':{'с-ще великий виселок', 'с.мануїлівка'},
'12254':{'с.новокиївка', 'с.сергієвка', 'с.іллінка', 'с.добра надія'},
'61242':{'с.красіів'},
'05248':{'с.соколова'},
'63206':{'с-ще садове'},
'71251':{'с.ставківка'},
'61246':{'с.гниличики'},
'12242':{'с.черненкове'},
'26232':{'с.іванівці', 'с.воскресінці', 'с.шепарівці', 'с.товмачик', 'с.воскресинці'},
'26212':{"с.загір'я кукільницьке"},
'61255':{'с.горішня вигнанка', 'с.бичківці', 'с.переходи', 'с.скородинці', 'с.біла', 'с.пастуше', 'с.росохач'},
'23218':{'с-ще комсомольське', 'с-ще гуляйпільське', 'с-ще червоне'},
'14212':{'с.розлив', 'с-ще октябрьське', 'с.георгієвка', 'с.андрієвка'},
'32242':{'с.васіліха'},
'46245':{'с.зимівка', 'смт славсько'},
'32246':{'с.бурковці', 'с.деніхівка'},
'05241':{'с.демківське'},
'18258':{'с-ще суслівка', 'смт чуднів', 'с-ще шевченка'},
'14227':{'смт новоекономічна', 'с.червоний лиман', 'с-ще солоне'},
'44216':{'с.діброва'},
'61204':{'м.бережани', 'с.рай', 'с.нараів'},
'44233':{'с.тевяшеве', 'с.пелагеївка'},
'48209':{'с.червона україна'},
'53228':{'с-ще новооріхівка'},
'59220':{'с-ще заводи'},
'65238':{'с-ще дальне', 'с-ще донцове', 'с-ще змагання', 'с-ще вільне', 'с-ще братське', 'с-ще заповітне'},
'14217':{'с-ще труженка', 'с-ще катеринівка', 'с.малоянісоль', 'с-ще ключове', 'с-ще малинівка', 'с-ще гранітне', 'с.октябрьське', 'с-ще зоря'},
'71237':{'с.чубівка'},
'63239':{'с.нестеліївка', 'с.вільне', 'с.мирне', 'с-ще кінне', 'с.світловщина', 'с.копані', 'с.катеринівка', 'с.олексіївка', 'с.олександрівка', 'с-ще лагідне', 'с.нова іванівка', 'с.полтавське', 'с-ще миролюбівка', 'с.степове', 'с.царедарівка', 'с-ще чернігівське'},
'65247':{'с.миколаівка', 'с.шевченка'},
'63228':{"с.кам'янка"},
'21248':{'с.ратовці', 'с.верхнє солотвино', 'с.холмці'},
'74258':{'с.гуто-студенецька'},
'53242':{'с.покровське', 'с.жовтневе', 'смт решетилівка', 'с.шкурупіівка'},
'61230':{'с.мала плавучка'},
'74236':{'м.новгород-сіверський'},
'63245':{'с-ще червоне'},
'48251':{'с-ще рівне'},
'51225':{'с.будеі', 'с.олексіівка'},
'44254':{'с.богачка', 'с-ще привілля'},
'23206':{'с.азовське'},
'51235':{'с.уляновка', 'с.настасіівка', 'с.улянівка'},
'74211':{'с.брагінці'},
'65218':{'с.мала шестерня'},
'51229':{'с.нестоіта', 'с.мардаровка'},
'14230':{'с.закітне', 'смт зарічне', 'с.коровій яр', 'с-ще соснове', 'с.олександрівка', 'с-ще нове', 'смт дробишеве', 'с.рідкодуб', 'смт новоселівка', 'смт ярова', 'с.озерне', 'с.липове', 'с.яцьківка', 'с.терни', 'с.рубці', 'с.шандриголове', 'с.торське', 'с.лозове', 'смт ямпіль'},

In [41]:
for code in renam.dct_replace:
    for place in renam.dct_replace[code]:
        locations_area.loc[(locations_area.code == code) & (locations_area['tername_new'] == place), 'tername_new'] = renam.dct_replace[code][place]

In [42]:
def change_area_KOATUU(old_code, place, code, dataset):
    dataset.loc[(dataset.code == old_code)&(dataset['tername_new'] == place), 'area_KOATUU'] = code[2:]
    dataset.loc[(dataset.code == old_code)&(dataset['tername_new'] == place), 'code'] = code
    values = code2020.loc[(code2020.code == code)&(code2020.local_KOATUU == '00000'), 'name_KOATUU'].unique()
    if len(values) == 1:
        dataset.loc[(dataset.code == code)&(dataset['tername_new'] == place), 'areaname_new'] = values[0]
    else:
        raise Exception(f'More than one value:{old_code}, {place}, {code}, {values}')

In [43]:
for item in renam.place_change:
    change_area_KOATUU(item[0], item[1], item[2], locations_area)

In [44]:
for code in renam.dct_replace:
    for place in renam.dct_replace[code]:
        locations_area.loc[(locations_area.code == code) & (locations_area['tername_new'] == place), 'tername_new'] = renam.dct_replace[code][place]

In [45]:
locations_KOATUU= locations_area.merge(code2020[['local_KOATUU']], left_on=[locations_area['region_KOATUU'], locations_area['area_KOATUU'], locations_area['tername_new'].str.lower()], right_on=[code2020['region_KOATUU'], code2020['area_KOATUU'], code2020['name_KOATUU'].str.lower()], how='left')
locations_KOATUU = locations_KOATUU.drop(columns = ['key_0', 'key_1', 'key_2'], axis=1)
locations_KOATUU.head()

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230,85101
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227,10100
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238,81501
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,м.Чернівці,73101,00000
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223,83001

In [46]:
locations_KOATUU['KOATUU_2020'] = locations_KOATUU['region_KOATUU']+locations_KOATUU['area_KOATUU']+locations_KOATUU['local_KOATUU']
locations_KOATUU.head()

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230,85101,2323085101
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227,10100,6822710100
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238,81501,1223881501
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223,83001,4822383001

# Match with the new system of code2020

In [47]:
comparison = pd.read_excel('Comparison table.xlsx',  dtype=str, skiprows=2)
comparison

,Кодифікатор,Код об'єкта КОАТУУ,Категорія об’єкта,Назва об’єкта
0,UA01000000000013043,0100000000,О,Автономна Республіка Крим
1,UA01020000000022387,0120400000,Р,Бахчисарайський
2,UA01020010000048857,8536990200,Н,Андріївська
3,UA01020010010075540,8536990201,С,Андріївка
4,UA01020010020030666,8536990203,Х,Сонячний
...,...,...,...,...
31753,UA85000000000065278,8500000000,К,Севастополь
31754,UA85000000000155841,8536300000,В,Балаклавський
31755,UA85000000000259923,8536400000,В,Гагарінський
31756,UA85000000000334608,8536600000,В,Ленінський
31757,UA85000000000449437,8536900000,В,Нахімовський

In [48]:
comparison.rename(columns = {'Кодифікатор':'KATOTTG_2023',"Код об'єкта КОАТУУ ":'KOATUU_2020','Категорія об’єкта':'category', 'Назва об’єкта':'name'}, inplace=True)
comparison

              KATOTTG_2023 KOATUU_2020 category                       name
0      UA01000000000013043  0100000000        О  Автономна Республіка Крим
1      UA01020000000022387  0120400000        Р            Бахчисарайський
2      UA01020010000048857  8536990200        Н               Андріївська
3      UA01020010010075540  8536990201        С                  Андріївка
4      UA01020010020030666  8536990203        Х                   Сонячний
...                    ...         ...      ...                        ...
31753  UA85000000000065278  8500000000        К                Севастополь
31754  UA85000000000155841  8536300000        В              Балаклавський
31755  UA85000000000259923  8536400000        В               Гагарінський
31756  UA85000000000334608  8536600000        В                 Ленінський
31757  UA85000000000449437  8536900000        В               Нахімовський

[31758 rows x 4 columns]

In [49]:
comparison_loc = comparison[comparison.category.isin(['С', 'М', 'В', 'Т', 'Х'])]

In [50]:
locations_KOATUU.loc[(locations_KOATUU.KOATUU_2020 == '5120280501'), 'local_KOATUU'] = '80401'
locations_KOATUU.loc[(locations_KOATUU.KOATUU_2020 == '5120280501'), 'KOATUU_2020'] = '5120280401'

In [51]:
locations_KATOTTG = locations_KOATUU.merge(comparison_loc[['KATOTTG_2023']], left_on=[locations_KOATUU['KOATUU_2020']], right_on=[comparison_loc['KOATUU_2020']], how='left')
locations_KATOTTG  = locations_KATOTTG.drop(columns = ['key_0'], axis=1)
locations_KATOTTG.head()

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230,85101,2323085101,UA23080270010078454
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227,10100,6822710100,UA68040210010032567
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238,81501,1223881501,UA12140170040016918
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223,83001,4822383001,UA48080050190079797

check na

In [52]:
locations_KATOTTG[(locations_KATOTTG.KATOTTG_2023.isna())]

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023
13686,Дніпропетровська область,Дніпропетровська область,Петропавлівський район,12,Петропавлівський район,238,Петропавлівський район,12238,00000,1223800000,NaN
16272,Львівська область,Львівська область,Сокальський район,46,Сокальський район,248,Сокальський район,46248,00000,4624800000,NaN

these two tuples are not valid, since the final location couldn't be area. So we drop them

In [53]:
locations_KATOTTG= locations_KATOTTG[(locations_KATOTTG.KATOTTG_2023.notna())]
locations_KATOTTG.reset_index(drop=True, inplace=True)
locations_KATOTTG

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230,85101,2323085101,UA23080270010078454
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227,10100,6822710100,UA68040210010032567
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238,81501,1223881501,UA12140170040016918
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223,83001,4822383001,UA48080050190079797
...,...,...,...,...,...,...,...,...,...,...,...
22692,Житомирська область,Любарський район,с.Великий Браталів,18,Любарський район,231,с.Великий Браталів,18231,55106,1823155106,UA18040290070047586
22693,Хмельницька область,Ізяславський район,с.Влашанівка,68,Ізяславський район,221,с.Влашанівка,68221,86602,6822186602,UA68060250040099385
22694,Львівська область,Яворівський район,с.Коханівка,46,Яворівський район,258,с.Коханівка,46258,87803,4625887803,UA46140110360079694
22695,Житомирська область,Ємільчинський район,с.Бастова Рудня,18,Ємільчинський район,217,с.Бастова Рудня,18217,80403,1821780403,UA18080030040080438
22696,Чернівецька область,м.Чернівці,м.Чернівці,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137

In [235]:
locations_KATOTTG[locations_KATOTTG.KATOTTG_2023 == 'UA80000000000875983']

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023
440,м.Київ,м.Київ,Святошинський район міста,80,Святошинський,386,Святошинський,80386,00000,8038600000,UA80000000000875983
16419,м.Київ,Святошинський район міста,Святошинський район міста,80,Святошинський,386,Святошинський,80386,00000,8038600000,UA80000000000875983
19577,м.Київ,м.Київ. Святошинський район міста,Святошинський район міста,80,Святошинський,386,Святошинський,80386,00000,8038600000,UA80000000000875983

In [54]:
locations_KATOTTG.columns

Index(['regname', 'areaname', 'tername', 'region_KOATUU', 'areaname_new',
       'area_KOATUU', 'tername_new', 'code', 'local_KOATUU', 'KOATUU_2020',
       'KATOTTG_2023'],
      dtype='object')

# 2022

In [55]:
dataset_2022 = pd.read_csv(f"../../zno/2022/Odata2022File.csv", sep=";", encoding='utf-8')
dataset_2022

,OUTID,Birth,SexTypeName,RegName,AREANAME,TERNAME,RegTypeName,TerTypeName,EONAME,EOTypeName,...,Block1Ball,Block2,Block2Ball100,Block2Ball,Block3,Block3Ball100,Block3Ball,PTRegName,PTAreaName,PTTerName
0,d60381f3-8d71-441e-817e-49b9fa8b43dd,2005,чоловіча,Львівська область,Яворівський район,с.Гусаків,Випускник закладу загальної середньої освіти 2...,"селище, село","Гусаківський навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,...,14.0,Історія України,"147,0",15.0,Математика,"128,0",5.0,Львівська область,"м.Львів, Залізничний район міста",Залізничний район міста
1,eb25a9fc-b757-4321-a2b4-ebb1b635397d,2005,чоловіча,Львівська область,Яворівський район,с.Гусаків,Випускник закладу загальної середньої освіти 2...,"селище, село","Гусаківський навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,...,11.0,Історія України,"149,0",17.0,Математика,"136,0",8.0,Львівська область,"м.Львів, Залізничний район міста",Залізничний район міста
2,1cb161bd-51ed-4d24-b605-1d45db63cada,2005,жіноча,Львівська область,Яворівський район,с.Гусаків,Випускник закладу загальної середньої освіти 2...,"селище, село","Гусаківський навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,...,25.0,Історія України,"158,0",24.0,Математика,"185,0",28.0,Львівська область,"м.Львів, Залізничний район міста",Залізничний район міста
3,0311b8d8-67bb-49a4-a0b9-f049b7ef4184,2005,жіноча,Львівська область,Яворівський район,с.Гусаків,Випускник закладу загальної середньої освіти 2...,"селище, село","Гусаківський навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,...,20.0,Історія України,"146,0",14.0,Математика,"148,0",14.0,Львівська область,"м.Львів, Залізничний район міста",Залізничний район міста
4,a8b35a53-feac-4e42-aed8-8d6ffab7decf,2005,чоловіча,Львівська область,Яворівський район,с.Гусаків,Випускник закладу загальної середньої освіти 2...,"селище, село","Гусаківський навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,...,24.0,Історія України,"144,0",13.0,Математика,"144,0",12.0,Львівська область,"м.Львів, Залізничний район міста",Залізничний район міста
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234099,6cbe3454-80f0-42b5-8d6d-c2ead687d804,2005,чоловіча,Волинська область,Володимирський район,с.Заболотці,Випускник закладу загальної середньої освіти 2...,"селище, село",Заболотцівський ліцей Литовезької сільської ра...,середня загальноосвітня школа,...,13.0,Історія України,"136,0",9.0,Математика,"148,0",14.0,Волинська область,м.Нововолинськ,м.Нововолинськ
234100,b897557b-c01b-49d4-8624-b351aaafe5ff,2005,жіноча,Волинська область,Володимирський район,с.Заболотці,Випускник закладу загальної середньої освіти 2...,"селище, село",Заболотцівський ліцей Литовезької сільської ра...,середня загальноосвітня школа,...,31.0,Історія України,"170,0",29.0,Математика,"162,0",22.0,Волинська область,м.Нововолинськ,м.Нововолинськ
234101,dcec644b-dcec-47ee-9971-6beebd1a929b,2005,чоловіча,Волинська область,Володимирський район,с.Заболотці,Випускник закладу загальної середньої освіти 2...,"селище, село",Заболотцівський ліцей Литовезької сільської ра...,середня загальноосвітня школа,...,21.0,Історія України,"152,0",20.0,Математика,"154,0",19.0,Волинська область,м.Нововолинськ,м.Нововолинськ
234102,cb4156bb-a624-4274-9d38-28be3096f6b9,2004,жіноча,Волинська область,Володимирський район,с.Заболотці,Випускник закладу загальної середньої освіти 2...,"селище, село",Заболотцівський ліцей Литовезької сільської ра...,середня загальноосвітня школа,...,12.0,Історія України,"131,0",7.0,Математика,"131,0",6.0,Волинська область,м.Нововолинськ,м.Нововолинськ
234103,7514327a-0831-4adc-8277-41d74e543884,2005,жіноча,Херсонська область,Каховський район,с.Павлівка (Присиваська),Випускник закладу загальної середньої освіти 2...,"селище, село",Павлівська загальноосвітня школа I-III ступені...,середня загальноосвітня школа,...,NaN,Історія України,NaN,NaN,Математика,NaN,NaN,Одеська область,"м.Одеса, Приморський район міста",Приморський район міста

In [56]:
dataset_2022.columns = [col.lower() for col in dataset_2022.columns]

In [57]:
print([col for col in dataset_2022.columns if col.startswith('pt')])

['ptregname', 'ptareaname', 'pttername']

In [58]:
types = ['', 'eo', 'pt']

In [59]:
locations_KATOTTG

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230,85101,2323085101,UA23080270010078454
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227,10100,6822710100,UA68040210010032567
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238,81501,1223881501,UA12140170040016918
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223,83001,4822383001,UA48080050190079797
...,...,...,...,...,...,...,...,...,...,...,...
22692,Житомирська область,Любарський район,с.Великий Браталів,18,Любарський район,231,с.Великий Браталів,18231,55106,1823155106,UA18040290070047586
22693,Хмельницька область,Ізяславський район,с.Влашанівка,68,Ізяславський район,221,с.Влашанівка,68221,86602,6822186602,UA68060250040099385
22694,Львівська область,Яворівський район,с.Коханівка,46,Яворівський район,258,с.Коханівка,46258,87803,4625887803,UA46140110360079694
22695,Житомирська область,Ємільчинський район,с.Бастова Рудня,18,Ємільчинський район,217,с.Бастова Рудня,18217,80403,1821780403,UA18080030040080438
22696,Чернівецька область,м.Чернівці,м.Чернівці,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137

In [60]:
locations_KATOTTG23=pd.DataFrame(columns= locations_KATOTTG.columns)
for typ in types:
    new_col = {typ+'regname': 'regname', typ+'areaname':'areaname', typ+'tername': 'tername'}
    temp_data = dataset_2022.loc[:,new_col.keys()]
    temp_data.loc[:, ['region_KOATUU', 'areaname_new',
       'area_KOATUU', 'tername_new', 'code', 'local_KOATUU', 'KOATUU_2020',
       'KATOTTG_2023']] = np.nan
    temp_data.rename(columns=new_col, inplace=True)
    locations_KATOTTG23 = pd.concat([locations_KATOTTG23, temp_data], ignore_index=True)

locations_KATOTTG23.drop_duplicates(inplace=True)
locations_KATOTTG23.reset_index(drop=True, inplace=True)
#when student doesn't take the test the corresponding location is NaN
#we drop these rows
locations_KATOTTG23.dropna(how = 'all', inplace=True)
locations_KATOTTG23

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023
0,Львівська область,Яворівський район,с.Гусаків,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Львівська область,Яворівський район,с.Баличі,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Львівська область,Яворівський район,с.Шегині,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Львівська область,Яворівський район,с.Волиця,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Івано-Франківська область,Надвірнянський район,с.Гвізд,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8429,Інші країни,м.Гронінген,м.Гронінген,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8430,Інші країни,м.Люксембург,м.Люксембург,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8431,Інші країни,м.Марібор,м.Марібор,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8432,Інші країни,м.Сакраменто,м.Сакраменто,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8433,Інші країни,м.Едмонтон,м.Едмонтон,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
code2022 = pd.read_excel('Codifiers2022.xlsx',  dtype=str, skiprows=2,skipfooter=3)
code2022

,Перший рівень,Другий рівень,Третій рівень,Четвертий рівень,Додатковий рівень,Категорія об’єкта,Назва об’єкта
0,UA01000000000013043,NaN,NaN,NaN,NaN,O,Автономна Республіка Крим
1,UA01000000000013043,UA01020000000022387,NaN,NaN,NaN,P,Бахчисарайський
2,UA01000000000013043,UA01020000000022387,UA01020010000048857,NaN,NaN,H,Андріївська
3,UA01000000000013043,UA01020000000022387,UA01020010000048857,UA01020010010075540,NaN,C,Андріївка
4,UA01000000000013043,UA01020000000022387,UA01020010000048857,UA01020010020030666,NaN,X,Сонячний
...,...,...,...,...,...,...,...
31746,UA85000000000065278,NaN,NaN,NaN,NaN,K,Севастополь
31747,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000155841,B,Балаклавський
31748,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000259923,B,Гагарінський
31749,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000334608,B,Ленінський
31750,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000449437,B,Нахімовський

In [62]:
code2022.rename(columns = {'Перший рівень':'first_level','Другий рівень':'second_level','Третій рівень':'third_level', 'Четвертий рівень':'fourth_level',
       'Додатковий рівень':'additional_level', 'Категорія об’єкта':'category','Назва об’єкта':'name'}, inplace=True)
code2022

,first_level,second_level,third_level,fourth_level,additional_level,category,name
0,UA01000000000013043,NaN,NaN,NaN,NaN,O,Автономна Республіка Крим
1,UA01000000000013043,UA01020000000022387,NaN,NaN,NaN,P,Бахчисарайський
2,UA01000000000013043,UA01020000000022387,UA01020010000048857,NaN,NaN,H,Андріївська
3,UA01000000000013043,UA01020000000022387,UA01020010000048857,UA01020010010075540,NaN,C,Андріївка
4,UA01000000000013043,UA01020000000022387,UA01020010000048857,UA01020010020030666,NaN,X,Сонячний
...,...,...,...,...,...,...,...
31746,UA85000000000065278,NaN,NaN,NaN,NaN,K,Севастополь
31747,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000155841,B,Балаклавський
31748,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000259923,B,Гагарінський
31749,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000334608,B,Ленінський
31750,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000449437,B,Нахімовський

In [63]:
code2022['name'] = code2022['name'].str.replace('’', "'")

In [64]:
code2022['name_KOATUU']= code2022['name'] 
code2022['name_KOATUU']= code2022['name_KOATUU'].str.strip()
code2022

,first_level,second_level,third_level,fourth_level,additional_level,category,name,name_KOATUU
0,UA01000000000013043,NaN,NaN,NaN,NaN,O,Автономна Республіка Крим,Автономна Республіка Крим
1,UA01000000000013043,UA01020000000022387,NaN,NaN,NaN,P,Бахчисарайський,Бахчисарайський
2,UA01000000000013043,UA01020000000022387,UA01020010000048857,NaN,NaN,H,Андріївська,Андріївська
3,UA01000000000013043,UA01020000000022387,UA01020010000048857,UA01020010010075540,NaN,C,Андріївка,Андріївка
4,UA01000000000013043,UA01020000000022387,UA01020010000048857,UA01020010020030666,NaN,X,Сонячний,Сонячний
...,...,...,...,...,...,...,...,...
31746,UA85000000000065278,NaN,NaN,NaN,NaN,K,Севастополь,Севастополь
31747,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000155841,B,Балаклавський,Балаклавський
31748,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000259923,B,Гагарінський,Гагарінський
31749,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000334608,B,Ленінський,Ленінський
31750,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000449437,B,Нахімовський,Нахімовський

In [65]:
code2022 = code2022[~code2022['first_level'].str.startswith(('UA01', 'UA85'))]

In [66]:
code2022.category.unique()

array(['O', 'P', 'H', 'C', 'M', 'T', 'X', 'B', 'K'], dtype=object)

In [67]:
code2022.loc[code2022['category'] == 'O', 'name_KOATUU'] = code2022.loc[code2022['category'] == 'O', 'name_KOATUU']+' область'
code2022.loc[code2022['category'] == 'P', 'name_KOATUU'] = code2022.loc[code2022['category'] =='P', 'name_KOATUU']+' район'
code2022.loc[code2022['category'] == 'C', 'name_KOATUU'] = 'с.' + code2022.loc[code2022['category'] == 'C', 'name_KOATUU']
code2022.loc[code2022['category'] == 'X', 'name_KOATUU'] = 'с-ще ' + code2022.loc[code2022['category'] == 'X', 'name_KOATUU']
code2022.loc[code2022['category'] == 'M', 'name_KOATUU'] = 'м.' + code2022.loc[code2022['category'] == 'M', 'name_KOATUU']
code2022.loc[code2022['category'] == 'T', 'name_KOATUU'] = 'смт ' + code2022.loc[code2022['category'] == 'T', 'name_KOATUU']
code2022.loc[code2022['category'] == 'K', 'name_KOATUU'] = 'м.'  + code2022.loc[code2022['category'] == 'K', 'name_KOATUU']

In [68]:
set(code2022[code2022.category.isin(['O','K'])].name_KOATUU.str.lower())^set(locations_KATOTTG23.regname.str.lower())

{'інші країни'}

In [69]:
locations_KATOTTG23['region_KATOTTG'] = np.nan

In [70]:
for reg in code2022[code2022.category.isin(['O','K'])].name_KOATUU.str.lower().unique():
    values = code2022.loc[code2022.name_KOATUU.str.lower() == reg, 'first_level'].unique()
    if len(values) == 1:
        locations_KATOTTG23.loc[(locations_KATOTTG23.regname.str.lower()==reg), 'region_KATOTTG'] = values[0]
    else:
        raise Exception(f'More than one value:{reg}, {values}')

In [71]:
locations_KATOTTG23[locations_KATOTTG23.regname != 'Інші країни'].region_KATOTTG.unique()

array(['UA46000000000026241', 'UA26000000000069363',
       'UA07000000000024379', 'UA51000000000030770',
       'UA35000000000016081', 'UA56000000000066151',
       'UA48000000000039575', 'UA32000000000030281',
       'UA21000000000011690', 'UA05000000000010236',
       'UA80000000000093317', 'UA14000000000091971',
       'UA65000000000030969', 'UA18000000000041385',
       'UA23000000000064947', 'UA12000000000090473',
       'UA61000000000060328', 'UA73000000000044923',
       'UA74000000000025378', 'UA53000000000028050',
       'UA71000000000010357', 'UA63000000000041885',
       'UA44000000000018893', 'UA59000000000057109',
       'UA68000000000099709'], dtype=object)

In [72]:
locations_KATOTTG23.loc[(locations_KATOTTG23.regname.str.lower()=='інші країни'), 'region_KATOTTG'] ='OC00000000000000000'
locations_KATOTTG23

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023,region_KATOTTG
0,Львівська область,Яворівський район,с.Гусаків,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UA46000000000026241
1,Львівська область,Яворівський район,с.Баличі,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UA46000000000026241
2,Львівська область,Яворівський район,с.Шегині,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UA46000000000026241
3,Львівська область,Яворівський район,с.Волиця,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UA46000000000026241
4,Івано-Франківська область,Надвірнянський район,с.Гвізд,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UA26000000000069363
...,...,...,...,...,...,...,...,...,...,...,...,...
8429,Інші країни,м.Гронінген,м.Гронінген,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OC00000000000000000
8430,Інші країни,м.Люксембург,м.Люксембург,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OC00000000000000000
8431,Інші країни,м.Марібор,м.Марібор,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OC00000000000000000
8432,Інші країни,м.Сакраменто,м.Сакраменто,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OC00000000000000000
8433,Інші країни,м.Едмонтон,м.Едмонтон,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OC00000000000000000

In [73]:
locations_KATOTTG23[locations_KATOTTG23.region_KATOTTG.isna()]

Empty DataFrame
Columns: [regname, areaname, tername, region_KOATUU, areaname_new, area_KOATUU, tername_new, code, local_KOATUU, KOATUU_2020, KATOTTG_2023, region_KATOTTG]
Index: []

# Areaname 2022

заповнити areaname_new аналогічно попереднього коду

In [187]:
locations_KATOTTG23['areaname_new'] = locations_KATOTTG23['areaname']

In [188]:
locations_KATOTTG23['areaname_new'].unique()

array(['Яворівський район', 'Надвірнянський район', 'Луцький район',
       'Івано-Франківський район', 'м.Одеса', 'м.Львів',
       'м.Кропивницький', 'Рівненський район', 'Первомайський район',
       'Бориспільський район', 'Берегівський район', 'Вінницький район',
       'Самбірський район', 'Ужгородський район', 'м.Київ',
       'Волноваський район', 'Скадовський район', 'Житомирський район',
       'Мелітопольський район', 'Львівський район', 'Гайсинський район',
       'Ізмаїльський район', 'Краматорський район', 'Криворізький район',
       'Чортківський район', 'Вижницький район', 'Прилуцький район',
       'Вишгородський район', 'Чернівецький район', 'Лубенський район',
       'Сарненський район', 'м.Черкаси', "Кам'янський район",
       'Дубенський район', 'Тернопільський район', 'Дніпровський район',
       'Пологівський район', 'Вознесенський район', 'Хмільницький район',
       'Уманський район', 'Каховський район', 'Володимирський район',
       'Мукачівський район', 'Коростенський район', 'Черкаський район',
       'Харківський район', 'Звенигородський район',
       'Старобільський район', 'Шосткинський район',
       'Білоцерківський район', 'Богодухівський район',
       'Березівський район', 'Фастівський район', "Куп'янський район",
       'Новоукраїнський район', 'Полтавський район', 'Ковельський район',
       'Шепетівський район', 'Дністровський район', 'Конотопський район',
       'Миколаївський район', 'Болградський район', 'Золотоніський район',
       'Ізюмський район', 'Бердичівський район', 'Бериславський район',
       'м.Харків', 'Голованівський район', 'Камінь-Каширський район',
       'Новоград-Волинський район', 'Синельниківський район', 'м.Житомир',
       'Кропивницький район', 'Могилів-Подільський район',
       'Олександрійський район', 'Бердянський район',
       'Сєвєродонецький район', 'Щастинський район', 'Хустський район',
       'Жмеринський район', 'Вараський район', 'Херсонський район',
       'Хмельницький район', 'м.Кривий Ріг', 'Броварський район',
       'Сумський район', 'Обухівський район', 'Бучанський район',
       'Баштанський район', 'Подільський район', 'Тульчинський район',
       'Стрийський район', 'Кременецький район',
       "Кам'янець-Подільський район", 'Корюківський район',
       'Одеський район', 'Павлоградський район', 'Василівський район',
       'Сватівський район', 'Покровський район',
       'Білгород-Дністровський район', 'Чернігівський район',
       'Ніжинський район', 'Лозівський район', 'м.Запоріжжя',
       'Новомосковський район', 'Миргородський район',
       'Чугуївський район', 'Запорізький район', 'Нікопольський район',
       'Калуський район', 'Охтирський район', 'м.Херсон', 'м.Полтава',
       'м.Суми', 'Бахмутський район', 'Красноградський район',
       'Рахівський район', 'м.Миколаїв', 'Коломийський район',
       'Золочівський район', 'Червоноградський район',
       'Роздільнянський район', 'Роменський район', 'Тячівський район',
       'Маріупольський район', 'Кременчуцький район', 'м.Кременчук',
       'Новгород-Сіверський район', 'Генічеський район', 'м.Дніпро',
       "м.Кам'янське", 'Дрогобицький район', 'м.Чернігів',
       'Косівський район', 'м.Маріуполь', 'Верховинський район',
       'м.Луцьк', 'м.Івано-Франківськ',
       'м.Одеса, Малиновський район міста',
       'м.Львів, Франківський район міста',
       'м.Кропивницький, Подільський район міста', 'м.Рівне',
       'м.Первомайськ', 'м.Берегове', 'м.Вінниця', 'м.Ужгород',
       'м.Київ, Дніпровський район міста',
       'м.Одеса, Приморський район міста',
       'м.Київ, Голосіївський район міста',
       "м.Київ, Солом'янський район міста", 'м.Лиман', 'м.Чернівці',
       'м.Черкаси, Придніпровський район міста',
       'м.Київ, Печерський район міста',
       'м.Київ, Деснянський район міста', 'м.Козятин',
       'м.Київ, Дарницький район міста', 'м.Токмак', 'м.Шостка',
       'м.Канів', 'м.Золотоноша', 'м.Острог', "м.Куп'янськ", 'м.Каховка',
       'м.Бердичів', 'м.Харків, Немишлянський район міста',
       'м.Житомир, Корольовський район міста', 'м.Могилів-Подільський',
       'м.Дубно', 'м.Ладижин', 'м.Лисичанськ', 'м.Новоград-Волинський',
       'м.Рубіжне', 'м.Сєвєродонецьк',
       'м.Житомир, Богунський район міста', 'м.Вараш',
       'м.Кривий Ріг, Покровський район міста', 'м.Березань',
       'м.Біла Церква', 'м.Подільськ', 'м.Малин', 'м.Бориспіль',
       'м.Ірпінь', 'м.Кременець', 'м.Славутич', 'м.Ржищів', 'м.Переяслав',
       "м.Слов'янськ", "м.Кам'янець-Подільський", 'м.Васильків',
       'м.Фастів', 'м.Буча', 'м.Хмільник', 'м.Жмеринка', 'м.Чортків',
       'м.Запоріжжя, Вознесенівський район міста', 'м.Мелітополь',
       'м.Новомосковськ', 'м.Мукачево', 'м.Бровари',
       'м.Запоріжжя, Дніпровський район міста',
       'м.Запоріжжя, Комунарський район міста', 'м.Енергодар', 'м.Чугуїв',
       'м.Нікополь', 'м.Запоріжжя, Олександрівський район міста',
       'м.Запоріжжя, Шевченківський район міста', 'м.Вознесенськ',
       'м.Херсон, Суворовський район міста',
       'м.Полтава, Шевченківський район міста',
       'м.Черкаси, Соснівський район міста',
       'м.Одеса, Київський район міста', 'м.Білгород-Дністровський',
       'м.Запоріжжя, Хортицький район міста',
       'м.Суми, Ковпаківський район міста', 'м.Тернопіль',
       'м.Львів, Шевченківський район міста', 'м.Балта',
       'м.Запоріжжя, Заводський район міста', 'м.Бердянськ',
       'м.Миколаїв, Інгульський район міста',
       'м.Харків, Індустріальний район міста',
       'м.Суми, Зарічний район міста', 'м.Шепетівка', 'м.Селидове',
       'м.Бурштин', 'м.Львів, Галицький район міста', 'м.Володимир',
       'м.Харків, Салтівський район міста',
       'м.Київ, Шевченківський район міста', 'м.Нетішин', 'м.Марганець',
       'м.Київ, Оболонський район міста', 'м.Новий Розділ', 'м.Глухів',
       'м.Олександрія', 'м.Львів, Залізничний район міста', 'м.Покров',
       'м.Полтава, Київський район міста', 'м.Вугледар', 'м.Миргород',
       'м.Горішні Плавні', 'м.Краматорськ',
       'м.Кременчук, Автозаводський район міста', 'м.Хмельницький',
       'м.Червоноград', 'м.Полтава, Подільський район міста', 'м.Гадяч',
       'м.Кременчук, Крюківський район міста', 'м.Ізмаїл',
       'м.Старокостянтинів', 'м.Южне',
       'м.Кривий Ріг, Центрально-Міський район міста', 'м.Славута',
       'м.Дніпро, Шевченківський район міста',
       'м.Кривий Ріг, Металургійний район міста',
       "м.Кам'янське, Заводський район міста", "м.Знам'янка",
       'м.Новогродівка', 'м.Борислав', 'м.Ізюм',
       "м.Харків, Основ'янський район міста",
       'м.Харків, Холодногірський район міста',
       'м.Чернігів, Деснянський район міста', 'м.Коломия',
       'м.Херсон, Дніпровський район міста', 'м.Умань', 'м.Самбір',
       'м.Костянтинівка', 'м.Калуш', 'м.Болехів', 'м.Бахмут', 'м.Хуст',
       'м.Маріуполь, Центральний район міста',
       'м.Маріуполь, Лівобережний район міста',
       'м.Київ, Святошинський район міста', 'м.Павлоград', 'м.Дружківка',
       'м.Кривий Ріг, Тернівський район міста', 'м.Торецьк',
       'м.Маріуполь, Приморський район міста', 'м.Жовті Води',
       'м.Маріуполь, Кальміуський район міста', 'м.Синельникове',
       "м.Кам'янське, Південний район міста",
       "м.Кам'янське, Дніпровський район міста",
       'м.Дніпро, Амур-Нижньодніпровський район міста',
       'м.Дніпро, Чечелівський район міста', 'м.Трускавець',
       'м.Вільногірськ', 'м.Кривий Ріг, Інгулецький район міста',
       'м.Київ, Подільський район міста', 'м.Покровськ', 'м.Авдіївка',
       'м.Дніпро, Новокодацький район міста', 'м.Мирноград',
       'м.Дніпро, Соборний район міста',
       'м.Кривий Ріг, Саксаганський район міста', 'м.Дрогобич',
       'м.Дніпро, Індустріальний район міста', 'м.Нововолинськ',
       'м.Новодністровськ', 'м.Новгород-Сіверський',
       'м.Львів, Личаківський район міста', 'м.Ковель',
       'м.Дніпро, Центральний район міста',
       'м.Кривий Ріг, Довгинцівський район міста',
       'м.Харків, Новобаварський район міста',
       'м.Львів, Сихівський район міста',
       'м.Чернігів, Новозаводський район міста', 'м.Ромни',
       'м.Харків, Слобідський район міста',
       'м.Харків, Київський район міста', 'м.Нова Каховка',
       'м.Одеса, Суворовський район міста', 'м.Очаків', 'м.Обухів',
       'м.Лубни', 'м.Бережани', 'м.Конотоп',
       'м.Харків, Шевченківський район міста', 'м.Біляївка',
       'м.Добропілля', 'м.Теплодар', 'м.Люботин', 'м.Лозова',
       'м.Чорноморськ', 'м.Миколаїв, Заводський район міста',
       'м.Первомайський', 'м.Сміла',
       'м.Миколаїв, Центральний район міста', 'м.Лебедин',
       'м.Южноукраїнськ', 'м.Кропивницький, Фортечний район міста',
       'м.Яремче', 'м.Херсон, Корабельний район міста',
       'м.Дніпро, Самарський район міста',
       'м.Миколаїв, Корабельний район міста', 'м.Коростень', 'м.Тернівка',
       'м.Першотравенськ', 'м.Охтирка', 'м.Прилуки', 'м.Гола Пристань',
       'м.Моршин', 'м.Стрий', 'м.Ніжин', 'м.Світловодськ', 'м.Чоп',
       'м.Ватутіне', 'м.Варшава', 'м.Стокгольм', 'м.Краків', 'м.Брно',
       'м.Кельн', 'м.Лондон', 'м.Гданськ', 'м.Дублін', 'м.Париж',
       'м.Лісабон', 'м.Лейпциг', 'м.Рим', 'м.Брюссель', 'м.Бидгощ',
       'м.Кишинів', 'м.Бухарест', 'м.Мюнхен', 'м.Дебрецен', 'м.Будапешт',
       'м.Копенгаген', 'м.Роттердам', 'м.Берн', 'м.Загреб', 'м.Гамбург',
       'м.Братислава', 'м.Прага', 'м.Мадрид', 'м.Мілан', 'м.Відень',
       'м.Каунас', 'м.Познань', 'м.Франкфурт-на-Майні', 'м.Вроцлав',
       'м.Варна', 'м.Гельсінкі', 'м.Рига', 'м.Клуж-Напока', 'м.Люблін',
       'м.Дьєр', 'м.Анкара', 'м.Таллінн', 'м.Афіни', 'м.Берлін',
       'м.Марсель', 'м.Нью-Йорк', 'м.Бордо', 'м.Тарту', 'м.Тбілісі',
       'м.Барі', 'м.Гетеборг', 'м.Софія', 'м.Банська Бистриця',
       'м.Торонто', 'м.Гронінген', 'м.Люксембург', 'м.Марібор',
       'м.Сакраменто', 'м.Едмонтон'], dtype=object)

In [189]:
locations_KATOTTG23['areaname_new'] = locations_KATOTTG23.apply(lambda row: row['tername'].split()[0] if ('м.Київ' in row['areaname_new']) else row['areaname_new'], axis=1)

In [190]:
locations_KATOTTG23['areaname_new'] = locations_KATOTTG23.apply(lambda row: row['areaname_new'].split(', ')[0].replace(' район міста','') if (', ' in row['areaname_new']) else row['areaname_new'], axis=1)

In [191]:
code2022[(code2022.first_level == 'UA18000000000041385')&(code2022.category.isin(['P','B', 'M']))]

,first_level,second_level,third_level,fourth_level,additional_level,category,name,name_KOATUU
7092,UA18000000000041385,UA18020000000072859,NaN,NaN,NaN,P,Бердичівський,Бердичівський район
7094,UA18000000000041385,UA18020000000072859,UA18020010000059904,UA18020010010097402,NaN,M,Андрушівка,м.Андрушівка
7120,UA18000000000041385,UA18020000000072859,UA18020030000035625,UA18020030010047029,NaN,M,Бердичів,м.Бердичів
7265,UA18000000000041385,UA18040000000058965,NaN,NaN,NaN,P,Житомирський,Житомирський район
7383,UA18000000000041385,UA18040000000058965,UA18040190000029215,UA18040190010057814,NaN,M,Житомир,м.Житомир
7384,UA18000000000041385,UA18040000000058965,UA18040190000029215,UA18040190010057814,UA18040190010115253,B,Богунський,Богунський
7385,UA18000000000041385,UA18040000000058965,UA18040190000029215,UA18040190010057814,UA18040190010281147,B,Корольовський,Корольовський
7409,UA18000000000041385,UA18040000000058965,UA18040250000068141,UA18040250010085012,NaN,M,Коростишів,м.Коростишів
7681,UA18000000000041385,UA18040000000058965,UA18040450000079138,UA18040450010049683,NaN,M,Радомишль,м.Радомишль
7948,UA18000000000041385,UA18040000000058965,UA18040610000049084,UA18040610010066897,NaN,M,Чуднів,м.Чуднів
7983,UA18000000000041385,UA18060000000021754,NaN,NaN,NaN,P,Коростенський,Коростенський район
8027,UA18000000000041385,UA18060000000021754,UA18060090000061708,UA18060090010074365,NaN,M,Коростень,м.Коростень
8122,UA18000000000041385,UA18060000000021754,UA18060130000061781,UA18060130010010134,NaN,M,Малин,м.Малин
8266,UA18000000000041385,UA18060000000021754,UA18060170000069581,UA18060170010010060,NaN,M,Овруч,м.Овруч
8358,UA18000000000041385,UA18060000000021754,UA18060190000071101,UA18060190010064821,NaN,M,Олевськ,м.Олевськ
8526,UA18000000000041385,UA18080000000016657,NaN,NaN,NaN,P,Звягельський,Звягельський район
8528,UA18000000000041385,UA18080000000016657,UA18080010000090720,UA18080010010059187,NaN,M,Баранівка,м.Баранівка
8752,UA18000000000041385,UA18080000000016657,UA18080150000022496,UA18080150010017476,NaN,M,Звягель,м.Звягель

In [215]:
importlib.reload(renam)

In [193]:
for code in renam.dct_rename_area_2023:
    for name in renam.dct_rename_area_2023[code]:
        locations_KATOTTG23.loc[(locations_KATOTTG23.region_KATOTTG == code) & (locations_KATOTTG23['areaname_new'].str.lower() == name.lower()), 'areaname_new'] = renam.dct_rename_area_2023[code][name]

In [194]:
troubles = {}
for reg in locations_KATOTTG23.region_KATOTTG.unique():
    trouble = set(locations_KATOTTG23[(locations_KATOTTG23.region_KATOTTG == reg)].areaname_new.str.lower())-set(code2022[(code2022.first_level == reg)&(code2022.category.isin(['P','B', 'M']))].name_KOATUU.str.lower())
    if trouble:
        troubles[reg] = trouble
troubles

{'OC00000000000000000': {'австрія',
  'бельгія',
  'болгарія',
  'велика британія',
  'греція',
  'грузія',
  'данія',
  'естонія',
  'канада',
  'латвія',
  'литва',
  'люксембург',
  'молдова',
  'нідерланди',
  'німеччина',
  'польща',
  'португалія',
  'румунія',
  'словаччина',
  'словенія',
  'сша',
  'туреччина',
  'угорщина',
  'франція',
  'фінляндія',
  'хорватія',
  'чехія',
  'швейцарія',
  'швеція',
  'ірландія',
  'іспанія',
  'італія'}}

In [216]:
locations_KATOTTG23['area_KATOTTG'] = np.nan
locations_KATOTTG23

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023,region_KATOTTG,area_KATOTTG
0,Львівська область,Яворівський район,с.Гусаків,NaN,Яворівський район,NaN,с.Гусаків,NaN,NaN,NaN,NaN,UA46000000000026241,NaN
1,Львівська область,Яворівський район,с.Баличі,NaN,Яворівський район,NaN,с.Баличі,NaN,NaN,NaN,NaN,UA46000000000026241,NaN
2,Львівська область,Яворівський район,с.Шегині,NaN,Яворівський район,NaN,с.Шегині,NaN,NaN,NaN,NaN,UA46000000000026241,NaN
3,Львівська область,Яворівський район,с.Волиця,NaN,Яворівський район,NaN,с.Волиця,NaN,NaN,NaN,NaN,UA46000000000026241,NaN
4,Івано-Франківська область,Надвірнянський район,с.Гвізд,NaN,Надвірнянський район,NaN,с.Гвізд,NaN,NaN,NaN,NaN,UA26000000000069363,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8429,Інші країни,м.Гронінген,м.Гронінген,NaN,Нідерланди,NaN,м.Гронінген,NaN,NaN,NaN,NaN,OC00000000000000000,NaN
8430,Інші країни,м.Люксембург,м.Люксембург,NaN,Люксембург,NaN,м.Люксембург,NaN,NaN,NaN,NaN,OC00000000000000000,NaN
8431,Інші країни,м.Марібор,м.Марібор,NaN,Словенія,NaN,м.Марібор,NaN,NaN,NaN,NaN,OC00000000000000000,NaN
8432,Інші країни,м.Сакраменто,м.Сакраменто,NaN,США,NaN,м.Сакраменто,NaN,NaN,NaN,NaN,OC00000000000000000,NaN
8433,Інші країни,м.Едмонтон,м.Едмонтон,NaN,Канада,NaN,м.Едмонтон,NaN,NaN,NaN,NaN,OC00000000000000000,NaN

In [217]:
for reg in locations_KATOTTG23['region_KATOTTG'].unique():
    reg_filtered_data = locations_KATOTTG23[locations_KATOTTG23['region_KATOTTG'] == reg]
    
    for area in reg_filtered_data['areaname_new'].str.lower().unique():
        values = code2022.loc[(code2022['first_level'] == reg) & (code2022['name_KOATUU'].str.lower() == area), 'category'].unique()
        if len(values) == 0:
            print(f'Not found for {reg}, {area}: {values}')
        elif len(values) == 1:
            if values[0] in ['P', 'M']:
                value2 = code2022.loc[(code2022['first_level'] == reg) & (code2022['name_KOATUU'].str.lower() == area), 'second_level'].unique()
                
                if len(value2) == 1:
                    locations_KATOTTG23.loc[(locations_KATOTTG23['region_KATOTTG'] == reg) & (locations_KATOTTG23['areaname_new'].str.lower() == area), 'area_KATOTTG'] = value2[0]
                else:
                    print(f"Warning: More than one value for {reg}, {area}, {value2}")
            elif values[0] == 'B':
                value_add = code2022.loc[(code2022['first_level'] == reg) & (code2022['name_KOATUU'].str.lower() == area), 'additional_level'].unique()
                
                if len(value_add) == 1:
                    locations_KATOTTG23.loc[(locations_KATOTTG23['region_KATOTTG'] == reg)  & (locations_KATOTTG23['areaname_new'].str.lower() == area), 'area_KATOTTG'] = value_add[0]
                else:
                    print(f"Warning: More than one value for {reg}, {area}, {value_add}")
        else:
            print(f"Warning: More than one value for {reg}, {area}, {values}")

Not found for OC00000000000000000, польща: []
Not found for OC00000000000000000, швеція: []
Not found for OC00000000000000000, чехія: []
Not found for OC00000000000000000, німеччина: []
Not found for OC00000000000000000, велика британія: []
Not found for OC00000000000000000, ірландія: []
Not found for OC00000000000000000, франція: []
Not found for OC00000000000000000, португалія: []
Not found for OC00000000000000000, італія: []
Not found for OC00000000000000000, бельгія: []
Not found for OC00000000000000000, молдова: []
Not found for OC00000000000000000, румунія: []
Not found for OC00000000000000000, угорщина: []
Not found for OC00000000000000000, данія: []
Not found for OC00000000000000000, нідерланди: []
Not found for OC00000000000000000, швейцарія: []
Not found for OC00000000000000000, хорватія: []
Not found for OC00000000000000000, словаччина: []
Not found for OC00000000000000000, іспанія: []
Not found for OC00000000000000000, австрія: []
Not found for OC00000000000000000, литва: []
Not found for OC00000000000000000, болгарія: []
Not found for OC00000000000000000, фінляндія: []
Not found for OC00000000000000000, латвія: []
Not found for OC00000000000000000, туреччина: []
Not found for OC00000000000000000, естонія: []
Not found for OC00000000000000000, греція: []
Not found for OC00000000000000000, сша: []
Not found for OC00000000000000000, грузія: []
Not found for OC00000000000000000, канада: []
Not found for OC00000000000000000, люксембург: []
Not found for OC00000000000000000, словенія: []

In [218]:
for name in renam.dct_code_area_2023:
    locations_KATOTTG23.loc[(locations_KATOTTG23.region_KATOTTG == 'OC00000000000000000') & (locations_KATOTTG23['areaname_new'].str.lower() == name.lower()), 'area_KATOTTG'] = renam.dct_code_area_2023[name]

In [219]:
locations_KATOTTG23[locations_KATOTTG23.area_KATOTTG.isna()]

Empty DataFrame
Columns: [regname, areaname, tername, region_KOATUU, areaname_new, area_KOATUU, tername_new, code, local_KOATUU, KOATUU_2020, KATOTTG_2023, region_KATOTTG, area_KATOTTG]
Index: []

# tername 2022

In [220]:
locations_KATOTTG23

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023,region_KATOTTG,area_KATOTTG
0,Львівська область,Яворівський район,с.Гусаків,NaN,Яворівський район,NaN,с.Гусаків,NaN,NaN,NaN,NaN,UA46000000000026241,UA46140000000036328
1,Львівська область,Яворівський район,с.Баличі,NaN,Яворівський район,NaN,с.Баличі,NaN,NaN,NaN,NaN,UA46000000000026241,UA46140000000036328
2,Львівська область,Яворівський район,с.Шегині,NaN,Яворівський район,NaN,с.Шегині,NaN,NaN,NaN,NaN,UA46000000000026241,UA46140000000036328
3,Львівська область,Яворівський район,с.Волиця,NaN,Яворівський район,NaN,с.Волиця,NaN,NaN,NaN,NaN,UA46000000000026241,UA46140000000036328
4,Івано-Франківська область,Надвірнянський район,с.Гвізд,NaN,Надвірнянський район,NaN,с.Гвізд,NaN,NaN,NaN,NaN,UA26000000000069363,UA26120000000036058
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8429,Інші країни,м.Гронінген,м.Гронінген,NaN,Нідерланди,NaN,м.Гронінген,NaN,NaN,NaN,NaN,OC00000000000000000,OC17000000000000000
8430,Інші країни,м.Люксембург,м.Люксембург,NaN,Люксембург,NaN,м.Люксембург,NaN,NaN,NaN,NaN,OC00000000000000000,OC15000000000000000
8431,Інші країни,м.Марібор,м.Марібор,NaN,Словенія,NaN,м.Марібор,NaN,NaN,NaN,NaN,OC00000000000000000,OC23000000000000000
8432,Інші країни,м.Сакраменто,м.Сакраменто,NaN,США,NaN,м.Сакраменто,NaN,NaN,NaN,NaN,OC00000000000000000,OC24000000000000000
8433,Інші країни,м.Едмонтон,м.Едмонтон,NaN,Канада,NaN,м.Едмонтон,NaN,NaN,NaN,NaN,OC00000000000000000,OC12000000000000000

In [221]:
locations_KATOTTG23['tername_new'] = locations_KATOTTG23['tername']
locations_KATOTTG23['tername_new'] = locations_KATOTTG23['tername_new'].str.replace(r'\(.*\)', '', regex = True).str.strip()
locations_KATOTTG23['tername_new'] = locations_KATOTTG23['tername_new'].str.replace(' район міста','')

In [222]:
for reg in locations_KATOTTG23.region_KATOTTG.unique():
    troubles = {}
    for area in locations_KATOTTG23[(locations_KATOTTG23.region_KATOTTG == reg)].area_KATOTTG.unique():
        trouble = set(locations_KATOTTG23[(locations_KATOTTG23.region_KATOTTG == reg)&(locations_KATOTTG23.area_KATOTTG == area)].tername_new.str.lower())-set(code2022[(code2022.first_level == reg)&((code2022.second_level == area)|(code2022.additional_level == area))&(code2022.category.isin(['C', 'M', 'T', 'X', 'B']))].name_KOATUU.str.lower())
        if trouble:
            troubles[area] = trouble
    if troubles:
        print(f'{repr(reg)}:{troubles},')

'UA51000000000030770':{'UA51100000000095786': {'малиновський', 'суворовський'}},
'UA05000000000010236':{'UA05040000000050292': {'с-ще северинівка'}},
'UA18000000000041385':{'UA18080000000016657': {'м.новоград-волинський'}},
'OC00000000000000000':{'OC19000000000000000': {'м.краків', 'м.варшава', 'м.бидгощ', 'м.вроцлав', 'м.люблін', 'м.познань', 'м.гданськ'}, 'OC32000000000000000': {'м.гетеборг', 'м.стокгольм'}, 'OC30000000000000000': {'м.брно', 'м.прага'}, 'OC18000000000000000': {'м.гамбург', 'м.берлін', 'м.мюнхен', 'м.кельн', 'м.франкфурт-на-майні', 'м.лейпциг'}, 'OC07000000000000000': {'м.лондон'}, 'OC01000000000000000': {'м.дублін'}, 'OC28000000000000000': {'м.париж', 'м.марсель', 'м.бордо'}, 'OC20000000000000000': {'м.лісабон'}, 'OC03000000000000000': {'м.рим', 'м.барі', 'м.мілан'}, 'OC05000000000000000': {'м.брюссель'}, 'OC16000000000000000': {'м.кишинів'}, 'OC21000000000000000': {'м.бухарест', 'м.клуж-напока'}, 'OC26000000000000000': {'м.дьєр', 'м.дебрецен', 'м.будапешт'}, 'OC10000000000000000': {'м.копенгаген'}, 'OC17000000000000000': {'м.гронінген', 'м.роттердам'}, 'OC31000000000000000': {'м.берн'}, 'OC29000000000000000': {'м.загреб'}, 'OC22000000000000000': {'м.банська бистриця', 'м.братислава'}, 'OC02000000000000000': {'м.мадрид'}, 'OC04000000000000000': {'м.відень'}, 'OC14000000000000000': {'м.каунас'}, 'OC06000000000000000': {'м.варна', 'м.софія'}, 'OC27000000000000000': {'м.гельсінкі'}, 'OC13000000000000000': {'м.рига'}, 'OC25000000000000000': {'м.анкара'}, 'OC11000000000000000': {'м.тарту', 'м.таллінн'}, 'OC08000000000000000': {'м.афіни'}, 'OC24000000000000000': {'м.сакраменто', 'м.нью-йорк'}, 'OC09000000000000000': {'м.тбілісі'}, 'OC12000000000000000': {'м.торонто', 'м.едмонтон'}, 'OC15000000000000000': {'м.люксембург'}, 'OC23000000000000000': {'м.марібор'}},

In [223]:
locations_KATOTTG23.loc[(locations_KATOTTG23.region_KATOTTG == 'UA51000000000030770')&(locations_KATOTTG23.area_KATOTTG == 'UA51100000000095786')&(locations_KATOTTG23.tername_new.str.lower() == 'малиновський'), 'tername_new']='Хаджибейський'
locations_KATOTTG23.loc[(locations_KATOTTG23.region_KATOTTG == 'UA51000000000030770')&(locations_KATOTTG23.area_KATOTTG == 'UA51100000000095786')&(locations_KATOTTG23.tername_new.str.lower() == 'суворовський'), 'tername_new']='Пересипський'
locations_KATOTTG23.loc[(locations_KATOTTG23.region_KATOTTG == 'UA05000000000010236')&(locations_KATOTTG23.area_KATOTTG == 'UA05040000000050292')&(locations_KATOTTG23.tername_new.str.lower() == 'с-ще северинівка'), 'tername_new']='с.Северинівка'
locations_KATOTTG23.loc[(locations_KATOTTG23.region_KATOTTG == 'UA18000000000041385')&(locations_KATOTTG23.area_KATOTTG == 'UA18080000000016657')&(locations_KATOTTG23.tername_new.str.lower() == 'м.новоград-волинський'), 'tername_new']='м.Звягель'

In [225]:
locations_KATOTTG23['third_level'] = locations_KATOTTG23.loc[:, 'tername'].str.extract(r'\((.*?)\)')
locations_KATOTTG23[locations_KATOTTG23.third_level.notna()]

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023,region_KATOTTG,area_KATOTTG,third_level
39,Запорізька область,Мелітопольський район,с.Розівка (Якимівська),NaN,Мелітопольський район,NaN,с.Розівка,NaN,NaN,NaN,NaN,UA23000000000064947,UA23080000000090746,Якимівська
47,Донецька область,Краматорський район,с.Торське (Лиманська),NaN,Краматорський район,NaN,с.Торське,NaN,NaN,NaN,NaN,UA14000000000091971,UA14120000000070232,Лиманська
70,Вінницька область,Гайсинський район,с.Яланець (Бершадська),NaN,Гайсинський район,NaN,с.Яланець,NaN,NaN,NaN,NaN,UA05000000000010236,UA05040000000050292,Бершадська
71,Вінницька область,Гайсинський район,с.Мар'янівка (Гайсинська),NaN,Гайсинський район,NaN,с.Мар'янівка,NaN,NaN,NaN,NaN,UA05000000000010236,UA05040000000050292,Гайсинська
94,Тернопільська область,Чортківський район,с.Озеряни (Борщівська),NaN,Чортківський район,NaN,с.Озеряни,NaN,NaN,NaN,NaN,UA61000000000060328,UA61060000000068766,Борщівська
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8118,Київська область,Білоцерківський район,с.Тарасівка (Узинська),NaN,Білоцерківський район,NaN,с.Тарасівка,NaN,NaN,NaN,NaN,UA32000000000030281,UA32020000000057002,Узинська
8120,Миколаївська область,Вознесенський район,с.Іванівка (Южноукраїнська),NaN,Вознесенський район,NaN,с.Іванівка,NaN,NaN,NaN,NaN,UA48000000000039575,UA48040000000011780,Южноукраїнська
8136,Хмельницька область,Кам'янець-Подільський район,с.Іванківці (Дунаєвецька),NaN,Кам'янець-Подільський район,NaN,с.Іванківці,NaN,NaN,NaN,NaN,UA68000000000099709,UA68020000000016021,Дунаєвецька
8151,Донецька область,Краматорський район,с.Степанівка (Новодонецька),NaN,Краматорський район,NaN,с.Степанівка,NaN,NaN,NaN,NaN,UA14000000000091971,UA14120000000070232,Новодонецька
8160,Херсонська область,Каховський район,с.Павлівка (Присиваська),NaN,Каховський район,NaN,с.Павлівка,NaN,NaN,NaN,NaN,UA65000000000030969,UA65060000000061947,Присиваська

In [226]:
locations_KATOTTG23['third_level_code'] = locations_KATOTTG23['third_level']

In [227]:
for reg in locations_KATOTTG23['region_KATOTTG'].unique():
    reg_filtered_data = locations_KATOTTG23[(locations_KATOTTG23['region_KATOTTG'] == reg)]
    
    for area in reg_filtered_data['area_KATOTTG'].unique():
        area_filtered_data = reg_filtered_data[(reg_filtered_data['area_KATOTTG'] == area)]
        
        for name in area_filtered_data['third_level'].str.lower().unique():
            values = code2022.loc[
                (code2022['first_level'] == reg) &
                (code2022['second_level'] == area) &
                (code2022['name_KOATUU'].str.lower() == name) &
                (code2022['category'].isin(['H', 'B'])), 'third_level'].unique()
            
            if len(values) == 1:
                locations_KATOTTG23.loc[
                    (locations_KATOTTG23['region_KATOTTG'] == reg) &
                    (locations_KATOTTG23['area_KATOTTG'] == area) &
                    (locations_KATOTTG23['third_level'].str.lower() == name), 'third_level_code'] = values[0]
            elif len(values) > 1:
                print(f"Warning: More than one value for {reg}, {area}, {name}, {values}")
            elif len(values) == 0 and isinstance(name, str):
                print(f"No values found for {reg}, {area}, {name}, {values}")

Warning: More than one value for UA59000000000057109, UA59080000000057897, миколаївська, ['UA59080130000022249' 'UA59080150000013842']

In [228]:
locations_KATOTTG23[(locations_KATOTTG23.region_KATOTTG == 'UA59000000000057109')&(locations_KATOTTG23.area_KATOTTG == 'UA59080000000057897')&(locations_KATOTTG23.third_level.str.lower() == 'миколаївська')].head()

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023,region_KATOTTG,area_KATOTTG,third_level,third_level_code
7372,Сумська область,Сумський район,с.Веселе (Миколаївська),NaN,Сумський район,NaN,с.Веселе,NaN,NaN,NaN,NaN,UA59000000000057109,UA59080000000057897,Миколаївська,Миколаївська
7397,Сумська область,Сумський район,с.Софіївка (Миколаївська),NaN,Сумський район,NaN,с.Софіївка,NaN,NaN,NaN,NaN,UA59000000000057109,UA59080000000057897,Миколаївська,Миколаївська

In [229]:
locations_KATOTTG23.loc[(locations_KATOTTG23.region_KATOTTG == 'UA59000000000057109')&(locations_KATOTTG23.area_KATOTTG == 'UA59080000000057897')&(locations_KATOTTG23.third_level.str.lower() == 'миколаївська')&(locations_KATOTTG23.tername_new.str.lower() == 'с.веселе'), 'third_level_code']='UA59080130000022249'
locations_KATOTTG23.loc[(locations_KATOTTG23.region_KATOTTG == 'UA59000000000057109')&(locations_KATOTTG23.area_KATOTTG == 'UA59080000000057897')&(locations_KATOTTG23.third_level.str.lower() == 'миколаївська')&(locations_KATOTTG23.tername_new.str.lower() == 'с.софіївка'), 'third_level_code']='UA59080150000013842'

In [230]:
locations_KATOTTG23['third_level_code'].unique()

array([nan, 'UA23080310000097001', 'UA14120110000031497',
       'UA05040010000022470', 'UA05040030000050131',
       'UA61060050000068464', 'UA56080090000098391',
       'UA48040190000026236', 'UA23100270000073418',
       'UA12020090000044548', 'UA71080250000099725',
       'UA63020090000096294', 'UA48060290000080246',
       'UA23100150000023366', 'UA65020210000085773',
       'UA23080290000096336', 'UA35040110000055821',
       'UA56060050000010769', 'UA35040270000084621',
       'UA12140270000072109', 'UA68040210000089917',
       'UA51060170000068967', 'UA18080210000038722',
       'UA23080150000073640', 'UA12040170000019083',
       'UA61060390000013361', 'UA05020110000052014',
       'UA74100150000090847', 'UA71080110000055395',
       'UA63100070000048302', 'UA68040290000010822',
       'UA35040170000065192', 'UA12140110000060935',
       'UA63060090000041888', 'UA46100070000076013',
       'UA18040330000027310', 'UA63060010000015783',
       'UA73060350000057190', 'UA18080030000019784',
       'UA63140110000087562', 'UA32120030000030458',
       'UA48020050000023194', 'UA18040030000089649',
       'UA32120090000034281', 'UA71080030000050121',
       'UA35040310000035890', 'UA51040290000011852',
       'UA48040210000049987', 'UA61060070000098188',
       'UA12140030000091432', 'UA53080150000085889',
       'UA35080110000063919', 'UA35040150000097644',
       'UA74040190000070909', 'UA48060050000074873',
       'UA23040070000097076', 'UA63040010000010092',
       'UA12140010000024967', 'UA63060110000043554',
       'UA46100150000087495', 'UA71040190000080571',
       'UA12040050000057182', 'UA74040050000013413',
       'UA26080030000014307', 'UA61020050000098539',
       'UA05020230000029909', 'UA61040210000084270',
       'UA12060010000090992', 'UA46100030000016064',
       'UA35060210000019042', 'UA32060010000086043',
       'UA73060470000040033', 'UA44100010000048313',
       'UA61020010000028670', 'UA05120170000013778',
       'UA14040050000064688', 'UA18080130000032098',
       'UA46060390000035967', 'UA48060010000061913',
       'UA56080150000069525', 'UA46120130000026331',
       'UA53080410000094938', 'UA53080290000024637',
       'UA68040470000053519', 'UA23020090000069977',
       'UA35060170000071056', 'UA32140030000074165',
       'UA18040290000063354', 'UA61040150000098181',
       'UA53080110000062015', 'UA12140170000037152',
       'UA65040070000086673', 'UA65040010000061104',
       'UA53080450000087891', 'UA05020030000031457',
       'UA12040190000056469', 'UA48020110000020969',
       'UA48040150000011861', 'UA32020190000084133',
       'UA73060590000095243', 'UA56060450000083945',
       'UA46100050000053848', 'UA35040130000021732',
       'UA59080290000021284', 'UA53080090000014431',
       'UA07060450000051170', 'UA14160170000023385',
       'UA48080050000053070', 'UA14160190000059231',
       'UA46060090000017373', 'UA18040210000044466',
       'UA18060190000071101', 'UA68040510000019366',
       'UA12020190000075117', 'UA53020230000086353',
       'UA46120110000062257', 'UA53080330000062155',
       'UA12140370000059352', 'UA53080210000072644',
       'UA48020230000095751', 'UA71020050000074004',
       'UA51060030000044366', 'UA12060150000015198',
       'UA48020190000083597', 'UA12140150000054570',
       'UA53080190000081150', 'UA12060030000081794',
       'UA35060010000018331', 'UA48080110000010732',
       'UA18020010000059904', 'UA35060130000087718',
       'UA56060030000057923', 'UA63020050000045982',
       'UA48060350000011218', 'UA61020110000084342',
       'UA59020130000060377', 'UA56080130000056682',
       'UA14120030000057882', 'UA63140150000093944',
       'UA05120130000014261', 'UA48020030000061219',
       'UA35060250000057436', 'UA61020150000036935',
       'UA23100230000021603', 'UA14120170000011133',
       'UA63100030000050119', 'UA18040470000074046',
       'UA63080030000019649', 'UA61040370000060170',
       'UA32060070000092009', 'UA53080390000027656',
       'UA51060010000033212', 'UA51100330000051757',
       'UA51120110000047677', 'UA44140110000056578',
       'UA48060250000061313', 'UA35060110000056063',
       'UA48060370000016130', 'UA18040510000013419',
       'UA65080170000067222', 'UA18040490000014752',
       'UA18040250000068141', 'UA73060430000042676',
       'UA14160070000097326', 'UA05120150000069474',
       'UA71040050000016509', 'UA48080070000061107',
       'UA44140090000072167', 'UA14160250000075646',
       'UA53060230000098362', 'UA68040030000027335',
       'UA51140090000048720', 'UA05020270000044358',
       'UA05060050000058111', 'UA48080030000050927',
       'UA12060270000017282', 'UA23100290000069212',
       'UA68040330000086970', 'UA63100050000079487',
       'UA63060070000031032', 'UA68040150000077185',
       'UA68020190000052031', 'UA63100010000016136',
       'UA53040050000091161', 'UA12020250000010438',
       'UA63040030000052515', 'UA48020090000069919',
       'UA63060030000041642', 'UA56060410000055190',
       'UA68040390000011141', 'UA05040050000080930',
       'UA12140250000015858', 'UA61040050000096355',
       'UA12140050000051356', 'UA23080190000065134',
       'UA32020210000064694', 'UA48020130000080862',
       'UA68040050000052367', 'UA51040090000096249',
       'UA51060070000052726', 'UA18040070000059677',
       'UA12040230000099388', 'UA12020050000026654',
       'UA05040090000093950', 'UA35080130000048304',
       'UA44140050000026566', 'UA18020130000096761',
       'UA59080010000078468', 'UA12060190000043514',
       'UA18060230000071114', 'UA05020070000010139',
       'UA51140070000052649', 'UA53080270000062586',
       'UA65060210000049771', 'UA14120230000038918',
       'UA32020170000020698', 'UA48060090000097375',
       'UA18020110000026941', 'UA32140170000038368',
       'UA59020050000012539', 'UA46100230000047305',
       'UA48020010000091496', 'UA32140050000046018',
       'UA71060090000088339', 'UA51020310000020019',
       'UA07080290000088287', 'UA12060070000012840',
       'UA07040090000043197', 'UA63020030000094096',
       'UA18040590000064402', 'UA61060290000038953',
       'UA12040210000039759', 'UA74100270000049748',
       'UA14160130000011561', 'UA07080170000013585',
       'UA63140030000091352', 'UA14040070000032181',
       'UA68040430000052699', 'UA46140110000063568',
       'UA61040350000078247', 'UA07080230000046097',
       'UA53080130000014699', 'UA68040130000024471',
       'UA23100170000031289', 'UA51100090000094901',
       'UA12060250000064393', 'UA61040230000060213',
       'UA65080150000042499', 'UA51020230000068053',
       'UA05080030000089348', 'UA48060070000087404',
       'UA53060290000047345', 'UA65060170000032937',
       'UA48040030000013036', 'UA48020070000050731',
       'UA12140070000025486', 'UA05020090000067118',
       'UA05020130000056031', 'UA05040130000025322',
       'UA05060010000053179', 'UA05020210000033427',
       'UA05080090000089922', 'UA05100150000050790',
       'UA07020110000037373', 'UA07080150000089103',
       'UA12020270000063450', 'UA14160050000083011',
       'UA18020070000083539', 'UA07080250000053335',
       'UA12020230000085693', 'UA18040570000099817',
       'UA14120190000021407', 'UA12060110000015305',
       'UA18040130000075048', 'UA12040070000083117',
       'UA23060270000087706', 'UA26080110000076323',
       'UA12080130000071360', 'UA14120050000033910',
       'UA12140090000053443', 'UA12060210000077302',
       'UA23100190000020018', 'UA12140330000063909',
       'UA35020070000018243', 'UA18040010000031446',
       'UA14160110000031920', 'UA18040390000055900',
       'UA18040610000049084', 'UA18080190000029932',
       'UA18040430000080827', 'UA18040270000050167',
       'UA18060130000061781', 'UA14140050000020560',
       'UA26040070000065724', 'UA35060230000086264',
       'UA35060030000099117', 'UA46040070000032075',
       'UA14160270000099007', 'UA23060330000027462',
       'UA46120090000051307', 'UA46080110000050484',
       'UA46060450000037997', 'UA18060110000061631',
       'UA18080010000090720', 'UA35040330000014430',
       'UA26060170000091466', 'UA26040190000081578',
       'UA26060070000011203', 'UA26080150000032640',
       'UA51120030000075494', 'UA51140010000090773',
       'UA53080010000088479', 'UA48040090000070960',
       'UA48060330000083035', 'UA46040130000035029',
       'UA32020010000093088', 'UA48060310000084930',
       'UA51020270000068435', 'UA32060130000095223',
       'UA32080030000070006', 'UA32080130000056481',
       'UA48040170000057262', 'UA26040330000019235',
       'UA26040270000047749', 'UA48060230000098265',
       'UA53060250000043118', 'UA53080050000011754',
       'UA53080370000025447', 'UA48040010000016403',
       'UA35040190000012514', 'UA35040230000015609',
       'UA53040110000034949', 'UA51120130000064324',
       'UA46040030000058332', 'UA46040010000033885',
       'UA35080010000032386', 'UA51120150000080138',
       'UA53040030000088898', 'UA71080150000071745',
       'UA74100030000076377', 'UA68020030000032574',
       'UA68020010000017180', 'UA63120170000093573',
       'UA61040430000018305', 'UA61040170000086062',
       'UA61060170000051011', 'UA68020250000080044',
       'UA68040450000097735', 'UA68060030000077318',
       'UA68060310000022172', 'UA59080070000062635',
       'UA59060030000069916', 'UA59100010000064812',
       'UA51020170000041393', 'UA61040070000079091',
       'UA63120110000043456', 'UA51020150000090298',
       'UA53060210000044776', 'UA53040010000091190',
       'UA63080150000094794', 'UA61060370000081851',
       'UA65060130000026961', 'UA59080130000022249',
       'UA59080150000013842', 'UA59080110000034361',
       'UA71020090000047211', 'UA61060150000032895',
       'UA61040310000059301', 'UA51100230000045500',
       'UA68040530000044109', 'UA68040090000087566',
       'UA71020330000027449', 'UA61040110000010646',
       'UA61020090000020422', 'UA53020070000049284',
       'UA32020030000029575', 'UA61040470000038207',
       'UA74040290000072674', 'UA63140010000049419',
       'UA56040190000045841', 'UA35060090000091976',
       'UA68020150000089666', 'UA68040170000061140',
       'UA74040010000076097', 'UA56060490000031684',
       'UA61040250000021345', 'UA59080270000073662',
       'UA61060130000045755', 'UA63020010000079018',
       'UA68040310000052042', 'UA56060390000090915',
       'UA56080070000040721', 'UA59020090000085438',
       'UA46100270000094052', 'UA46100130000048262',
       'UA71060230000095772', 'UA51040110000040346',
       'UA61020070000092368', 'UA61040130000085402',
       'UA71020290000032540', 'UA71040210000024694',
       'UA61060310000061998', 'UA61040270000064661',
       'UA12060050000031212', 'UA14040150000099558',
       'UA65040050000029613', 'UA35020010000028961',
       'UA05080070000010150', 'UA14160210000011148',
       'UA71040170000034734', 'UA35040290000046019',
       'UA32020230000012716', 'UA48040250000044166',
       'UA68020050000040518', 'UA14120150000071686',
       'UA65060190000091058'], dtype=object)

In [293]:
locations_2022 =locations_KATOTTG23

In [294]:
locations_2022['third_level_code'].fillna(-1, inplace=True)

In [295]:
locations_2022

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023,region_KATOTTG,area_KATOTTG,third_level,third_level_code
0,Львівська область,Яворівський район,с.Гусаків,4600000000,Яворівський район,4622400000,с.Гусаків,NaN,NaN,4622481601,UA46140090120020894,UA46000000000026241,UA46140000000036328,NaN,-1
1,Львівська область,Яворівський район,с.Баличі,4600000000,Яворівський район,4622400000,с.Баличі,NaN,NaN,4622480401,UA46140090020037836,UA46000000000026241,UA46140000000036328,NaN,-1
2,Львівська область,Яворівський район,с.Шегині,4600000000,Яворівський район,4622400000,с.Шегині,NaN,NaN,4622487901,UA46140090010034963,UA46000000000026241,UA46140000000036328,NaN,-1
3,Львівська область,Яворівський район,с.Волиця,4600000000,Яворівський район,4622400000,с.Волиця,NaN,NaN,4622480901,UA46140090090088787,UA46000000000026241,UA46140000000036328,NaN,-1
4,Івано-Франківська область,Надвірнянський район,с.Гвізд,2600000000,Надвірнянський район,2624000000,с.Гвізд,NaN,NaN,2624081501,UA26120070030065363,UA26000000000069363,UA26120000000036058,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8429,Інші країни,м.Гронінген,м.Гронінген,NaN,Нідерланди,NaN,м.Гронінген,NaN,NaN,NaN,OC17010000000000000,OC00000000000000000,OC17000000000000000,NaN,-1
8430,Інші країни,м.Люксембург,м.Люксембург,NaN,Люксембург,NaN,м.Люксембург,NaN,NaN,NaN,OC15010000000000000,OC00000000000000000,OC15000000000000000,NaN,-1
8431,Інші країни,м.Марібор,м.Марібор,NaN,Словенія,NaN,м.Марібор,NaN,NaN,NaN,OC23010000000000000,OC00000000000000000,OC23000000000000000,NaN,-1
8432,Інші країни,м.Сакраменто,м.Сакраменто,NaN,США,NaN,м.Сакраменто,NaN,NaN,NaN,OC24020000000000000,OC00000000000000000,OC24000000000000000,NaN,-1
8433,Інші країни,м.Едмонтон,м.Едмонтон,NaN,Канада,NaN,м.Едмонтон,NaN,NaN,NaN,OC12010000000000000,OC00000000000000000,OC12000000000000000,NaN,-1

In [296]:
grouped_eie = locations_2022.groupby(['region_KATOTTG', 'area_KATOTTG', 'third_level_code', 'tername_new'])

for (reg, area, third_lev, name), group in grouped_eie:
    lower_name = name.lower()
    if isinstance(third_lev, str):
        values = code2022.loc[
            (code2022['first_level'] == reg) &
            (code2022['second_level'] == area) &
            (code2022['third_level'] == third_lev) &
            (code2022['name_KOATUU'].str.lower() == lower_name) &
            (code2022['category'].isin(['C', 'M', 'T', 'X'])), 'fourth_level'
        ].unique()
        values_add = code2022.loc[
            (code2022['first_level'] == reg) &
            (code2022['second_level'] == area) &
            (code2022['third_level'] == third_lev) &
            (code2022['name_KOATUU'].str.lower() == lower_name) &
            (code2022['category'] == 'B'), 'additional_level'
        ].unique()
    
    else:
        values = code2022.loc[
            (code2022['first_level'] == reg) &
            (code2022['second_level'] == area) &
            (code2022['name_KOATUU'].str.lower() == lower_name) &
            (code2022['category'].isin(['C', 'M', 'T', 'X'])), 'fourth_level'
        ].unique()
        if reg != 'UA80000000000093317':
            values_add = code2022.loc[
                (code2022['first_level'] == reg) &
                (code2022['second_level'] == area) &
                (code2022['name_KOATUU'].str.lower() == lower_name) &
                (code2022['category'] == 'B'), 'additional_level'
            ].unique()
        else: 
            values_add = code2022.loc[
                (code2022['first_level'] == reg) &
                (code2022['additional_level'] == area) &
                (code2022['name_KOATUU'].str.lower() == lower_name) &
                (code2022['category'] == 'B'), 'additional_level'
            ].unique()

    #there is no any chance to get which one is correct codifier if >1
    #example
    #UA12000000000090473 UA12140000000011720 UA12140150000054570 с.Веселе ['UA12140150050098929' 'UA12140150060060336'] []
    if len(values) >= 1:
        locations_2022.loc[group.index, 'KATOTTG_2023'] = values[0]
    elif len(values_add) == 1:
        locations_2022.loc[group.index, 'KATOTTG_2023'] = values_add[0]
    else:
        print(reg, area, third_lev, name, values, values_add)

OC00000000000000000 OC01000000000000000 -1 м.Дублін [] []
OC00000000000000000 OC02000000000000000 -1 м.Мадрид [] []
OC00000000000000000 OC03000000000000000 -1 м.Барі [] []
OC00000000000000000 OC03000000000000000 -1 м.Мілан [] []
OC00000000000000000 OC03000000000000000 -1 м.Рим [] []
OC00000000000000000 OC04000000000000000 -1 м.Відень [] []
OC00000000000000000 OC05000000000000000 -1 м.Брюссель [] []
OC00000000000000000 OC06000000000000000 -1 м.Варна [] []
OC00000000000000000 OC06000000000000000 -1 м.Софія [] []
OC00000000000000000 OC07000000000000000 -1 м.Лондон [] []
OC00000000000000000 OC08000000000000000 -1 м.Афіни [] []
OC00000000000000000 OC09000000000000000 -1 м.Тбілісі [] []
OC00000000000000000 OC10000000000000000 -1 м.Копенгаген [] []
OC00000000000000000 OC11000000000000000 -1 м.Таллінн [] []
OC00000000000000000 OC11000000000000000 -1 м.Тарту [] []
OC00000000000000000 OC12000000000000000 -1 м.Едмонтон [] []
OC00000000000000000 OC12000000000000000 -1 м.Торонто [] []
OC00000000000000000 OC13000000000000000 -1 м.Рига [] []
OC00000000000000000 OC14000000000000000 -1 м.Каунас [] []
OC00000000000000000 OC15000000000000000 -1 м.Люксембург [] []
OC00000000000000000 OC16000000000000000 -1 м.Кишинів [] []
OC00000000000000000 OC17000000000000000 -1 м.Гронінген [] []
OC00000000000000000 OC17000000000000000 -1 м.Роттердам [] []
OC00000000000000000 OC18000000000000000 -1 м.Берлін [] []
OC00000000000000000 OC18000000000000000 -1 м.Гамбург [] []
OC00000000000000000 OC18000000000000000 -1 м.Кельн [] []
OC00000000000000000 OC18000000000000000 -1 м.Лейпциг [] []
OC00000000000000000 OC18000000000000000 -1 м.Мюнхен [] []
OC00000000000000000 OC18000000000000000 -1 м.Франкфурт-на-Майні [] []
OC00000000000000000 OC19000000000000000 -1 м.Бидгощ [] []
OC00000000000000000 OC19000000000000000 -1 м.Варшава [] []
OC00000000000000000 OC19000000000000000 -1 м.Вроцлав [] []
OC00000000000000000 OC19000000000000000 -1 м.Гданськ [] []
OC00000000000000000 OC19000000000000000 -1 м.Краків [] []
OC00000000000000000 OC19000000000000000 -1 м.Люблін [] []
OC00000000000000000 OC19000000000000000 -1 м.Познань [] []
OC00000000000000000 OC20000000000000000 -1 м.Лісабон [] []
OC00000000000000000 OC21000000000000000 -1 м.Бухарест [] []
OC00000000000000000 OC21000000000000000 -1 м.Клуж-Напока [] []
OC00000000000000000 OC22000000000000000 -1 м.Банська Бистриця [] []
OC00000000000000000 OC22000000000000000 -1 м.Братислава [] []
OC00000000000000000 OC23000000000000000 -1 м.Марібор [] []
OC00000000000000000 OC24000000000000000 -1 м.Нью-Йорк [] []
OC00000000000000000 OC24000000000000000 -1 м.Сакраменто [] []
OC00000000000000000 OC25000000000000000 -1 м.Анкара [] []
OC00000000000000000 OC26000000000000000 -1 м.Будапешт [] []
OC00000000000000000 OC26000000000000000 -1 м.Дебрецен [] []
OC00000000000000000 OC26000000000000000 -1 м.Дьєр [] []
OC00000000000000000 OC27000000000000000 -1 м.Гельсінкі [] []
OC00000000000000000 OC28000000000000000 -1 м.Бордо [] []
OC00000000000000000 OC28000000000000000 -1 м.Марсель [] []
OC00000000000000000 OC28000000000000000 -1 м.Париж [] []
OC00000000000000000 OC29000000000000000 -1 м.Загреб [] []
OC00000000000000000 OC30000000000000000 -1 м.Брно [] []
OC00000000000000000 OC30000000000000000 -1 м.Прага [] []
OC00000000000000000 OC31000000000000000 -1 м.Берн [] []
OC00000000000000000 OC32000000000000000 -1 м.Гетеборг [] []
OC00000000000000000 OC32000000000000000 -1 м.Стокгольм [] []

In [297]:
for name in renam.dct_code_cities_2023:
   locations_2022.loc[(locations_2022.region_KATOTTG == 'OC00000000000000000') & (locations_2022['tername_new'].str.lower() == name.lower()), 'KATOTTG_2023'] = renam.dct_code_cities_2023[name]

In [298]:
locations_2022[(locations_2022.KATOTTG_2023.isna())]

Empty DataFrame
Columns: [regname, areaname, tername, region_KOATUU, areaname_new, area_KOATUU, tername_new, code, local_KOATUU, KOATUU_2020, KATOTTG_2023, region_KATOTTG, area_KATOTTG, third_level, third_level_code]
Index: []

In [299]:
locations_2022['KOATUU_2020'] = locations_2022['KOATUU_2020'].fillna(locations_2022['KATOTTG_2023'].map(comparison.set_index('KATOTTG_2023')['KOATUU_2020']))

In [300]:
locations_2022['region_KOATUU'] = locations_2022['region_KOATUU'].fillna((locations_2022['KOATUU_2020'].str[:2]+'00000000'))

In [301]:
locations_2022['area_KOATUU'] = locations_2022['area_KOATUU'].fillna((locations_2022['KOATUU_2020'].str[:5]+'00000'))

In [302]:
pd.Series(locations_2022.region_KATOTTG.values,index=locations_2022.region_KOATUU).to_dict().items()- pd.Series(comparison.KATOTTG_2023.values,index=comparison.KOATUU_2020).to_dict().items()

{(nan, 'OC00000000000000000')}

In [303]:
locations_2022 = locations_2022.drop(columns = ['third_level','third_level_code'], axis=1)
locations_2022

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023,region_KATOTTG,area_KATOTTG
0,Львівська область,Яворівський район,с.Гусаків,4600000000,Яворівський район,4622400000,с.Гусаків,NaN,NaN,4622481601,UA46140090120020894,UA46000000000026241,UA46140000000036328
1,Львівська область,Яворівський район,с.Баличі,4600000000,Яворівський район,4622400000,с.Баличі,NaN,NaN,4622480401,UA46140090020037836,UA46000000000026241,UA46140000000036328
2,Львівська область,Яворівський район,с.Шегині,4600000000,Яворівський район,4622400000,с.Шегині,NaN,NaN,4622487901,UA46140090010034963,UA46000000000026241,UA46140000000036328
3,Львівська область,Яворівський район,с.Волиця,4600000000,Яворівський район,4622400000,с.Волиця,NaN,NaN,4622480901,UA46140090090088787,UA46000000000026241,UA46140000000036328
4,Івано-Франківська область,Надвірнянський район,с.Гвізд,2600000000,Надвірнянський район,2624000000,с.Гвізд,NaN,NaN,2624081501,UA26120070030065363,UA26000000000069363,UA26120000000036058
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8429,Інші країни,м.Гронінген,м.Гронінген,NaN,Нідерланди,NaN,м.Гронінген,NaN,NaN,NaN,OC17010000000000000,OC00000000000000000,OC17000000000000000
8430,Інші країни,м.Люксембург,м.Люксембург,NaN,Люксембург,NaN,м.Люксембург,NaN,NaN,NaN,OC15010000000000000,OC00000000000000000,OC15000000000000000
8431,Інші країни,м.Марібор,м.Марібор,NaN,Словенія,NaN,м.Марібор,NaN,NaN,NaN,OC23010000000000000,OC00000000000000000,OC23000000000000000
8432,Інші країни,м.Сакраменто,м.Сакраменто,NaN,США,NaN,м.Сакраменто,NaN,NaN,NaN,OC24020000000000000,OC00000000000000000,OC24000000000000000
8433,Інші країни,м.Едмонтон,м.Едмонтон,NaN,Канада,NaN,м.Едмонтон,NaN,NaN,NaN,OC12010000000000000,OC00000000000000000,OC12000000000000000

In [304]:
locations_2022['KOATUU_2020'] = locations_2022.apply(lambda row: '00'+row['KATOTTG_2023'][2:10] if isinstance(row['KOATUU_2020'], float) else row['KOATUU_2020'], axis=1)
locations_2022['region_KOATUU'] = locations_2022['region_KOATUU'].fillna((locations_2022['KOATUU_2020'].str[:2]+'00000000'))
locations_2022['area_KOATUU'] = locations_2022['area_KOATUU'].fillna((locations_2022['KOATUU_2020'].str[:5]+'00000'))
locations_2022

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023,region_KATOTTG,area_KATOTTG
0,Львівська область,Яворівський район,с.Гусаків,4600000000,Яворівський район,4622400000,с.Гусаків,NaN,NaN,4622481601,UA46140090120020894,UA46000000000026241,UA46140000000036328
1,Львівська область,Яворівський район,с.Баличі,4600000000,Яворівський район,4622400000,с.Баличі,NaN,NaN,4622480401,UA46140090020037836,UA46000000000026241,UA46140000000036328
2,Львівська область,Яворівський район,с.Шегині,4600000000,Яворівський район,4622400000,с.Шегині,NaN,NaN,4622487901,UA46140090010034963,UA46000000000026241,UA46140000000036328
3,Львівська область,Яворівський район,с.Волиця,4600000000,Яворівський район,4622400000,с.Волиця,NaN,NaN,4622480901,UA46140090090088787,UA46000000000026241,UA46140000000036328
4,Івано-Франківська область,Надвірнянський район,с.Гвізд,2600000000,Надвірнянський район,2624000000,с.Гвізд,NaN,NaN,2624081501,UA26120070030065363,UA26000000000069363,UA26120000000036058
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8429,Інші країни,м.Гронінген,м.Гронінген,0000000000,Нідерланди,0017000000,м.Гронінген,NaN,NaN,0017010000,OC17010000000000000,OC00000000000000000,OC17000000000000000
8430,Інші країни,м.Люксембург,м.Люксембург,0000000000,Люксембург,0015000000,м.Люксембург,NaN,NaN,0015010000,OC15010000000000000,OC00000000000000000,OC15000000000000000
8431,Інші країни,м.Марібор,м.Марібор,0000000000,Словенія,0023000000,м.Марібор,NaN,NaN,0023010000,OC23010000000000000,OC00000000000000000,OC23000000000000000
8432,Інші країни,м.Сакраменто,м.Сакраменто,0000000000,США,0024000000,м.Сакраменто,NaN,NaN,0024020000,OC24020000000000000,OC00000000000000000,OC24000000000000000
8433,Інші країни,м.Едмонтон,м.Едмонтон,0000000000,Канада,0012000000,м.Едмонтон,NaN,NaN,0012010000,OC12010000000000000,OC00000000000000000,OC12000000000000000

In [306]:
locations_KATOTTG['region_KATOTTG'] =np.nan
locations_KATOTTG['area_KATOTTG'] =np.nan
locations_KATOTTG

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023,region_KATOTTG,area_KATOTTG
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230,85101,2323085101,UA23080270010078454,NaN,NaN
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227,10100,6822710100,UA68040210010032567,NaN,NaN
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238,81501,1223881501,UA12140170040016918,NaN,NaN
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137,NaN,NaN
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223,83001,4822383001,UA48080050190079797,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22692,Житомирська область,Любарський район,с.Великий Браталів,18,Любарський район,231,с.Великий Браталів,18231,55106,1823155106,UA18040290070047586,NaN,NaN
22693,Хмельницька область,Ізяславський район,с.Влашанівка,68,Ізяславський район,221,с.Влашанівка,68221,86602,6822186602,UA68060250040099385,NaN,NaN
22694,Львівська область,Яворівський район,с.Коханівка,46,Яворівський район,258,с.Коханівка,46258,87803,4625887803,UA46140110360079694,NaN,NaN
22695,Житомирська область,Ємільчинський район,с.Бастова Рудня,18,Ємільчинський район,217,с.Бастова Рудня,18217,80403,1821780403,UA18080030040080438,NaN,NaN
22696,Чернівецька область,м.Чернівці,м.Чернівці,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137,NaN,NaN

In [307]:
locations_KATOTTG['area_KATOTTG'] = locations_KATOTTG['area_KATOTTG'].fillna(locations_KATOTTG['KATOTTG_2023'].map(code2022[code2022.additional_level.notna()].set_index('additional_level')['second_level']))

In [308]:
locations_KATOTTG['area_KATOTTG'] = locations_KATOTTG['area_KATOTTG'].fillna(locations_KATOTTG['KATOTTG_2023'].map(code2022[(code2022.fourth_level.notna())&(code2022.additional_level.isna())].set_index('fourth_level')['second_level']))
locations_KATOTTG

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023,region_KATOTTG,area_KATOTTG
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230,85101,2323085101,UA23080270010078454,NaN,UA23080000000090746
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227,10100,6822710100,UA68040210010032567,NaN,UA68040000000086061
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238,81501,1223881501,UA12140170040016918,NaN,UA12140000000011720
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137,NaN,UA73060000000061247
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223,83001,4822383001,UA48080050190079797,NaN,UA48080000000082320
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22692,Житомирська область,Любарський район,с.Великий Браталів,18,Любарський район,231,с.Великий Браталів,18231,55106,1823155106,UA18040290070047586,NaN,UA18040000000058965
22693,Хмельницька область,Ізяславський район,с.Влашанівка,68,Ізяславський район,221,с.Влашанівка,68221,86602,6822186602,UA68060250040099385,NaN,UA68060000000040570
22694,Львівська область,Яворівський район,с.Коханівка,46,Яворівський район,258,с.Коханівка,46258,87803,4625887803,UA46140110360079694,NaN,UA46140000000036328
22695,Житомирська область,Ємільчинський район,с.Бастова Рудня,18,Ємільчинський район,217,с.Бастова Рудня,18217,80403,1821780403,UA18080030040080438,NaN,UA18080000000016657
22696,Чернівецька область,м.Чернівці,м.Чернівці,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137,NaN,UA73060000000061247

In [309]:
locations_KATOTTG['region_KATOTTG'] = locations_KATOTTG['region_KATOTTG'].fillna(locations_KATOTTG['KATOTTG_2023'].map(code2022[code2022.additional_level.notna()].set_index('additional_level')['first_level']))

In [310]:
locations_KATOTTG['region_KATOTTG'] = locations_KATOTTG['region_KATOTTG'].fillna(locations_KATOTTG['KATOTTG_2023'].map(code2022[(code2022.fourth_level.notna())&(code2022.additional_level.isna())].set_index('fourth_level')['first_level']))
locations_KATOTTG

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023,region_KATOTTG,area_KATOTTG
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230,85101,2323085101,UA23080270010078454,UA23000000000064947,UA23080000000090746
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227,10100,6822710100,UA68040210010032567,UA68000000000099709,UA68040000000086061
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238,81501,1223881501,UA12140170040016918,UA12000000000090473,UA12140000000011720
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137,UA73000000000044923,UA73060000000061247
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223,83001,4822383001,UA48080050190079797,UA48000000000039575,UA48080000000082320
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22692,Житомирська область,Любарський район,с.Великий Браталів,18,Любарський район,231,с.Великий Браталів,18231,55106,1823155106,UA18040290070047586,UA18000000000041385,UA18040000000058965
22693,Хмельницька область,Ізяславський район,с.Влашанівка,68,Ізяславський район,221,с.Влашанівка,68221,86602,6822186602,UA68060250040099385,UA68000000000099709,UA68060000000040570
22694,Львівська область,Яворівський район,с.Коханівка,46,Яворівський район,258,с.Коханівка,46258,87803,4625887803,UA46140110360079694,UA46000000000026241,UA46140000000036328
22695,Житомирська область,Ємільчинський район,с.Бастова Рудня,18,Ємільчинський район,217,с.Бастова Рудня,18217,80403,1821780403,UA18080030040080438,UA18000000000041385,UA18080000000016657
22696,Чернівецька область,м.Чернівці,м.Чернівці,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137,UA73000000000044923,UA73060000000061247

In [322]:
locations_KATOTTG['region_KOATUU'] = locations_KATOTTG.apply(lambda row: row['region_KOATUU']+'00000000' , axis=1)
locations_KATOTTG

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023,region_KATOTTG,area_KATOTTG
0,Запорізька область,Мелітопольський район,с.Терпіння,2300000000,Мелітопольський район,230,с.Терпіння,23230,85101,2323085101,UA23080270010078454,UA23000000000064947,UA23080000000090746
1,Хмельницька область,Красилівський район,м.Красилів,6800000000,Красилівський район,227,м.Красилів,68227,10100,6822710100,UA68040210010032567,UA68000000000099709,UA68040000000086061
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,1200000000,Петропавлівський район,238,с.Дмитрівка,12238,81501,1223881501,UA12140170040016918,UA12000000000090473,UA12140000000011720
3,Чернівецька область,м.Чернівці,Шевченківський район міста,7300000000,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137,UA73000000000044923,UA73060000000061247
4,Миколаївська область,Врадіївський район,с.Кумарі,4800000000,Врадіївський район,223,с.Кумарі,48223,83001,4822383001,UA48080050190079797,UA48000000000039575,UA48080000000082320
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22692,Житомирська область,Любарський район,с.Великий Браталів,1800000000,Любарський район,231,с.Великий Браталів,18231,55106,1823155106,UA18040290070047586,UA18000000000041385,UA18040000000058965
22693,Хмельницька область,Ізяславський район,с.Влашанівка,6800000000,Ізяславський район,221,с.Влашанівка,68221,86602,6822186602,UA68060250040099385,UA68000000000099709,UA68060000000040570
22694,Львівська область,Яворівський район,с.Коханівка,4600000000,Яворівський район,258,с.Коханівка,46258,87803,4625887803,UA46140110360079694,UA46000000000026241,UA46140000000036328
22695,Житомирська область,Ємільчинський район,с.Бастова Рудня,1800000000,Ємільчинський район,217,с.Бастова Рудня,18217,80403,1821780403,UA18080030040080438,UA18000000000041385,UA18080000000016657
22696,Чернівецька область,м.Чернівці,м.Чернівці,7300000000,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137,UA73000000000044923,UA73060000000061247

In [323]:
locations_KATOTTG['area_KOATUU'] = locations_KATOTTG.apply(lambda row: row['code']+'00000' , axis=1)
locations_KATOTTG

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023,region_KATOTTG,area_KATOTTG
0,Запорізька область,Мелітопольський район,с.Терпіння,2300000000,Мелітопольський район,2323000000,с.Терпіння,23230,85101,2323085101,UA23080270010078454,UA23000000000064947,UA23080000000090746
1,Хмельницька область,Красилівський район,м.Красилів,6800000000,Красилівський район,6822700000,м.Красилів,68227,10100,6822710100,UA68040210010032567,UA68000000000099709,UA68040000000086061
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,1200000000,Петропавлівський район,1223800000,с.Дмитрівка,12238,81501,1223881501,UA12140170040016918,UA12000000000090473,UA12140000000011720
3,Чернівецька область,м.Чернівці,Шевченківський район міста,7300000000,м.Чернівці,7310100000,м.Чернівці,73101,00000,7310100000,UA73060610010033137,UA73000000000044923,UA73060000000061247
4,Миколаївська область,Врадіївський район,с.Кумарі,4800000000,Врадіївський район,4822300000,с.Кумарі,48223,83001,4822383001,UA48080050190079797,UA48000000000039575,UA48080000000082320
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22692,Житомирська область,Любарський район,с.Великий Браталів,1800000000,Любарський район,1823100000,с.Великий Браталів,18231,55106,1823155106,UA18040290070047586,UA18000000000041385,UA18040000000058965
22693,Хмельницька область,Ізяславський район,с.Влашанівка,6800000000,Ізяславський район,6822100000,с.Влашанівка,68221,86602,6822186602,UA68060250040099385,UA68000000000099709,UA68060000000040570
22694,Львівська область,Яворівський район,с.Коханівка,4600000000,Яворівський район,4625800000,с.Коханівка,46258,87803,4625887803,UA46140110360079694,UA46000000000026241,UA46140000000036328
22695,Житомирська область,Ємільчинський район,с.Бастова Рудня,1800000000,Ємільчинський район,1821700000,с.Бастова Рудня,18217,80403,1821780403,UA18080030040080438,UA18000000000041385,UA18080000000016657
22696,Чернівецька область,м.Чернівці,м.Чернівці,7300000000,м.Чернівці,7310100000,м.Чернівці,73101,00000,7310100000,UA73060610010033137,UA73000000000044923,UA73060000000061247

In [315]:
locations_2022

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023,region_KATOTTG,area_KATOTTG
0,Львівська область,Яворівський район,с.Гусаків,4600000000,Яворівський район,4622400000,с.Гусаків,NaN,NaN,4622481601,UA46140090120020894,UA46000000000026241,UA46140000000036328
1,Львівська область,Яворівський район,с.Баличі,4600000000,Яворівський район,4622400000,с.Баличі,NaN,NaN,4622480401,UA46140090020037836,UA46000000000026241,UA46140000000036328
2,Львівська область,Яворівський район,с.Шегині,4600000000,Яворівський район,4622400000,с.Шегині,NaN,NaN,4622487901,UA46140090010034963,UA46000000000026241,UA46140000000036328
3,Львівська область,Яворівський район,с.Волиця,4600000000,Яворівський район,4622400000,с.Волиця,NaN,NaN,4622480901,UA46140090090088787,UA46000000000026241,UA46140000000036328
4,Івано-Франківська область,Надвірнянський район,с.Гвізд,2600000000,Надвірнянський район,2624000000,с.Гвізд,NaN,NaN,2624081501,UA26120070030065363,UA26000000000069363,UA26120000000036058
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8429,Інші країни,м.Гронінген,м.Гронінген,0000000000,Нідерланди,0017000000,м.Гронінген,NaN,NaN,0017010000,OC17010000000000000,OC00000000000000000,OC17000000000000000
8430,Інші країни,м.Люксембург,м.Люксембург,0000000000,Люксембург,0015000000,м.Люксембург,NaN,NaN,0015010000,OC15010000000000000,OC00000000000000000,OC15000000000000000
8431,Інші країни,м.Марібор,м.Марібор,0000000000,Словенія,0023000000,м.Марібор,NaN,NaN,0023010000,OC23010000000000000,OC00000000000000000,OC23000000000000000
8432,Інші країни,м.Сакраменто,м.Сакраменто,0000000000,США,0024000000,м.Сакраменто,NaN,NaN,0024020000,OC24020000000000000,OC00000000000000000,OC24000000000000000
8433,Інші країни,м.Едмонтон,м.Едмонтон,0000000000,Канада,0012000000,м.Едмонтон,NaN,NaN,0012010000,OC12010000000000000,OC00000000000000000,OC12000000000000000

In [326]:
locations_KATOTTG.columns

Index(['regname', 'areaname', 'tername', 'region_KOATUU', 'areaname_new',
       'area_KOATUU', 'tername_new', 'code', 'local_KOATUU', 'KOATUU_2020',
       'KATOTTG_2023', 'region_KATOTTG', 'area_KATOTTG'],
      dtype='object')

In [327]:
locations_2022 = locations_2022.drop(columns = ['code', 'local_KOATUU'], axis=1)
locations_KATOTTG = locations_KATOTTG.drop(columns = ['code', 'local_KOATUU'], axis=1)
locations_2022

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,KOATUU_2020,KATOTTG_2023,region_KATOTTG,area_KATOTTG
0,Львівська область,Яворівський район,с.Гусаків,4600000000,Яворівський район,4622400000,с.Гусаків,4622481601,UA46140090120020894,UA46000000000026241,UA46140000000036328
1,Львівська область,Яворівський район,с.Баличі,4600000000,Яворівський район,4622400000,с.Баличі,4622480401,UA46140090020037836,UA46000000000026241,UA46140000000036328
2,Львівська область,Яворівський район,с.Шегині,4600000000,Яворівський район,4622400000,с.Шегині,4622487901,UA46140090010034963,UA46000000000026241,UA46140000000036328
3,Львівська область,Яворівський район,с.Волиця,4600000000,Яворівський район,4622400000,с.Волиця,4622480901,UA46140090090088787,UA46000000000026241,UA46140000000036328
4,Івано-Франківська область,Надвірнянський район,с.Гвізд,2600000000,Надвірнянський район,2624000000,с.Гвізд,2624081501,UA26120070030065363,UA26000000000069363,UA26120000000036058
...,...,...,...,...,...,...,...,...,...,...,...
8429,Інші країни,м.Гронінген,м.Гронінген,0000000000,Нідерланди,0017000000,м.Гронінген,0017010000,OC17010000000000000,OC00000000000000000,OC17000000000000000
8430,Інші країни,м.Люксембург,м.Люксембург,0000000000,Люксембург,0015000000,м.Люксембург,0015010000,OC15010000000000000,OC00000000000000000,OC15000000000000000
8431,Інші країни,м.Марібор,м.Марібор,0000000000,Словенія,0023000000,м.Марібор,0023010000,OC23010000000000000,OC00000000000000000,OC23000000000000000
8432,Інші країни,м.Сакраменто,м.Сакраменто,0000000000,США,0024000000,м.Сакраменто,0024020000,OC24020000000000000,OC00000000000000000,OC24000000000000000
8433,Інші країни,м.Едмонтон,м.Едмонтон,0000000000,Канада,0012000000,м.Едмонтон,0012010000,OC12010000000000000,OC00000000000000000,OC12000000000000000

In [330]:
locations_KATOTTG.columns

Index(['regname', 'areaname', 'tername', 'region_KOATUU', 'areaname_new',
       'area_KOATUU', 'tername_new', 'KOATUU_2020', 'KATOTTG_2023',
       'region_KATOTTG', 'area_KATOTTG'],
      dtype='object')

In [332]:
merged_df = pd.merge(locations_KATOTTG[['regname', 'areaname', 'tername', 'KOATUU_2020', 'KATOTTG_2023']], locations_2022[['regname', 'areaname', 'tername', 'KOATUU_2020', 'KATOTTG_2023']], on=['regname', 'areaname', 'tername'], suffixes=('_2020', '_2023'), how='inner')
merged_df

,regname,areaname,tername,KOATUU_2020_2020,KATOTTG_2023_2020,KOATUU_2020_2023,KATOTTG_2023_2023
0,Запорізька область,Мелітопольський район,с.Терпіння,2323085101,UA23080270010078454,2323085101,UA23080270010078454
1,Одеська область,м.Одеса,Суворовський район міста,5110137600,UA51100270010413116,5110137600,UA51100270010413116
2,Львівська область,Яворівський район,смт Івано-Франкове,4625855300,UA46140010010031231,4625855300,UA46140010010031231
3,Одеська область,м.Одеса,Малиновський район міста,5110137300,UA51100270010275193,5110137300,UA51100270010275193
4,Львівська область,Дрогобицький район,с.Рихтичі,4621286301,UA46020030280042854,4621286301,UA46020030280042854
...,...,...,...,...,...,...,...
2241,Сумська область,Роменський район,с.Авраменкове,5924188503,UA59060110020098714,5924188503,UA59060110020098714
2242,Київська область,Білоцерківський район,с.Сорокотяги,3220486201,UA32020090130055138,3220486201,UA32020090130055138
2243,Рівненська область,Дубенський район,с.Нагоряни,5621688207,UA56040310140028483,5621688207,UA56040310140028483
2244,Житомирська область,Новоград-Волинський район,с.Кануни,1824085402,UA18080190040044862,1824085402,UA18080190040044862
2245,Чернівецька область,м.Чернівці,м.Чернівці,7310100000,UA73060610010033137,7310100000,UA73060610010033137

In [333]:
df1_cols = [col for col in merged_df.columns if col.endswith('_2020')][3:]
df2_cols = [col for col in merged_df.columns if col.endswith('_2023')][3:]


different_rows = merged_df[(merged_df[df1_cols].values != merged_df[df2_cols].values).any(axis=1)]

if not different_rows.empty:
    print("There are rows with equal values in the first 3 columns and different values in other columns.")
    display(different_rows)
else:
    print("No rows found that meet the condition.")

No rows found that meet the condition.

In [335]:
concatenated_df = pd.concat([locations_KATOTTG[['regname', 'areaname', 'tername', 'KOATUU_2020', 'KATOTTG_2023']], locations_2022[['regname', 'areaname', 'tername', 'KOATUU_2020', 'KATOTTG_2023']]], ignore_index=True)
concatenated_df.drop_duplicates(inplace=True)
concatenated_df.reset_index(drop=True, inplace=True)


concatenated_df

,regname,areaname,tername,KOATUU_2020,KATOTTG_2023
0,Запорізька область,Мелітопольський район,с.Терпіння,2323085101,UA23080270010078454
1,Хмельницька область,Красилівський район,м.Красилів,6822710100,UA68040210010032567
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,1223881501,UA12140170040016918
3,Чернівецька область,м.Чернівці,Шевченківський район міста,7310100000,UA73060610010033137
4,Миколаївська область,Врадіївський район,с.Кумарі,4822383001,UA48080050190079797
...,...,...,...,...,...
28878,Інші країни,м.Гронінген,м.Гронінген,0017010000,OC17010000000000000
28879,Інші країни,м.Люксембург,м.Люксембург,0015010000,OC15010000000000000
28880,Інші країни,м.Марібор,м.Марібор,0023010000,OC23010000000000000
28881,Інші країни,м.Сакраменто,м.Сакраменто,0024020000,OC24020000000000000
28882,Інші країни,м.Едмонтон,м.Едмонтон,0012010000,OC12010000000000000

In [336]:
concatenated_df.to_csv('locations.csv', index=False, encoding='utf-8')