In [67]:
import numpy as np
import pandas as pd
import renaming_dictionaries as renam

In [24]:
# load datasets
datasets = {}
years = range(2016, 2022)
for year in years:
    print(f"EIE {year} Loading...")
    if int(year) >= 2019:
        file_name = f'Odata{year}File.csv'
    else:
        file_name = f'OpenData{year}.csv'
    try:           
        dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='utf-8')
    except:
        dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='Windows 1251')
    datasets.update({year:dataset})
    print("success")

EIE 2016 Loading...
success
EIE 2017 Loading...
success
EIE 2018 Loading...

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_11231/936874828.py:11: DtypeWarning: Columns (119) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='utf-8')

success
EIE 2019 Loading...

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_11231/936874828.py:13: DtypeWarning: Columns (100,116,117,118,120,122,123,124,125) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='Windows 1251')

success
EIE 2020 Loading...

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_11231/936874828.py:13: DtypeWarning: Columns (96,97,98,100,102,103,104,105,116,117,118,120,122,123,124,125) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='Windows 1251')

success
EIE 2021 Loading...

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_11231/936874828.py:11: DtypeWarning: Columns (117,118,119,121,123,124,125,126,137,138,139,141,143,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(f"../../zno/{year}/{file_name}", sep=";", encoding='utf-8')

success

In [25]:
for year, dataset in datasets.items():
    #lowercase all columns and add year as attribute
    dataset.columns = [col.lower() for col in dataset.columns]
    #add year before merging datasets
    dataset['year'] = year

In [26]:
for year, dataset in datasets.items():
    print(year, dataset.shape)

2016 (268003, 107)
2017 (240889, 120)
2018 (335687, 126)
2019 (353813, 127)
2020 (379299, 127)
2021 (389323, 148)

In [27]:
for year, dataset in datasets.items():
    print([col for col in dataset.columns if col.endswith('regname')])

['regname', 'eoregname', 'ukrptregname', 'histptregname', 'mathptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'frptregname', 'deuptregname', 'spptregname', 'rusptregname']
['regname', 'eoregname', 'ukrptregname', 'histptregname', 'mathptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'fraptregname', 'deuptregname', 'spaptregname', 'rusptregname']
['regname', 'eoregname', 'ukrptregname', 'histptregname', 'mathptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'fraptregname', 'deuptregname', 'spaptregname']
['regname', 'eoregname', 'ukrptregname', 'histptregname', 'mathptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'fraptregname', 'deuptregname', 'spaptregname']
['regname', 'eoregname', 'ukrptregname', 'histptregname', 'mathptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'fraptregname', 'deuptregname', 'spaptregname']
['regname', 'eoregname', 'umlptregname', 'ukrptregname', 'histptregname', 'mathptregname', 'mathstptregname', 'physptregname', 'chemptregname', 'bioptregname', 'geoptregname', 'engptregname', 'fraptregname', 'deuptregname', 'spaptregname']

In [28]:
types = ['', 'eo', 'ukrpt', 'umlpt', 'mathpt', 'histpt', 'physpt', 'mathstptregname', 'chempt', 'biopt', 'geopt', 'engpt', 'frapt', 'frpt', 'deupt', 'spapt', 'sppt', 'ruspt']

In [54]:
locations = pd.DataFrame(columns=['regname', 'areaname', 'tername'])

In [55]:
for year, dataset in datasets.items():
    for typ in types:
        new_col = {typ+'regname': 'regname', typ+'areaname':'areaname', typ+'tername': 'tername'}
        if all(column in dataset.columns for column in new_col):
            temp_data = dataset.loc[:,new_col.keys()]
            temp_data.rename(columns=new_col, inplace=True)
            locations = pd.concat([locations, temp_data], ignore_index=True)

locations.drop_duplicates(inplace=True)
locations.reset_index(drop=True, inplace=True)
#when student doesn't take the test the corresponding location is NaN
#we drop these rows
locations.dropna(how = 'all', inplace=True)
locations

# Codifier brush-up

In [37]:
code2020 = pd.read_excel('KOATUU_26112020.xls',  dtype=str)
code2020

               TE   NP                                       NU
0      0100000000  NaN  АВТОНОМНА РЕСПУБЛІКА КРИМ/М.СІМФЕРОПОЛЬ
1      0110000000  NaN         МІСТА АВТОНОМНОЇ РЕСПУБЛІКИ КРИМ
2      0110100000  NaN                              СІМФЕРОПОЛЬ
3      0110130000  NaN                     РАЙОНИ М.СІМФЕРОПОЛЯ
4      0110136300    Р                              ЗАЛІЗНИЧНИЙ
...           ...  ...                                      ...
39415  8536990504    С                                  КАМИШЛИ
39416  8536990505    С                                ПИРОГОВКА
39417  8536990507    С                                ПОВОРОТНЕ
39418  8536990509    С                                 ФРОНТОВЕ
39419  8536990511    С                                 ФРУКТОВЕ

[39420 rows x 3 columns]

In [38]:
code2020['region_KOATUU'] = code2020['TE'].str[:2]
code2020['area_KOATUU'] = code2020['TE'].str[2:5]
code2020['local_KOATUU'] = code2020['TE'].str[5:]
code2020

,TE,NP,NU,region_KOATUU,area_KOATUU,local_KOATUU
0,0100000000,NaN,АВТОНОМНА РЕСПУБЛІКА КРИМ/М.СІМФЕРОПОЛЬ,01,000,00000
1,0110000000,NaN,МІСТА АВТОНОМНОЇ РЕСПУБЛІКИ КРИМ,01,100,00000
2,0110100000,NaN,СІМФЕРОПОЛЬ,01,101,00000
3,0110130000,NaN,РАЙОНИ М.СІМФЕРОПОЛЯ,01,101,30000
4,0110136300,Р,ЗАЛІЗНИЧНИЙ,01,101,36300
...,...,...,...,...,...,...
39415,8536990504,С,КАМИШЛИ,85,369,90504
39416,8536990505,С,ПИРОГОВКА,85,369,90505
39417,8536990507,С,ПОВОРОТНЕ,85,369,90507
39418,8536990509,С,ФРОНТОВЕ,85,369,90509
39419,8536990511,С,ФРУКТОВЕ,85,369,90511

In [39]:
code2020['name_KOATUU'] = code2020['NU'].str.split('/').str[0].str.lower().str.capitalize()
code2020[code2020.area_KOATUU == '000'][['NU', 'region_KOATUU', 'name_KOATUU']]

,NU,region_KOATUU,name_KOATUU
0,АВТОНОМНА РЕСПУБЛІКА КРИМ/М.СІМФЕРОПОЛЬ,01,Автономна республіка крим
1328,ВІННИЦЬКА ОБЛАСТЬ/М.ВІННИЦЯ,05,Вінницька область
3508,ВОЛИНСЬКА ОБЛАСТЬ/М.ЛУЦЬК,07,Волинська область
4870,ДНІПРОПЕТРОВСЬКА ОБЛАСТЬ/М.ДНІПРО,12,Дніпропетровська область
6645,ДОНЕЦЬКА ОБЛАСТЬ/М.ДОНЕЦЬК,14,Донецька область
8272,ЖИТОМИРСЬКА ОБЛАСТЬ/М.ЖИТОМИР,18,Житомирська область
10367,ЗАКАРПАТСЬКА ОБЛАСТЬ/М.УЖГОРОД,21,Закарпатська область
11303,ЗАПОРІЗЬКА ОБЛАСТЬ/М.ЗАПОРІЖЖЯ,23,Запорізька область
12483,ІВАНО-ФРАНКІВСЬКА ОБЛАСТЬ/М.ІВАНО-ФРАНКІВСЬК,26,Івано-франківська область
13716,КИЇВСЬКА ОБЛАСТЬ/М.КИЇВ,32,Київська область
15548,КІРОВОГРАДСЬКА ОБЛАСТЬ/М.КРОПИВНИЦЬКИЙ,35,Кіровоградська область
17013,ЛУГАНСЬКА ОБЛАСТЬ/М.ЛУГАНСЬК,44,Луганська область
18187,ЛЬВІВСЬКА ОБЛАСТЬ/М.ЛЬВІВ,46,Львівська область
20787,МИКОЛАЇВСЬКА ОБЛАСТЬ/М.МИКОЛАЇВ,48,Миколаївська область
21951,ОДЕСЬКА ОБЛАСТЬ/М.ОДЕСА,51,Одеська область
23588,ПОЛТАВСЬКА ОБЛАСТЬ/М.ПОЛТАВА,53,Полтавська область
25930,РІВНЕНСЬКА ОБЛАСТЬ/М.РІВНЕ,56,Рівненська область
27273,СУМСЬКА ОБЛАСТЬ/М.СУМИ,59,Сумська область
29114,ТЕРНОПІЛЬСЬКА ОБЛАСТЬ/М.ТЕРНОПІЛЬ,61,Тернопільська область
30650,ХАРКІВСЬКА ОБЛАСТЬ/М.ХАРКІВ,63,Харківська область
32823,ХЕРСОНСЬКА ОБЛАСТЬ/М.ХЕРСОН,65,Херсонська область
33798,ХМЕЛЬНИЦЬКА ОБЛАСТЬ/М.ХМЕЛЬНИЦЬКИЙ,68,Хмельницька область
35623,ЧЕРКАСЬКА ОБЛАСТЬ/М.ЧЕРКАСИ,71,Черкаська область
36952,ЧЕРНІВЕЦЬКА ОБЛАСТЬ/М.ЧЕРНІВЦІ,73,Чернівецька область
37569,ЧЕРНІГІВСЬКА ОБЛАСТЬ/М.ЧЕРНІГІВ,74,Чернігівська область
39363,М.КИЇВ,80,М.київ
39375,М.СЕВАСТОПОЛЬ,85,М.севастополь

In [40]:
code2020 = code2020[~code2020['region_KOATUU'].isin(['01', '85'])]

In [41]:
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('міста ')]
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('райони ')]
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('селища ')]
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('населенi ')]
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('селища, ')]
code2020 = code2020[~code2020['name_KOATUU'].str.lower().str.startswith('сільради ')]
code2020 = code2020.reset_index(drop=True)

In [42]:
code2020.NP.unique()

array([nan, 'М', 'Т', 'С', 'Щ', 'Р', 'C'], dtype=object)

In [43]:
code2020.NP = code2020.NP.str.replace('C', 'С')

In [44]:
code2020.loc[code2020['NP'] == 'М', 'name_KOATUU'] = 'м.' + code2020.loc[code2020['NP'] == 'М', 'name_KOATUU']
code2020.loc[code2020['NP'] == 'С', 'name_KOATUU'] = 'с.' + code2020.loc[code2020['NP'] == 'С', 'name_KOATUU']
code2020.loc[code2020['NP'] == 'Щ', 'name_KOATUU'] = 'с-ще ' + code2020.loc[code2020['NP'] == 'Щ', 'name_KOATUU']
code2020.loc[code2020['NP'] == 'Т', 'name_KOATUU'] = 'смт ' + code2020.loc[code2020['NP'] == 'Т', 'name_KOATUU']

In [50]:
set(code2020[code2020.area_KOATUU == '000'].name_KOATUU.str.lower())^set(locations.regname.str.lower())

set()

In [56]:
locations_region = locations.merge(code2020[['region_KOATUU']], left_on=locations['regname'].str.lower(), right_on=code2020['name_KOATUU'].str.lower(), how='left')
locations_region = locations_region.drop('key_0', axis=1)
locations_region.head()

,regname,areaname,tername,region_KOATUU
0,Запорізька область,Мелітопольський район,с.Терпіння,23
1,Хмельницька область,Красилівський район,м.Красилів,68
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73
4,Миколаївська область,Врадіївський район,с.Кумарі,48

In [58]:
locations_region[['regname', 'region_KOATUU']].value_counts()

regname                    region_KOATUU
Львівська область          46               1787
Вінницька область          05               1338
Житомирська область        18               1274
Полтавська область         53               1215
Хмельницька область        68               1207
Харківська область         63               1176
Дніпропетровська область   12               1120
Рівненська область         56               1102
Волинська область          07               1079
Тернопільська область      61               1039
Київська область           32               1027
Одеська область            51                935
Чернігівська область       74                884
Івано-Франківська область  26                823
Запорізька область         23                800
Донецька область           14                754
Сумська область            59                750
Черкаська область          71                734
Закарпатська область       21                689
Кіровоградська область     35                688
Миколаївська область       48                672
Херсонська область         65                634
Чернівецька область        73                445
Луганська область          44                390
м.Київ                     80                 30
Name: count, dtype: int64

# Matching areas

In [61]:
locations_region['areaname_new'] = locations_region['areaname']
locations_region.head(25)

,regname,areaname,tername,region_KOATUU,areaname_new
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район
5,Донецька область,Донецька область,м.Дружківка,14,Донецька область
6,Тернопільська область,Тернопільська область,м.Тернопіль,61,Тернопільська область
7,Дніпропетровська область,Дніпропетровська область,м.Нікополь,12,Дніпропетровська область
8,Кіровоградська область,Новгородківський район,с.Тарасівка,35,Новгородківський район
9,Дніпропетровська область,м.Дніпропетровськ,Жовтневий район міста,12,м.Дніпропетровськ
10,Одеська область,м.Одеса,Суворовський район міста,51,м.Одеса
11,Дніпропетровська область,Дніпропетровська область,м.Павлоград,12,Дніпропетровська область
12,Львівська область,Яворівський район,смт Івано-Франкове,46,Яворівський район
13,Івано-Франківська область,Надвірнянський район,с.Лоєва (Лоївська сільрада),26,Надвірнянський район
14,Хмельницька область,Славутський район,с.Гута (Хоровецька сільрада),68,Славутський район
15,Одеська область,Кілійський район,м.Кілія,51,Кілійський район
16,Дніпропетровська область,м.Дніпропетровськ,Ленінський район міста,12,м.Дніпропетровськ
17,Харківська область,Вовчанський район,с.Пролетарське (Червоноармійська Перша сільрада),63,Вовчанський район
18,Черкаська область,Черкаська область,м.Умань,71,Черкаська область
19,Одеська область,м.Одеса,Малиновський район міста,51,м.Одеса
20,Хмельницька область,Білогірський район,смт Білогір'я,68,Білогірський район
21,Тернопільська область,Теребовлянський район,с.Бенева (Бенівська сільрада),61,Теребовлянський район
22,Тернопільська область,Теребовлянський район,м.Теребовля,61,Теребовлянський район
23,Дніпропетровська область,м.Дніпропетровськ,Красногвардійський район міста,12,м.Дніпропетровськ
24,Донецька область,Артемівський район,с.Парасковіївка,14,Артемівський район

Sometimes they wrongly put the name of regions in the second column. We fix it here

In [62]:
locations_region['areaname_new'] = locations_region.apply(lambda row: row['tername'] if ('область' in row['areaname_new'] or 'м.Київ' in row['areaname_new']) else row['areaname_new'], axis=1)

In [65]:
locations_region['areaname_new'] = locations_region.apply(lambda row: row['areaname_new'].split('. ')[0] if ('. ' in row['areaname_new']) else row['areaname_new'], axis=1)

In [73]:
dct = {}
for code in code2020.region_KOATUU.unique():
    troubles = set(locations_region[(locations_region.region_KOATUU == code)].areaname_new.str.lower())-set(code2020[(code2020.region_KOATUU == code)&(code2020.area_KOATUU != '000')&(code2020.local_KOATUU == '00000')].name_KOATUU.str.lower())
    if troubles:
        dct[code] = troubles
print(dct)

{}

In [68]:
for code in renam.dct_rename_area:
    for name in renam.dct_rename_area[code]:
        locations_region.loc[(locations_region.region_KOATUU == code) & (locations_region['areaname_new'] == name), 'areaname_new'] = renam.dct_rename_area[code][name]

In [70]:
for city in renam.dct_cities:
    code2020.loc[(code2020['local_KOATUU'] == '00000') & (code2020['name_KOATUU'].str.lower() == city), 'name_KOATUU'] = renam.dct_cities[city]

In [72]:
for ray in renam.kyiv_dict:
    locations_region.loc[(locations_region.regname == 'м.Київ') & (locations_region.areaname_new.str.lower() == ray), 'areaname_new'] = renam.kyiv_dict[ray]

In [74]:
dct = {}
for code in code2020.region_KOATUU.unique():
    troubles = set(locations_region[(locations_region.region_KOATUU == code)].areaname_new.str.lower())-set(code2020[(code2020.region_KOATUU == code)&(code2020.area_KOATUU != '000')&(code2020.local_KOATUU == '00000')].name_KOATUU.str.lower())
    if troubles:
        dct[code] = troubles
print(dct)

{}

In [75]:
locations_area = locations_region.merge(code2020[['area_KOATUU']], left_on=[locations_region['region_KOATUU'], locations_region['areaname_new'].str.lower()], right_on=[code2020['region_KOATUU'], code2020['name_KOATUU'].str.lower()], how='left')
locations_area = locations_area.drop(columns = ['key_0', 'key_1'], axis=1)
locations_area.head()

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223

In [103]:
locations_area[(locations_area.area_KOATUU.isna())]

Empty DataFrame
Columns: [regname, areaname, tername, region_KOATUU, areaname_new, area_KOATUU, tername_new, code]
Index: []

# Matching tername

In [76]:
locations_area['tername_new'] = locations_area['tername']
locations_area['tername_new'] = locations_area['tername_new'].str.replace(r'\(.*\)', '', regex = True).str.strip()
locations_area['tername_new'] = locations_area['tername_new'].str.replace(' район міста','')
locations_area['tername_new']

0                с.Терпіння
1                м.Красилів
2               с.Дмитрівка
3            Шевченківський
4                  с.Кумарі
                ...
22587    с.Великий Браталів
22588          с.Влашанівка
22589           с.Коханівка
22590       с.Бастова Рудня
22591            м.Чернівці
Name: tername_new, Length: 22592, dtype: object

In [77]:
locations_area['code'] = locations_area['region_KOATUU']+locations_area['area_KOATUU']
locations_area

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,Шевченківський,73101
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223
...,...,...,...,...,...,...,...,...
22587,Житомирська область,Любарський район,с.Великий Браталів,18,Любарський район,231,с.Великий Браталів,18231
22588,Хмельницька область,Ізяславський район,с.Влашанівка,68,Ізяславський район,221,с.Влашанівка,68221
22589,Львівська область,Яворівський район,с.Коханівка,46,Яворівський район,258,с.Коханівка,46258
22590,Житомирська область,Ємільчинський район,с.Бастова Рудня,18,Ємільчинський район,217,с.Бастова Рудня,18217
22591,Чернівецька область,м.Чернівці,м.Чернівці,73,м.Чернівці,101,м.Чернівці,73101

In [78]:
code2020['code'] = code2020['region_KOATUU']+code2020['area_KOATUU']
code2020

,TE,NP,NU,region_KOATUU,area_KOATUU,local_KOATUU,name_KOATUU,code
0,0500000000,NaN,ВІННИЦЬКА ОБЛАСТЬ/М.ВІННИЦЯ,05,000,00000,Вінницька область,05000
1,0510100000,М,ВІННИЦЯ,05,101,00000,м.Вінниця,05101
2,0510141000,Т,ДЕСНА,05,101,41000,смт Десна,05101
3,0510300000,М,ЖМЕРИНКА,05,103,00000,м.Жмеринка,05103
4,0510390001,С,ЖУКІВЦІ,05,103,90001,с.Жуківці,05103
...,...,...,...,...,...,...,...,...
36847,8038200000,Р,ПЕЧЕРСЬКИЙ,80,382,00000,Печерський,80382
36848,8038500000,Р,ПОДІЛЬСЬКИЙ,80,385,00000,Подільський,80385
36849,8038600000,Р,СВЯТОШИНСЬКИЙ,80,386,00000,Святошинський,80386
36850,8038900000,Р,СОЛОМ'ЯНСЬКИЙ,80,389,00000,Солом'янський,80389
36851,8039100000,Р,ШЕВЧЕНКІВСЬКИЙ,80,391,00000,Шевченківський,80391

In [79]:
renaming = pd.read_csv('Renaming.csv')
renaming

,New,Old,areaname,regname,year
0,с.Азовське,с.Луначарське,Бердянський район,Запорізька область,2016
1,с.Армашівка,с.Орджонікідзе,Ширяївський район,Одеська область,2016
2,с.Високе,с.Артемівка,Кегичівський район,Харківська область,2016
3,с.Вишневе,с.Жовтневе,Калинівський район,Вінницька область,2016
4,с.Єрмішкове,с.Дзержинське,Великомихайлівський район,Одеська область,2016
...,...,...,...,...,...
1536,м.Яремче,м.Яремча,м.Яремче,Івано-Франківська область,2006
1537,с.Яромель,с.Йосипівка,Ківерцівський район,Волинська область,1989
1538,с.Ясинівка,с.Ясенівка,Дубенський район,Рівненська область,2013
1539,с.Ятвяги,с.Прибілля,Жидачівський район,Львівська область,2015
1540,с.Яшники,с.Ячники,Лохвицький район,Полтавська область,1995

In [80]:
set(code2020[code2020.area_KOATUU == '000'].name_KOATUU.str.lower())^set(renaming.regname.str.lower())

{'м.київ'}

In [81]:
renam_code = renaming.merge(code2020[['region_KOATUU']], left_on=renaming['regname'].str.lower(), right_on=code2020['name_KOATUU'].str.lower(), how='left')
renam_code = renam_code.drop('key_0', axis=1)
renam_code

,New,Old,areaname,regname,year,region_KOATUU
0,с.Азовське,с.Луначарське,Бердянський район,Запорізька область,2016,23
1,с.Армашівка,с.Орджонікідзе,Ширяївський район,Одеська область,2016,51
2,с.Високе,с.Артемівка,Кегичівський район,Харківська область,2016,63
3,с.Вишневе,с.Жовтневе,Калинівський район,Вінницька область,2016,05
4,с.Єрмішкове,с.Дзержинське,Великомихайлівський район,Одеська область,2016,51
...,...,...,...,...,...,...
1536,м.Яремче,м.Яремча,м.Яремче,Івано-Франківська область,2006,26
1537,с.Яромель,с.Йосипівка,Ківерцівський район,Волинська область,1989,07
1538,с.Ясинівка,с.Ясенівка,Дубенський район,Рівненська область,2013,56
1539,с.Ятвяги,с.Прибілля,Жидачівський район,Львівська область,2015,46
1540,с.Яшники,с.Ячники,Лохвицький район,Полтавська область,1995,53

In [82]:
dct = {}
for code in code2020.region_KOATUU.unique():
    troubles = set(renam_code[(renam_code.region_KOATUU == code)].areaname.str.lower())-set(code2020[(code2020.region_KOATUU == code)&(code2020.area_KOATUU != '000')&(code2020.local_KOATUU == '00000')].name_KOATUU.str.lower())
    if troubles:
        dct[code] = troubles
print(dct)

{}

In [83]:
renam_code = renam_code.merge(code2020[['area_KOATUU']], left_on=[renam_code['region_KOATUU'], renam_code['areaname'].str.lower()], right_on=[code2020['region_KOATUU'], code2020['name_KOATUU'].str.lower()], how='left')
renam_code = renam_code.drop(columns = ['key_0', 'key_1'], axis=1)
renam_code

,New,Old,areaname,regname,year,region_KOATUU,area_KOATUU
0,с.Азовське,с.Луначарське,Бердянський район,Запорізька область,2016,23,206
1,с.Армашівка,с.Орджонікідзе,Ширяївський район,Одеська область,2016,51,254
2,с.Високе,с.Артемівка,Кегичівський район,Харківська область,2016,63,231
3,с.Вишневе,с.Жовтневе,Калинівський район,Вінницька область,2016,05,216
4,с.Єрмішкове,с.Дзержинське,Великомихайлівський район,Одеська область,2016,51,216
...,...,...,...,...,...,...,...
1536,м.Яремче,м.Яремча,м.Яремче,Івано-Франківська область,2006,26,110
1537,с.Яромель,с.Йосипівка,Ківерцівський район,Волинська область,1989,07,218
1538,с.Ясинівка,с.Ясенівка,Дубенський район,Рівненська область,2013,56,216
1539,с.Ятвяги,с.Прибілля,Жидачівський район,Львівська область,2015,46,215
1540,с.Яшники,с.Ячники,Лохвицький район,Полтавська область,1995,53,226

In [84]:
renam_code['code'] = renam_code['region_KOATUU']+renam_code['area_KOATUU']
renam_code

,New,Old,areaname,regname,year,region_KOATUU,area_KOATUU,code
0,с.Азовське,с.Луначарське,Бердянський район,Запорізька область,2016,23,206,23206
1,с.Армашівка,с.Орджонікідзе,Ширяївський район,Одеська область,2016,51,254,51254
2,с.Високе,с.Артемівка,Кегичівський район,Харківська область,2016,63,231,63231
3,с.Вишневе,с.Жовтневе,Калинівський район,Вінницька область,2016,05,216,05216
4,с.Єрмішкове,с.Дзержинське,Великомихайлівський район,Одеська область,2016,51,216,51216
...,...,...,...,...,...,...,...,...
1536,м.Яремче,м.Яремча,м.Яремче,Івано-Франківська область,2006,26,110,26110
1537,с.Яромель,с.Йосипівка,Ківерцівський район,Волинська область,1989,07,218,07218
1538,с.Ясинівка,с.Ясенівка,Дубенський район,Рівненська область,2013,56,216,56216
1539,с.Ятвяги,с.Прибілля,Жидачівський район,Львівська область,2015,46,215,46215
1540,с.Яшники,с.Ячники,Лохвицький район,Полтавська область,1995,53,226,53226

In [85]:
renaming_dict = {(row['Old'], row['code']): row['New'] for _, row in renam_code.iterrows()}
locations_area['tername_new'] = locations_area.apply(lambda row: renaming_dict.get((row['tername_new'], row['code']), row['tername_new']), axis=1)

In [93]:
for cod in locations_area.code.unique():
    troubles = set(locations_area[(locations_area.code == cod)].tername_new.str.lower())-set(code2020[code2020.code == cod].name_KOATUU.str.lower())
    if troubles:
        print(f'{repr(cod)}:{troubles},')

In [87]:
for code in renam.dct_replace:
    for place in renam.dct_replace[code]:
        locations_area.loc[(locations_area.code == code) & (locations_area['tername_new'] == place), 'tername_new'] = renam.dct_replace[code][place]

In [89]:
def change_area_KOATUU(old_code, place, code, dataset):
    dataset.loc[(dataset.code == old_code)&(dataset['tername_new'] == place), 'area_KOATUU'] = code[2:]
    dataset.loc[(dataset.code == old_code)&(dataset['tername_new'] == place), 'code'] = code
    values = code2020.loc[(code2020.code == code)&(code2020.local_KOATUU == '00000'), 'name_KOATUU'].unique()
    if len(values) == 1:
        dataset.loc[(dataset.code == code)&(dataset['tername_new'] == place), 'areaname_new'] = values[0]
    else:
        raise Exception(f'More than one value:{old_code}, {place}, {code}, {values}')

In [90]:
for item in renam.place_change:
    change_area_KOATUU(item[0], item[1], item[2], locations_area)

In [92]:
for code in renam.dct_replace:
    for place in renam.dct_replace[code]:
        locations_area.loc[(locations_area.code == code) & (locations_area['tername_new'] == place), 'tername_new'] = renam.dct_replace[code][place]

In [94]:
locations_KOATUU= locations_area.merge(code2020[['local_KOATUU']], left_on=[locations_area['region_KOATUU'], locations_area['area_KOATUU'], locations_area['tername_new'].str.lower()], right_on=[code2020['region_KOATUU'], code2020['area_KOATUU'], code2020['name_KOATUU'].str.lower()], how='left')
locations_KOATUU = locations_KOATUU.drop(columns = ['key_0', 'key_1', 'key_2'], axis=1)
locations_KOATUU.head()

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230,85101
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227,10100
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238,81501
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,м.Чернівці,73101,00000
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223,83001

In [96]:
locations_KOATUU['KOATUU_2020'] = locations_KOATUU['region_KOATUU']+locations_KOATUU['area_KOATUU']+locations_KOATUU['local_KOATUU']
locations_KOATUU.head()

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230,85101,2323085101
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227,10100,6822710100
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238,81501,1223881501
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223,83001,4822383001

# Match with the new system of code2020

In [97]:
comparison = pd.read_excel('Comparison table.xlsx',  dtype=str, skiprows=2)
comparison

,Кодифікатор,Код об'єкта КОАТУУ,Категорія об’єкта,Назва об’єкта
0,UA01000000000013043,0100000000,О,Автономна Республіка Крим
1,UA01020000000022387,0120400000,Р,Бахчисарайський
2,UA01020010000048857,8536990200,Н,Андріївська
3,UA01020010010075540,8536990201,С,Андріївка
4,UA01020010020030666,8536990203,Х,Сонячний
...,...,...,...,...
31753,UA85000000000065278,8500000000,К,Севастополь
31754,UA85000000000155841,8536300000,В,Балаклавський
31755,UA85000000000259923,8536400000,В,Гагарінський
31756,UA85000000000334608,8536600000,В,Ленінський
31757,UA85000000000449437,8536900000,В,Нахімовський

In [98]:
comparison.rename(columns = {'Кодифікатор':'KATOTTG_2023',"Код об'єкта КОАТУУ ":'KOATUU_2020','Категорія об’єкта':'category', 'Назва об’єкта':'name'}, inplace=True)
comparison

              KATOTTG_2023 KOATUU_2020 category                       name
0      UA01000000000013043  0100000000        О  Автономна Республіка Крим
1      UA01020000000022387  0120400000        Р            Бахчисарайський
2      UA01020010000048857  8536990200        Н               Андріївська
3      UA01020010010075540  8536990201        С                  Андріївка
4      UA01020010020030666  8536990203        Х                   Сонячний
...                    ...         ...      ...                        ...
31753  UA85000000000065278  8500000000        К                Севастополь
31754  UA85000000000155841  8536300000        В              Балаклавський
31755  UA85000000000259923  8536400000        В               Гагарінський
31756  UA85000000000334608  8536600000        В                 Ленінський
31757  UA85000000000449437  8536900000        В               Нахімовський

[31758 rows x 4 columns]

In [99]:
comparison_loc = comparison[comparison.category.isin(['С', 'М', 'В', 'Т', 'Х'])]

In [100]:
locations_KOATUU.loc[(locations_KOATUU.KOATUU_2020 == '5120280501'), 'local_KOATUU'] = '80401'
locations_KOATUU.loc[(locations_KOATUU.KOATUU_2020 == '5120280501'), 'KOATUU_2020'] = '5120280401'

In [101]:
locations_KATOTTG = locations_KOATUU.merge(comparison_loc[['KATOTTG_2023']], left_on=[locations_KOATUU['KOATUU_2020']], right_on=[comparison_loc['KOATUU_2020']], how='left')
locations_KATOTTG  = locations_KATOTTG.drop(columns = ['key_0'], axis=1)
locations_KATOTTG.head()

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230,85101,2323085101,UA23080270010078454
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227,10100,6822710100,UA68040210010032567
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238,81501,1223881501,UA12140170040016918
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223,83001,4822383001,UA48080050190079797

check na

In [109]:
locations_KATOTTG[(locations_KATOTTG.KATOTTG_2023.isna())]

Empty DataFrame
Columns: [regname, areaname, tername, region_KOATUU, areaname_new, area_KOATUU, tername_new, code, local_KOATUU, KOATUU_2020, KATOTTG_2023]
Index: []

these two tuples are not valid, since the final location couldn't be area. So we drop them

In [107]:
locations_KATOTTG= locations_KATOTTG[(locations_KATOTTG.KATOTTG_2023.notna())]
locations_KATOTTG.reset_index(drop=True, inplace=True)
locations_KATOTTG

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230,85101,2323085101,UA23080270010078454
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227,10100,6822710100,UA68040210010032567
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238,81501,1223881501,UA12140170040016918
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223,83001,4822383001,UA48080050190079797
...,...,...,...,...,...,...,...,...,...,...,...
22692,Житомирська область,Любарський район,с.Великий Браталів,18,Любарський район,231,с.Великий Браталів,18231,55106,1823155106,UA18040290070047586
22693,Хмельницька область,Ізяславський район,с.Влашанівка,68,Ізяславський район,221,с.Влашанівка,68221,86602,6822186602,UA68060250040099385
22694,Львівська область,Яворівський район,с.Коханівка,46,Яворівський район,258,с.Коханівка,46258,87803,4625887803,UA46140110360079694
22695,Житомирська область,Ємільчинський район,с.Бастова Рудня,18,Ємільчинський район,217,с.Бастова Рудня,18217,80403,1821780403,UA18080030040080438
22696,Чернівецька область,м.Чернівці,м.Чернівці,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137

In [121]:
locations_KATOTTG.columns

Index(['regname', 'areaname', 'tername', 'region_KOATUU', 'areaname_new',
       'area_KOATUU', 'tername_new', 'code', 'local_KOATUU', 'KOATUU_2020',
       'KATOTTG_2023'],
      dtype='object')

2022

In [111]:
dataset_2022 = pd.read_csv(f"../../zno/2022/Odata2022File.csv", sep=";", encoding='utf-8')
dataset_2022

,OUTID,Birth,SexTypeName,RegName,AREANAME,TERNAME,RegTypeName,TerTypeName,EONAME,EOTypeName,...,Block1Ball,Block2,Block2Ball100,Block2Ball,Block3,Block3Ball100,Block3Ball,PTRegName,PTAreaName,PTTerName
0,d60381f3-8d71-441e-817e-49b9fa8b43dd,2005,чоловіча,Львівська область,Яворівський район,с.Гусаків,Випускник закладу загальної середньої освіти 2...,"селище, село","Гусаківський навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,...,14.0,Історія України,"147,0",15.0,Математика,"128,0",5.0,Львівська область,"м.Львів, Залізничний район міста",Залізничний район міста
1,eb25a9fc-b757-4321-a2b4-ebb1b635397d,2005,чоловіча,Львівська область,Яворівський район,с.Гусаків,Випускник закладу загальної середньої освіти 2...,"селище, село","Гусаківський навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,...,11.0,Історія України,"149,0",17.0,Математика,"136,0",8.0,Львівська область,"м.Львів, Залізничний район міста",Залізничний район міста
2,1cb161bd-51ed-4d24-b605-1d45db63cada,2005,жіноча,Львівська область,Яворівський район,с.Гусаків,Випускник закладу загальної середньої освіти 2...,"селище, село","Гусаківський навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,...,25.0,Історія України,"158,0",24.0,Математика,"185,0",28.0,Львівська область,"м.Львів, Залізничний район міста",Залізничний район міста
3,0311b8d8-67bb-49a4-a0b9-f049b7ef4184,2005,жіноча,Львівська область,Яворівський район,с.Гусаків,Випускник закладу загальної середньої освіти 2...,"селище, село","Гусаківський навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,...,20.0,Історія України,"146,0",14.0,Математика,"148,0",14.0,Львівська область,"м.Львів, Залізничний район міста",Залізничний район міста
4,a8b35a53-feac-4e42-aed8-8d6ffab7decf,2005,чоловіча,Львівська область,Яворівський район,с.Гусаків,Випускник закладу загальної середньої освіти 2...,"селище, село","Гусаківський навчально-виховний комплекс ""Зага...",навчально-виховний комплекс,...,24.0,Історія України,"144,0",13.0,Математика,"144,0",12.0,Львівська область,"м.Львів, Залізничний район міста",Залізничний район міста
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234099,6cbe3454-80f0-42b5-8d6d-c2ead687d804,2005,чоловіча,Волинська область,Володимирський район,с.Заболотці,Випускник закладу загальної середньої освіти 2...,"селище, село",Заболотцівський ліцей Литовезької сільської ра...,середня загальноосвітня школа,...,13.0,Історія України,"136,0",9.0,Математика,"148,0",14.0,Волинська область,м.Нововолинськ,м.Нововолинськ
234100,b897557b-c01b-49d4-8624-b351aaafe5ff,2005,жіноча,Волинська область,Володимирський район,с.Заболотці,Випускник закладу загальної середньої освіти 2...,"селище, село",Заболотцівський ліцей Литовезької сільської ра...,середня загальноосвітня школа,...,31.0,Історія України,"170,0",29.0,Математика,"162,0",22.0,Волинська область,м.Нововолинськ,м.Нововолинськ
234101,dcec644b-dcec-47ee-9971-6beebd1a929b,2005,чоловіча,Волинська область,Володимирський район,с.Заболотці,Випускник закладу загальної середньої освіти 2...,"селище, село",Заболотцівський ліцей Литовезької сільської ра...,середня загальноосвітня школа,...,21.0,Історія України,"152,0",20.0,Математика,"154,0",19.0,Волинська область,м.Нововолинськ,м.Нововолинськ
234102,cb4156bb-a624-4274-9d38-28be3096f6b9,2004,жіноча,Волинська область,Володимирський район,с.Заболотці,Випускник закладу загальної середньої освіти 2...,"селище, село",Заболотцівський ліцей Литовезької сільської ра...,середня загальноосвітня школа,...,12.0,Історія України,"131,0",7.0,Математика,"131,0",6.0,Волинська область,м.Нововолинськ,м.Нововолинськ
234103,7514327a-0831-4adc-8277-41d74e543884,2005,жіноча,Херсонська область,Каховський район,с.Павлівка (Присиваська),Випускник закладу загальної середньої освіти 2...,"селище, село",Павлівська загальноосвітня школа I-III ступені...,середня загальноосвітня школа,...,NaN,Історія України,NaN,NaN,Математика,NaN,NaN,Одеська область,"м.Одеса, Приморський район міста",Приморський район міста

In [112]:
dataset_2022.columns = [col.lower() for col in dataset_2022.columns]

In [119]:
print([col for col in dataset_2022.columns if col.startswith('pt')])

['ptregname', 'ptareaname', 'pttername']

In [114]:
types = ['', 'eo', 'pt']

In [124]:
locations_KATOTTG

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230,85101,2323085101,UA23080270010078454
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227,10100,6822710100,UA68040210010032567
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238,81501,1223881501,UA12140170040016918
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223,83001,4822383001,UA48080050190079797
...,...,...,...,...,...,...,...,...,...,...,...
22692,Житомирська область,Любарський район,с.Великий Браталів,18,Любарський район,231,с.Великий Браталів,18231,55106,1823155106,UA18040290070047586
22693,Хмельницька область,Ізяславський район,с.Влашанівка,68,Ізяславський район,221,с.Влашанівка,68221,86602,6822186602,UA68060250040099385
22694,Львівська область,Яворівський район,с.Коханівка,46,Яворівський район,258,с.Коханівка,46258,87803,4625887803,UA46140110360079694
22695,Житомирська область,Ємільчинський район,с.Бастова Рудня,18,Ємільчинський район,217,с.Бастова Рудня,18217,80403,1821780403,UA18080030040080438
22696,Чернівецька область,м.Чернівці,м.Чернівці,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137

In [126]:
locations_KATOTTG23=locations_KATOTTG
for typ in types:
    new_col = {typ+'regname': 'regname', typ+'areaname':'areaname', typ+'tername': 'tername'}
    temp_data = dataset_2022.loc[:,new_col.keys()]
    temp_data.loc[:, ['region_KOATUU', 'areaname_new',
       'area_KOATUU', 'tername_new', 'code', 'local_KOATUU', 'KOATUU_2020',
       'KATOTTG_2023']] = np.nan
    temp_data.rename(columns=new_col, inplace=True)
    locations_KATOTTG23 = pd.concat([locations_KATOTTG23, temp_data], ignore_index=True)

locations_KATOTTG23.drop_duplicates(inplace=True)
locations_KATOTTG23.reset_index(drop=True, inplace=True)
#when student doesn't take the test the corresponding location is NaN
#we drop these rows
locations_KATOTTG23.dropna(how = 'all', inplace=True)
locations_KATOTTG23

,regname,areaname,tername,region_KOATUU,areaname_new,area_KOATUU,tername_new,code,local_KOATUU,KOATUU_2020,KATOTTG_2023
0,Запорізька область,Мелітопольський район,с.Терпіння,23,Мелітопольський район,230,с.Терпіння,23230,85101,2323085101,UA23080270010078454
1,Хмельницька область,Красилівський район,м.Красилів,68,Красилівський район,227,м.Красилів,68227,10100,6822710100,UA68040210010032567
2,Дніпропетровська область,Петропавлівський район,с.Дмитрівка,12,Петропавлівський район,238,с.Дмитрівка,12238,81501,1223881501,UA12140170040016918
3,Чернівецька область,м.Чернівці,Шевченківський район міста,73,м.Чернівці,101,м.Чернівці,73101,00000,7310100000,UA73060610010033137
4,Миколаївська область,Врадіївський район,с.Кумарі,48,Врадіївський район,223,с.Кумарі,48223,83001,4822383001,UA48080050190079797
...,...,...,...,...,...,...,...,...,...,...,...
31123,Інші країни,м.Гронінген,м.Гронінген,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31124,Інші країни,м.Люксембург,м.Люксембург,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31125,Інші країни,м.Марібор,м.Марібор,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31126,Інші країни,м.Сакраменто,м.Сакраменто,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31127,Інші країни,м.Едмонтон,м.Едмонтон,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
code2022 = pd.read_excel('Codifiers2022.xlsx',  dtype=str, skiprows=2,skipfooter=3)
code2022

,Перший рівень,Другий рівень,Третій рівень,Четвертий рівень,Додатковий рівень,Категорія об’єкта,Назва об’єкта
0,UA01000000000013043,NaN,NaN,NaN,NaN,O,Автономна Республіка Крим
1,UA01000000000013043,UA01020000000022387,NaN,NaN,NaN,P,Бахчисарайський
2,UA01000000000013043,UA01020000000022387,UA01020010000048857,NaN,NaN,H,Андріївська
3,UA01000000000013043,UA01020000000022387,UA01020010000048857,UA01020010010075540,NaN,C,Андріївка
4,UA01000000000013043,UA01020000000022387,UA01020010000048857,UA01020010020030666,NaN,X,Сонячний
...,...,...,...,...,...,...,...
31746,UA85000000000065278,NaN,NaN,NaN,NaN,K,Севастополь
31747,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000155841,B,Балаклавський
31748,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000259923,B,Гагарінський
31749,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000334608,B,Ленінський
31750,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000449437,B,Нахімовський

In [128]:
code2022.rename(columns = {'Перший рівень':'first_level','Другий рівень':'second_level','Третій рівень':'third_level', 'Четвертий рівень':'fourth_level',
       'Додатковий рівень':'additional_level', 'Категорія об’єкта':'category','Назва об’єкта':'name'}, inplace=True)
code2022

,first_level,second_level,third_level,fourth_level,additional_level,category,name
0,UA01000000000013043,NaN,NaN,NaN,NaN,O,Автономна Республіка Крим
1,UA01000000000013043,UA01020000000022387,NaN,NaN,NaN,P,Бахчисарайський
2,UA01000000000013043,UA01020000000022387,UA01020010000048857,NaN,NaN,H,Андріївська
3,UA01000000000013043,UA01020000000022387,UA01020010000048857,UA01020010010075540,NaN,C,Андріївка
4,UA01000000000013043,UA01020000000022387,UA01020010000048857,UA01020010020030666,NaN,X,Сонячний
...,...,...,...,...,...,...,...
31746,UA85000000000065278,NaN,NaN,NaN,NaN,K,Севастополь
31747,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000155841,B,Балаклавський
31748,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000259923,B,Гагарінський
31749,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000334608,B,Ленінський
31750,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000449437,B,Нахімовський

In [129]:
code2022['name'] = code2022['name'].str.replace('’', "'")

In [130]:
code2022['name_KOATUU']= code2022['name'] 
code2022['name_KOATUU']= code2022['name_KOATUU'].str.strip()
code2022

,first_level,second_level,third_level,fourth_level,additional_level,category,name,name_KOATUU
0,UA01000000000013043,NaN,NaN,NaN,NaN,O,Автономна Республіка Крим,Автономна Республіка Крим
1,UA01000000000013043,UA01020000000022387,NaN,NaN,NaN,P,Бахчисарайський,Бахчисарайський
2,UA01000000000013043,UA01020000000022387,UA01020010000048857,NaN,NaN,H,Андріївська,Андріївська
3,UA01000000000013043,UA01020000000022387,UA01020010000048857,UA01020010010075540,NaN,C,Андріївка,Андріївка
4,UA01000000000013043,UA01020000000022387,UA01020010000048857,UA01020010020030666,NaN,X,Сонячний,Сонячний
...,...,...,...,...,...,...,...,...
31746,UA85000000000065278,NaN,NaN,NaN,NaN,K,Севастополь,Севастополь
31747,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000155841,B,Балаклавський,Балаклавський
31748,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000259923,B,Гагарінський,Гагарінський
31749,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000334608,B,Ленінський,Ленінський
31750,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000065278,UA85000000000449437,B,Нахімовський,Нахімовський

In [131]:
code2022 = code2022[~code2022['first_level'].str.startswith(('UA01', 'UA85'))]

In [132]:
code2022.category.unique()

array(['O', 'P', 'H', 'C', 'M', 'T', 'X', 'B', 'K'], dtype=object)

In [133]:
code2022.loc[code2022['category'] == 'O', 'name_KOATUU'] = code2022.loc[code2022['category'] == 'O', 'name_KOATUU']+' область'
code2022.loc[code2022['category'] == 'P', 'name_KOATUU'] = code2022.loc[code2022['category'] =='P', 'name_KOATUU']+' район'
code2022.loc[code2022['category'] == 'C', 'name_KOATUU'] = 'с.' + code2022.loc[code2022['category'] == 'C', 'name_KOATUU']
code2022.loc[code2022['category'] == 'X', 'name_KOATUU'] = 'с-ще ' + code2022.loc[code2022['category'] == 'X', 'name_KOATUU']
code2022.loc[code2022['category'] == 'M', 'name_KOATUU'] = 'м.' + code2022.loc[code2022['category'] == 'M', 'name_KOATUU']
code2022.loc[code2022['category'] == 'T', 'name_KOATUU'] = 'смт ' + code2022.loc[code2022['category'] == 'T', 'name_KOATUU']
code2022.loc[code2022['category'] == 'K', 'name_KOATUU'] = 'м.'  + code2022.loc[code2022['category'] == 'K', 'name_KOATUU']

In [134]:
set(code2022[code2022.category.isin(['O','K'])].name_KOATUU.str.lower())^set(locations_KATOTTG23.regname.str.lower())

{'інші країни'}

In [135]:
locations_KATOTTG23['region_KATOTTG'] = np.nan

In [136]:
for reg in code2022[code2022.category.isin(['O','K'])].name_KOATUU.str.lower().unique():
    values = code2022.loc[code2022.name_KOATUU.str.lower() == reg, 'first_level'].unique()
    if len(values) == 1:
        locations_KATOTTG23.loc[(locations_KATOTTG23.regname.str.lower()==reg), 'region_KATOTTG'] = values[0]
    else:
        raise Exception(f'More than one value:{reg}, {values}')

In [139]:
locations_KATOTTG23[locations_KATOTTG23.regname != 'Інші країни'].region_KATOTTG.unique()

array(['UA23000000000064947', 'UA68000000000099709',
       'UA12000000000090473', 'UA73000000000044923',
       'UA48000000000039575', 'UA14000000000091971',
       'UA61000000000060328', 'UA35000000000016081',
       'UA51000000000030770', 'UA46000000000026241',
       'UA26000000000069363', 'UA63000000000041885',
       'UA71000000000010357', 'UA07000000000024379',
       'UA53000000000028050', 'UA56000000000066151',
       'UA05000000000010236', 'UA74000000000025378',
       'UA32000000000030281', 'UA65000000000030969',
       'UA18000000000041385', 'UA21000000000011690',
       'UA80000000000093317', 'UA59000000000057109',
       'UA44000000000018893'], dtype=object)

In [147]:
locations_KATOTTG23.loc[(locations_KATOTTG23.regname.str.lower()=='інші країни'), 'region_KATOTTG'] ='OC00000000000000000'
locations_KATOTTG23

In [149]:
locations_KATOTTG23[locations_KATOTTG23.region_KATOTTG.isna()]

Empty DataFrame
Columns: [regname, areaname, tername, region_KOATUU, areaname_new, area_KOATUU, tername_new, code, local_KOATUU, KOATUU_2020, KATOTTG_2023, region_KATOTTG]
Index: []

заповнити areaname_new аналогічно попереднього коду

In [150]:
troubles = {}
for reg in locations_KATOTTG23.region_KATOTTG.unique():
    trouble = set(locations_KATOTTG23[(locations_KATOTTG23.region_KATOTTG == reg)].areaname_new.str.lower())-set(code2022[(code2022.first_level == reg)&(code2022.category.isin(['P','B']))].name_KOATUU.str.lower())
    if trouble:
        troubles[reg] = trouble
troubles

{'UA23000000000064947': {nan,
  'більмацький район',
  'великобілозерський район',
  'веселівський район',
  'вільнянський район',
  'гуляйпільський район',
  "кам'янсько-дніпровський район",
  'м.бердянськ',
  'м.енергодар',
  'м.запоріжжя',
  'м.мелітополь',
  'м.токмак',
  'михайлівський район',
  'новомиколаївський район',
  'оріхівський район',
  'приазовський район',
  'приморський район',
  'розівський район',
  'токмацький район',
  'чернігівський район',
  'якимівський район'},
 'UA68000000000099709': {nan,
  'білогірський район',
  'волочиський район',
  'віньковецький район',
  'городоцький район',
  'деражнянський район',
  'дунаєвецький район',
  'красилівський район',
  'летичівський район',
  "м.кам'янець-подільський",
  'м.нетішин',
  'м.славута',
  'м.старокостянтинів',
  'м.хмельницький',
  'м.шепетівка',
  'новоушицький район',
  'полонський район',
  'славутський район',
  'старокостянтинівський район',
  'старосинявський район',
  'теофіпольський район',
  'чемеровецький район',
  'ярмолинецький район',
  'ізяславський район'},
 'UA12000000000090473': {nan,
  'апостолівський район',
  'васильківський район',
  'верхньодніпровський район',
  'криничанський район',
  'м.вільногірськ',
  'м.дніпро',
  'м.жовті води',
  "м.кам'янське",
  'м.кривий ріг',
  'м.марганець',
  'м.новомосковськ',
  'м.нікополь',
  'м.павлоград',
  'м.першотравенськ',
  'м.покров',
  'м.синельникове',
  'м.тернівка',
  'магдалинівський район',
  'межівський район',
  "п'ятихатський район",
  'петриківський район',
  'петропавлівський район',
  'покровський район',
  'солонянський район',
  'софіївський район',
  'томаківський район',
  'царичанський район',
  'широківський район',
  "юр'ївський район"},
 'UA73000000000044923': {nan,
  'герцаївський район',
  'глибоцький район',
  'заставнівський район',
  'кельменецький район',
  'кіцманський район',
  'м.новодністровськ',
  'м.чернівці',
  'новоселицький район',
  'путильський район',
  'сокирянський район',
  'сторожинецький район',
  'хотинський район'},
 'UA48000000000039575': {nan,
  'арбузинський район',
  'березанський район',
  'березнегуватський район',
  'братський район',
  'веселинівський район',
  'врадіївський район',
  'вітовський район',
  'доманівський район',
  'казанківський район',
  'кривоозерський район',
  'м.вознесенськ',
  'м.миколаїв',
  'м.очаків',
  'м.первомайськ',
  'м.южноукраїнськ',
  'новобузький район',
  'новоодеський район',
  'очаківський район',
  'снігурівський район',
  'єланецький район'},
 'UA14000000000091971': {nan,
  'великоновосілківський район',
  'добропільський район',
  'костянтинівський район',
  'м.авдіївка',
  'м.бахмут',
  'м.вугледар',
  'м.добропілля',
  'м.дружківка',
  'м.костянтинівка',
  'м.краматорськ',
  'м.лиман',
  'м.маріуполь',
  'м.мирноград',
  'м.новогродівка',
  'м.покровськ',
  'м.селидове',
  "м.слов'янськ",
  'м.торецьк',
  'мангушський район',
  "мар'їнський район",
  'нікольський район',
  'олександрівський район',
  "слов'янський район",
  'ясинуватський район'},
 'UA61000000000060328': {nan,
  'бережанський район',
  'борщівський район',
  'бучацький район',
  'гусятинський район',
  'заліщицький район',
  'збаразький район',
  'зборівський район',
  'козівський район',
  'лановецький район',
  'м.бережани',
  'м.кременець',
  'м.тернопіль',
  'м.чортків',
  'монастириський район',
  'підволочиський район',
  'підгаєцький район',
  'теребовлянський район',
  'шумський район'},
 'UA35000000000016081': {nan,
  'благовіщенський район',
  'бобринецький район',
  'вільшанський район',
  'гайворонський район',
  'добровеличківський район',
  'долинський район',
  "знам'янський район",
  'компаніївський район',
  "м.знам'янка",
  'м.кропивницький',
  'м.олександрія',
  'м.світловодськ',
  'маловисківський район',
  'новгородківський район',
  'новоархангельський район',
  'новомиргородський район',
  'олександрівський район',
  'онуфріївський район',
  'петрівський район',
  'світловодський район',
  'устинівський район'},
 'UA51000000000030770': {nan,
  'ананьївський район',
  'арцизький район',
  'балтський район',
  'біляївський район',
  'великомихайлівський район',
  'захарівський район',
  'кодимський район',
  'кілійський район',
  'лиманський район',
  'любашівський район',
  'м.балта',
  'м.білгород-дністровський',
  'м.біляївка',
  'м.одеса',
  'м.подільськ',
  'м.теплодар',
  'м.чорноморськ',
  'м.южне',
  'м.ізмаїл',
  'миколаївський район',
  'овідіопольський район',
  'окнянський район',
  'ренійський район',
  'савранський район',
  'саратський район',
  'тарутинський район',
  'татарбунарський район',
  'ширяївський район',
  'іванівський район'},
 'UA46000000000026241': {nan,
  'бродівський район',
  'буський район',
  'городоцький район',
  'жидачівський район',
  'жовківський район',
  "кам'янка-бузький район",
  'м.борислав',
  'м.дрогобич',
  'м.львів',
  'м.моршин',
  'м.новий розділ',
  'м.самбір',
  'м.стрий',
  'м.трускавець',
  'м.червоноград',
  'миколаївський район',
  'мостиський район',
  'перемишлянський район',
  'пустомитівський район',
  'радехівський район',
  'сколівський район',
  'сокальський район',
  'старосамбірський район',
  'турківський район'},
 'UA26000000000069363': {nan,
  'богородчанський район',
  'галицький район',
  'городенківський район',
  'долинський район',
  'м.болехів',
  'м.бурштин',
  'м.калуш',
  'м.коломия',
  'м.яремче',
  'м.івано-франківськ',
  'рогатинський район',
  'рожнятівський район',
  'снятинський район',
  'тисменицький район',
  'тлумацький район'},
 'UA63000000000041885': {nan,
  'балаклійський район',
  'барвінківський район',
  'близнюківський район',
  'борівський район',
  'валківський район',
  'великобурлуцький район',
  'вовчанський район',
  'дворічанський район',
  'дергачівський район',
  'зачепилівський район',
  'зміївський район',
  'золочівський район',
  'кегичівський район',
  'коломацький район',
  'краснокутський район',
  "м.куп'янськ",
  'м.лозова',
  'м.люботин',
  'м.первомайський',
  'м.харків',
  'м.чугуїв',
  'м.ізюм',
  'нововодолазький район',
  'первомайський район',
  'печенізький район',
  'сахновщинський район',
  'шевченківський район'},
 'UA71000000000010357': {nan,
  'городищенський район',
  'драбівський район',
  'жашківський район',
  "кам'янський район",
  'канівський район',
  'катеринопільський район',
  'корсунь-шевченківський район',
  'лисянський район',
  'м.ватутіне',
  'м.золотоноша',
  'м.канів',
  'м.сміла',
  'м.умань',
  'м.черкаси',
  'маньківський район',
  'монастирищенський район',
  'смілянський район',
  'тальнівський район',
  'христинівський район',
  'чигиринський район',
  'чорнобаївський район',
  'шполянський район'},
 'UA07000000000024379': {nan,
  'володимир-волинський район',
  'горохівський район',
  'ківерцівський район',
  'локачинський район',
  'любешівський район',
  'любомльський район',
  'м.володимир-волинський',
  'м.ковель',
  'м.луцьк',
  'м.нововолинськ',
  'маневицький район',
  'ратнівський район',
  'рожищенський район',
  'старовижівський район',
  'турійський район',
  'шацький район',
  'іваничівський район'},
 'UA53000000000028050': {nan,
  'великобагачанський район',
  'гадяцький район',
  'глобинський район',
  'гребінківський район',
  'диканський район',
  'зіньківський район',
  'карлівський район',
  'кобеляцький район',
  'козельщинський район',
  'котелевський район',
  'лохвицький район',
  'м.гадяч',
  'м.горішні плавні',
  'м.кременчук',
  'м.лубни',
  'м.миргород',
  'м.полтава',
  'машівський район',
  'новосанжарський район',
  'оржицький район',
  'пирятинський район',
  'решетилівський район',
  'семенівський район',
  'хорольський район',
  'чорнухинський район',
  'чутівський район',
  'шишацький район'},
 'UA56000000000066151': {nan,
  'березнівський район',
  'володимирецький район',
  'гощанський район',
  'демидівський район',
  'дубровицький район',
  'зарічненський район',
  'здолбунівський район',
  'корецький район',
  'костопільський район',
  'м.вараш',
  'м.дубно',
  'м.острог',
  'м.рівне',
  'млинівський район',
  'острозький район',
  'радивилівський район',
  'рокитнівський район'},
 'UA05000000000010236': {nan,
  'барський район',
  'бершадський район',
  'калинівський район',
  'козятинський район',
  'крижопільський район',
  'липовецький район',
  'літинський район',
  'м.вінниця',
  'м.жмеринка',
  'м.козятин',
  'м.ладижин',
  'м.могилів-подільський',
  'м.хмільник',
  'мурованокуриловецький район',
  'немирівський район',
  'оратівський район',
  'погребищенський район',
  'піщанський район',
  'теплицький район',
  'тиврівський район',
  'томашпільський район',
  'тростянецький район',
  'чернівецький район',
  'чечельницький район',
  'шаргородський район',
  'ямпільський район',
  'іллінецький район'},
 'UA74000000000025378': {nan,
  'бахмацький район',
  'бобровицький район',
  'борзнянський район',
  'варвинський район',
  'городнянський район',
  'козелецький район',
  'коропський район',
  'куликівський район',
  'м.новгород-сіверський',
  'м.ніжин',
  'м.прилуки',
  'м.чернігів',
  'менський район',
  'носівський район',
  'ріпкинський район',
  'семенівський район',
  'сновський район',
  'сосницький район',
  'срібнянський район',
  'талалаївський район',
  'ічнянський район'},
 'UA32000000000030281': {nan,
  'баришівський район',
  'богуславський район',
  'бородянський район',
  'васильківський район',
  'володарський район',
  'згурівський район',
  'кагарлицький район',
  'києво-святошинський район',
  'м.березань',
  'м.бориспіль',
  'м.бровари',
  'м.буча',
  'м.біла церква',
  'м.васильків',
  'м.обухів',
  'м.переяслав',
  'м.ржищів',
  'м.славутич',
  'м.фастів',
  'м.ірпінь',
  'макарівський район',
  'миронівський район',
  'переяслав-хмельницький район',
  'поліський район',
  'рокитнянський район',
  'сквирський район',
  'ставищенський район',
  'таращанський район',
  'тетіївський район',
  'яготинський район',
  'іванківський район'},
 'UA65000000000030969': {nan,
  'білозерський район',
  'великолепетиський район',
  'великоолександрівський район',
  'верхньорогачицький район',
  'високопільський район',
  'голопристанський район',
  'горностаївський район',
  'каланчацький район',
  'м.гола пристань',
  'м.каховка',
  'м.нова каховка',
  'м.херсон',
  'нижньосірогозький район',
  'нововоронцовський район',
  'новотроїцький район',
  'олешківський район',
  'чаплинський район',
  'іванівський район'},
 'UA18000000000041385': {nan,
  'андрушівський район',
  'баранівський район',
  'брусилівський район',
  'коростишівський район',
  'лугинський район',
  'любарський район',
  'м.бердичів',
  'м.житомир',
  'м.коростень',
  'м.малин',
  'м.новоград-волинський',
  'малинський район',
  'народицький район',
  'новоград-волинський район',
  'овруцький район',
  'олевський район',
  'попільнянський район',
  'пулинський район',
  'радомишльський район',
  'романівський район',
  'ружинський район',
  'хорошівський район',
  'черняхівський район',
  'чуднівський район',
  'ємільчинський район'},
 'UA21000000000011690': {nan,
  'великоберезнянський район',
  'виноградівський район',
  'воловецький район',
  'м.берегове',
  'м.мукачево',
  'м.ужгород',
  'м.хуст',
  'м.чоп',
  'міжгірський район',
  'перечинський район',
  'свалявський район',
  'іршавський район'},
 'UA80000000000093317': {nan},
 'UA59000000000057109': {nan,
  'буринський район',
  'білопільський район',
  'великописарівський район',
  'глухівський район',
  'краснопільський район',
  'кролевецький район',
  'лебединський район',
  'липоводолинський район',
  'м.глухів',
  'м.конотоп',
  'м.лебедин',
  'м.охтирка',
  'м.ромни',
  'м.суми',
  'м.шостка',
  'недригайлівський район',
  'путивльський район',
  'середино-будський район',
  'тростянецький район',
  'ямпільський район'},
 'UA44000000000018893': {nan,
  'біловодський район',
  'білокуракинський район',
  'кремінський район',
  'м.лисичанськ',
  'м.рубіжне',
  'м.сєвєродонецьк',
  'марківський район',
  'міловський район',
  'новоайдарський район',
  'новопсковський район',
  'попаснянський район',
  'станично-луганський район',
  'троїцький район'},
 'OC00000000000000000': {nan}}

In [ ]:
for code in renam.dct_rename_area_2022:
    for name in renam.dct_rename_area_2022[code]:
        locations_KATOTTG23.loc[(locations_KATOTTG23.region_KATOTTG == code) & (locations_KATOTTG23['areaname_new'].str.lower() == name.lower()), 'areaname_new'] = renam.dct_rename_area_2022[code][name]