In [1]:
import pandas as pd
import re

Create dataset for the corresponding year

In [2]:
# dataset = pd.read_csv('/Users/scipyguru/Library/Mobile Documents/com~apple~CloudDocs/Documents_New/NY fairness/NeurIPS/ZNO-Dataset/notebooks/students_level/zno_preprocessed.csv')
# dataset_grad = dataset[(dataset.regtypename == 'Випускник української школи поточного року') & (dataset.year == 2019)]
# dataset_schools = dataset_grad[['eoname', 'eotypename', 'eoregname', 'eoareaname', 'eotername', 'eoparent']]
# dataset_schools_unique=dataset_schools.drop_duplicates()
# dataset_schools_unique.to_csv('schools2019.csv', index=False)

download dataset from EIE

In [3]:
eie_schools = pd.read_csv('schools2019.csv')

In [4]:
eie_schools.shape

(9574, 6)

In [5]:
eie_schools.eoregname

0         Кіровоградська область
1               Донецька область
2            Хмельницька область
3       Дніпропетровська область
4             Рівненська область
                  ...
9569           Вінницька область
9570             Одеська область
9571    Дніпропетровська область
9572         Житомирська область
9573       Тернопільська область
Name: eoregname, Length: 9574, dtype: object

Create new column with region name and territory name in the format that matched with finance dataset

In [6]:
eie_schools['region'] = eie_schools.eoregname.str.split().str[0]
eie_schools['region'] = eie_schools['region'].str.replace('м.Київ', 'місто Київ')
eie_schools['tername'] = eie_schools.eoareaname.str.split().str[0]
eie_schools

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername
0,Помічнянська загальноосвітня школа І-ІІІ ступе...,середня загальноосвітня школа,Кіровоградська область,Добровеличківський район,м.Помічна,Відділ освіти виконавчого комітету Помічнянськ...,Кіровоградська,Добровеличківський
1,Володимирівська загальноосвітня школа I-III ст...,середня загальноосвітня школа,Донецька область,Волноваський район,смт Володимирівка,"Управління освіти, сім'ї, молоді та спорту Вол...",Донецька,Волноваський
2,Балинський ліцей Смотрицької селищної ради Дун...,ліцей,Хмельницька область,Дунаєвецький район,с.Балин,"Відділ освіти, охорони здоров’я, культури, мол...",Хмельницька,Дунаєвецький
3,"Комунальний заклад ""Пушкарівська середня загал...",середня загальноосвітня школа,Дніпропетровська область,Верхньодніпровський район,с.Пушкарівка,Відділ освіти Верхньодніпровської райдержадмін...,Дніпропетровська,Верхньодніпровський
4,Вараська загальноосвітня школа І-ІІІ ступенів ...,середня загальноосвітня школа,Рівненська область,м.Вараш,м.Вараш,Управління освіти виконавчого комітету Вараськ...,Рівненська,м.Вараш
...,...,...,...,...,...,...,...,...
9569,Загальноосвітня школа I-III ступенів с.Трибусі...,середня загальноосвітня школа,Вінницька область,Піщанський район,с.Трибусівка,Відділ освіти Піщанської районної державної ад...,Вінницька,Піщанський
9570,Саратська вечірня (змінна)загальноосвітня школ...,вечірня (змінна) школа,Одеська область,Саратський район,смт Сарата,"Управління освіти, сім'ї, молоді та спорту Сар...",Одеська,Саратський
9571,Комунальний заклад Зеленобалківський навчально...,навчально-виховний комплекс,Дніпропетровська область,Широківський район,с.Зелена Балка,Відділ освіти виконавчого комітету Новолатівсь...,Дніпропетровська,Широківський
9572,Липківська загальноосвітня школа І-ІІІ ступені...,середня загальноосвітня школа,Житомирська область,Попільнянський район,с.Липки,"Відділ освіти, охорони здоров'я, культури, мол...",Житомирська,Попільнянський
9573,"Висиповецький навчально-виховний комплекс ""Заг...",середня загальноосвітня школа,Тернопільська область,Зборівський район,с.Висипівці,Відділ освіти Зборівської районної державної а...,Тернопільська,Зборівський

download finance dataset

In [7]:
finance_schools = pd.read_excel('/Users/scipyguru/Library/Mobile Documents/com~apple~CloudDocs/Documents_New/NY fairness/NeurIPS/ZNO-Dataset/notebooks/school_level/fin_data/ZZSO-2019.xlsx', header = 1)

In [8]:
finance_schools.head()

,№ Області,Область,Тип школи: міська / сільська,№№,Назва тер. Одиниці,Найменування закладу,"Ступінь закладу ( I, I-II, I-III)",Загальна площа приміщень школи ( без господарських будівель) (кв.м.),Кількість штатних працівників педагогічного персоналу разом,Кількість штатних працівників непедагогічного персоналу разом,...,"Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (касові видатки)","Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (план)","Видатки на 1 учня, 2019, тис. грн.**","Видатки на 1 клас, тис. грн.** 2019 рік (каса)",Опорна,Код бюджету,Форма власності,Код ДІСО,ЄДРПОУ,Примітка
0,2,Вінницька,місто,1,Жмеринська міська ОТГ,Загальноосвітня школа І-ІІІ ступенів №1 комуна...,I-III,NaN,44.0,20.0,...,9915.2,11123,18.395547,495.760000,ні,2202100000,комунальна,8173,26244113,NaN
1,2,Вінницька,місто,2,Жмеринська міська ОТГ,"Навчально-виховний комплекс ""Загальноосвітня ш...",I-III,NaN,59.0,18.0,...,13692.2,13758.8,16.300238,456.406667,ні,2202100000,комунальна,8174,26244107,NaN
2,2,Вінницька,місто,3,Жмеринська міська ОТГ,Загальноосвітня школа І-ІІІ ступенів №3 комуна...,I-III,NaN,82.0,23.0,...,16184.7,17254.2,16.498165,449.575000,ні,2202100000,комунальна,8175,26244136,NaN
3,2,Вінницька,місто,4,Жмеринська міська ОТГ,Загальноосвітня школа I-III ступенів №4 комуна...,I-III,NaN,61.0,22.0,...,14321.9,14598.6,16.770375,447.559375,ні,2202100000,комунальна,8176,26244099,NaN
4,2,Вінницька,місто,5,Жмеринська міська ОТГ,"Навчально - виховний комплекс ""Загальноосвітня...",I-III,NaN,70.0,23.0,...,15061.0,16011.5,17.431713,456.393939,ні,2202100000,комунальна,8177,23064971,NaN

In [9]:
finance_schools.columns

Index(['№ Області', 'Область', 'Тип школи: міська / сільська', '№№',
       'Назва тер. Одиниці', 'Найменування закладу',
       'Ступінь закладу ( I, I-II, I-III)',
       'Загальна площа приміщень школи ( без господарських будівель) (кв.м.)',
       'Кількість штатних працівників педагогічного персоналу  разом',
       'Кількість штатних працівників непедагогічного персоналу  разом',
       'Кількість штатних працівників педагогічного персоналу  пенсійного віку',
       'Питома вага непедагогічного персоналу у загальній кількості працівників, %**',
       'Питома вага педагогічних працівників пенсійного віку у загальній кількості педагогічних працівників, %**',
       'Кількість учнів разом',
       'Разом кількість учнів, та дітей, які здобувають дошкільну освіту',
       'Кількість класів разом',
       'Фактична наповнюваність класів, учнів на клас**',
       'Показник співвідношення кількості учнів на одного вчителя, учнів на вчителя**',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2019 рік (касові видатки)',
       'Видатки на функціонування закладу (загальний фонд), тис.грн.\n2020 рік (план)',
       'Видатки на 1 учня, 2019, тис. грн.**',
       'Видатки на 1 клас, тис. грн.** 2019 рік (каса)', 'Опорна',
       'Код бюджету', 'Форма власності', 'Код ДІСО', 'ЄДРПОУ', 'Примітка'],
      dtype='object')

choose columns that give information about schools

In [10]:
finance_schools = finance_schools[['Область', 'Назва тер. Одиниці', 'Найменування закладу']]

Rename columns using a dictionary

In [11]:
new_columns = {'Область': 'region', 'Назва тер. Одиниці': 'tername', 'Найменування закладу': 'schoolname'}
finance_schools = finance_schools.rename(columns=new_columns)

In [12]:
finance_schools

,region,tername,schoolname
0,Вінницька,Жмеринська міська ОТГ,Загальноосвітня школа І-ІІІ ступенів №1 комуна...
1,Вінницька,Жмеринська міська ОТГ,"Навчально-виховний комплекс ""Загальноосвітня ш..."
2,Вінницька,Жмеринська міська ОТГ,Загальноосвітня школа І-ІІІ ступенів №3 комуна...
3,Вінницька,Жмеринська міська ОТГ,Загальноосвітня школа I-III ступенів №4 комуна...
4,Вінницька,Жмеринська міська ОТГ,"Навчально - виховний комплекс ""Загальноосвітня..."
...,...,...,...
14170,місто Київ,місто Київ,Школа І ступеня № 326
14171,місто Київ,місто Київ,Школа І ступеня №333 Дарницького району м.Києва
14172,місто Київ,місто Київ,Початкова школа №332 Дарницького району м. Києва
14173,місто Київ,місто Київ,Початкова школа № 334 Дарницького району м. Києва
14174,місто Київ,місто Київ,"Коледж хореографічного мистецтва ""Київська мун..."

In [13]:
finance_schools.shape

(14175, 3)

In [14]:
eie_schools.shape

(9574, 8)

In [15]:
df = pd.DataFrame(columns=['eoname', 'schoolname', 'regname'])
df

Empty DataFrame
Columns: [eoname, schoolname, regname]
Index: []

check for duplicates by the name of school

In [16]:
eie_schools[eie_schools.eoname.duplicated(keep=False)].sort_values('eoname')

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername
4390,Березівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Любарський район,с.Березівка,"Відділ освіти, молоді та спорту Любарської сел...",Житомирська,Любарський
4443,Березівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Житомирський район,с.Березівка,Відділ освіти Житомирської районної державної ...,Житомирська,Житомирський
7743,Березівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Хмельницька область,Новоушицький район,с.Березівка,"Відділ освіти, молоді та спорту Новоушицької с...",Хмельницька,Новоушицький
4051,Варварівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Ємільчинський район,с.Варварівка,Відділ освіти Ємільчинської районної державної...,Житомирська,Ємільчинський
7129,Варварівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Олевський район,с.Варварівка,"Відділ освіти, молоді та спорту Олевської місь...",Житомирська,Олевський
9190,Вільшанська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Романівський район,с.Вільха,Відділ освіти Романівської районної державної ...,Житомирська,Романівський
7069,Вільшанська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Чуднівський район,с.Вільшанка,Відділ освіти Чуднівської районної державної а...,Житомирська,Чуднівський
9485,Красносільська загальноосвітня школа I-III сту...,середня загальноосвітня школа,Житомирська область,Чуднівський район,с.Красносілка,Відділ освіти Чуднівської районної державної а...,Житомирська,Чуднівський
4572,Красносільська загальноосвітня школа I-III сту...,середня загальноосвітня школа,Вінницька область,Бершадський район,с.Красносілка,"Відділ освіти, фізичної культури та спорту Бер...",Вінницька,Бершадський
8794,Озерянська загальноосвітня школа І-ІІІ ступенів,середня загальноосвітня школа,Тернопільська область,Борщівський район,с.Озеряни,Відділ освіти та соціально-культурної сфери Оз...,Тернопільська,Борщівський
1417,Озерянська загальноосвітня школа І-ІІІ ступенів,середня загальноосвітня школа,Тернопільська область,Бучацький район,с.Озеряни,Відділ освіти Бучацької районної державної адм...,Тернопільська,Бучацький
5739,П'ятківська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Чуднівський район,с.П'ятка,Відділ освіти Чуднівської районної державної а...,Житомирська,Чуднівський
6895,П'ятківська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Вінницька область,Бершадський район,с.П'ятківка,"Відділ освіти, фізичної культури та спорту Бер...",Вінницька,Бершадський
7390,Писарівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Хмельницька область,Волочиський район,с.Писарівка,"Відділ освіти, молоді та спорту, культури та т...",Хмельницька,Волочиський
6613,Писарівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Вінницька область,Вінницький район,с.Писарівка,Відділ освіти Вінницької районної державної ад...,Вінницька,Вінницький
8466,Яланецька загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Вінницька область,Бершадський район,с.Яланець,"Відділ освіти, фізичної культури та спорту Бер...",Вінницька,Бершадський
2233,Яланецька загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Вінницька область,Томашпільський район,с.Яланець,Відділ освіти Томашпільської районної державно...,Вінницька,Томашпільський

In [17]:
finance_schools[finance_schools.schoolname.duplicated(keep=False)]

,region,tername,schoolname
2838,Житомирська,Черняхівський район,Андріївська загальноосвітня школа І-ІІІ ступенів
3096,Житомирська,Соколівська сільська ОТГ,Андріївська загальноосвітня школа І-ІІІ ступенів
7289,Львівська,Рудківська міська ОТГ,Рудківська гімназія
9608,Рівненська,Демидівська селищна ОТГ,Рудківська гімназія
10087,Тернопільська,Бучацький район,Озерянська загальноосвітня школа І-ІІІ ступенів
10495,Тернопільська,Озерянська сільська ОТГ,Озерянська загальноосвітня школа І-ІІІ ступенів

resolving duplicates

In [18]:
eie_schools.loc[1417, 'eoname'] = eie_schools.loc[1417, 'eoname']+ 'Бучацького'
finance_schools.loc[10087, 'schoolname'] = finance_schools.loc[10087, 'schoolname']+ 'Бучацького'

In [19]:
eie_schools_temp = eie_schools
finance_schools_temp = finance_schools

In [20]:
for region in sorted(eie_schools.region.unique()):
    for eoname in eie_schools[eie_schools.region == region].eoname:
        if eoname in finance_schools[finance_schools.region == region].schoolname.unique():
            df = pd.concat([df, pd.DataFrame([{'eoname': eoname, 'schoolname': eoname, 'regname': region}])], ignore_index=True)
            eie_schools_temp = eie_schools_temp[eie_schools_temp.eoname != eoname]
            finance_schools_temp = finance_schools_temp[finance_schools_temp.schoolname != eoname]

df

,eoname,schoolname,regname
0,Рогатинський ліцей №1 Рогатинської районної ра...,Рогатинський ліцей №1 Рогатинської районної ра...,Івано-Франківська
1,Калуський ліцей №10 Калуської міської ради Іва...,Калуський ліцей №10 Калуської міської ради Іва...,Івано-Франківська
2,Загвіздянський ліцей Загвіздянської сільської ...,Загвіздянський ліцей Загвіздянської сільської ...,Івано-Франківська
3,Великоключівський ліцей Нижньовербізької сільс...,Великоключівський ліцей Нижньовербізької сільс...,Івано-Франківська
4,Яремчанська загальноосвітня школа І-ІІІ ступен...,Яремчанська загальноосвітня школа І-ІІІ ступен...,Івано-Франківська
...,...,...,...
2204,Спеціалізована школа І-ІІІ ступенів №234 м.Киє...,Спеціалізована школа І-ІІІ ступенів №234 м.Киє...,місто Київ
2205,Школа І-ІІІ ступенів №108 міста Києва,Школа І-ІІІ ступенів №108 міста Києва,місто Київ
2206,Спеціалізована школа І-ІІІ ступенів № 277 з по...,Спеціалізована школа І-ІІІ ступенів № 277 з по...,місто Київ
2207,Еколого-природничий ліцей №116 міста Києва,Еколого-природничий ліцей №116 міста Києва,місто Київ
2208,Середня загальноосвітня школа №229 м.Києва,Середня загальноосвітня школа №229 м.Києва,місто Київ

control the number of rows added and removed

In [21]:
print(eie_schools.shape[0]-eie_schools_temp.shape[0])
print(finance_schools.shape[0] - finance_schools_temp.shape[0])
print(df.shape[0])

2209
2209
2209

Creating id from school's name

In [22]:
eie_schools_temp['id'] = eie_schools_temp['eoname']
eie_schools_temp['id'] = eie_schools_temp['id'].str.replace('[\s]', '', regex = True)
eie_schools_temp.loc[eie_schools_temp['id'].str.endswith('обл'), 'id'] = eie_schools_temp.loc[eie_schools_temp['id'].str.endswith('обл'), 'id'] + '.'
eie_schools_temp['id'] = eie_schools_temp['id'].str.replace('І', 'I')
eie_schools_temp['id'] = eie_schools_temp['id'].str.replace('I-III', '3')
eie_schools_temp['id'] = eie_schools_temp['id'].str.replace('I-II', '2')
eie_schools_temp['id'] = eie_schools_temp['id'].str.lower()

dct = {'с.':'села', 'ст.':'ступенів', 'ім.':'імені', 'iм.':'імені', 'обл.': 'області', 
       '||||':'3', '|||':'2',
       'i':'', 'і':'', 'ї':'', 'o':'о', 'y':'у', 'p':'р', 'c':'с', 'ґ':'г', 'e':'е', 'a':'а', 'k':'к', 'x': 'х',
       "'":'', "’":'', ",":'', ".":'', "«":'', "»":'', "–":'', "-":'', 
       "_x000d_":'', '_x000D_':'', "_":'', "(":'', ")":'', "[":'', "]":'', "}":'', "{":'', 
       "нвк":'навчальновиховнийкомплекс', 'знз': 'загальноосвтнйнавчальнийзаклад', 'нн':'н', 'днз': 'дошкльнийнавчальнийзаклад'}

for symb in dct:
    eie_schools_temp['id'] = eie_schools_temp['id'].str.replace(symb, dct[symb])

eie_schools_temp['id'] = eie_schools_temp['id'].str.replace('"', '', regex = True)

In [23]:
eie_schools_temp.head(10)

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
0,Помічнянська загальноосвітня школа І-ІІІ ступе...,середня загальноосвітня школа,Кіровоградська область,Добровеличківський район,м.Помічна,Відділ освіти виконавчого комітету Помічнянськ...,Кіровоградська,Добровеличківський,помчнянськазагальноосвтняшкола3ступенв№1менгер...
1,Володимирівська загальноосвітня школа I-III ст...,середня загальноосвітня школа,Донецька область,Волноваський район,смт Володимирівка,"Управління освіти, сім'ї, молоді та спорту Вол...",Донецька,Волноваський,володимирвськазагальноосвтняшкола3ступенв№1вол...
3,"Комунальний заклад ""Пушкарівська середня загал...",середня загальноосвітня школа,Дніпропетровська область,Верхньодніпровський район,с.Пушкарівка,Відділ освіти Верхньодніпровської райдержадмін...,Дніпропетровська,Верхньодніпровський,комунальнийзакладпушкарвськасереднязагальноосв...
4,Вараська загальноосвітня школа І-ІІІ ступенів ...,середня загальноосвітня школа,Рівненська область,м.Вараш,м.Вараш,Управління освіти виконавчого комітету Вараськ...,Рівненська,м.Вараш,вараськазагальноосвтняшкола3ступенв№2вараськом...
5,Мукачівська загальноосвітня школа І-ІІІ ступен...,середня загальноосвітня школа,Закарпатська область,м.Мукачево,м.Мукачево,"Управління освіти, молоді та спорту виконавчог...",Закарпатська,м.Мукачево,мукачвськазагальноосвтняшкола3ступенв№1меносел...
6,Чернігівська загальноосвітня школа I-III ступе...,середня загальноосвітня школа,Чернігівська область,м.Чернігів. Новозаводський район міста,Новозаводський район міста,Управління освіти Чернігівської міської ради,Чернігівська,м.Чернігів.,чернгвськазагальноосвтняшкола3ступенв№13чернгв...
7,Харківська загальноосвітня школа I-III ступені...,середня загальноосвітня школа,Харківська область,м.Харків. Московський район міста,Московський район міста,Управління освіти адміністрації Московського р...,Харківська,м.Харків.,харквськазагальноосвтняшкола3ступенв№138харквс...
8,Спеціалізована школа І-ІІІ ступенів № 152 з по...,спеціалізована школа,м.Київ,м.Київ. Деснянський район міста,Деснянський район міста,Управління освіти Деснянської районної в місті...,місто Київ,м.Київ.,спецалзованашкола3ступенв№152зпоглибленимвивче...
12,Ірпінська загальноосвітня школа І-ІІІ ступенів...,середня загальноосвітня школа,Київська область,м.Ірпінь,м.Ірпінь,Управління освіти і науки Ірпінської міської р...,Київська,м.Ірпінь,рпнськазагальноосвтняшкола3ступенв№17рпнськомс...
13,Вознесенська загальноосвітня школа I-III ступе...,середня загальноосвітня школа,Миколаївська область,м.Вознесенськ,м.Вознесенськ,Управління освіти Вознесенської міської ради,Миколаївська,м.Вознесенськ,вознесенськазагальноосвтняшкола3ступенв№10возн...

In [24]:
finance_schools_temp['id'] = finance_schools_temp.schoolname
finance_schools_temp['id'] = finance_schools_temp['id'].str.replace('[\s]', '', regex = True)
finance_schools_temp.loc[finance_schools_temp['id'].str.endswith('обл'), 'id'] = finance_schools_temp.loc[finance_schools_temp['id'].str.endswith('обл'), 'id'] + '.'
finance_schools_temp['id'] = finance_schools_temp['id'].str.replace('І', 'I')
finance_schools_temp['id'] = finance_schools_temp['id'].str.replace('I-III', '3')
finance_schools_temp['id'] = finance_schools_temp['id'].str.replace('I-II', '2')
finance_schools_temp['id'] = finance_schools_temp['id'].str.lower()

dct = {'с.':'села', 'ст.':'ступенів', 'ім.':'імені', 'iм.':'імені', 'обл.': 'області', 
       '||||':'3', '|||':'2',
       'i':'', 'і':'', 'ї':'', 'o':'о', 'y':'у', 'p':'р', 'c':'с', 'ґ':'г', 'e':'е', 'a':'а', 'k':'к', 'x': 'х',
       "'":'', "’":'', ",":'', ".":'', "«":'', "»":'', "–":'', "-":'', 
       "_x000d_":'', '_x000D_':'', "_":'', "(":'', ")":'', "[":'', "]":'', "}":'', "{":'', 
       "нвк":'навчальновиховнийкомплекс', 'знз': 'загальноосвтнйнавчальнийзаклад', 'нн':'н', 'днз': 'дошкльнийнавчальнийзаклад'}

for symb in dct:
    finance_schools_temp['id'] = finance_schools_temp['id'].str.replace(symb, dct[symb])

finance_schools_temp['id'] = finance_schools_temp['id'].str.replace('"', '', regex = True)
finance_schools_temp.head()

,region,tername,schoolname,id
0,Вінницька,Жмеринська міська ОТГ,Загальноосвітня школа І-ІІІ ступенів №1 комуна...,загальноосвтняшкола3ступенв№1комунальновласнос...
1,Вінницька,Жмеринська міська ОТГ,"Навчально-виховний комплекс ""Загальноосвітня ш...",навчальновиховнийкомплексзагальноосвтняшкола3с...
2,Вінницька,Жмеринська міська ОТГ,Загальноосвітня школа І-ІІІ ступенів №3 комуна...,загальноосвтняшкола3ступенв№3комунальновласнос...
3,Вінницька,Жмеринська міська ОТГ,Загальноосвітня школа I-III ступенів №4 комуна...,загальноосвтняшкола3ступенв№4комунальновластно...
4,Вінницька,Жмеринська міська ОТГ,"Навчально - виховний комплекс ""Загальноосвітня...",навчальновиховнийкомплексзагальноосвтняшкола3с...

check duplicates inside regions of interest for both datasets

In [25]:
for region in sorted(eie_schools_temp.region.unique()):
    region_school = eie_schools_temp[eie_schools_temp.region == region]
    region_finance = finance_schools_temp[finance_schools_temp.region == region]
    for id in region_school.id:
        if id in region_finance.id.unique():
            if len(region_school[region_school.id == id]) > 1 or len(region_finance[region_finance.id == id]) > 1:
                print('eie')
                display(region_school[region_school.id == id])
                print('finance')
                display(region_finance[region_finance.id == id])

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
2233,Яланецька загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Вінницька область,Томашпільський район,с.Яланець,Відділ освіти Томашпільської районної державно...,Вінницька,Томашпільський,яланецьказагальноосвтняшкола3ступенв
8466,Яланецька загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Вінницька область,Бершадський район,с.Яланець,"Відділ освіти, фізичної культури та спорту Бер...",Вінницька,Бершадський,яланецьказагальноосвтняшкола3ступенв

finance

,region,tername,schoolname,id
59,Вінницька,Бершадський район,Яланецька загальноосвітня школа І-ІІІ ступенів,яланецьказагальноосвтняшкола3ступенв

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
2233,Яланецька загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Вінницька область,Томашпільський район,с.Яланець,Відділ освіти Томашпільської районної державно...,Вінницька,Томашпільський,яланецьказагальноосвтняшкола3ступенв
8466,Яланецька загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Вінницька область,Бершадський район,с.Яланець,"Відділ освіти, фізичної культури та спорту Бер...",Вінницька,Бершадський,яланецьказагальноосвтняшкола3ступенв

finance

,region,tername,schoolname,id
59,Вінницька,Бершадський район,Яланецька загальноосвітня школа І-ІІІ ступенів,яланецьказагальноосвтняшкола3ступенв

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
6708,Андріївська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Пулинський район,с.Андріївка,"Відділ освіти, культури та соціального захисту...",Житомирська,Пулинський,андрвськазагальноосвтняшкола3ступенв

finance

,region,tername,schoolname,id
2838,Житомирська,Черняхівський район,Андріївська загальноосвітня школа І-ІІІ ступенів,андрвськазагальноосвтняшкола3ступенв
3096,Житомирська,Соколівська сільська ОТГ,Андріївська загальноосвітня школа І-ІІІ ступенів,андрвськазагальноосвтняшкола3ступенв

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
8589,ІІ-Іванівська загальноосвітня школа I-III ступ...,середня загальноосвітня школа,Харківська область,Барвінківський район,с-ще Іванівка,Відділ освіти Барвінківської районної державно...,Харківська,Барвінківський,ванвськазагальноосвтняшкола3ступенвбарвнквсько...

finance

,region,tername,schoolname,id
10968,Харківська,Барвінківський район,І-Іванівська загальноосвітня школа І-ІІІ ступе...,ванвськазагальноосвтняшкола3ступенвбарвнквсько...
10969,Харківська,Барвінківський район,ІІ-Іванівська загальноосвітня школа І-ІІІ ступ...,ванвськазагальноосвтняшкола3ступенвбарвнквсько...

resolving duplicates

In [26]:
eie_schools_temp.loc[8466, 'id'] = 'бер' +eie_schools_temp.loc[8466, 'id']
finance_schools_temp.loc[59, 'id'] = 'бер'+finance_schools_temp.loc[59, 'id']
eie_schools_temp.loc[6708, 'id'] = 'чер' +eie_schools_temp.loc[6708, 'id']
finance_schools_temp.loc[2838, 'id'] = 'чер'+finance_schools_temp.loc[2838, 'id']
eie_schools_temp.loc[8589, 'id'] = 'II' +eie_schools_temp.loc[8589, 'id']
finance_schools_temp.loc[10969	, 'id'] = 'II'+finance_schools_temp.loc[10969	, 'id']

checking again

In [27]:
for region in sorted(eie_schools_temp.region.unique()):
    region_school = eie_schools_temp[eie_schools_temp.region == region]
    region_finance = finance_schools_temp[finance_schools_temp.region == region]
    for id in region_school.id:
        if id in region_finance.id.unique():
            if len(region_school[region_school.id == id]) > 1 or len(region_finance[region_finance.id == id]) > 1:
                print('data')
                display(region_school[region_school.id == id])
                print('finance')
                display(region_finance[region_finance.id == id])

In [28]:
eie_schools_temp1 = eie_schools_temp
finance_schools_temp1 = finance_schools_temp

matching by id

In [29]:
for region in sorted(eie_schools_temp.region.unique()):
    region_school = eie_schools_temp[eie_schools_temp.region == region]
    region_finance = finance_schools_temp[finance_schools_temp.region == region]
    for id in region_school.id:
        if id in region_finance.id.unique():
            df = pd.concat([df, pd.DataFrame([{'eoname': eie_schools_temp.loc[eie_schools_temp.id == id, 'eoname'].iloc[0], 
                                               'schoolname': finance_schools_temp.loc[finance_schools_temp.id == id, 'schoolname'].iloc[0],
                                               'regname': region}])], ignore_index=True)
            eie_schools_temp1 = eie_schools_temp1[~((eie_schools_temp1.region == region) & (eie_schools_temp1.id == id))]
            finance_schools_temp1 = finance_schools_temp1[~((finance_schools_temp1.region == region) & (finance_schools_temp1.id == id))]

df.shape

(6078, 3)

In [30]:
print(eie_schools.shape[0]-eie_schools_temp1.shape[0])
print(finance_schools.shape[0] - finance_schools_temp1.shape[0])
print(df.shape[0])

6078
6078
6078

In [31]:
df

,eoname,schoolname,regname
0,Рогатинський ліцей №1 Рогатинської районної ра...,Рогатинський ліцей №1 Рогатинської районної ра...,Івано-Франківська
1,Калуський ліцей №10 Калуської міської ради Іва...,Калуський ліцей №10 Калуської міської ради Іва...,Івано-Франківська
2,Загвіздянський ліцей Загвіздянської сільської ...,Загвіздянський ліцей Загвіздянської сільської ...,Івано-Франківська
3,Великоключівський ліцей Нижньовербізької сільс...,Великоключівський ліцей Нижньовербізької сільс...,Івано-Франківська
4,Яремчанська загальноосвітня школа І-ІІІ ступен...,Яремчанська загальноосвітня школа І-ІІІ ступен...,Івано-Франківська
...,...,...,...
6073,Спеціалізована школа І-ІІІ ступенів з поглибле...,Спеціалізована школа І-ІІІ ступенів з поглибле...,місто Київ
6074,Спеціалізована школа І-ІІІ ступенів з поглибле...,Спеціалізована школа І-ІІІ ступенів з поглибле...,місто Київ
6075,Школа І-ІІІ ступенів № 147 Деснянського району...,школа І-ІІІ ступенів № 147 Деснянського району...,місто Київ
6076,Спеціалізована школа І-ІІІ ступенів з поглибле...,Спеціалізована школа І-ІІІ ступенів з поглибле...,місто Київ
6077,Спеціалізована школа І-ІІІ ступенів з поглибле...,спеціалізована школа І-ІІІ ступенів з поглибле...,місто Київ

matching by id trimming to the length of the other id

In [32]:
eie_schools_temp2 = eie_schools_temp1
finance_schools_temp2 = finance_schools_temp1

In [33]:
(eie_schools.shape[0]-eie_schools_temp2.shape[0]) == (finance_schools.shape[0]-finance_schools_temp2.shape[0])

True

In [34]:
for region in sorted(eie_schools_temp1.region.unique()):
    region_schools = eie_schools_temp1[eie_schools_temp1.region == region]
    region_finance = finance_schools_temp1[finance_schools_temp1.region == region]
    for id in region_schools.id:
        if (id in region_finance.id.str[:len(id)].unique()) and \
             re.findall(r'№(\d+)', region_schools.loc[region_schools.id == id, 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id.str[:len(id)] == id, 'schoolname'].iloc[0]):
            if len(region_schools[region_schools.id == id])>1 or len(region_finance[region_finance.id.str[:len(id)] == id]) >1:
                print('eie')
                display(region_schools[region_schools.id == id])
                print('finance')
                display(region_finance[region_finance.id.str[:len(id)] == id])

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
4520,Костянтинівський заклад загальної середньої ос...,середня загальноосвітня школа,Донецька область,м.Костянтинівка,м.Костянтинівка,Управління освіти міської ради м.Костянтинівки...,Донецька,м.Костянтинівка,костянтинвськийзакладзагальносередньоосвти3сту...

finance

,region,tername,schoolname,id
2194,Донецька,місто Костянтинівка,Костянтинівський заклад загальної середньої ос...,костянтинвськийзакладзагальносередньоосвти3сту...
2196,Донецька,місто Костянтинівка,Костянтинівський заклад загальної середньої ос...,костянтинвськийзакладзагальносередньоосвти3сту...

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
4051,Варварівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Ємільчинський район,с.Варварівка,Відділ освіти Ємільчинської районної державної...,Житомирська,Ємільчинський,варварвськазагальноосвтняшкола3ступенв
7129,Варварівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Олевський район,с.Варварівка,"Відділ освіти, молоді та спорту Олевської місь...",Житомирська,Олевський,варварвськазагальноосвтняшкола3ступенв

finance

,region,tername,schoolname,id
2690,Житомирська,Ємільчинський район,Варварівська загальноосвітня школа І-ІІІ ступе...,варварвськазагальноосвтняшкола3ступенвємльчинс...
2907,Житомирська,Олевська міська ОТГ,Варварівська загальноосвітня школа І - ІІІ сту...,варварвськазагальноосвтняшкола3ступенволевсько...

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
4390,Березівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Любарський район,с.Березівка,"Відділ освіти, молоді та спорту Любарської сел...",Житомирська,Любарський,березвськазагальноосвтняшкола3ступенв
4443,Березівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Житомирський район,с.Березівка,Відділ освіти Житомирської районної державної ...,Житомирська,Житомирський,березвськазагальноосвтняшкола3ступенв

finance

,region,tername,schoolname,id
2699,Житомирська,Житомирський район,Березівська загальноосвітня школа І - ІІІ ступ...,березвськазагальноосвтняшкола3ступенвжитомирсь...
3044,Житомирська,Любарська селищна ОТГ,Березівська загальноосвітня школа І-ІІІ ступен...,березвськазагальноосвтняшкола3ступенвлюбарсько...

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
4390,Березівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Любарський район,с.Березівка,"Відділ освіти, молоді та спорту Любарської сел...",Житомирська,Любарський,березвськазагальноосвтняшкола3ступенв
4443,Березівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Житомирський район,с.Березівка,Відділ освіти Житомирської районної державної ...,Житомирська,Житомирський,березвськазагальноосвтняшкола3ступенв

finance

,region,tername,schoolname,id
2699,Житомирська,Житомирський район,Березівська загальноосвітня школа І - ІІІ ступ...,березвськазагальноосвтняшкола3ступенвжитомирсь...
3044,Житомирська,Любарська селищна ОТГ,Березівська загальноосвітня школа І-ІІІ ступен...,березвськазагальноосвтняшкола3ступенвлюбарсько...

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
5114,Романівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Романівський район,с.Романівка,Відділ освіти Романівської районної державної ...,Житомирська,Романівський,романвськазагальноосвтняшкола3ступенв

finance

,region,tername,schoolname,id
2683,Житомирська,Романівський район,Романівська загальноосвітня школа І-ІІІ ступен...,романвськазагальноосвтняшкола3ступенвроманвськ...
2998,Житомирська,Квітнева сільська ОТГ,Романівська загальноосвітня школа І-ІІІ ступен...,романвськазагальноосвтняшкола3ступенвменмтриль...

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
7069,Вільшанська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Чуднівський район,с.Вільшанка,Відділ освіти Чуднівської районної державної а...,Житомирська,Чуднівський,вльшанськазагальноосвтняшкола3ступенв
9190,Вільшанська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Романівський район,с.Вільха,Відділ освіти Романівської районної державної ...,Житомирська,Романівський,вльшанськазагальноосвтняшкола3ступенв

finance

,region,tername,schoolname,id
2677,Житомирська,Романівський район,Вільшанська загальноосвітня школа І-ІІІ ступен...,вльшанськазагальноосвтняшкола3ступенвроманвськ...

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
4051,Варварівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Ємільчинський район,с.Варварівка,Відділ освіти Ємільчинської районної державної...,Житомирська,Ємільчинський,варварвськазагальноосвтняшкола3ступенв
7129,Варварівська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Олевський район,с.Варварівка,"Відділ освіти, молоді та спорту Олевської місь...",Житомирська,Олевський,варварвськазагальноосвтняшкола3ступенв

finance

,region,tername,schoolname,id
2690,Житомирська,Ємільчинський район,Варварівська загальноосвітня школа І-ІІІ ступе...,варварвськазагальноосвтняшкола3ступенвємльчинс...
2907,Житомирська,Олевська міська ОТГ,Варварівська загальноосвітня школа І - ІІІ сту...,варварвськазагальноосвтняшкола3ступенволевсько...

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
7069,Вільшанська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Чуднівський район,с.Вільшанка,Відділ освіти Чуднівської районної державної а...,Житомирська,Чуднівський,вльшанськазагальноосвтняшкола3ступенв
9190,Вільшанська загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Житомирська область,Романівський район,с.Вільха,Відділ освіти Романівської районної державної ...,Житомирська,Романівський,вльшанськазагальноосвтняшкола3ступенв

finance

,region,tername,schoolname,id
2677,Житомирська,Романівський район,Вільшанська загальноосвітня школа І-ІІІ ступен...,вльшанськазагальноосвтняшкола3ступенвроманвськ...

eie

,eoname,eotypename,eoregname,eoareaname,eotername,eoparent,region,tername,id
3592,Вільховецька загальноосвітня школа I-III ступенів,середня загальноосвітня школа,Хмельницька область,Чемеровецький район,с.Вільхівці,"Відділ освіти, культури, молоді та спорту Чеме...",Хмельницька,Чемеровецький,вльховецьказагальноосвтняшкола3ступенв

finance

,region,tername,schoolname,id
12045,Хмельницька,Чемеровецький район,Вільховецька загальноосвітня школа І-ІІІ ступе...,вльховецьказагальноосвтняшкола3ступенвчемерове...
12199,Хмельницька,Новоушицька селищна ОТГ,Вільховецька загальноосвітня школа І-ІІІ ступе...,вльховецьказагальноосвтняшкола3ступенвменфедор...

resolving duplicates

In [35]:
eie_schools_temp1.loc[4520, 'id'] = eie_schools_temp1.loc[4520, 'id']+'_'
finance_schools_temp1.loc[2196, 'id'] = finance_schools_temp1.loc[2196, 'id'][:52]+'_'+finance_schools_temp1.loc[2196, 'id'][52:]
eie_schools_temp1.loc[4051, 'id'] = 'єм'+eie_schools_temp1.loc[4051, 'id']
finance_schools_temp1.loc[2690, 'id'] = 'єм' +finance_schools_temp1.loc[2690, 'id']
eie_schools_temp1.loc[4390, 'id'] = 'люб'+eie_schools_temp1.loc[4390, 'id']
finance_schools_temp1.loc[3044, 'id'] = 'люб' +finance_schools_temp1.loc[3044, 'id']
eie_schools_temp1.loc[5114, 'id'] = 'ром'+eie_schools_temp1.loc[5114, 'id']
finance_schools_temp1.loc[2683, 'id'] = 'ром' +finance_schools_temp1.loc[2683, 'id']
eie_schools_temp1.loc[9190, 'id'] = 'ром'+eie_schools_temp1.loc[9190, 'id']
finance_schools_temp1.loc[2677, 'id'] = 'ром' +finance_schools_temp1.loc[2677, 'id']
eie_schools_temp1.loc[3592, 'id'] = 'чем'+eie_schools_temp1.loc[3592, 'id']
finance_schools_temp1.loc[12045, 'id'] = 'чем' +finance_schools_temp1.loc[12045, 'id']

checking after removing

In [36]:
for region in sorted(eie_schools_temp1.region.unique()):
    region_schools = eie_schools_temp1[eie_schools_temp1.region == region]
    region_finance = finance_schools_temp1[finance_schools_temp1.region == region]
    for id in region_schools.id:
        if (id in region_finance.id.str[:len(id)].unique()) and \
             re.findall(r'№(\d+)', region_schools.loc[region_schools.id == id, 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id.str[:len(id)] == id, 'schoolname'].iloc[0]):
            if len(region_schools[region_schools.id == id])>1 or len(region_finance[region_finance.id.str[:len(id)] == id]) >1:
                print('eie')
                display(region_schools[region_schools.id == id])
                print('finance')
                display(region_finance[region_finance.id.str[:len(id)] == id])

matching

In [37]:
for region in sorted(eie_schools_temp1.region.unique()):
    region_schools = eie_schools_temp1[eie_schools_temp1.region == region]
    region_finance = finance_schools_temp1[finance_schools_temp1.region == region]
    for id in region_schools.id:
        if (id in region_finance.id.str[:len(id)].unique()) and \
             re.findall(r'№(\d+)', region_schools.loc[region_schools.id == id, 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id.str[:len(id)] == id, 'schoolname'].iloc[0]):
            df = pd.concat([df, pd.DataFrame([{'eoname': region_schools.loc[region_schools.id == id, 'eoname'].iloc[0], \
                                            'schoolname': region_finance.loc[region_finance.id.str[:len(id)] == id, 'schoolname'].iloc[0],
                                            'regname': region}])], ignore_index=True)
            eie_schools_temp2 = eie_schools_temp2[~((eie_schools_temp2.region == region) & (eie_schools_temp2.id == id))]
            finance_schools_temp2 = finance_schools_temp2[~((finance_schools_temp2.region == region) & (finance_schools_temp2.id.str[:len(id)] == id))]

df.shape

(6579, 3)

In [38]:
df.tail(10)

,eoname,schoolname,regname
6569,Ліцей міжнародних відносин №51,Ліцей міжнародних відносин №51 міста Києва,місто Київ
6570,Спеціалізована школа №43 з поглибленим вивченн...,спеціалізована школа №43 з поглибленим вивченн...,місто Київ
6571,Спеціалізована школа №80,Спеціалізована школа №80 Печерського району мі...,місто Київ
6572,Кловський ліцей № 77,Кловський ліцей № 77 Печерського району міста ...,місто Київ
6573,"НВК № 30 ""ЕКОНАД"" спеціалізована школа І ступе...","Навчально-виховний комплекс № 30 ""ЕКОНАД"" (спе...",місто Київ
6574,Спеціалізована школа № 216 Оболонського району...,спеціалізована школа № 216 Оболонського району...,місто Київ
6575,Спеціалізована школа №47 імені А.С.Макаренка,Спеціалізована школа №47 імені А.С.Макаренка з...,місто Київ
6576,Спеціалізована школа І-ІІІ ступенів №24 ім. О....,Спеціалізована школа І-ІІІ ступенів №24 ім.О.Б...,місто Київ
6577,Ліцей інформаційних технологій №79,Ліцей інформаційних технологій №79 Печерського...,місто Київ
6578,Спеціалізована школа І-ІІІ ступенів №96 ім.О.К...,Спеціалізована школа І-ІІІ ступенів №96 ім. О....,місто Київ

In [39]:
print(eie_schools.shape[0]-eie_schools_temp2.shape[0])
print(finance_schools.shape[0] - finance_schools_temp2.shape[0])
print(df.shape[0])

6579
6579
6579

matching by trimming in different direction

In [40]:
eie_schools_temp3 = eie_schools_temp2
finance_schools_temp3 = finance_schools_temp2

In [41]:
for region in sorted(eie_schools_temp2.region.unique()):
    region_schools = eie_schools_temp2[eie_schools_temp2.region == region]
    region_finance = finance_schools_temp2[finance_schools_temp2.region == region]
    for id in region_finance.id:
        if (id in region_schools.id.str[:len(id)].unique()) and \
            re.findall(r'№(\d+)', region_schools.loc[region_schools.id.str[:len(id)] == id, 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id == id, 'schoolname'].iloc[0]):
            if len(region_schools[region_schools.id.str[:len(id)] == id])>1 or len(region_finance[region_finance.id == id]) >1:
                print('data')
                display(region_schools[region_schools.id.str[:len(id)] == id])
                print('finance')
                display(region_finance[region_finance.id == id])

In [42]:
for region in sorted(eie_schools_temp2.region.unique()):
    region_schools = eie_schools_temp2[eie_schools_temp2.region == region]
    region_finance = finance_schools_temp2[finance_schools_temp2.region == region]
    for id in region_finance.id:
        if (id in region_schools.id.str[:len(id)].unique()) and \
            re.findall(r'№(\d+)', region_schools.loc[region_schools.id.str[:len(id)] == id, 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id == id, 'schoolname'].iloc[0]):
            df = pd.concat([df, pd.DataFrame([{'eoname':region_schools.loc[region_schools.id.str[:len(id)] == id, 'eoname'].iloc[0], \
                                            'schoolname': region_finance.loc[region_finance.id == id, 'schoolname'].iloc[0],
                                            'regname': region}])], ignore_index=True)
            eie_schools_temp3 = eie_schools_temp3[~((eie_schools_temp3.region == region) & (eie_schools_temp3.id.str[:len(id)] == id))]
            finance_schools_temp3 = finance_schools_temp3[~((finance_schools_temp3.region == region) & (finance_schools_temp3.id == id))]
df.shape

(6998, 3)

In [43]:
print(eie_schools.shape[0]-eie_schools_temp3.shape[0])
print(finance_schools.shape[0] - finance_schools_temp3.shape[0])
print(df.shape[0])

6998
6998
6998

In [44]:
df.tail(10)

,eoname,schoolname,regname
6988,Горбівський заклад загальної середньої освіти ...,Горбівський заклад загальної середньої освіти ...,Чернігівська
6989,Олишівська загальноосвітня школа I-III ступені...,Олишівська загальноосвітня школа І-ІІІ ступені...,Чернігівська
6990,Спеціалізована школа №14 імені українського пр...,Спеціалізована школа №14 імені українського пр...,місто Київ
6991,Спеціалізована школа №7 імені М.Т.Рильського м...,Спеціалізована школа №7 імені М.Т.Рильського,місто Київ
6992,Середня загальноосвітня школа №12 м. Києва,Середня загальноосвітня школа №12,місто Київ
6993,Спеціалізована школа №52 з поглибленим вивченн...,спеціалізована школа №52 з поглибленим вивченн...,місто Київ
6994,Середня загальноосвітня школа №279 імені Петра...,Середня загальноосвітня школа №279 імені Петра...,місто Київ
6995,Спеціалізована школа І-ІІІ ступенів №61 з погл...,Спеціалізована школа І-ІІІ ступенів №61 з погл...,місто Київ
6996,Школа І-ІІІ ступенів №70 Шевченківського район...,Школа І-ІІІ ступенів №70 Шевченківського району,місто Київ
6997,Спеціалізована школа І-ІІІ ступенів №135 з пог...,Спеціалізована школа І-ІІІ ступенів №135 з пог...,місто Київ

downloading dataset that has information about the status (private or public) iof schools

In [45]:
schools = pd.read_excel('/Users/scipyguru/Library/Mobile Documents/com~apple~CloudDocs/Documents_New/NY fairness/NeurIPS/ZNO/Заклади загальної середньої освіти.xlsx')
schools

,Повна назва,Код в ЄДЕБО,ОУО підтвердив дані,Скорочена назва,Статус,Тип закладу,Форма власності,Код КОАТУУ,Регіон,Населений пункт,...,Телефон,Факс,Електронна пошта,Веб-сайт,Керівник,Опорний / Філія,Сільський,Гірський,Інтернат,Ліцензовані обсяги
0,гімназія №179 міста Києва,148440,так,гімназія №179 міста Києва,працює,гімназія,Комунальна,8036100000,КИЇВ,Київ,...,(044)2584242,NaN,gymn179@hotmail.com,http://179.kiev.ua,Директор Бойко Ірина Львівна,ні,ні,ні,ні,1800.0
1,гімназія №59 імені О.М. Бойченка міста Києва,148414,так,гімназія №59,працює,гімназія,Комунальна,8036100000,КИЇВ,Київ,...,(044)5252138,(044)5252138,gymnasium59@ukr.net,http://gymnasium59.org.ua/,Директор Антоненко Тетяна Стефанівна,ні,ні,ні,ні,1800.0
2,Еколого-природничий ліцей №116 міста Києва,148429,так,Еколого-природничий ліцей №116 міста Києва,працює,ліцей,Комунальна,8036100000,КИЇВ,Київ,...,(044)2589988,(044)2589988,ecoprirodnichi116@gmail.com,http://eco116.at.ua/,Директор Авраменко Таміла Олексіївна,ні,ні,ні,ні,NaN
3,"Заклад освіти ""Приватний загальноосвітній навч...",148411,так,"ЗО ""ПЗНЗ ""МІДГАРД""",працює,школа,Приватна,8036100000,КИЇВ,Київ,...,(098)888-09-99,NaN,midgard.kiev@gmail.com,http://www.midgard.school,Директор Попов Олег Анатолійович,ні,ні,ні,ні,600.0
4,Ліцей «Гранд»,148412,так,Ліцей «Гранд»,працює,ліцей,Приватна,8036100000,КИЇВ,Київ,...,(044)2871457,NaN,school@grand.kiev.ua,www.grandschool.com.ua,Директор Зайчук Світлана Анатоліївна,ні,ні,ні,ні,250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16254,"комунальний заклад ""Яблунівський ліцей"" Черніг...",139767,так,"КЗ ""Яблунівський ліцей""",працює,ліцей,Комунальна,7424189701,Чернігівська область,"с. Яблунівка, Прилуцький район, Чернігівська о...",...,"(04637)65238, (04637)65282",NaN,Yablunovka@ukr.net,NaN,Директор Шаповаленко Неоніла Олександрівна,Опорний заклад,так,ні,так,170.0
16255,Яблунівська загальноосвітня школа I-III ступен...,144175,так,Яблунівська ЗОШ І-ІІІ ступенів,працює,школа,Комунальна,7424189701,Чернігівська область,"с. Яблунівка, Прилуцький район, Чернігівська о...",...,(04637)6-52-42,NaN,yablunivkask@ukr.net,NaN,Директор Колесник Анатолій Васильович,ні,так,ні,ні,320.0
16256,Ядутинська загальноосвітня школа І-ІІІ ступені...,135163,так,Ядутинська ЗОШ І-ІІІ ст.,працює,школа,Комунальна,7420889601,Чернігівська область,"с. Ядути, Борзнянський район, Чернігівська обл...",...,(04653)27571,NaN,yaduti@ukr.net,NaN,Шостак Ірина Володимирівна,ні,так,ні,ні,1.0
16257,Янжулівська філія І-ІІ ступенів Семенівської г...,134967,так,Янжулівська філія І-ІІ ст.,працює,школа,Комунальна,7424781701,Чернігівська область,"с. Янжулівка, Семенівський район, Чернігівська...",...,(046)5924644,NaN,NaN,NaN,Завідувач філією Подоляк Ірина Миколаївна,Філія,так,ні,ні,90.0
16258,Ярославська філія І-ІІ ступенів Бобровицькогоз...,141845,так,Ярославська філія І-ІІ ступенів Бобровицького ...,працює,школа,Комунальна,7420688401,Чернігівська область,"с. Ярославка, Бобровицький район, Чернігівська...",...,(067)4223332,NaN,yaroslavka.zzso@ukr.net,NaN,Завідувач філією Смага Ольга Миколаївна,ні,так,ні,ні,NaN

In [46]:
schools.shape

(16259, 23)

In [47]:
schools_private = schools[schools['Форма власності'] == 'Приватна']

In [48]:
schools_private['id'] = schools_private ['Повна назва']
schools_private['id'] = schools_private['id'].str.replace('[\s-]', '', regex = True)
schools_private.loc[schools_private['id'].str.endswith('обл'), 'id'] = schools_private.loc[schools_private['id'].str.endswith('обл'), 'id'] + '.'
schools_private['id'] = schools_private['id'].str.replace('І', 'I')
schools_private['id'] = schools_private['id'].str.replace('I-III', '3')
schools_private['id'] = schools_private['id'].str.replace('I-II', '2')
schools_private['id'] = schools_private['id'].str.lower()

dct = {'с.':'села', 'ст.':'ступенів', 'ім.':'імені', 'iм.':'імені', 'обл.': 'області', 
       '||||':'3', '|||':'2',
       'i':'', 'і':'', 'ї':'і', 'o':'о', 'y':'у', 'p':'р', 'c':'с', 'ґ':'г', 'e':'е', 'a':'а', 'k':'к', 'x': 'х',
       "'":'', "’":'', ",":'', ".":'', "«":'', "»":'', "–":'', "-":'', 
       "_x000d_":'', '_x000D_':'', "_":'', "(":'', ")":'', "[":'', "]":'', "}":'', "{":'', 
       "нвк":'навчальновиховнийкомплекс', 'знз': 'загальноосвтнйнавчальнийзаклад', 'нн':'н', 'днз': 'дошкльнийнавчальнийзаклад'}

for symb in dct:
    schools_private['id'] = schools_private['id'].str.replace(symb, dct[symb])

schools_private['id'] = schools_private['id'].str.replace('"', '', regex = True)

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_69176/1521500785.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private ['Повна назва']
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_69176/1521500785.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private['id'].str.replace('[\s-]', '', regex = True)
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_69176/1521500785.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private['id'].str.replace('І', 'I')
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_69176/1521500785.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private['id'].str.replace('I-III', '3')
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_69176/1521500785.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private['id'].str.replace('I-II', '2')
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_69176/1521500785.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private['id'].str.lower()
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_69176/1521500785.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private['id'].str.replace(symb, dct[symb])
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_69176/1521500785.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['id'] = schools_private['id'].str.replace('"', '', regex = True)

In [49]:
schools_private

,Повна назва,Код в ЄДЕБО,ОУО підтвердив дані,Скорочена назва,Статус,Тип закладу,Форма власності,Код КОАТУУ,Регіон,Населений пункт,...,Факс,Електронна пошта,Веб-сайт,Керівник,Опорний / Філія,Сільський,Гірський,Інтернат,Ліцензовані обсяги,id
3,"Заклад освіти ""Приватний загальноосвітній навч...",148411,так,"ЗО ""ПЗНЗ ""МІДГАРД""",працює,школа,Приватна,8036100000,КИЇВ,Київ,...,NaN,midgard.kiev@gmail.com,http://www.midgard.school,Директор Попов Олег Анатолійович,ні,ні,ні,ні,600.0,закладосвтиприватнийзагальноосвтнйнавчальнийза...
4,Ліцей «Гранд»,148412,так,Ліцей «Гранд»,працює,ліцей,Приватна,8036100000,КИЇВ,Київ,...,NaN,school@grand.kiev.ua,www.grandschool.com.ua,Директор Зайчук Світлана Анатоліївна,ні,ні,ні,ні,250.0,лцейгранд
10,МІЖНАРОДНИЙ ХРИСТИЯНСЬКИЙ ПРИВАТНИЙ ЗАКЛАД ЗАГ...,176484,так,МХЛ м. Київ «ДІТИ ЦАРЯ»,працює,ліцей,Приватна,8036100000,КИЇВ,Київ,...,NaN,kingkids@ukr.net,https://kingskids-school.com/,Директор Богорад Алла Олександрівна,ні,ні,ні,ні,NaN,мжнароднийхристиянськийприватнийзакладзагально...
14,"Навчально-виховний комплекс ""Міжнародний ліцей...",144362,так,"НВК ""Міжнародний ліцей МАУП""",працює,навчально-виховний комплекс (об'єднання),Приватна,8036100000,КИЇВ,Київ,...,NaN,liceum@ilmaup.com.ua,ilmaup.com.ua,Директор Зеленська Зоя Петрівна,ні,ні,ні,ні,NaN,навчальновиховнийкомплексмжнароднийлцеймжрегон...
15,"освітній заклад ""ШКОЛА ""ГРАНД-ЕКСПО"" (структур...",176486,так,"ПП ""МОК ""ГРАНД-ЕКСПО""",працює,школа,Приватна,8036100000,КИЇВ,Київ,...,NaN,NaN,NaN,Директор Веприцька Тетяна Володимирівна,ні,ні,ні,ні,NaN,освтнйзакладшколаграндекспоструктурнийпдроздлп...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15374,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЧЕРНІ...",176567,так,"ТОВ ""ЧЕРНІВЕЦЬКИЙ ПРИВАТНИЙ ЛІЦЕЙ ""ЮНІК""",працює,ліцей,Приватна,7310100000,Чернівецька область,"Чернівці, Чернівецька область",...,NaN,NaN,NaN,Директор Куницька Ірина Михайлівна,ні,ні,ні,ні,NaN,товариствозобмеженоювдповдальнстючернвецькийпр...
15801,"ПРИВАТНЕ ПІДПРИЄМСТВО ""ПРИВАТНИЙ ЗАКЛАД ОСВІТИ...",148340,так,"ПП ""ПЗО ""МУДРАНГЕЛИКИ""",працює,школа,Приватна,7410136300,Чернігівська область,"Чернігів, Чернігівська область",...,NaN,mudrangelschool@gmail.com,https://mudrangels.com/,Директор Лавріненко Неля Петрівна,ні,ні,ні,ні,NaN,приватнепдприємствоприватнийзакладосвтимудранг...
15804,"ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ ""ЛІЦЕЙ...",176538,так,"ТОВ ""ЛІЦЕЙ ""РОБОСКУЛ""",працює,ліцей,Приватна,7410100000,Чернігівська область,"Чернігів, Чернігівська область",...,NaN,info@roboschool.org.ua,NaN,Директор Лимар Сергій Миколайович,ні,ні,ні,ні,NaN,товариствозобмеженоювдповдальнстюлцейробоскулм...
15805,"Товариство з обмеженою відповідальністю ""Прива...",176496,так,"ТОВ ""Приватна дистанційна загальноосвітня школ...",працює,школа,Приватна,7410100000,Чернігівська область,"Чернігів, Чернігівська область",...,NaN,manager.redfox@gmail.com,NaN,Директор Василенко Неля Анатоліївна,ні,ні,ні,ні,300.0,товариствозобмеженоювдповдальнстюприватнадиста...
15866,ЧЕРНІГІВСЬКА ФІЛІЯ ТОВАРИСТВА З ОБМЕЖЕНОЮ ВІДП...,151640,так,ЧФ ТОВ «ШКОЛА 977»,працює,гімназія,Приватна,7410700000,Чернігівська область,"Прилуки, Чернігівська область",...,NaN,977info@gmail.com,977.com.ua,Завідувач філією Пономаренко Валерій Борисович,Філія,ні,ні,ні,1.0,чернгвськафлятовариствазобмеженоювдповдальнстю...

In [50]:
set(schools_private['Регіон'])-set(eie_schools.region)

{'Івано-Франківська область',
 'Волинська область',
 'Вінницька область',
 'Дніпропетровська область',
 'Донецька область',
 'Житомирська область',
 'Закарпатська область',
 'Запорізька область',
 'КИЇВ',
 'Київська область',
 'Кіровоградська область',
 'Луганська область',
 'Львівська область',
 'Миколаївська область',
 'Одеська область',
 'Полтавська область',
 'Рівненська область',
 'Сумська область',
 'Харківська область',
 'Херсонська область',
 'Хмельницька область',
 'Черкаська область',
 'Чернівецька область',
 'Чернігівська область'}

In [51]:
schools_private['region'] = schools_private['Регіон'].str.split().str[0]
schools_private['region'] = schools_private['region'].str.replace('КИЇВ', 'місто Київ')

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_69176/1340364044.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['region'] = schools_private['Регіон'].str.split().str[0]
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_69176/1340364044.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schools_private['region'] = schools_private['region'].str.replace('КИЇВ', 'місто Київ')

In [52]:
set(schools_private.region)-set(eie_schools.region)

set()

In [53]:
eie_schools_temp4 = eie_schools_temp3

removing from our dataset for matching all private schools

In [54]:
count = 0
for region in sorted(eie_schools_temp3.region.unique()):
    region_schools = eie_schools_temp3[eie_schools_temp3.region == region]
    for id in region_schools.id:
        if id in schools_private.id.str[:len(id)].unique():
            count +=1
            eie_schools_temp4 = eie_schools_temp4[eie_schools_temp4.id != id]

df.shape

(6998, 3)

In [55]:
count

26

In [56]:
print(eie_schools.shape[0]-eie_schools_temp4.shape[0])
print(finance_schools.shape[0] - finance_schools_temp3.shape[0]+count)
print(df.shape[0]+count)

7024
7024
7024

In [57]:
eie_schools_temp5 = eie_schools_temp4
finance_schools_temp5 = finance_schools_temp3

matching by contains

In [58]:
for region in sorted(eie_schools_temp4.region.unique()):
    region_schools = eie_schools_temp4[eie_schools_temp4.region == region]
    region_finance = finance_schools_temp3[finance_schools_temp3.region == region]
    for id in region_schools.id:
        matching_long_values = region_finance[region_finance.id.str.contains(id)]
        if not matching_long_values.empty and \
            re.findall(r'№(\d+)', region_schools.loc[region_schools.id == id, 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id.str.contains(id), 'schoolname'].iloc[0]):
            
            if len(matching_long_values)>1 or len(region_schools[region_schools.id == id])>1:
                print('data')
                display(region_schools[region_schools.id == id])
                print('finance')
                display(matching_long_values)

In [59]:
for region in sorted(eie_schools_temp4.region.unique()):
    region_schools = eie_schools_temp4[eie_schools_temp4.region == region]
    region_finance = finance_schools_temp3[finance_schools_temp3.region == region]
    for id in region_schools.id:
        matching_long_values = region_finance[region_finance.id.str.contains(id)]
        if not matching_long_values.empty and \
            re.findall(r'№(\d+)', region_schools.loc[region_schools.id == id, 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id.str.contains(id), 'schoolname'].iloc[0]):

            df = pd.concat([df, pd.DataFrame([{'eoname': region_schools.loc[region_schools.id == id, 'eoname'].iloc[0], \
                                            'schoolname': region_finance.loc[region_finance['id'].str.contains(id), 'schoolname'].iloc[0],
                                            'regname':region}])], ignore_index=True)
            eie_schools_temp5 = eie_schools_temp5[~((eie_schools_temp5.region == region) & (eie_schools_temp5.id == id))]
            finance_schools_temp5 = finance_schools_temp5[~((finance_schools_temp5.region == region) & (finance_schools_temp5.id.str.contains(id)))]

df.shape

(7048, 3)

In [60]:
df.tail()

,eoname,schoolname,regname
7043,Гімназія Корсунь-Шевченківської районної ради ...,Корсунь-Шевченківська гімназія Корсунь-Шевченк...,Черкаська
7044,Орловецька загальноосвітня школа І-ІІІ ступені...,_x000D_\nОрловецька загальноосвітня школа І - ...,Черкаська
7045,Недобоївський заклад загальної середньої освіт...,"Державна організація (установа, заклад) Недобо...",Чернівецька
7046,Ліцей №303 суспільно-природничого профілю,"місто Київ, ліцей №303 суспільно-природничого ...",місто Київ
7047,Школа І-ІІІ ступенів №236 міста Києва,Загальноосвітня школа І-ІІІ ступенів №236 міст...,місто Київ

In [61]:
print(eie_schools.shape[0]-eie_schools_temp5.shape[0])
print(finance_schools.shape[0] - finance_schools_temp5.shape[0]+count)
print(df.shape[0]+count)

7074
7074
7074

In [62]:
eie_schools_temp6 = eie_schools_temp5
finance_schools_temp6 = finance_schools_temp5

In [63]:
for region in sorted(eie_schools_temp5.region.unique()):
    region_schools = eie_schools_temp5[eie_schools_temp5.region == region]
    region_finance = finance_schools_temp5[finance_schools_temp5.region == region]
    for id in region_finance.id:
        matching_long_values = region_schools[region_schools.id.str.contains(id)]
        if not matching_long_values.empty and \
            re.findall(r'№(\d+)', region_schools.loc[region_schools.id.str.contains(id), 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id == id, 'schoolname'].iloc[0]):
            
            if len(matching_long_values)>1:
                print(id)
                print('data')
                display(matching_long_values)
                print('finance')
                display(region_finance[region_finance.id == id])

In [64]:
for region in sorted(eie_schools_temp5.region.unique()):
    region_schools = eie_schools_temp5[eie_schools_temp5.region == region]
    region_finance = finance_schools_temp5[finance_schools_temp5.region == region]
    for id in region_finance.id:
        matching_long_values = region_schools[region_schools.id.str.contains(id)]
        if not matching_long_values.empty and \
            re.findall(r'№(\d+)', region_schools.loc[region_schools.id.str.contains(id), 'eoname'].iloc[0]) == \
                re.findall(r'№(\d+)', region_finance.loc[region_finance.id == id, 'schoolname'].iloc[0]):
            
            df = pd.concat([df, pd.DataFrame([{'eoname': region_schools.loc[region_schools.id.str.contains(id), 'eoname'].iloc[0], \
                                            'schoolname': region_finance.loc[region_finance.id == id, 'schoolname'].iloc[0],
                                            'regname':region}])], ignore_index=True)
            eie_schools_temp6 = eie_schools_temp6[~((eie_schools_temp6.region == region) & (eie_schools_temp6.id.str.contains(id)))]
            finance_schools_temp6 = finance_schools_temp6[~((finance_schools_temp6.region == region) & (finance_schools_temp6.id == id))]


df.shape

(7061, 3)

In [65]:
df.tail()

,eoname,schoolname,regname
7056,Комунальний заклад навчально-виховний комплекс...,"Навчально-виховний комплекс ""Оженинська загаль...",Рівненська
7057,ОНЗ Кременчуківський ліцей Красилівського райо...,Кременчуківський ліцей Красилівського району Х...,Хмельницька
7058,Чернівецька загальноосвітня школа І-ІІІ ступен...,Загальноосвітня школа І-ІІІ ступенів №1 Чернів...,Чернівецька
7059,"Комунальний заклад ""Навчально-виховний комплек...","Навчально-виховний комплекс "" Школа І ступеня ...",місто Київ
7060,Політехнічний ліцей Національного технічного у...,Технічний ліцей Національного технічного уніве...,місто Київ

In [66]:
print(eie_schools.shape[0]-eie_schools_temp6.shape[0])
print(finance_schools.shape[0] - finance_schools_temp6.shape[0]+count)
print(df.shape[0]+count)

7087
7087
7087

In [67]:
eie_schools_temp6.to_csv('zno_schools_unmatched_2019.csv', index=False)

In [68]:
finance_schools_temp6.to_csv('finance_schools_unmatched_2019.csv', index=False)

In [89]:
df = df.drop_duplicates().reset_index(drop=True)

In [83]:
df[df[['eoname','regname']].duplicated(keep = False)]

Empty DataFrame
Columns: [eoname, schoolname, regname]
Index: []

In [82]:
df = df.drop([2546, 6136, 6251, 6255, 6256, 6273])

In [90]:
df.to_csv('finance_schools_matched_2019.csv', index=False)

In [91]:
df.shape

(7055, 3)

In [85]:
print('need to match', eie_schools.shape[0]-df.shape[0], 'schools')

need to match 2519 schools

In [86]:
print('matched', round(df.shape[0]/eie_schools.shape[0]*100), '% of schools')

matched 74 % of schools