In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()
import numpy as np

In [30]:
df_students_take_tests = pd.read_csv("../tables_creation/final_tables/students_take_tests.csv")
df_students = pd.read_csv("../tables_creation/final_tables/students.csv")
df_location = pd.read_csv('../tables_creation/final_tables/locations.csv')

C:\Users\OleksandraKonopatska\AppData\Local\Temp\ipykernel_10544\3792803773.py:2: DtypeWarning: Columns (3,5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_students = pd.read_csv("../tables_creation/final_tables/students.csv")

In [31]:
df_students_take_tests = df_students_take_tests.loc[(df_students_take_tests['test_subject'] == 'ukrtest') & (df_students_take_tests['year'] == 2022)]
df_students_take_tests

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center
15,000069ec-4f21-4e21-9dd9-58bc986d1a0e,2022,142.0,NaN,14.0,Accepted,ukrtest,NMT,OC32010000000000000,NaN
60,0001d1ae-b20d-4af4-8c2f-096b6b684d59,2022,NaN,NaN,NaN,Absent,ukrtest,NMT,OC05010000000000000,NaN
76,0002555a-75a4-4f79-bab3-bc03332fa4e2,2022,140.0,NaN,13.0,Accepted,ukrtest,NMT,UA05040030010071792,NaN
79,0002615a-0b62-4035-84e9-1b5fce3d88c2,2022,160.0,NaN,22.0,Accepted,ukrtest,NMT,UA68060330010023704,NaN
86,00029765-6a51-4b6f-b1e5-7ea0971ac057,2022,139.0,NaN,12.0,Accepted,ukrtest,NMT,UA35040210010286392,NaN
...,...,...,...,...,...,...,...,...,...,...
2456974,fffdb046-06c3-468e-8c45-c4172b51b4e7,2022,163.0,NaN,23.0,Accepted,ukrtest,NMT,UA80000000000551439,NaN
2456980,fffddeae-d36a-4b44-a298-9ca6b3d283fe,2022,180.0,NaN,29.0,Accepted,ukrtest,NMT,UA46120130010071117,NaN
2457013,ffff021b-0fe2-4bcc-a908-99d72aab913d,2022,166.0,NaN,24.0,Accepted,ukrtest,NMT,OC21070000000000000,NaN
2457015,ffff0ae6-38b8-4e91-9e94-21f3b5310fd2,2022,142.0,NaN,14.0,Accepted,ukrtest,NMT,UA32080090010037585,NaN
2457043,ffffeb30-6810-4054-b0b3-04c13a450c85,2022,142.0,NaN,14.0,Accepted,ukrtest,NMT,UA18080150010017476,NaN

In [38]:
df_merged = df_students_take_tests.merge(df_students, how='left', on='outid')
df_merged = df_merged.loc[:, ['outid', 'test_status', 'KATOTTG_2023_test_center', 'KATOTTG_2023']]
df_merged

,outid,test_status,KATOTTG_2023_test_center,KATOTTG_2023
0,000069ec-4f21-4e21-9dd9-58bc986d1a0e,Accepted,OC32010000000000000,UA12040010010084655
1,0001d1ae-b20d-4af4-8c2f-096b6b684d59,Absent,OC05010000000000000,UA80000000001078669
2,0002555a-75a4-4f79-bab3-bc03332fa4e2,Accepted,UA05040030010071792,UA05040250120041232
3,0002615a-0b62-4035-84e9-1b5fce3d88c2,Accepted,UA68060330010023704,UA68060330010023704
4,00029765-6a51-4b6f-b1e5-7ea0971ac057,Accepted,UA35040210010286392,UA35060230010026884
...,...,...,...,...
234099,fffdb046-06c3-468e-8c45-c4172b51b4e7,Accepted,UA80000000000551439,UA80000000000551439
234100,fffddeae-d36a-4b44-a298-9ca6b3d283fe,Accepted,UA46120130010071117,UA46120110010087965
234101,ffff021b-0fe2-4bcc-a908-99d72aab913d,Accepted,OC21070000000000000,UA05060090040084723
234102,ffff0ae6-38b8-4e91-9e94-21f3b5310fd2,Accepted,UA32080090010037585,UA80000000000980793
234103,ffffeb30-6810-4054-b0b3-04c13a450c85,Accepted,UA18080150010017476,UA18080230010039746

In [39]:
df_merged = df_merged.merge(df_location, how='left', on='KATOTTG_2023')
df_merged.rename(columns={'region_name': 'region_student'}, inplace=True)
df_merged = df_merged.merge(df_location, how='left', left_on='KATOTTG_2023_test_center', right_on='KATOTTG_2023')
df_merged.rename(columns={'region_name': 'region_test_center'}, inplace=True)
df_merged = df_merged.loc[:, ['outid', 'test_status', 'region_student', 'category_y', 'region_test_center']]

In [40]:
df_merged

,outid,test_status,region_student,category_y,region_test_center
0,000069ec-4f21-4e21-9dd9-58bc986d1a0e,Accepted,Dnipropetrovska,abroad,Czechia
1,0001d1ae-b20d-4af4-8c2f-096b6b684d59,Absent,Kyiv,abroad,Austia
2,0002555a-75a4-4f79-bab3-bc03332fa4e2,Accepted,Vinnytska,town,Vinnytska
3,0002615a-0b62-4035-84e9-1b5fce3d88c2,Accepted,Khmelnytska,town,Khmelnytska
4,00029765-6a51-4b6f-b1e5-7ea0971ac057,Accepted,Kirovohradska,city,Kirovohradska
...,...,...,...,...,...
234099,fffdb046-06c3-468e-8c45-c4172b51b4e7,Accepted,Kyiv,city,Kyiv
234100,fffddeae-d36a-4b44-a298-9ca6b3d283fe,Accepted,Lvivska,town,Lvivska
234101,ffff021b-0fe2-4bcc-a908-99d72aab913d,Accepted,Vinnytska,abroad,Poland
234102,ffff0ae6-38b8-4e91-9e94-21f3b5310fd2,Accepted,Kyiv,town,Kyivska
234103,ffffeb30-6810-4054-b0b3-04c13a450c85,Accepted,Zhytomyrska,town,Zhytomyrska

In [44]:
df_merged['is_migrated'] = (df_merged['region_student'] != df_merged['region_test_center'])

In [46]:
df_merged

,outid,test_status,region_student,category_y,region_test_center,is_migrated
0,000069ec-4f21-4e21-9dd9-58bc986d1a0e,Accepted,Dnipropetrovska,abroad,Czechia,True
1,0001d1ae-b20d-4af4-8c2f-096b6b684d59,Absent,Kyiv,abroad,Austia,True
2,0002555a-75a4-4f79-bab3-bc03332fa4e2,Accepted,Vinnytska,town,Vinnytska,False
3,0002615a-0b62-4035-84e9-1b5fce3d88c2,Accepted,Khmelnytska,town,Khmelnytska,False
4,00029765-6a51-4b6f-b1e5-7ea0971ac057,Accepted,Kirovohradska,city,Kirovohradska,False
...,...,...,...,...,...,...
234099,fffdb046-06c3-468e-8c45-c4172b51b4e7,Accepted,Kyiv,city,Kyiv,False
234100,fffddeae-d36a-4b44-a298-9ca6b3d283fe,Accepted,Lvivska,town,Lvivska,False
234101,ffff021b-0fe2-4bcc-a908-99d72aab913d,Accepted,Vinnytska,abroad,Poland,True
234102,ffff0ae6-38b8-4e91-9e94-21f3b5310fd2,Accepted,Kyiv,town,Kyivska,True
234103,ffffeb30-6810-4054-b0b3-04c13a450c85,Accepted,Zhytomyrska,town,Zhytomyrska,False

In [53]:
frontline_regions_saved = ['Dnipropetrovska', 'Donetska', 'Zaporizka', 'Luhanska', 'Mykolaivska', 'Odeska', 'Sumska', 'Kharkivska', 'Khersonska']
frontline_regions_gov = ['Donetska', 'Luhanska', 'Zaporizka', 'Mykolaivska', 'Sumska', 'Kharkivska', 'Khersonska', 'Chernihivska']
eu_border_regions = ['Volynska', 'Lvivska', 'Zakarpatska', 'Ivano-Frankivska', 'Chernivetska', 'Vinnytska', 'Odeska']

In [54]:
df_merged['frontline_saved'] = df_merged['region_student'].isin(frontline_regions_saved)
df_merged['frontline_gov'] = df_merged['region_student'].isin(frontline_regions_gov)
df_merged['eu_border'] = df_merged['region_student'].isin(eu_border_regions)

In [55]:
df_merged

,outid,test_status,region_student,category_y,region_test_center,is_migrated,frontline_saved,frontline_gov,eu_border
0,000069ec-4f21-4e21-9dd9-58bc986d1a0e,Accepted,Dnipropetrovska,abroad,Czechia,True,True,False,False
1,0001d1ae-b20d-4af4-8c2f-096b6b684d59,Absent,Kyiv,abroad,Austia,True,False,False,False
2,0002555a-75a4-4f79-bab3-bc03332fa4e2,Accepted,Vinnytska,town,Vinnytska,False,False,False,True
3,0002615a-0b62-4035-84e9-1b5fce3d88c2,Accepted,Khmelnytska,town,Khmelnytska,False,False,False,False
4,00029765-6a51-4b6f-b1e5-7ea0971ac057,Accepted,Kirovohradska,city,Kirovohradska,False,False,False,False
...,...,...,...,...,...,...,...,...,...
234099,fffdb046-06c3-468e-8c45-c4172b51b4e7,Accepted,Kyiv,city,Kyiv,False,False,False,False
234100,fffddeae-d36a-4b44-a298-9ca6b3d283fe,Accepted,Lvivska,town,Lvivska,False,False,False,True
234101,ffff021b-0fe2-4bcc-a908-99d72aab913d,Accepted,Vinnytska,abroad,Poland,True,False,False,True
234102,ffff0ae6-38b8-4e91-9e94-21f3b5310fd2,Accepted,Kyiv,town,Kyivska,True,False,False,False
234103,ffffeb30-6810-4054-b0b3-04c13a450c85,Accepted,Zhytomyrska,town,Zhytomyrska,False,False,False,False

In [62]:
df_merged[(df_merged['frontline_gov'] & df_merged['is_migrated'])].shape[0] / df_merged[df_merged['frontline_gov']].shape[0]

0.4608119337643649

In [67]:
df_merged[(df_merged['eu_border'] & df_merged['is_migrated'])].region_test_center.value_counts(normalize=True)

region_test_center
Poland                      0.216621
Germany                     0.175795
Czechia                     0.082086
Italy                       0.037193
United Kingdom              0.030510
Austia                      0.025861
Bulgaria                    0.025570
Kyiv                        0.025570
Lvivska                     0.021357
Khmelnytska                 0.020195
Moldova                     0.020049
Ivano-Frankivska            0.019323
Romania                     0.019323
France                      0.018015
Ternopilska                 0.017870
Spain                       0.017144
Zhytomyrska                 0.015546
Rivnenska                   0.014529
Zakarpatska                 0.014093
Kyivska                     0.012785
Slovakia                    0.012349
Netherlands                 0.012204
Ireland                     0.011623
Belgium                     0.010315
Hungary                     0.010315
Vinnytska                   0.009298
Volynska                    0.008717
Lithuania                   0.007555
Chernivetska                0.007264
Sweden                      0.006828
Dnipropetrovska             0.006828
Mykolaivska                 0.006538
Cherkaska                   0.006247
Portugal                    0.005957
Kirovohradska               0.005521
Odeska                      0.005376
Estonia                     0.005085
Latvia                      0.004068
Denmark                     0.003632
United States of America    0.003196
Sumska                      0.002470
Finland                     0.002179
Chernihivska                0.002179
Poltavska                   0.001889
Croatia                     0.001889
Kharkivska                  0.001889
Canada                      0.001743
Turkey                      0.001743
Switzerland                 0.001598
Zaporizka                   0.001162
Slovenia                    0.000872
Georgia                     0.000726
Greece                      0.000726
Luxembourg                  0.000581
Name: proportion, dtype: float64