In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np

# Data preparation

In [2]:
df_students = pd.read_csv('../tables_creation/final_tables/students.csv', dtype={'KATOTTG_2023': str, 'EDRPOU_school': str})
df_students.columns

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_3400/1080893059.py:1: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_students = pd.read_csv('../tables_creation/final_tables/students.csv', dtype={'KATOTTG_2023': str, 'EDRPOU_school': str})

Index(['outid', 'birth', 'sextypename', 'classprofilename', 'regtypename',
       'classlangname', 'KATOTTG_2023', 'EDRPOU_school', 'year', 'status'],
      dtype='object')

In [3]:
df_students = df_students[['outid', 'birth', 'sextypename', 'KATOTTG_2023', 'year', 'EDRPOU_school', 'status']]
df_students

,outid,birth,sextypename,KATOTTG_2023,year,EDRPOU_school,status
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,UA23080270010078454,2016,26373098,A graduate of an Ukrainian school of the curre...
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,UA68040210010032567,2016,25880114,A graduate of an Ukrainian school of the curre...
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,UA73060610010033137,2016,21431046,A graduate of an Ukrainian school of the curre...
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,UA14120030010055241,2016,25705061,A graduate of an Ukrainian school of the curre...
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,UA61040490010069060,2016,14040173,A graduate of an Ukrainian school of the curre...
...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,UA59020070010054283,2023,NaN,A graduate of previous years
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,UA32100010010059200,2023,NaN,A graduate of previous years
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,UA56080170010061049,2023,NaN,A graduate of previous years
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,UA51100270010320268,2023,NaN,A graduate of previous years
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,UA07060190010068509,2023,NaN,A graduate of previous years

In [4]:
df_students.status.value_counts()

status
A graduate of an Ukrainian school of the current year                1544229
A graduate of a vocational pre-higher education institution           580029
A graduate of previous years                                          329227
A student of a higher/vocational pre-higher education institution      31956
A student of a higher education institution                             3748
The institution of punishment                                            437
A graduate of a foreign school                                           426
Name: count, dtype: int64

In [5]:
len(df_students.KATOTTG_2023.unique())

18470

In [6]:
df_schools = pd.read_csv('../tables_creation/final_tables/schools_edrpou.csv', dtype={'KATOTTG_2023': str, 'EDRPOU': str})
df_schools

              KATOTTG_2023    EDRPOU  year                        eotypename
0      UA05020030010063857  04601943  2023  заклад фахової передвищої освіти
1      UA05020030010063857  00419667  2022  заклад фахової передвищої освіти
2      UA05020030010063857  03065891  2018           вище професійне училище
3      UA05020030010063857  03065891  2019           вище професійне училище
4      UA05020030010063857  03065891  2020           вище професійне училище
...                    ...       ...   ...                               ...
82508  UA80000000001078669  26125905  2017     середня загальноосвітня школа
82509  UA80000000001078669  26125940  2020     середня загальноосвітня школа
82510  UA80000000001078669  26125940  2021     середня загальноосвітня школа
82511  UA80000000001078669  26125940  2022     середня загальноосвітня школа
82512  UA80000000001078669  26125940  2023     середня загальноосвітня школа

[82513 rows x 4 columns]

In [7]:
df_schools = df_schools.rename(columns={'EDRPOU':'EDRPOU_school'})

In [8]:
df_students_schools = df_students.merge(df_schools[['EDRPOU_school', 'year', 'eotypename']], on = ['EDRPOU_school', 'year'], how = 'left')
df_students_schools

,outid,birth,sextypename,KATOTTG_2023,year,EDRPOU_school,status,eotypename
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,UA23080270010078454,2016,26373098,A graduate of an Ukrainian school of the curre...,колегіум
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,UA68040210010032567,2016,25880114,A graduate of an Ukrainian school of the curre...,середня загальноосвітня школа
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,UA73060610010033137,2016,21431046,A graduate of an Ukrainian school of the curre...,спеціалізована школа
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,UA14120030010055241,2016,25705061,A graduate of an Ukrainian school of the curre...,середня загальноосвітня школа
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,UA61040490010069060,2016,14040173,A graduate of an Ukrainian school of the curre...,спеціалізована школа
...,...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,UA59020070010054283,2023,NaN,A graduate of previous years,NaN
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,UA32100010010059200,2023,NaN,A graduate of previous years,NaN
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,UA56080170010061049,2023,NaN,A graduate of previous years,NaN
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,UA51100270010320268,2023,NaN,A graduate of previous years,NaN
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,UA07060190010068509,2023,NaN,A graduate of previous years,NaN

In [9]:
pivot = pd.pivot_table(df_students_schools, index = ['eotypename'], columns = ['year'], values=['outid'], aggfunc='count')
pivot

                                                       outid            \
year                                                    2016      2017
eotypename
Пенітенціарна установа                                 377.0       NaN
вечірня (змінна) школа                                1021.0     638.0
вище професійне училище                                  NaN       NaN
вище художнє професійно-технічне училище                 NaN       NaN
вищий навчальний заклад I-II рівнів акредитації          1.0       NaN
військовий (військово-морський, військово-спорт...       NaN       NaN
гімназія                                             16444.0   16568.0
загальноосвітня санаторна школа                        271.0     256.0
заклад вищої освіти                                      NaN       NaN
заклад професійної (професійно-технічної) освіти         NaN       NaN
заклад фахової передвищої освіти                         NaN       NaN
заклад фахової передвищої освіти/ліцей                   NaN       NaN
колегіум                                              1360.0    1239.0
колегіум/колеж                                           NaN       NaN
коледж                                                   NaN       NaN
ліцей                                                14500.0   14647.0
ліцей із посиленою військово-фізичною підготовкою        NaN       NaN
мистецький ліцей                                         NaN       NaN
навчально-виховне об'єднання                             NaN     634.0
навчально-виховний комплекс                          27001.0   27443.0
навчально-реабілітаційний центр                          NaN       NaN
науковий ліцей                                           NaN       NaN
початкова школа                                          NaN       NaN
професійний ліцей відповідного профілю                   NaN      13.0
професійно-технічне училище відповідного профілю         NaN       NaN
середня загальноосвітня школа                       121487.0  112372.0
середня загальноосвітня школа-інтернат                1544.0    1447.0
спеціальна загальноосвітня школа                        69.0     168.0
спеціальна загальноосвітня школа-інтернат              241.0     197.0
спеціальна школа                                         NaN       NaN
спеціалізована школа                                 15286.0   15818.0
спеціалізована школа-інтернат                         1508.0    1343.0
спортивний ліцей                                         NaN       NaN
центр професійно-технічної освіти                        NaN       NaN
центр професійної освіти                                 NaN       NaN
центр підготовки і перепідготовки робітничих ка...       NaN       NaN
школа соціальної реабілітації                            4.0       2.0

                                                                        \
year                                                    2018      2019
eotypename
Пенітенціарна установа                                   NaN       NaN
вечірня (змінна) школа                                 634.0     482.0
вище професійне училище                              12865.0   14613.0
вище художнє професійно-технічне училище               574.0     692.0
вищий навчальний заклад I-II рівнів акредитації      75218.0       NaN
військовий (військово-морський, військово-спорт...       NaN       NaN
гімназія                                             16010.0   15212.0
загальноосвітня санаторна школа                        315.0     327.0
заклад вищої освіти                                    305.0   83242.0
заклад професійної (професійно-технічної) освіти         NaN       NaN
заклад фахової передвищої освіти                       368.0     399.0
заклад фахової передвищої освіти/ліцей                 121.0     124.0
колегіум                                              1200.0     920.0
колегіум/колеж                                           NaN       NaN
коледж                                                 222.0     191.0
ліцей                                                15110.0   20920.0
ліцей із посиленою військово-фізичною підготовкою        NaN       NaN
мистецький ліцей                                         NaN       NaN
навчально-виховне об'єднання                          1788.0    2026.0
навчально-виховний комплекс                          27137.0   25960.0
навчально-реабілітаційний центр                          6.0      14.0
науковий ліцей                                           NaN       NaN
початкова школа                                          NaN       NaN
професійний ліцей відповідного профілю               15314.0   17113.0
професійно-технічне училище відповідного профілю      7465.0    8845.0
середня загальноосвітня школа                       104850.0  104864.0
середня загальноосвітня школа-інтернат                1118.0     680.0
спеціальна загальноосвітня школа                       132.0     142.0
спеціальна загальноосвітня школа-інтернат              121.0     142.0
спеціальна школа                                         NaN       NaN
спеціалізована школа                                 15652.0   14799.0
спеціалізована школа-інтернат                         1271.0    1158.0
спортивний ліцей                                         NaN       NaN
центр професійно-технічної освіти                     3960.0    4493.0
центр професійної освіти                              1787.0    2055.0
центр підготовки і перепідготовки робітничих ка...      33.0     275.0
школа соціальної реабілітації                            4.0       NaN

                                                                        \
year                                                    2020      2021
eotypename
Пенітенціарна установа                                   NaN       NaN
вечірня (змінна) школа                                 508.0     269.0
вище професійне училище                              14003.0       NaN
вище художнє професійно-технічне училище               571.0       NaN
вищий навчальний заклад I-II рівнів акредитації          NaN       NaN
військовий (військово-морський, військово-спорт...       NaN       NaN
гімназія                                             16437.0   16661.0
загальноосвітня санаторна школа                        481.0     368.0
заклад вищої освіти                                  77859.0   23046.0
заклад професійної (професійно-технічної) освіти         NaN   48714.0
заклад фахової передвищої освіти                       386.0   46288.0
заклад фахової передвищої освіти/ліцей                 105.0      71.0
колегіум                                               998.0      11.0
колегіум/колеж                                           NaN     867.0
коледж                                                 215.0       NaN
ліцей                                                29539.0   38408.0
ліцей із посиленою військово-фізичною підготовкою        NaN       NaN
мистецький ліцей                                         NaN       NaN
навчально-виховне об'єднання                          2311.0    2018.0
навчально-виховний комплекс                          26945.0   25736.0
навчально-реабілітаційний центр                          7.0      14.0
науковий ліцей                                           NaN       NaN
початкова школа                                          NaN       NaN
професійний ліцей відповідного профілю               16327.0       NaN
професійно-технічне училище відповідного профілю      8498.0       NaN
середня загальноосвітня школа                       115959.0  117761.0
середня загальноосвітня школа-інтернат                 698.0       NaN
спеціальна загальноосвітня школа                       113.0     199.0
спеціальна загальноосвітня школа-інтернат               65.0       NaN
спеціальна школа                                         NaN       NaN
спеціалізована школа                                 16040.0   17310.0
спеціалізована школа-інтернат                         1063.0       NaN
спортивний ліцей                                         NaN       NaN
центр професійно-технічної освіти                     4534.0       NaN
центр професійної освіти                              2424.0       NaN
центр підготовки і перепідготовки робітничих ка...     397.0       NaN
школа соціальної реабілітації                            NaN       NaN


year                                                   2022     2023
eotypename
Пенітенціарна установа                                 26.0     34.0
вечірня (змінна) школа                                 89.0     70.0
вище професійне училище                                 NaN      NaN
вище художнє професійно-технічне училище                NaN      NaN
вищий навчальний заклад I-II рівнів акредитації         NaN      NaN
військовий (військово-морський, військово-спорт...    107.0     97.0
гімназія                                            12001.0  10218.0
загальноосвітня санаторна школа                       272.0    247.0
заклад вищої освіти                                  4190.0   5483.0
заклад професійної (професійно-технічної) освіти     6462.0   8214.0
заклад фахової передвищої освіти                    19506.0  40042.0
заклад фахової передвищої освіти/ліцей                  2.0      9.0
колегіум                                                NaN      NaN
колегіум/колеж                                        655.0    336.0
коледж                                                  NaN      NaN
ліцей                                               53003.0  95218.0
ліцей із посиленою військово-фізичною підготовкою     489.0    927.0
мистецький ліцей                                       79.0    220.0
навчально-виховне об'єднання                         1386.0    338.0
навчально-виховний комплекс                         13689.0   7912.0
навчально-реабілітаційний центр                         8.0      8.0
науковий ліцей                                        408.0   1187.0
початкова школа                                         NaN     28.0
професійний ліцей відповідного профілю                  NaN      NaN
професійно-технічне училище відповідного профілю        NaN      NaN
середня загальноосвітня школа                       70231.0  53356.0
середня загальноосвітня школа-інтернат                  NaN      NaN
спеціальна загальноосвітня школа                       78.0    103.0
спеціальна загальноосвітня школа-інтернат               NaN      NaN
спеціальна школа                                       21.0     60.0
спеціалізована школа                                13422.0   9917.0
спеціалізована школа-інтернат                           NaN      NaN
спортивний ліцей                                      308.0    456.0
центр професійно-технічної освіти                       NaN      NaN
центр професійної освіти                                NaN      NaN
центр підготовки і перепідготовки робітничих ка...      NaN      NaN
школа соціальної реабілітації                           NaN      NaN

In [10]:
df_reg = df_students[df_students.KATOTTG_2023.str.startswith('UA')]
df_reg['region'] =  df_reg['KATOTTG_2023'].str[:4]
df_reg['raion'] =  df_reg['KATOTTG_2023'].str[:6]
df_reg['hromada'] =  df_reg['KATOTTG_2023'].str[:9]
df_reg['naspunkt'] =  df_reg['KATOTTG_2023'].str[:12]
df_reg

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_3400/238638734.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reg['region'] =  df_reg['KATOTTG_2023'].str[:4]
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_3400/238638734.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reg['raion'] =  df_reg['KATOTTG_2023'].str[:6]
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_3400/238638734.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reg['hromada'] =  df_reg['KATOTTG_2023'].str[:9]
/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_3400/238638734.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reg['naspunkt'] =  df_reg['KATOTTG_2023'].str[:12]

,outid,birth,sextypename,KATOTTG_2023,year,EDRPOU_school,status,region,raion,hromada,naspunkt
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,UA23080270010078454,2016,26373098,A graduate of an Ukrainian school of the curre...,UA23,UA2308,UA2308027,UA2308027001
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,UA68040210010032567,2016,25880114,A graduate of an Ukrainian school of the curre...,UA68,UA6804,UA6804021,UA6804021001
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,UA73060610010033137,2016,21431046,A graduate of an Ukrainian school of the curre...,UA73,UA7306,UA7306061,UA7306061001
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,UA14120030010055241,2016,25705061,A graduate of an Ukrainian school of the curre...,UA14,UA1412,UA1412003,UA1412003001
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,UA61040490010069060,2016,14040173,A graduate of an Ukrainian school of the curre...,UA61,UA6104,UA6104049,UA6104049001
...,...,...,...,...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,UA59020070010054283,2023,NaN,A graduate of previous years,UA59,UA5902,UA5902007,UA5902007001
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,UA32100010010059200,2023,NaN,A graduate of previous years,UA32,UA3210,UA3210001,UA3210001001
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,UA56080170010061049,2023,NaN,A graduate of previous years,UA56,UA5608,UA5608017,UA5608017001
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,UA51100270010320268,2023,NaN,A graduate of previous years,UA51,UA5110,UA5110027,UA5110027001
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,UA07060190010068509,2023,NaN,A graduate of previous years,UA07,UA0706,UA0706019,UA0706019001

In [11]:
df_reg.EDRPOU_school

0          26373098
1          25880114
2          21431046
3          25705061
4          14040173
             ...
2490047         NaN
2490048         NaN
2490049         NaN
2490050         NaN
2490051         NaN
Name: EDRPOU_school, Length: 2486358, dtype: object

In [12]:
len(df_reg.region.unique())

25

In [13]:
len(df_reg.raion.unique())

120

In [14]:
len(df_reg.hromada.unique())

1439

In [15]:
df_location = pd.read_csv('../tables_creation/final_tables/locations_base.csv', dtype={'KOATUU_2020': str, 'KATOTTG_2023': str})
df_location = df_location.drop_duplicates(subset=['KATOTTG_2023'], keep='first')
df_location.head()

,KATOTTG_2023,KOATUU_2020,category,ukrainian_name,english_name
0,UA01000000000013043,0100000000,region,Автономна Республіка Крим,Avtonomna Respublika Krym
1,UA01020000000022387,0120400000,district,Бахчисарайський,Bakhchysaraiskyi
2,UA01020010000048857,8536990200,hromada,Андріївська,NaN
3,UA01020010010075540,8536990201,village,Андріївка,NaN
4,UA01020010020030666,8536990203,settlement,Сонячний,NaN

In [16]:
region_df=df_location[df_location.category.isin(['region', 'capital'])][['KATOTTG_2023', 'english_name']]
region_df['KATOTTG_2023_region'] = region_df['KATOTTG_2023'].str[:4]
region_df.drop(columns='KATOTTG_2023', inplace=True)
region_df.reset_index(inplace=True, drop=True)
region_df

                 english_name KATOTTG_2023_region
0   Avtonomna Respublika Krym                UA01
1                   Vinnytska                UA05
2                    Volynska                UA07
3             Dnipropetrovska                UA12
4                    Donetska                UA14
5                 Zhytomyrskа                UA18
6                 Zakarpatska                UA21
7                   Zaporizka                UA23
8            Ivano-Frankivska                UA26
9                     Kyivska                UA32
10              Kirovohradska                UA35
11                   Luhanska                UA44
12                    Lvivska                UA46
13                Mykolaivska                UA48
14                     Odeska                UA51
15                  Poltavska                UA53
16                  Rivnenska                UA56
17                     Sumska                UA59
18                Ternopilska                UA61
19                 Kharkivska                UA63
20                 Khersonska                UA65
21                Khmelnytska                UA68
22                  Cherkaska                UA71
23               Chernivetska                UA73
24               Chernihivska                UA74
25                       Kyiv                UA80
26                 Sevastopol                UA85

In [17]:
abroad_df=df_location[(df_location.category=='abroad')&(df_location.KATOTTG_2023.str[4:6]=='00')][['KATOTTG_2023', 'english_name']]
abroad_df['KATOTTG_2023_region'] = abroad_df['KATOTTG_2023'].str[:4]
abroad_df.drop(columns='KATOTTG_2023', inplace=True)
abroad_df.reset_index(inplace=True, drop=True)
abroad_df

                english_name KATOTTG_2023_region
0                    Ireland                OC01
1                      Spain                OC02
2                      Italy                OC03
3                 Azerbaijan                OC04
4                     Austia                OC05
5                    Belgium                OC06
6                   Bulgaria                OC07
7             United Kingdom                OC08
8                     Greece                OC09
9                    Georgia                OC10
10                   Denmark                OC11
11                   Estonia                OC12
12                    Canada                OC13
13                    Latvia                OC14
14                 Lithuania                OC15
15                Luxembourg                OC16
16                   Moldova                OC17
17               Netherlands                OC18
18                   Germany                OC19
19                    Norway                OC20
20                    Poland                OC21
21                  Portugal                OC22
22                   Romania                OC23
23                  Slovakia                OC24
24                  Slovenia                OC25
25  United States of America                OC26
26                    Turkey                OC27
27                   Hungary                OC28
28                   Finland                OC29
29                    France                OC30
30                   Croatia                OC31
31                   Czechia                OC32
32               Switzerland                OC33
33                    Sweden                OC34

In [18]:
df_students_region = df_students.merge(df_location[['KATOTTG_2023', 'category']], on = ['KATOTTG_2023'], how = 'left')
df_students_region['KATOTTG_2023_region']=df_students_region['KATOTTG_2023'].str[:4]
df_students_region

,outid,birth,sextypename,KATOTTG_2023,year,EDRPOU_school,status,category,KATOTTG_2023_region
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,UA23080270010078454,2016,26373098,A graduate of an Ukrainian school of the curre...,village,UA23
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,UA68040210010032567,2016,25880114,A graduate of an Ukrainian school of the curre...,city,UA68
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,UA73060610010033137,2016,21431046,A graduate of an Ukrainian school of the curre...,city,UA73
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,UA14120030010055241,2016,25705061,A graduate of an Ukrainian school of the curre...,city,UA14
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,UA61040490010069060,2016,14040173,A graduate of an Ukrainian school of the curre...,city,UA61
...,...,...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,UA59020070010054283,2023,NaN,A graduate of previous years,city,UA59
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,UA32100010010059200,2023,NaN,A graduate of previous years,city,UA32
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,UA56080170010061049,2023,NaN,A graduate of previous years,city,UA56
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,UA51100270010320268,2023,NaN,A graduate of previous years,districts in cities,UA51
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,UA07060190010068509,2023,NaN,A graduate of previous years,city,UA07

In [19]:
df_students_region = df_students_region.merge(region_df, on = ['KATOTTG_2023_region'], how = 'left')
df_students_region

,outid,birth,sextypename,KATOTTG_2023,year,EDRPOU_school,status,category,KATOTTG_2023_region,english_name
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,UA23080270010078454,2016,26373098,A graduate of an Ukrainian school of the curre...,village,UA23,Zaporizka
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,UA68040210010032567,2016,25880114,A graduate of an Ukrainian school of the curre...,city,UA68,Khmelnytska
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,UA73060610010033137,2016,21431046,A graduate of an Ukrainian school of the curre...,city,UA73,Chernivetska
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,UA14120030010055241,2016,25705061,A graduate of an Ukrainian school of the curre...,city,UA14,Donetska
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,UA61040490010069060,2016,14040173,A graduate of an Ukrainian school of the curre...,city,UA61,Ternopilska
...,...,...,...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,UA59020070010054283,2023,NaN,A graduate of previous years,city,UA59,Sumska
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,UA32100010010059200,2023,NaN,A graduate of previous years,city,UA32,Kyivska
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,UA56080170010061049,2023,NaN,A graduate of previous years,city,UA56,Rivnenska
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,UA51100270010320268,2023,NaN,A graduate of previous years,districts in cities,UA51,Odeska
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,UA07060190010068509,2023,NaN,A graduate of previous years,city,UA07,Volynska

In [20]:
df_students_region = df_students_region.merge(abroad_df, on = ['KATOTTG_2023_region'], how = 'left')
df_students_region

,outid,birth,sextypename,KATOTTG_2023,year,EDRPOU_school,status,category,KATOTTG_2023_region,english_name_x,english_name_y
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,UA23080270010078454,2016,26373098,A graduate of an Ukrainian school of the curre...,village,UA23,Zaporizka,NaN
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,UA68040210010032567,2016,25880114,A graduate of an Ukrainian school of the curre...,city,UA68,Khmelnytska,NaN
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,UA73060610010033137,2016,21431046,A graduate of an Ukrainian school of the curre...,city,UA73,Chernivetska,NaN
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,UA14120030010055241,2016,25705061,A graduate of an Ukrainian school of the curre...,city,UA14,Donetska,NaN
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,UA61040490010069060,2016,14040173,A graduate of an Ukrainian school of the curre...,city,UA61,Ternopilska,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,UA59020070010054283,2023,NaN,A graduate of previous years,city,UA59,Sumska,NaN
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,UA32100010010059200,2023,NaN,A graduate of previous years,city,UA32,Kyivska,NaN
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,UA56080170010061049,2023,NaN,A graduate of previous years,city,UA56,Rivnenska,NaN
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,UA51100270010320268,2023,NaN,A graduate of previous years,districts in cities,UA51,Odeska,NaN
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,UA07060190010068509,2023,NaN,A graduate of previous years,city,UA07,Volynska,NaN

In [21]:
df_students_region.loc[df_students_region.english_name_x.isna(), 'english_name_x'] =df_students_region.english_name_y

In [22]:
df_students_region.drop(columns='english_name_y', inplace=True)
df_students_region.rename(columns={'english_name_x':'region_name'}, inplace=True)
df_students_region

,outid,birth,sextypename,KATOTTG_2023,year,EDRPOU_school,status,category,KATOTTG_2023_region,region_name
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,UA23080270010078454,2016,26373098,A graduate of an Ukrainian school of the curre...,village,UA23,Zaporizka
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,UA68040210010032567,2016,25880114,A graduate of an Ukrainian school of the curre...,city,UA68,Khmelnytska
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,UA73060610010033137,2016,21431046,A graduate of an Ukrainian school of the curre...,city,UA73,Chernivetska
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,UA14120030010055241,2016,25705061,A graduate of an Ukrainian school of the curre...,city,UA14,Donetska
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,UA61040490010069060,2016,14040173,A graduate of an Ukrainian school of the curre...,city,UA61,Ternopilska
...,...,...,...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,UA59020070010054283,2023,NaN,A graduate of previous years,city,UA59,Sumska
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,UA32100010010059200,2023,NaN,A graduate of previous years,city,UA32,Kyivska
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,UA56080170010061049,2023,NaN,A graduate of previous years,city,UA56,Rivnenska
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,UA51100270010320268,2023,NaN,A graduate of previous years,districts in cities,UA51,Odeska
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,UA07060190010068509,2023,NaN,A graduate of previous years,city,UA07,Volynska

In [23]:
df_students_region[df_students_region.region_name.isna()]

Empty DataFrame
Columns: [outid, birth, sextypename, KATOTTG_2023, year, EDRPOU_school, status, category, KATOTTG_2023_region, region_name]
Index: []

In [24]:
df_students_region.region_name.unique()

array(['Zaporizka', 'Khmelnytska', 'Chernivetska', 'Donetska',
       'Ternopilska', 'Kirovohradska', 'Odeska', 'Dnipropetrovska',
       'Lvivska', 'Ivano-Frankivska', 'Kharkivska', 'Cherkaska',
       'Volynska', 'Poltavska', 'Rivnenska', 'Vinnytska', 'Chernihivska',
       'Kyivska', 'Zakarpatska', 'Kyiv', 'Zhytomyrskа', 'Mykolaivska',
       'Khersonska', 'Luhanska', 'Sumska', 'Poland', 'France', 'Germany',
       'Estonia', 'Norway', 'Slovakia', 'Austia', 'United Kingdom',
       'Ireland', 'Bulgaria', 'Moldova', 'Portugal', 'Azerbaijan',
       'Hungary', 'Italy', 'Turkey', 'Czechia', 'Belgium', 'Spain',
       'Canada', 'Croatia', 'Latvia', 'Romania', 'Lithuania', 'Georgia',
       'United States of America', 'Finland', 'Sweden', 'Luxembourg',
       'Netherlands', 'Denmark', 'Switzerland'], dtype=object)

In [25]:
df_students_region['abroad'] = df_students_region['KATOTTG_2023_region'].map(lambda x: 1 if x[:2] == 'OC' else 0)
df_students_region.drop(['KATOTTG_2023', 'KATOTTG_2023_region'], axis = 1, inplace=True)
df_students_region

,outid,birth,sextypename,year,EDRPOU_school,status,category,region_name,abroad
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,2016,26373098,A graduate of an Ukrainian school of the curre...,village,Zaporizka,0
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,2016,25880114,A graduate of an Ukrainian school of the curre...,city,Khmelnytska,0
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,2016,21431046,A graduate of an Ukrainian school of the curre...,city,Chernivetska,0
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,2016,25705061,A graduate of an Ukrainian school of the curre...,city,Donetska,0
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,2016,14040173,A graduate of an Ukrainian school of the curre...,city,Ternopilska,0
...,...,...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,2023,NaN,A graduate of previous years,city,Sumska,0
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,2023,NaN,A graduate of previous years,city,Kyivska,0
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,2023,NaN,A graduate of previous years,city,Rivnenska,0
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,2023,NaN,A graduate of previous years,districts in cities,Odeska,0
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,2023,NaN,A graduate of previous years,city,Volynska,0

# Block1. Abstract. Total numbers

## All participants

Total number of participants 2.49M

In [26]:
df_students_region.shape

(2490052, 9)

Total number of participants impacted by war - 523K

In [27]:
df_students_region[df_students_region.year.isin([2022, 2023])].shape

(523039, 9)

Percentage drop in registration - 40%

In [28]:
round(df_students_region[df_students_region.year == 2022].shape[0]/(df_students_region[df_students_region.year == 2021].shape[0])*100,1)

60.1

In [29]:
df_students_region.year.value_counts()

year
2021    389323
2020    379299
2019    353813
2018    335687
2023    288935
2016    268002
2017    240889
2022    234104
Name: count, dtype: int64

In [30]:
df_students_region.columns

Index(['outid', 'birth', 'sextypename', 'year', 'EDRPOU_school', 'status',
       'category', 'region_name', 'abroad'],
      dtype='object')

In [31]:
len(df_students_region[df_students_region.abroad==0].region_name.unique())

25

## Graduates

Total number of graduates 1.5M

In [32]:
df_graduated_region=df_students_region[(df_students_region.status == 'A graduate of an Ukrainian school of the current year')|(df_students_region.status == 'A graduate of a foreign school')]
df_graduated_region.shape

(1544655, 9)

Total number of participants impacted by war - 347K

In [33]:
df_graduated_region[df_graduated_region.year.isin([2022, 2023])].shape

(347141, 9)

Percentage drop in registration among graduates - 24.3%

In [34]:
round(df_graduated_region[df_graduated_region.year == 2022].shape[0]/(df_graduated_region[df_graduated_region.year == 2021].shape[0])*100,1)

75.7

In [35]:
df_graduated_region.year.value_counts()

year
2021    219644
2020    211202
2016    200795
2017    192834
2019    187665
2018    185374
2023    180814
2022    166327
Name: count, dtype: int64

# Further data preparation

In [36]:
df_st_take_test = pd.read_csv('../tables_creation/final_tables/students_take_tests.csv',  dtype={'KATOTTG_2023_test_center': str, 'EDRPOU_test_center':str})
# df_st_take_test.dropna(subset = ['KOATUU_2020_test_center'], inplace=True)
df_st_take_test = df_st_take_test[df_st_take_test.test_status != 'Not registered for the main session']
df_st_take_test

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,161.0,9.0,NaN,Accepted,ukrtest,EIE,UA51100270010275193,20995060
1,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,ukrtest,EIE,UA18060090010074365,22061344
2,00001a8d-fff5-4c7c-bea2-b0157f7c5655,2021,128.0,6.0,31.0,Accepted,ukrtest,EIE,UA71080490010144486,25922746
3,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,160.0,8.0,NaN,Accepted,ukrtest,EIE,UA63120270010216514,24486622
4,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,166.0,9.0,69.0,Accepted,ukrtest,EIE,UA46100230010074173,34387362
...,...,...,...,...,...,...,...,...,...,...
10597971,fffdecee-6adc-4de9-9f11-3895f6652b99,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA21120250010053148,26325975
10597972,fffed487-0571-4dc2-93e8-c9fbc293c02d,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA74040250010023991,02125668
10597973,ffff3ae9-5e83-4c92-bdec-d080cc49b1b6,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48060150010139573,05537288
10597974,ffff820f-d5d0-4e38-814e-7e958770e85b,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48020190010089719,26117159
10597975,fffff6db-6fcc-481f-aa92-49906c0ad1c8,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA46060250010457177,20823778

In [37]:
df = df_st_take_test.merge(df_students_region, on = ['outid', 'year'], how = 'left')
df

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center,birth,sextypename,EDRPOU_school,status,category,region_name,abroad
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,161.0,9.0,NaN,Accepted,ukrtest,EIE,UA51100270010275193,20995060,2000,Female,23864660,A graduate of an Ukrainian school of the curre...,districts in cities,Odeska,0
1,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,ukrtest,EIE,UA18060090010074365,22061344,2004,Male,22056432,A graduate of an Ukrainian school of the curre...,village,Zhytomyrskа,0
2,00001a8d-fff5-4c7c-bea2-b0157f7c5655,2021,128.0,6.0,31.0,Accepted,ukrtest,EIE,UA71080490010144486,25922746,2002,Male,05538052,A graduate of a vocational pre-higher educatio...,districts in cities,Cherkaska,0
3,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,160.0,8.0,NaN,Accepted,ukrtest,EIE,UA63120270010216514,24486622,1998,Male,23320374,A graduate of an Ukrainian school of the curre...,districts in cities,Kharkivska,0
4,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,166.0,9.0,69.0,Accepted,ukrtest,EIE,UA46100230010074173,34387362,2001,Male,20773804,A graduate of an Ukrainian school of the curre...,city,Lvivska,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8260196,fffdecee-6adc-4de9-9f11-3895f6652b99,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA21120250010053148,26325975,2004,Female,26325886,A graduate of an Ukrainian school of the curre...,city,Zakarpatska,0
8260197,fffed487-0571-4dc2-93e8-c9fbc293c02d,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA74040250010023991,02125668,2004,Female,33439420,A graduate of an Ukrainian school of the curre...,city,Chernihivska,0
8260198,ffff3ae9-5e83-4c92-bdec-d080cc49b1b6,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48060150010139573,05537288,1997,Female,02546140,A graduate of a vocational pre-higher educatio...,settlement,Mykolaivska,0
8260199,ffff820f-d5d0-4e38-814e-7e958770e85b,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48020190010089719,26117159,2003,Male,02545991,A graduate of a vocational pre-higher educatio...,urban village,Mykolaivska,0
8260200,fffff6db-6fcc-481f-aa92-49906c0ad1c8,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA46060250010457177,20823778,2003,Female,33195557,A graduate of a vocational pre-higher educatio...,districts in cities,Lvivska,0

In [38]:
df_location_test_center = df_location.rename(columns={'KATOTTG_2023':'KATOTTG_2023_test_center', 'category':'category_test_center'})

In [39]:
df = df.merge(df_location_test_center[['KATOTTG_2023_test_center', 'category_test_center']], on = ['KATOTTG_2023_test_center'], how = 'left')
df['KATOTTG_2023_region_test_center']=df['KATOTTG_2023_test_center'].str[:4]
df

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center,birth,sextypename,EDRPOU_school,status,category,region_name,abroad,category_test_center,KATOTTG_2023_region_test_center
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,161.0,9.0,NaN,Accepted,ukrtest,EIE,UA51100270010275193,20995060,2000,Female,23864660,A graduate of an Ukrainian school of the curre...,districts in cities,Odeska,0,districts in cities,UA51
1,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,ukrtest,EIE,UA18060090010074365,22061344,2004,Male,22056432,A graduate of an Ukrainian school of the curre...,village,Zhytomyrskа,0,city,UA18
2,00001a8d-fff5-4c7c-bea2-b0157f7c5655,2021,128.0,6.0,31.0,Accepted,ukrtest,EIE,UA71080490010144486,25922746,2002,Male,05538052,A graduate of a vocational pre-higher educatio...,districts in cities,Cherkaska,0,districts in cities,UA71
3,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,160.0,8.0,NaN,Accepted,ukrtest,EIE,UA63120270010216514,24486622,1998,Male,23320374,A graduate of an Ukrainian school of the curre...,districts in cities,Kharkivska,0,districts in cities,UA63
4,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,166.0,9.0,69.0,Accepted,ukrtest,EIE,UA46100230010074173,34387362,2001,Male,20773804,A graduate of an Ukrainian school of the curre...,city,Lvivska,0,city,UA46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8260196,fffdecee-6adc-4de9-9f11-3895f6652b99,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA21120250010053148,26325975,2004,Female,26325886,A graduate of an Ukrainian school of the curre...,city,Zakarpatska,0,city,UA21
8260197,fffed487-0571-4dc2-93e8-c9fbc293c02d,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA74040250010023991,02125668,2004,Female,33439420,A graduate of an Ukrainian school of the curre...,city,Chernihivska,0,city,UA74
8260198,ffff3ae9-5e83-4c92-bdec-d080cc49b1b6,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48060150010139573,05537288,1997,Female,02546140,A graduate of a vocational pre-higher educatio...,settlement,Mykolaivska,0,districts in cities,UA48
8260199,ffff820f-d5d0-4e38-814e-7e958770e85b,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48020190010089719,26117159,2003,Male,02545991,A graduate of a vocational pre-higher educatio...,urban village,Mykolaivska,0,city,UA48
8260200,fffff6db-6fcc-481f-aa92-49906c0ad1c8,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA46060250010457177,20823778,2003,Female,33195557,A graduate of a vocational pre-higher educatio...,districts in cities,Lvivska,0,districts in cities,UA46

In [40]:
region_df_ukr=df_location_test_center[df_location_test_center.category_test_center.isin(['region', 'capital'])][['KATOTTG_2023_test_center', 'english_name']]
region_df_ukr['KATOTTG_2023_region_test_center'] = region_df_ukr['KATOTTG_2023_test_center'].str[:4]
region_df_ukr.drop(columns='KATOTTG_2023_test_center', inplace=True)
region_df_ukr.reset_index(inplace=True, drop=True)
region_df_ukr

                 english_name KATOTTG_2023_region_test_center
0   Avtonomna Respublika Krym                            UA01
1                   Vinnytska                            UA05
2                    Volynska                            UA07
3             Dnipropetrovska                            UA12
4                    Donetska                            UA14
5                 Zhytomyrskа                            UA18
6                 Zakarpatska                            UA21
7                   Zaporizka                            UA23
8            Ivano-Frankivska                            UA26
9                     Kyivska                            UA32
10              Kirovohradska                            UA35
11                   Luhanska                            UA44
12                    Lvivska                            UA46
13                Mykolaivska                            UA48
14                     Odeska                            UA51
15                  Poltavska                            UA53
16                  Rivnenska                            UA56
17                     Sumska                            UA59
18                Ternopilska                            UA61
19                 Kharkivska                            UA63
20                 Khersonska                            UA65
21                Khmelnytska                            UA68
22                  Cherkaska                            UA71
23               Chernivetska                            UA73
24               Chernihivska                            UA74
25                       Kyiv                            UA80
26                 Sevastopol                            UA85

In [41]:
df = df.merge(region_df_ukr, on = ['KATOTTG_2023_region_test_center'], how = 'left')
df

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center,birth,sextypename,EDRPOU_school,status,category,region_name,abroad,category_test_center,KATOTTG_2023_region_test_center,english_name
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,161.0,9.0,NaN,Accepted,ukrtest,EIE,UA51100270010275193,20995060,2000,Female,23864660,A graduate of an Ukrainian school of the curre...,districts in cities,Odeska,0,districts in cities,UA51,Odeska
1,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,ukrtest,EIE,UA18060090010074365,22061344,2004,Male,22056432,A graduate of an Ukrainian school of the curre...,village,Zhytomyrskа,0,city,UA18,Zhytomyrskа
2,00001a8d-fff5-4c7c-bea2-b0157f7c5655,2021,128.0,6.0,31.0,Accepted,ukrtest,EIE,UA71080490010144486,25922746,2002,Male,05538052,A graduate of a vocational pre-higher educatio...,districts in cities,Cherkaska,0,districts in cities,UA71,Cherkaska
3,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,160.0,8.0,NaN,Accepted,ukrtest,EIE,UA63120270010216514,24486622,1998,Male,23320374,A graduate of an Ukrainian school of the curre...,districts in cities,Kharkivska,0,districts in cities,UA63,Kharkivska
4,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,166.0,9.0,69.0,Accepted,ukrtest,EIE,UA46100230010074173,34387362,2001,Male,20773804,A graduate of an Ukrainian school of the curre...,city,Lvivska,0,city,UA46,Lvivska
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8260196,fffdecee-6adc-4de9-9f11-3895f6652b99,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA21120250010053148,26325975,2004,Female,26325886,A graduate of an Ukrainian school of the curre...,city,Zakarpatska,0,city,UA21,Zakarpatska
8260197,fffed487-0571-4dc2-93e8-c9fbc293c02d,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA74040250010023991,02125668,2004,Female,33439420,A graduate of an Ukrainian school of the curre...,city,Chernihivska,0,city,UA74,Chernihivska
8260198,ffff3ae9-5e83-4c92-bdec-d080cc49b1b6,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48060150010139573,05537288,1997,Female,02546140,A graduate of a vocational pre-higher educatio...,settlement,Mykolaivska,0,districts in cities,UA48,Mykolaivska
8260199,ffff820f-d5d0-4e38-814e-7e958770e85b,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48020190010089719,26117159,2003,Male,02545991,A graduate of a vocational pre-higher educatio...,urban village,Mykolaivska,0,city,UA48,Mykolaivska
8260200,fffff6db-6fcc-481f-aa92-49906c0ad1c8,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA46060250010457177,20823778,2003,Female,33195557,A graduate of a vocational pre-higher educatio...,districts in cities,Lvivska,0,districts in cities,UA46,Lvivska

In [42]:
abroad_df_ukr=df_location_test_center[(df_location_test_center.category_test_center=='abroad')&(df_location_test_center.KATOTTG_2023_test_center.str[4:6]=='00')][['KATOTTG_2023_test_center', 'english_name']]
abroad_df_ukr['KATOTTG_2023_region_test_center'] = abroad_df_ukr['KATOTTG_2023_test_center'].str[:4]
abroad_df_ukr.drop(columns='KATOTTG_2023_test_center', inplace=True)
abroad_df_ukr.reset_index(inplace=True, drop=True)
abroad_df_ukr

                english_name KATOTTG_2023_region_test_center
0                    Ireland                            OC01
1                      Spain                            OC02
2                      Italy                            OC03
3                 Azerbaijan                            OC04
4                     Austia                            OC05
5                    Belgium                            OC06
6                   Bulgaria                            OC07
7             United Kingdom                            OC08
8                     Greece                            OC09
9                    Georgia                            OC10
10                   Denmark                            OC11
11                   Estonia                            OC12
12                    Canada                            OC13
13                    Latvia                            OC14
14                 Lithuania                            OC15
15                Luxembourg                            OC16
16                   Moldova                            OC17
17               Netherlands                            OC18
18                   Germany                            OC19
19                    Norway                            OC20
20                    Poland                            OC21
21                  Portugal                            OC22
22                   Romania                            OC23
23                  Slovakia                            OC24
24                  Slovenia                            OC25
25  United States of America                            OC26
26                    Turkey                            OC27
27                   Hungary                            OC28
28                   Finland                            OC29
29                    France                            OC30
30                   Croatia                            OC31
31                   Czechia                            OC32
32               Switzerland                            OC33
33                    Sweden                            OC34

In [43]:
df = df.merge(abroad_df_ukr, on = ['KATOTTG_2023_region_test_center'], how = 'left')
df

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center,...,sextypename,EDRPOU_school,status,category,region_name,abroad,category_test_center,KATOTTG_2023_region_test_center,english_name_x,english_name_y
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,161.0,9.0,NaN,Accepted,ukrtest,EIE,UA51100270010275193,20995060,...,Female,23864660,A graduate of an Ukrainian school of the curre...,districts in cities,Odeska,0,districts in cities,UA51,Odeska,NaN
1,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,ukrtest,EIE,UA18060090010074365,22061344,...,Male,22056432,A graduate of an Ukrainian school of the curre...,village,Zhytomyrskа,0,city,UA18,Zhytomyrskа,NaN
2,00001a8d-fff5-4c7c-bea2-b0157f7c5655,2021,128.0,6.0,31.0,Accepted,ukrtest,EIE,UA71080490010144486,25922746,...,Male,05538052,A graduate of a vocational pre-higher educatio...,districts in cities,Cherkaska,0,districts in cities,UA71,Cherkaska,NaN
3,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,160.0,8.0,NaN,Accepted,ukrtest,EIE,UA63120270010216514,24486622,...,Male,23320374,A graduate of an Ukrainian school of the curre...,districts in cities,Kharkivska,0,districts in cities,UA63,Kharkivska,NaN
4,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,166.0,9.0,69.0,Accepted,ukrtest,EIE,UA46100230010074173,34387362,...,Male,20773804,A graduate of an Ukrainian school of the curre...,city,Lvivska,0,city,UA46,Lvivska,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8260196,fffdecee-6adc-4de9-9f11-3895f6652b99,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA21120250010053148,26325975,...,Female,26325886,A graduate of an Ukrainian school of the curre...,city,Zakarpatska,0,city,UA21,Zakarpatska,NaN
8260197,fffed487-0571-4dc2-93e8-c9fbc293c02d,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA74040250010023991,02125668,...,Female,33439420,A graduate of an Ukrainian school of the curre...,city,Chernihivska,0,city,UA74,Chernihivska,NaN
8260198,ffff3ae9-5e83-4c92-bdec-d080cc49b1b6,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48060150010139573,05537288,...,Female,02546140,A graduate of a vocational pre-higher educatio...,settlement,Mykolaivska,0,districts in cities,UA48,Mykolaivska,NaN
8260199,ffff820f-d5d0-4e38-814e-7e958770e85b,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48020190010089719,26117159,...,Male,02545991,A graduate of a vocational pre-higher educatio...,urban village,Mykolaivska,0,city,UA48,Mykolaivska,NaN
8260200,fffff6db-6fcc-481f-aa92-49906c0ad1c8,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA46060250010457177,20823778,...,Female,33195557,A graduate of a vocational pre-higher educatio...,districts in cities,Lvivska,0,districts in cities,UA46,Lvivska,NaN

In [44]:
df.loc[df.english_name_x.isna(), 'english_name_x'] =df.english_name_y

In [45]:
df.drop(columns='english_name_y', inplace=True)
df.rename(columns={'english_name_x':'region_name_test_center'}, inplace=True)
df

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center,birth,sextypename,EDRPOU_school,status,category,region_name,abroad,category_test_center,KATOTTG_2023_region_test_center,region_name_test_center
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,161.0,9.0,NaN,Accepted,ukrtest,EIE,UA51100270010275193,20995060,2000,Female,23864660,A graduate of an Ukrainian school of the curre...,districts in cities,Odeska,0,districts in cities,UA51,Odeska
1,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,ukrtest,EIE,UA18060090010074365,22061344,2004,Male,22056432,A graduate of an Ukrainian school of the curre...,village,Zhytomyrskа,0,city,UA18,Zhytomyrskа
2,00001a8d-fff5-4c7c-bea2-b0157f7c5655,2021,128.0,6.0,31.0,Accepted,ukrtest,EIE,UA71080490010144486,25922746,2002,Male,05538052,A graduate of a vocational pre-higher educatio...,districts in cities,Cherkaska,0,districts in cities,UA71,Cherkaska
3,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,160.0,8.0,NaN,Accepted,ukrtest,EIE,UA63120270010216514,24486622,1998,Male,23320374,A graduate of an Ukrainian school of the curre...,districts in cities,Kharkivska,0,districts in cities,UA63,Kharkivska
4,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,166.0,9.0,69.0,Accepted,ukrtest,EIE,UA46100230010074173,34387362,2001,Male,20773804,A graduate of an Ukrainian school of the curre...,city,Lvivska,0,city,UA46,Lvivska
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8260196,fffdecee-6adc-4de9-9f11-3895f6652b99,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA21120250010053148,26325975,2004,Female,26325886,A graduate of an Ukrainian school of the curre...,city,Zakarpatska,0,city,UA21,Zakarpatska
8260197,fffed487-0571-4dc2-93e8-c9fbc293c02d,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA74040250010023991,02125668,2004,Female,33439420,A graduate of an Ukrainian school of the curre...,city,Chernihivska,0,city,UA74,Chernihivska
8260198,ffff3ae9-5e83-4c92-bdec-d080cc49b1b6,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48060150010139573,05537288,1997,Female,02546140,A graduate of a vocational pre-higher educatio...,settlement,Mykolaivska,0,districts in cities,UA48,Mykolaivska
8260199,ffff820f-d5d0-4e38-814e-7e958770e85b,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48020190010089719,26117159,2003,Male,02545991,A graduate of a vocational pre-higher educatio...,urban village,Mykolaivska,0,city,UA48,Mykolaivska
8260200,fffff6db-6fcc-481f-aa92-49906c0ad1c8,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA46060250010457177,20823778,2003,Female,33195557,A graduate of a vocational pre-higher educatio...,districts in cities,Lvivska,0,districts in cities,UA46,Lvivska

# Block2. Abstract. Displacement

In [46]:
df['displaced'] = np.where(df['region_name'] != df['region_name_test_center'], 1, 0)

In [47]:
df.category_test_center.unique()

array(['districts in cities', 'city', 'abroad', 'urban village',
       'village', 'settlement'], dtype=object)

In [48]:
df['location_test_center_type'] = df.category_test_center.map(lambda x: 'Rural' if x in ['village', 'urban village','settlement']  else ('Abroad' if x == 'abroad' else 'Urban'))

In [49]:
conditions = [
    (df['displaced'] == 0),
    (df['displaced'] == 1) & (df['location_test_center_type'] == 'Abroad'),
    (df['displaced'] == 1) & (df['location_test_center_type'] != 'Abroad')
]

choices = [
    'Non-displaced',
    'Displaced_abroad',
    'Displaced_internally'
]

df['displacement_type'] = np.select(conditions, choices, default='Not Specified')

### Displacement 2022 all participants

In [50]:
df[(df.year==2022)&(df.test_subject == 'ukrtest')].displaced.value_counts(normalize=True)

displaced
0    0.796095
1    0.203905
Name: proportion, dtype: float64

In [51]:
df[(df.year==2022)&(df.test_subject == 'ukrtest')].displacement_type.value_counts(normalize=True)

displacement_type
Non-displaced           0.796095
Displaced_abroad        0.117004
Displaced_internally    0.086902
Name: proportion, dtype: float64

In [52]:
df[(df.year==2022)&(df.test_subject == 'ukrtest')&(df.displaced==1)].displacement_type.value_counts(normalize=True)

displacement_type
Displaced_abroad        0.573814
Displaced_internally    0.426186
Name: proportion, dtype: float64

### Displacement 2022 graduates

In [53]:
df_graduated_tests=df[(df.status == 'A graduate of an Ukrainian school of the current year')|(df.status == 'A graduate of a foreign school')]

Displacement 2022 graduates near 22%

In [54]:
df_graduated_tests[(df_graduated_tests.year==2022)&(df_graduated_tests.test_subject == 'ukrtest')].displaced.value_counts(normalize=True)

displaced
0    0.780174
1    0.219826
Name: proportion, dtype: float64

In [55]:
df_graduated_tests[(df_graduated_tests.year==2022)&(df_graduated_tests.test_subject == 'ukrtest')].displaced.value_counts()

displaced
0    129764
1     36563
Name: count, dtype: int64

In [56]:
df_graduated_tests.columns

Index(['outid', 'year', 'score100', 'score12', 'score', 'test_status',
       'test_subject', 'test_type', 'KATOTTG_2023_test_center',
       'EDRPOU_test_center', 'birth', 'sextypename', 'EDRPOU_school', 'status',
       'category', 'region_name', 'abroad', 'category_test_center',
       'KATOTTG_2023_region_test_center', 'region_name_test_center',
       'displaced', 'location_test_center_type', 'displacement_type'],
      dtype='object')

In [57]:
len(df_graduated_tests[(df_graduated_tests.year==2022)])/3

166327.0

In [58]:
df_graduated_tests[(df_graduated_tests.year==2022)&(df_graduated_tests.test_subject == 'ukrtest')].shape

(166327, 23)

In [59]:
df_graduated_tests[(df_graduated_tests.year==2022)&(df_graduated_tests.test_subject == 'ukrtest')&(df_graduated_tests.displaced==1)].category.value_counts()

category
districts in cities    18559
city                   12170
village                 3070
urban village           2600
settlement               164
Name: count, dtype: int64

In [60]:
df_graduated_tests[(df_graduated_tests.year==2022)&(df_graduated_tests.test_subject == 'ukrtest')].displacement_type.value_counts(normalize=True)

displacement_type
Non-displaced           0.780174
Displaced_abroad        0.139851
Displaced_internally    0.079975
Name: proportion, dtype: float64

In [61]:
df_graduated_tests[(df_graduated_tests.year==2022)&(df_graduated_tests.test_subject == 'ukrtest')&(df_graduated_tests.displaced==1)].displacement_type.value_counts(normalize=True)

displacement_type
Displaced_abroad        0.63619
Displaced_internally    0.36381
Name: proportion, dtype: float64

### displacement by region

In [62]:
df_graduated_tests[(df_graduated_tests.year==2022)&(df_graduated_tests.test_subject == 'ukrtest')&(df_graduated_tests.displacement_type=='Displaced_abroad')].region_name_test_center.value_counts(normalize=True)

region_name_test_center
Poland                      0.306608
Germany                     0.268561
Czechia                     0.082714
Italy                       0.035123
Austia                      0.031125
France                      0.027600
United Kingdom              0.027385
Slovakia                    0.022398
Spain                       0.022355
Bulgaria                    0.020077
Lithuania                   0.018142
Netherlands                 0.017841
Belgium                     0.014617
Ireland                     0.012725
Estonia                     0.011135
Latvia                      0.009071
Sweden                      0.008942
Romania                     0.008942
Denmark                     0.008426
Moldova                     0.007781
Hungary                     0.007007
Portugal                    0.006621
Switzerland                 0.005030
Croatia                     0.004514
Finland                     0.003224
United States of America    0.003095
Georgia                     0.002407
Turkey                      0.002278
Canada                      0.001376
Greece                      0.001032
Luxembourg                  0.000946
Slovenia                    0.000903
Name: proportion, dtype: float64

In [63]:
df_graduated_tests[(df_graduated_tests.year==2022)&(df_graduated_tests.test_subject == 'ukrtest')&(df_graduated_tests.displacement_type=='Displaced_internally')].region_name_test_center.value_counts(normalize=True)

region_name_test_center
Dnipropetrovska     0.221922
Kyiv                0.109157
Lvivska             0.081492
Poltavska           0.071643
Kyivska             0.064877
Odeska              0.054653
Vinnytska           0.043302
Khmelnytska         0.040971
Ivano-Frankivska    0.040220
Cherkaska           0.037588
Zakarpatska         0.036686
Kirovohradska       0.033829
Ternopilska         0.026237
Chernivetska        0.024357
Rivnenska           0.022027
Volynska            0.020298
Zaporizka           0.019320
Zhytomyrskа         0.015712
Mykolaivska         0.011427
Kharkivska          0.009322
Sumska              0.007743
Chernihivska        0.007217
Name: proportion, dtype: float64

In [64]:
subj= pd.pivot_table(df_graduated_tests, index = ['test_subject'], columns = ['year'], values=['outid'], aggfunc='count')

total = [len(df_graduated_tests[df_graduated_tests['year']==year].outid.unique()) for year in range(2016, 2024)]

subj.div(total).round(2)

             outid
year          2016  2017  2018  2019  2020  2021 2022  2023
test_subject
biotest       0.29  0.36  0.34  0.34  0.31  0.32  NaN  0.12
chemtest      0.10  0.09  0.08  0.06  0.04  0.04  NaN  0.01
deutest       0.01  0.01  0.01  0.01  0.01  0.01  NaN  0.01
engtest       0.34  0.35  0.39  0.42  0.42  0.48  NaN  0.33
fratest       0.00  0.00  0.00  0.00  0.00  0.00  NaN  0.00
geotest       0.22  0.32  0.37  0.37  0.40  0.48  NaN   NaN
histtest      0.74  0.77  0.75  0.70  0.69  0.75  1.0  0.50
mathsttest     NaN   NaN   NaN   NaN   NaN  0.17  NaN   NaN
mathtest      0.49  0.48  0.48  0.52  0.54  0.83  1.0  1.00
phystest      0.12  0.11  0.09  0.09  0.09  0.10  NaN  0.02
rustest       0.01  0.01   NaN   NaN   NaN   NaN  NaN   NaN
spatest       0.00  0.00  0.00  0.00  0.00  0.00  NaN  0.00
ukrtest       1.00  1.00  1.00  1.00  1.00  0.99  1.0  1.00
umltest        NaN   NaN   NaN   NaN   NaN  0.74  NaN   NaN

In [65]:
pivot = pd.pivot_table(df_graduated_region, index = ['birth'], columns = ['year'], values=['outid'], aggfunc='count')
pivot

          outid                                                              \
year       2016      2017      2018      2019      2020      2021      2022
birth
1954        NaN       NaN       2.0       NaN       NaN       NaN       NaN
1961        NaN       NaN       NaN       1.0       NaN       NaN       NaN
1965        1.0       NaN       1.0       NaN       NaN       NaN       NaN
1966        NaN       1.0       1.0       1.0       NaN       NaN       NaN
1967        1.0       NaN       1.0       NaN       1.0       NaN       NaN
1968        4.0       1.0       NaN       NaN       1.0       NaN       NaN
1969        1.0       3.0       3.0       1.0       1.0       1.0       NaN
1970        3.0       2.0       5.0       NaN       1.0       2.0       NaN
1971        5.0       1.0       6.0       2.0       3.0       1.0       NaN
1972        7.0       2.0       4.0       3.0       NaN       1.0       NaN
1973        8.0       8.0       7.0       4.0       4.0       3.0       1.0
1974       14.0      15.0       6.0       3.0       2.0       1.0       NaN
1975       15.0      21.0       6.0       7.0       3.0       5.0       2.0
1976       17.0      18.0      21.0       8.0       8.0      10.0       2.0
1977       31.0      29.0      15.0      10.0      12.0      10.0       6.0
1978       33.0      33.0      25.0       4.0       7.0      12.0       5.0
1979       44.0      27.0      24.0      13.0      11.0      19.0       3.0
1980       39.0      35.0      24.0      17.0       8.0      14.0       1.0
1981       47.0      40.0      27.0      16.0       8.0       8.0       6.0
1982       50.0      33.0      35.0      20.0      19.0      14.0       2.0
1983       49.0      33.0      34.0      12.0      18.0      25.0       1.0
1984       36.0      32.0      20.0      16.0      19.0      15.0       5.0
1985       43.0      28.0      32.0      22.0      13.0      22.0       5.0
1986       33.0      31.0      23.0      15.0      11.0      18.0       5.0
1987       41.0      29.0      21.0      18.0      11.0      10.0       7.0
1988       40.0      27.0      26.0      13.0      12.0       6.0       NaN
1989       32.0      18.0      15.0       4.0       9.0      13.0       7.0
1990       41.0      29.0      22.0      12.0       5.0      16.0       1.0
1991       36.0      19.0      10.0      19.0      12.0      14.0       1.0
1992       47.0      26.0      21.0      14.0      10.0      12.0       3.0
1993       48.0      24.0      26.0       7.0      13.0      12.0       2.0
1994       66.0      37.0      20.0       6.0      10.0       6.0       1.0
1995      111.0      46.0      37.0      16.0       9.0      12.0       8.0
1996      267.0      76.0      44.0      17.0      14.0      14.0       1.0
1997     2196.0     227.0      79.0      46.0      36.0      17.0       5.0
1998    62339.0    1781.0     225.0      93.0      43.0      36.0       7.0
1999   133458.0   56313.0    1527.0     165.0      80.0      32.0      14.0
2000     1573.0  132137.0   54434.0    1373.0     191.0      64.0      21.0
2001       18.0    1638.0  126920.0   52475.0    1295.0     134.0      31.0
2002        1.0      13.0    1611.0  131530.0   58057.0    1258.0      83.0
2003        NaN       1.0      14.0    1664.0  149498.0   58680.0     709.0
2004        NaN       NaN       NaN      18.0    1733.0  157429.0   45830.0
2005        NaN       NaN       NaN       NaN      14.0    1681.0  118332.0
2006        NaN       NaN       NaN       NaN       NaN      16.0    1205.0
2007        NaN       NaN       NaN       NaN       NaN       1.0      13.0
2008        NaN       NaN       NaN       NaN       NaN       NaN       1.0
2009        NaN       NaN       NaN       NaN       NaN       NaN       1.0


year       2023
birth
1954        NaN
1961        NaN
1965        NaN
1966        NaN
1967        NaN
1968        NaN
1969        1.0
1970        NaN
1971        NaN
1972        NaN
1973        1.0
1974        2.0
1975        2.0
1976        2.0
1977        2.0
1978        2.0
1979        5.0
1980        4.0
1981        4.0
1982        4.0
1983        4.0
1984        4.0
1985        6.0
1986        5.0
1987        5.0
1988        5.0
1989        4.0
1990        7.0
1991        4.0
1992        7.0
1993        8.0
1994        8.0
1995        7.0
1996        5.0
1997        7.0
1998       13.0
1999       16.0
2000       18.0
2001       18.0
2002       41.0
2003      109.0
2004      824.0
2005    50243.0
2006   128187.0
2007     1204.0
2008       25.0
2009        1.0

In [66]:
df_graduated_region[df_graduated_region.birth==1986]

,outid,birth,sextypename,year,EDRPOU_school,status,category,region_name,abroad
17668,140195bb-51f5-47ea-9c46-819402aeedfc,1986,Male,2016,33361579,A graduate of an Ukrainian school of the curre...,village,Kirovohradska,0
22120,cd1ec358-aea1-48ac-9106-ded9cdd0319b,1986,Male,2016,25198658,A graduate of an Ukrainian school of the curre...,districts in cities,Kyiv,0
34715,7e4494cc-2514-4e3b-b55a-522fa6d65cc1,1986,Female,2016,24175900,A graduate of an Ukrainian school of the curre...,village,Rivnenska,0
39809,e507dd56-01b4-47b3-979f-73c5856e17c1,1986,Male,2016,24767433,A graduate of an Ukrainian school of the curre...,city,Odeska,0
47285,4750b461-cf9a-4cbe-8ab0-1c5f433ac086,1986,Female,2016,25725106,A graduate of an Ukrainian school of the curre...,districts in cities,Dnipropetrovska,0
...,...,...,...,...,...,...,...,...,...
1922389,98f98757-f20a-42e2-9659-9d8afc09d1e1,1986,Male,2023,22557370,A graduate of an Ukrainian school of the curre...,city,Rivnenska,0
1934281,990e79cc-983c-4df6-b932-d7a96dedcd9c,1986,Female,2023,39382856,A graduate of an Ukrainian school of the curre...,districts in cities,Kyiv,0
1944782,98e97a46-9e7d-4502-85d9-c3d1f6a3789d,1986,Male,2023,26251188,A graduate of an Ukrainian school of the curre...,districts in cities,Zaporizka,0
1945304,98fbea2a-1b0b-4078-855f-338ec2369677,1986,Male,2023,26176245,A graduate of an Ukrainian school of the curre...,city,Vinnytska,0
1951736,9901dd69-0875-43cd-ac14-dacc2e2a17cb,1986,Male,2023,01489345,A graduate of an Ukrainian school of the curre...,districts in cities,Kyiv,0

# Ukrainian language test

In [67]:
df_ukr_graduated = df_graduated_tests[df_graduated_tests.test_subject == 'ukrtest']
sum(df_ukr_graduated.duplicated())

0

In [68]:
df_ukr_graduated[df_ukr_graduated.EDRPOU_school=='39382856'].year.value_counts()

year
2023    1551
2022     867
2021     764
2020     403
2019     152
2018      75
2017      29
2016      11
Name: count, dtype: int64

In [69]:
df_ukr_graduated

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center,...,status,category,region_name,abroad,category_test_center,KATOTTG_2023_region_test_center,region_name_test_center,displaced,location_test_center_type,displacement_type
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,161.0,9.0,NaN,Accepted,ukrtest,EIE,UA51100270010275193,20995060,...,A graduate of an Ukrainian school of the curre...,districts in cities,Odeska,0,districts in cities,UA51,Odeska,0,Urban,Non-displaced
1,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,ukrtest,EIE,UA18060090010074365,22061344,...,A graduate of an Ukrainian school of the curre...,village,Zhytomyrskа,0,city,UA18,Zhytomyrskа,0,Urban,Non-displaced
3,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,160.0,8.0,NaN,Accepted,ukrtest,EIE,UA63120270010216514,24486622,...,A graduate of an Ukrainian school of the curre...,districts in cities,Kharkivska,0,districts in cities,UA63,Kharkivska,0,Urban,Non-displaced
4,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,166.0,9.0,69.0,Accepted,ukrtest,EIE,UA46100230010074173,34387362,...,A graduate of an Ukrainian school of the curre...,city,Lvivska,0,city,UA46,Lvivska,0,Urban,Non-displaced
8,00003fa1-de6c-488e-a130-8acf4fb817ef,2019,167.0,7.0,69.0,Accepted,ukrtest,EIE,UA59080270010287243,00220078,...,A graduate of an Ukrainian school of the curre...,districts in cities,Sumska,0,districts in cities,UA59,Sumska,0,Urban,Non-displaced
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2456028,ffff8e58-5322-4b21-a385-d1fee504c2a8,2021,102.0,NaN,18.0,Accepted,ukrtest,EIE,UA51040010010048834,25417126,...,A graduate of an Ukrainian school of the curre...,city,Odeska,0,city,UA51,Odeska,0,Urban,Non-displaced
2456033,ffffb2e5-b2a1-4f51-871b-d281c20e72e8,2019,119.0,4.0,33.0,Accepted,ukrtest,EIE,UA32080090010037585,26078206,...,A graduate of an Ukrainian school of the curre...,village,Kyivska,0,city,UA32,Kyivska,0,Urban,Non-displaced
2456034,ffffb656-a973-409c-92a8-5d1276874724,2019,137.0,6.0,44.0,Accepted,ukrtest,EIE,UA18060170010010060,06670569,...,A graduate of an Ukrainian school of the curre...,village,Zhytomyrskа,0,city,UA18,Zhytomyrskа,0,Urban,Non-displaced
2456038,ffffd378-2c03-407d-8937-3a4acca43f94,2019,127.0,6.0,38.0,Accepted,ukrtest,EIE,UA53020030010087471,21064435,...,A graduate of an Ukrainian school of the curre...,urban village,Poltavska,0,city,UA53,Poltavska,0,Urban,Non-displaced
2456041,ffffeeb2-7258-4465-bca3-88dd19902340,2019,169.0,10.0,70.0,Accepted,ukrtest,EIE,UA12020010010639502,26508368,...,A graduate of an Ukrainian school of the curre...,districts in cities,Dnipropetrovska,0,districts in cities,UA12,Dnipropetrovska,0,Urban,Non-displaced

In [70]:
df_ukr_graduated.test_status.unique()

array(['Accepted', 'Absent', 'Failed', 'Canceled', 'Not selected 100-200'],
      dtype=object)

In [71]:
df_ukr_graduated[df_ukr_graduated.test_status != 'Absent'].year.value_counts()

year
2016    199000
2021    196927
2017    191588
2020    188511
2019    186715
2018    184309
2023    174735
2022    155456
Name: count, dtype: int64

In [72]:
df_ukr_graduated[['displacement_type', 'year']].value_counts()

displacement_type     year
Non-displaced         2021    217586
                      2020    209844
                      2016    199323
                      2017    192308
                      2019    187240
                      2018    185014
                      2023    150730
                      2022    129764
Displaced_abroad      2022     23261
                      2023     19290
Displaced_internally  2022     13302
                      2023     10794
                      2020      1339
                      2016      1222
                      2021       777
                      2017       509
                      2019       412
                      2018       336
Name: count, dtype: int64

In [73]:
df_ukr_graduated_2022 = df_ukr_graduated[df_ukr_graduated.year==2022]

In [74]:
df_ukr_graduated_2022[df_ukr_graduated_2022['displacement_type']!='Non-displaced'].category.value_counts()

category
districts in cities    18559
city                   12170
village                 3070
urban village           2600
settlement               164
Name: count, dtype: int64

In [82]:
df_ukr_graduated_showed = df_ukr_graduated[~df_ukr_graduated.test_status.isin(['Absent', 'Not selected 100-200'])]
df_ukr_graduated_showed.test_status.value_counts()

test_status
Accepted    1389099
Failed        87056
Canceled        527
Name: count, dtype: int64

In [83]:
pivot = pd.pivot_table(df_ukr_graduated_showed, index = ['test_status'], columns = ['year'], values=['outid'], aggfunc='count')
pivot

              outid
year           2016    2017    2018    2019    2020    2021    2022    2023
test_status
Accepted     179625  176540  168969  170901  177368  185770  155382  174544
Canceled         95     134      69      92      19      39      27      52
Failed        19280   14914   15271   15722   11124   10559      47     139

In [87]:
total_pivot = [len(df_ukr_graduated_showed[df_ukr_graduated_showed['year']==year].outid.unique()) for year in range(2016, 2024)]
print('Failure rate for graduating students (Ukrainian test)')
pivot.div(total_pivot).round(3)

Failure rate for graduating students (Ukrainian test)

             outid
year          2016   2017   2018   2019   2020   2021 2022   2023
test_status
Accepted     0.903  0.921  0.917  0.915  0.941  0.946  1.0  0.999
Canceled     0.000  0.001  0.000  0.000  0.000  0.000  0.0  0.000
Failed       0.097  0.078  0.083  0.084  0.059  0.054  0.0  0.001

# Math

In [75]:
df_math_graduated = df_graduated_tests[df_graduated_tests.test_subject == 'mathtest']
sum(df_math_graduated.duplicated())

0

In [78]:
df_math_graduated_showed = df_math_graduated[~df_math_graduated.test_status.isin(['Absent', 'Not selected 100-200'])]
df_math_graduated_showed.test_status.value_counts()

test_status
Accepted    869309
Failed      105945
Canceled       381
Name: count, dtype: int64

In [88]:
pivot = pd.pivot_table(df_math_graduated_showed, index = ['test_status'], columns = ['year'], values=['outid'], aggfunc='count')
pivot

             outid
year          2016   2017   2018   2019   2020    2021    2022    2023
test_status
Accepted     84928  77757  75032  86819  98095  122972  155299  168407
Canceled        76     41     47     33     20      85      27      52
Failed       12347  12753  13263  10859   9930   40387     130    6276

In [90]:
total_pivot = [len(df_math_graduated_showed[df_math_graduated_showed['year']==year].outid.unique()) for year in range(2016, 2024)]
print('Failure rate for graduating students (Math)')
pivot.div(total_pivot).round(3)

Failure rate for graduating students (Math)

             outid
year          2016   2017   2018   2019   2020   2021   2022   2023
test_status
Accepted     0.872  0.859  0.849  0.889  0.908  0.752  0.999  0.964
Canceled     0.001  0.000  0.001  0.000  0.000  0.001  0.000  0.000
Failed       0.127  0.141  0.150  0.111  0.092  0.247  0.001  0.036