In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np

# Data preparation

In [3]:
df_students = pd.read_csv('../tables_creation/final_tables/students.csv', dtype={'KATOTTG_2023': str, 'EDRPOU_school': str})
df_students.columns

/var/folders/cz/wq9d8j_11fx3b8pjjbk7z8br0000gn/T/ipykernel_78690/1080893059.py:1: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_students = pd.read_csv('../tables_creation/final_tables/students.csv', dtype={'KATOTTG_2023': str, 'EDRPOU_school': str})

Index(['outid', 'birth', 'sextypename', 'classprofilename', 'regtypename',
       'classlangname', 'KATOTTG_2023', 'EDRPOU_school', 'year', 'status'],
      dtype='object')

In [4]:
df_students = df_students[['outid', 'birth', 'sextypename', 'KATOTTG_2023', 'year', 'EDRPOU_school', 'status']]
df_students

,outid,birth,sextypename,KATOTTG_2023,year,EDRPOU_school,status
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,UA23080270010078454,2016,26373098,A graduate of an Ukrainian school of the curre...
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,UA68040210010032567,2016,25880114,A graduate of an Ukrainian school of the curre...
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,UA73060610010033137,2016,21431046,A graduate of an Ukrainian school of the curre...
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,UA14120030010055241,2016,25705061,A graduate of an Ukrainian school of the curre...
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,UA61040490010069060,2016,14040173,A graduate of an Ukrainian school of the curre...
...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,UA59020070010054283,2023,NaN,A graduate of previous years
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,UA32100010010059200,2023,NaN,A graduate of previous years
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,UA56080170010061049,2023,NaN,A graduate of previous years
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,UA51100270010320268,2023,NaN,A graduate of previous years
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,UA07060190010068509,2023,NaN,A graduate of previous years

In [5]:
df_location = pd.read_csv('../tables_creation/final_tables/locations_base.csv', dtype={'KOATUU_2020': str, 'KATOTTG_2023': str})
df_location = df_location.drop_duplicates(subset=['KATOTTG_2023'], keep='first')
df_location.head()

,KATOTTG_2023,KOATUU_2020,category,ukrainian_name,english_name
0,UA01000000000013043,0100000000,region,Автономна Республіка Крим,Avtonomna Respublika Krym
1,UA01020000000022387,0120400000,district,Бахчисарайський,Bakhchysaraiskyi
2,UA01020010000048857,8536990200,hromada,Андріївська,NaN
3,UA01020010010075540,8536990201,village,Андріївка,NaN
4,UA01020010020030666,8536990203,settlement,Сонячний,NaN

In [6]:
region_df=df_location[df_location.category.isin(['region', 'capital'])][['KATOTTG_2023', 'english_name']]
region_df['KATOTTG_2023_region'] = region_df['KATOTTG_2023'].str[:4]
region_df.drop(columns='KATOTTG_2023', inplace=True)
region_df.reset_index(inplace=True, drop=True)
region_df

                 english_name KATOTTG_2023_region
0   Avtonomna Respublika Krym                UA01
1                   Vinnytska                UA05
2                    Volynska                UA07
3             Dnipropetrovska                UA12
4                    Donetska                UA14
5                 Zhytomyrskа                UA18
6                 Zakarpatska                UA21
7                   Zaporizka                UA23
8            Ivano-Frankivska                UA26
9                     Kyivska                UA32
10              Kirovohradska                UA35
11                   Luhanska                UA44
12                    Lvivska                UA46
13                Mykolaivska                UA48
14                     Odeska                UA51
15                  Poltavska                UA53
16                  Rivnenska                UA56
17                     Sumska                UA59
18                Ternopilska                UA61
19                 Kharkivska                UA63
20                 Khersonska                UA65
21                Khmelnytska                UA68
22                  Cherkaska                UA71
23               Chernivetska                UA73
24               Chernihivska                UA74
25                       Kyiv                UA80
26                 Sevastopol                UA85

In [7]:
abroad_df=df_location[(df_location.category=='abroad')&(df_location.KATOTTG_2023.str[4:6]=='00')][['KATOTTG_2023', 'english_name']]
abroad_df['KATOTTG_2023_region'] = abroad_df['KATOTTG_2023'].str[:4]
abroad_df.drop(columns='KATOTTG_2023', inplace=True)
abroad_df.reset_index(inplace=True, drop=True)
abroad_df

                english_name KATOTTG_2023_region
0                    Ireland                OC01
1                      Spain                OC02
2                      Italy                OC03
3                 Azerbaijan                OC04
4                     Austia                OC05
5                    Belgium                OC06
6                   Bulgaria                OC07
7             United Kingdom                OC08
8                     Greece                OC09
9                    Georgia                OC10
10                   Denmark                OC11
11                   Estonia                OC12
12                    Canada                OC13
13                    Latvia                OC14
14                 Lithuania                OC15
15                Luxembourg                OC16
16                   Moldova                OC17
17               Netherlands                OC18
18                   Germany                OC19
19                    Norway                OC20
20                    Poland                OC21
21                  Portugal                OC22
22                   Romania                OC23
23                  Slovakia                OC24
24                  Slovenia                OC25
25  United States of America                OC26
26                    Turkey                OC27
27                   Hungary                OC28
28                   Finland                OC29
29                    France                OC30
30                   Croatia                OC31
31                   Czechia                OC32
32               Switzerland                OC33
33                    Sweden                OC34

In [8]:
df_students_region = df_students.merge(df_location[['KATOTTG_2023', 'category']], on = ['KATOTTG_2023'], how = 'left')
df_students_region['KATOTTG_2023_region']=df_students_region['KATOTTG_2023'].str[:4]
df_students_region

,outid,birth,sextypename,KATOTTG_2023,year,EDRPOU_school,status,category,KATOTTG_2023_region
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,UA23080270010078454,2016,26373098,A graduate of an Ukrainian school of the curre...,village,UA23
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,UA68040210010032567,2016,25880114,A graduate of an Ukrainian school of the curre...,city,UA68
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,UA73060610010033137,2016,21431046,A graduate of an Ukrainian school of the curre...,city,UA73
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,UA14120030010055241,2016,25705061,A graduate of an Ukrainian school of the curre...,city,UA14
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,UA61040490010069060,2016,14040173,A graduate of an Ukrainian school of the curre...,city,UA61
...,...,...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,UA59020070010054283,2023,NaN,A graduate of previous years,city,UA59
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,UA32100010010059200,2023,NaN,A graduate of previous years,city,UA32
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,UA56080170010061049,2023,NaN,A graduate of previous years,city,UA56
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,UA51100270010320268,2023,NaN,A graduate of previous years,districts in cities,UA51
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,UA07060190010068509,2023,NaN,A graduate of previous years,city,UA07

In [9]:
df_students_region = df_students_region.merge(region_df, on = ['KATOTTG_2023_region'], how = 'left')
df_students_region

,outid,birth,sextypename,KATOTTG_2023,year,EDRPOU_school,status,category,KATOTTG_2023_region,english_name
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,UA23080270010078454,2016,26373098,A graduate of an Ukrainian school of the curre...,village,UA23,Zaporizka
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,UA68040210010032567,2016,25880114,A graduate of an Ukrainian school of the curre...,city,UA68,Khmelnytska
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,UA73060610010033137,2016,21431046,A graduate of an Ukrainian school of the curre...,city,UA73,Chernivetska
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,UA14120030010055241,2016,25705061,A graduate of an Ukrainian school of the curre...,city,UA14,Donetska
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,UA61040490010069060,2016,14040173,A graduate of an Ukrainian school of the curre...,city,UA61,Ternopilska
...,...,...,...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,UA59020070010054283,2023,NaN,A graduate of previous years,city,UA59,Sumska
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,UA32100010010059200,2023,NaN,A graduate of previous years,city,UA32,Kyivska
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,UA56080170010061049,2023,NaN,A graduate of previous years,city,UA56,Rivnenska
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,UA51100270010320268,2023,NaN,A graduate of previous years,districts in cities,UA51,Odeska
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,UA07060190010068509,2023,NaN,A graduate of previous years,city,UA07,Volynska

In [10]:
df_students_region = df_students_region.merge(abroad_df, on = ['KATOTTG_2023_region'], how = 'left')
df_students_region

,outid,birth,sextypename,KATOTTG_2023,year,EDRPOU_school,status,category,KATOTTG_2023_region,english_name_x,english_name_y
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,UA23080270010078454,2016,26373098,A graduate of an Ukrainian school of the curre...,village,UA23,Zaporizka,NaN
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,UA68040210010032567,2016,25880114,A graduate of an Ukrainian school of the curre...,city,UA68,Khmelnytska,NaN
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,UA73060610010033137,2016,21431046,A graduate of an Ukrainian school of the curre...,city,UA73,Chernivetska,NaN
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,UA14120030010055241,2016,25705061,A graduate of an Ukrainian school of the curre...,city,UA14,Donetska,NaN
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,UA61040490010069060,2016,14040173,A graduate of an Ukrainian school of the curre...,city,UA61,Ternopilska,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,UA59020070010054283,2023,NaN,A graduate of previous years,city,UA59,Sumska,NaN
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,UA32100010010059200,2023,NaN,A graduate of previous years,city,UA32,Kyivska,NaN
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,UA56080170010061049,2023,NaN,A graduate of previous years,city,UA56,Rivnenska,NaN
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,UA51100270010320268,2023,NaN,A graduate of previous years,districts in cities,UA51,Odeska,NaN
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,UA07060190010068509,2023,NaN,A graduate of previous years,city,UA07,Volynska,NaN

In [11]:
df_students_region.loc[df_students_region.english_name_x.isna(), 'english_name_x'] =df_students_region.english_name_y

In [12]:
df_students_region.drop(columns='english_name_y', inplace=True)
df_students_region.rename(columns={'english_name_x':'region_name'}, inplace=True)
df_students_region

,outid,birth,sextypename,KATOTTG_2023,year,EDRPOU_school,status,category,KATOTTG_2023_region,region_name
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,UA23080270010078454,2016,26373098,A graduate of an Ukrainian school of the curre...,village,UA23,Zaporizka
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,UA68040210010032567,2016,25880114,A graduate of an Ukrainian school of the curre...,city,UA68,Khmelnytska
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,UA73060610010033137,2016,21431046,A graduate of an Ukrainian school of the curre...,city,UA73,Chernivetska
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,UA14120030010055241,2016,25705061,A graduate of an Ukrainian school of the curre...,city,UA14,Donetska
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,UA61040490010069060,2016,14040173,A graduate of an Ukrainian school of the curre...,city,UA61,Ternopilska
...,...,...,...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,UA59020070010054283,2023,NaN,A graduate of previous years,city,UA59,Sumska
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,UA32100010010059200,2023,NaN,A graduate of previous years,city,UA32,Kyivska
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,UA56080170010061049,2023,NaN,A graduate of previous years,city,UA56,Rivnenska
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,UA51100270010320268,2023,NaN,A graduate of previous years,districts in cities,UA51,Odeska
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,UA07060190010068509,2023,NaN,A graduate of previous years,city,UA07,Volynska

In [13]:
df_students_region[df_students_region.region_name.isna()]

Empty DataFrame
Columns: [outid, birth, sextypename, KATOTTG_2023, year, EDRPOU_school, status, category, KATOTTG_2023_region, region_name]
Index: []

In [14]:
df_students_region.region_name.unique()

array(['Zaporizka', 'Khmelnytska', 'Chernivetska', 'Donetska',
       'Ternopilska', 'Kirovohradska', 'Odeska', 'Dnipropetrovska',
       'Lvivska', 'Ivano-Frankivska', 'Kharkivska', 'Cherkaska',
       'Volynska', 'Poltavska', 'Rivnenska', 'Vinnytska', 'Chernihivska',
       'Kyivska', 'Zakarpatska', 'Kyiv', 'Zhytomyrskа', 'Mykolaivska',
       'Khersonska', 'Luhanska', 'Sumska', 'Poland', 'France', 'Germany',
       'Estonia', 'Norway', 'Slovakia', 'Austia', 'United Kingdom',
       'Ireland', 'Bulgaria', 'Moldova', 'Portugal', 'Azerbaijan',
       'Hungary', 'Italy', 'Turkey', 'Czechia', 'Belgium', 'Spain',
       'Canada', 'Croatia', 'Latvia', 'Romania', 'Lithuania', 'Georgia',
       'United States of America', 'Finland', 'Sweden', 'Luxembourg',
       'Netherlands', 'Denmark', 'Switzerland'], dtype=object)

In [15]:
df_students_region['abroad'] = df_students_region['KATOTTG_2023_region'].map(lambda x: 1 if x[:2] == 'OC' else 0)
df_students_region.drop(['KATOTTG_2023', 'KATOTTG_2023_region'], axis = 1, inplace=True)
df_students_region

,outid,birth,sextypename,year,EDRPOU_school,status,category,region_name,abroad
0,a99c6c63-aa70-4aec-ba42-370f7261e857,1998,Male,2016,26373098,A graduate of an Ukrainian school of the curre...,village,Zaporizka,0
1,c3136421-569e-422e-ae8f-41c4c931fd70,1998,Female,2016,25880114,A graduate of an Ukrainian school of the curre...,city,Khmelnytska,0
2,30de395e-7a74-452a-8370-6856d240fbfb,1999,Male,2016,21431046,A graduate of an Ukrainian school of the curre...,city,Chernivetska,0
3,852ca6ab-7fbd-40ad-ae51-39dc94edc9e1,1999,Female,2016,25705061,A graduate of an Ukrainian school of the curre...,city,Donetska,0
4,bc9b70ca-c091-440f-b1de-f04b308f3a54,1999,Male,2016,14040173,A graduate of an Ukrainian school of the curre...,city,Ternopilska,0
...,...,...,...,...,...,...,...,...,...
2490047,98f773cf-4b79-425b-a415-2eb5dd097199,2003,Male,2023,NaN,A graduate of previous years,city,Sumska,0
2490048,98dc27ec-1801-4741-b8f7-3a2ca8b6e772,1996,Female,2023,NaN,A graduate of previous years,city,Kyivska,0
2490049,995cc588-5c44-45bd-8f0c-3f70ff1e746e,2004,Female,2023,NaN,A graduate of previous years,city,Rivnenska,0
2490050,98fc3ab5-1d6c-44ec-8e5e-3fd5e1dd3d24,2005,Female,2023,NaN,A graduate of previous years,districts in cities,Odeska,0
2490051,98de6ea2-28f3-4951-990a-9a3ff45449de,2004,Male,2023,NaN,A graduate of previous years,city,Volynska,0

# Block1. Abstract. Total numbers

## All participants

Total number of participants 2.49M

In [30]:
df_students_region.shape

(2490052, 9)

Total number of participants impacted by war - 523K

In [32]:
df_students_region[df_students_region.year.isin([2022, 2023])].shape

(523039, 9)

Percentage drop in registration - 40%

In [37]:
round(df_students_region[df_students_region.year == 2022].shape[0]/(df_students_region[df_students_region.year == 2021].shape[0])*100,1)

60.1

## Graduates

Total number of graduates 1.5M

In [33]:
df_graduated_region=df_students_region[(df_students_region.status == 'A graduate of an Ukrainian school of the current year')|(df_students_region.status == 'A graduate of a foreign school')]
df_graduated_region.shape

(1544655, 9)

Total number of participants impacted by war - 347K

In [34]:
df_graduated_region[df_graduated_region.year.isin([2022, 2023])].shape

(347141, 9)

Percentage drop in registration among graduates - 24.3%

In [36]:
round(df_graduated_region[df_graduated_region.year == 2022].shape[0]/(df_graduated_region[df_graduated_region.year == 2021].shape[0])*100,1)

75.7

# Further data preparation

In [16]:
df_st_take_test = pd.read_csv('../tables_creation/final_tables/students_take_tests.csv',  dtype={'KATOTTG_2023_test_center': str, 'EDRPOU_test_center':str})
# df_st_take_test.dropna(subset = ['KOATUU_2020_test_center'], inplace=True)
df_st_take_test = df_st_take_test[df_st_take_test.test_status != 'Not registered for the main session']
df_st_take_test

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,161.0,9.0,NaN,Accepted,ukrtest,EIE,UA51100270010275193,20995060
1,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,ukrtest,EIE,UA18060090010074365,22061344
2,00001a8d-fff5-4c7c-bea2-b0157f7c5655,2021,128.0,6.0,31.0,Accepted,ukrtest,EIE,UA71080490010144486,25922746
3,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,160.0,8.0,NaN,Accepted,ukrtest,EIE,UA63120270010216514,24486622
4,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,166.0,9.0,69.0,Accepted,ukrtest,EIE,UA46100230010074173,34387362
...,...,...,...,...,...,...,...,...,...,...
10597971,fffdecee-6adc-4de9-9f11-3895f6652b99,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA21120250010053148,26325975
10597972,fffed487-0571-4dc2-93e8-c9fbc293c02d,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA74040250010023991,02125668
10597973,ffff3ae9-5e83-4c92-bdec-d080cc49b1b6,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48060150010139573,05537288
10597974,ffff820f-d5d0-4e38-814e-7e958770e85b,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48020190010089719,26117159
10597975,fffff6db-6fcc-481f-aa92-49906c0ad1c8,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA46060250010457177,20823778

In [17]:
df = df_st_take_test.merge(df_students_region, on = ['outid', 'year'], how = 'left')
df

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center,birth,sextypename,EDRPOU_school,status,category,region_name,abroad
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,161.0,9.0,NaN,Accepted,ukrtest,EIE,UA51100270010275193,20995060,2000,Female,23864660,A graduate of an Ukrainian school of the curre...,districts in cities,Odeska,0
1,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,ukrtest,EIE,UA18060090010074365,22061344,2004,Male,22056432,A graduate of an Ukrainian school of the curre...,village,Zhytomyrskа,0
2,00001a8d-fff5-4c7c-bea2-b0157f7c5655,2021,128.0,6.0,31.0,Accepted,ukrtest,EIE,UA71080490010144486,25922746,2002,Male,05538052,A graduate of a vocational pre-higher educatio...,districts in cities,Cherkaska,0
3,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,160.0,8.0,NaN,Accepted,ukrtest,EIE,UA63120270010216514,24486622,1998,Male,23320374,A graduate of an Ukrainian school of the curre...,districts in cities,Kharkivska,0
4,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,166.0,9.0,69.0,Accepted,ukrtest,EIE,UA46100230010074173,34387362,2001,Male,20773804,A graduate of an Ukrainian school of the curre...,city,Lvivska,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8260196,fffdecee-6adc-4de9-9f11-3895f6652b99,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA21120250010053148,26325975,2004,Female,26325886,A graduate of an Ukrainian school of the curre...,city,Zakarpatska,0
8260197,fffed487-0571-4dc2-93e8-c9fbc293c02d,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA74040250010023991,02125668,2004,Female,33439420,A graduate of an Ukrainian school of the curre...,city,Chernihivska,0
8260198,ffff3ae9-5e83-4c92-bdec-d080cc49b1b6,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48060150010139573,05537288,1997,Female,02546140,A graduate of a vocational pre-higher educatio...,settlement,Mykolaivska,0
8260199,ffff820f-d5d0-4e38-814e-7e958770e85b,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48020190010089719,26117159,2003,Male,02545991,A graduate of a vocational pre-higher educatio...,urban village,Mykolaivska,0
8260200,fffff6db-6fcc-481f-aa92-49906c0ad1c8,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA46060250010457177,20823778,2003,Female,33195557,A graduate of a vocational pre-higher educatio...,districts in cities,Lvivska,0

In [18]:
df_location_test_center = df_location.rename(columns={'KATOTTG_2023':'KATOTTG_2023_test_center', 'category':'category_test_center'})

In [19]:
df = df.merge(df_location_test_center[['KATOTTG_2023_test_center', 'category_test_center']], on = ['KATOTTG_2023_test_center'], how = 'left')
df['KATOTTG_2023_region_test_center']=df['KATOTTG_2023_test_center'].str[:4]
df

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center,birth,sextypename,EDRPOU_school,status,category,region_name,abroad,category_test_center,KATOTTG_2023_region_test_center
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,161.0,9.0,NaN,Accepted,ukrtest,EIE,UA51100270010275193,20995060,2000,Female,23864660,A graduate of an Ukrainian school of the curre...,districts in cities,Odeska,0,districts in cities,UA51
1,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,ukrtest,EIE,UA18060090010074365,22061344,2004,Male,22056432,A graduate of an Ukrainian school of the curre...,village,Zhytomyrskа,0,city,UA18
2,00001a8d-fff5-4c7c-bea2-b0157f7c5655,2021,128.0,6.0,31.0,Accepted,ukrtest,EIE,UA71080490010144486,25922746,2002,Male,05538052,A graduate of a vocational pre-higher educatio...,districts in cities,Cherkaska,0,districts in cities,UA71
3,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,160.0,8.0,NaN,Accepted,ukrtest,EIE,UA63120270010216514,24486622,1998,Male,23320374,A graduate of an Ukrainian school of the curre...,districts in cities,Kharkivska,0,districts in cities,UA63
4,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,166.0,9.0,69.0,Accepted,ukrtest,EIE,UA46100230010074173,34387362,2001,Male,20773804,A graduate of an Ukrainian school of the curre...,city,Lvivska,0,city,UA46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8260196,fffdecee-6adc-4de9-9f11-3895f6652b99,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA21120250010053148,26325975,2004,Female,26325886,A graduate of an Ukrainian school of the curre...,city,Zakarpatska,0,city,UA21
8260197,fffed487-0571-4dc2-93e8-c9fbc293c02d,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA74040250010023991,02125668,2004,Female,33439420,A graduate of an Ukrainian school of the curre...,city,Chernihivska,0,city,UA74
8260198,ffff3ae9-5e83-4c92-bdec-d080cc49b1b6,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48060150010139573,05537288,1997,Female,02546140,A graduate of a vocational pre-higher educatio...,settlement,Mykolaivska,0,districts in cities,UA48
8260199,ffff820f-d5d0-4e38-814e-7e958770e85b,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48020190010089719,26117159,2003,Male,02545991,A graduate of a vocational pre-higher educatio...,urban village,Mykolaivska,0,city,UA48
8260200,fffff6db-6fcc-481f-aa92-49906c0ad1c8,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA46060250010457177,20823778,2003,Female,33195557,A graduate of a vocational pre-higher educatio...,districts in cities,Lvivska,0,districts in cities,UA46

In [20]:
region_df_ukr=df_location_test_center[df_location_test_center.category_test_center.isin(['region', 'capital'])][['KATOTTG_2023_test_center', 'english_name']]
region_df_ukr['KATOTTG_2023_region_test_center'] = region_df_ukr['KATOTTG_2023_test_center'].str[:4]
region_df_ukr.drop(columns='KATOTTG_2023_test_center', inplace=True)
region_df_ukr.reset_index(inplace=True, drop=True)
region_df_ukr

                 english_name KATOTTG_2023_region_test_center
0   Avtonomna Respublika Krym                            UA01
1                   Vinnytska                            UA05
2                    Volynska                            UA07
3             Dnipropetrovska                            UA12
4                    Donetska                            UA14
5                 Zhytomyrskа                            UA18
6                 Zakarpatska                            UA21
7                   Zaporizka                            UA23
8            Ivano-Frankivska                            UA26
9                     Kyivska                            UA32
10              Kirovohradska                            UA35
11                   Luhanska                            UA44
12                    Lvivska                            UA46
13                Mykolaivska                            UA48
14                     Odeska                            UA51
15                  Poltavska                            UA53
16                  Rivnenska                            UA56
17                     Sumska                            UA59
18                Ternopilska                            UA61
19                 Kharkivska                            UA63
20                 Khersonska                            UA65
21                Khmelnytska                            UA68
22                  Cherkaska                            UA71
23               Chernivetska                            UA73
24               Chernihivska                            UA74
25                       Kyiv                            UA80
26                 Sevastopol                            UA85

In [21]:
df = df.merge(region_df_ukr, on = ['KATOTTG_2023_region_test_center'], how = 'left')
df

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center,birth,sextypename,EDRPOU_school,status,category,region_name,abroad,category_test_center,KATOTTG_2023_region_test_center,english_name
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,161.0,9.0,NaN,Accepted,ukrtest,EIE,UA51100270010275193,20995060,2000,Female,23864660,A graduate of an Ukrainian school of the curre...,districts in cities,Odeska,0,districts in cities,UA51,Odeska
1,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,ukrtest,EIE,UA18060090010074365,22061344,2004,Male,22056432,A graduate of an Ukrainian school of the curre...,village,Zhytomyrskа,0,city,UA18,Zhytomyrskа
2,00001a8d-fff5-4c7c-bea2-b0157f7c5655,2021,128.0,6.0,31.0,Accepted,ukrtest,EIE,UA71080490010144486,25922746,2002,Male,05538052,A graduate of a vocational pre-higher educatio...,districts in cities,Cherkaska,0,districts in cities,UA71,Cherkaska
3,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,160.0,8.0,NaN,Accepted,ukrtest,EIE,UA63120270010216514,24486622,1998,Male,23320374,A graduate of an Ukrainian school of the curre...,districts in cities,Kharkivska,0,districts in cities,UA63,Kharkivska
4,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,166.0,9.0,69.0,Accepted,ukrtest,EIE,UA46100230010074173,34387362,2001,Male,20773804,A graduate of an Ukrainian school of the curre...,city,Lvivska,0,city,UA46,Lvivska
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8260196,fffdecee-6adc-4de9-9f11-3895f6652b99,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA21120250010053148,26325975,2004,Female,26325886,A graduate of an Ukrainian school of the curre...,city,Zakarpatska,0,city,UA21,Zakarpatska
8260197,fffed487-0571-4dc2-93e8-c9fbc293c02d,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA74040250010023991,02125668,2004,Female,33439420,A graduate of an Ukrainian school of the curre...,city,Chernihivska,0,city,UA74,Chernihivska
8260198,ffff3ae9-5e83-4c92-bdec-d080cc49b1b6,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48060150010139573,05537288,1997,Female,02546140,A graduate of a vocational pre-higher educatio...,settlement,Mykolaivska,0,districts in cities,UA48,Mykolaivska
8260199,ffff820f-d5d0-4e38-814e-7e958770e85b,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48020190010089719,26117159,2003,Male,02545991,A graduate of a vocational pre-higher educatio...,urban village,Mykolaivska,0,city,UA48,Mykolaivska
8260200,fffff6db-6fcc-481f-aa92-49906c0ad1c8,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA46060250010457177,20823778,2003,Female,33195557,A graduate of a vocational pre-higher educatio...,districts in cities,Lvivska,0,districts in cities,UA46,Lvivska

In [22]:
abroad_df_ukr=df_location_test_center[(df_location_test_center.category_test_center=='abroad')&(df_location_test_center.KATOTTG_2023_test_center.str[4:6]=='00')][['KATOTTG_2023_test_center', 'english_name']]
abroad_df_ukr['KATOTTG_2023_region_test_center'] = abroad_df_ukr['KATOTTG_2023_test_center'].str[:4]
abroad_df_ukr.drop(columns='KATOTTG_2023_test_center', inplace=True)
abroad_df_ukr.reset_index(inplace=True, drop=True)
abroad_df_ukr

                english_name KATOTTG_2023_region_test_center
0                    Ireland                            OC01
1                      Spain                            OC02
2                      Italy                            OC03
3                 Azerbaijan                            OC04
4                     Austia                            OC05
5                    Belgium                            OC06
6                   Bulgaria                            OC07
7             United Kingdom                            OC08
8                     Greece                            OC09
9                    Georgia                            OC10
10                   Denmark                            OC11
11                   Estonia                            OC12
12                    Canada                            OC13
13                    Latvia                            OC14
14                 Lithuania                            OC15
15                Luxembourg                            OC16
16                   Moldova                            OC17
17               Netherlands                            OC18
18                   Germany                            OC19
19                    Norway                            OC20
20                    Poland                            OC21
21                  Portugal                            OC22
22                   Romania                            OC23
23                  Slovakia                            OC24
24                  Slovenia                            OC25
25  United States of America                            OC26
26                    Turkey                            OC27
27                   Hungary                            OC28
28                   Finland                            OC29
29                    France                            OC30
30                   Croatia                            OC31
31                   Czechia                            OC32
32               Switzerland                            OC33
33                    Sweden                            OC34

In [23]:
df = df.merge(abroad_df_ukr, on = ['KATOTTG_2023_region_test_center'], how = 'left')
df

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center,...,sextypename,EDRPOU_school,status,category,region_name,abroad,category_test_center,KATOTTG_2023_region_test_center,english_name_x,english_name_y
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,161.0,9.0,NaN,Accepted,ukrtest,EIE,UA51100270010275193,20995060,...,Female,23864660,A graduate of an Ukrainian school of the curre...,districts in cities,Odeska,0,districts in cities,UA51,Odeska,NaN
1,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,ukrtest,EIE,UA18060090010074365,22061344,...,Male,22056432,A graduate of an Ukrainian school of the curre...,village,Zhytomyrskа,0,city,UA18,Zhytomyrskа,NaN
2,00001a8d-fff5-4c7c-bea2-b0157f7c5655,2021,128.0,6.0,31.0,Accepted,ukrtest,EIE,UA71080490010144486,25922746,...,Male,05538052,A graduate of a vocational pre-higher educatio...,districts in cities,Cherkaska,0,districts in cities,UA71,Cherkaska,NaN
3,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,160.0,8.0,NaN,Accepted,ukrtest,EIE,UA63120270010216514,24486622,...,Male,23320374,A graduate of an Ukrainian school of the curre...,districts in cities,Kharkivska,0,districts in cities,UA63,Kharkivska,NaN
4,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,166.0,9.0,69.0,Accepted,ukrtest,EIE,UA46100230010074173,34387362,...,Male,20773804,A graduate of an Ukrainian school of the curre...,city,Lvivska,0,city,UA46,Lvivska,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8260196,fffdecee-6adc-4de9-9f11-3895f6652b99,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA21120250010053148,26325975,...,Female,26325886,A graduate of an Ukrainian school of the curre...,city,Zakarpatska,0,city,UA21,Zakarpatska,NaN
8260197,fffed487-0571-4dc2-93e8-c9fbc293c02d,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA74040250010023991,02125668,...,Female,33439420,A graduate of an Ukrainian school of the curre...,city,Chernihivska,0,city,UA74,Chernihivska,NaN
8260198,ffff3ae9-5e83-4c92-bdec-d080cc49b1b6,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48060150010139573,05537288,...,Female,02546140,A graduate of a vocational pre-higher educatio...,settlement,Mykolaivska,0,districts in cities,UA48,Mykolaivska,NaN
8260199,ffff820f-d5d0-4e38-814e-7e958770e85b,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48020190010089719,26117159,...,Male,02545991,A graduate of a vocational pre-higher educatio...,urban village,Mykolaivska,0,city,UA48,Mykolaivska,NaN
8260200,fffff6db-6fcc-481f-aa92-49906c0ad1c8,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA46060250010457177,20823778,...,Female,33195557,A graduate of a vocational pre-higher educatio...,districts in cities,Lvivska,0,districts in cities,UA46,Lvivska,NaN

In [24]:
df.loc[df.english_name_x.isna(), 'english_name_x'] =df.english_name_y

In [25]:
df.drop(columns='english_name_y', inplace=True)
df.rename(columns={'english_name_x':'region_name_test_center'}, inplace=True)
df

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center,birth,sextypename,EDRPOU_school,status,category,region_name,abroad,category_test_center,KATOTTG_2023_region_test_center,region_name_test_center
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,161.0,9.0,NaN,Accepted,ukrtest,EIE,UA51100270010275193,20995060,2000,Female,23864660,A graduate of an Ukrainian school of the curre...,districts in cities,Odeska,0,districts in cities,UA51,Odeska
1,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,ukrtest,EIE,UA18060090010074365,22061344,2004,Male,22056432,A graduate of an Ukrainian school of the curre...,village,Zhytomyrskа,0,city,UA18,Zhytomyrskа
2,00001a8d-fff5-4c7c-bea2-b0157f7c5655,2021,128.0,6.0,31.0,Accepted,ukrtest,EIE,UA71080490010144486,25922746,2002,Male,05538052,A graduate of a vocational pre-higher educatio...,districts in cities,Cherkaska,0,districts in cities,UA71,Cherkaska
3,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,160.0,8.0,NaN,Accepted,ukrtest,EIE,UA63120270010216514,24486622,1998,Male,23320374,A graduate of an Ukrainian school of the curre...,districts in cities,Kharkivska,0,districts in cities,UA63,Kharkivska
4,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,166.0,9.0,69.0,Accepted,ukrtest,EIE,UA46100230010074173,34387362,2001,Male,20773804,A graduate of an Ukrainian school of the curre...,city,Lvivska,0,city,UA46,Lvivska
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8260196,fffdecee-6adc-4de9-9f11-3895f6652b99,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA21120250010053148,26325975,2004,Female,26325886,A graduate of an Ukrainian school of the curre...,city,Zakarpatska,0,city,UA21,Zakarpatska
8260197,fffed487-0571-4dc2-93e8-c9fbc293c02d,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA74040250010023991,02125668,2004,Female,33439420,A graduate of an Ukrainian school of the curre...,city,Chernihivska,0,city,UA74,Chernihivska
8260198,ffff3ae9-5e83-4c92-bdec-d080cc49b1b6,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48060150010139573,05537288,1997,Female,02546140,A graduate of a vocational pre-higher educatio...,settlement,Mykolaivska,0,districts in cities,UA48,Mykolaivska
8260199,ffff820f-d5d0-4e38-814e-7e958770e85b,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA48020190010089719,26117159,2003,Male,02545991,A graduate of a vocational pre-higher educatio...,urban village,Mykolaivska,0,city,UA48,Mykolaivska
8260200,fffff6db-6fcc-481f-aa92-49906c0ad1c8,2021,NaN,NaN,NaN,Absent,mathsttest,EIE,UA46060250010457177,20823778,2003,Female,33195557,A graduate of a vocational pre-higher educatio...,districts in cities,Lvivska,0,districts in cities,UA46,Lvivska

# Block2. Abstract. Displacement

In [41]:
df['displaced'] = np.where(df['region_name'] != df['region_name_test_center'], 1, 0)

In [49]:
df.category_test_center.unique()

array(['districts in cities', 'city', 'abroad', 'urban village',
       'village', 'settlement'], dtype=object)

In [50]:
df['location_test_center_type'] = df.category_test_center.map(lambda x: 'Rural' if x in ['village', 'urban village','settlement']  else ('Abroad' if x == 'abroad' else 'Urban'))

In [51]:
conditions = [
    (df['displaced'] == 0),
    (df['displaced'] == 1) & (df['location_test_center_type'] == 'Abroad'),
    (df['displaced'] == 1) & (df['location_test_center_type'] != 'Abroad')
]

choices = [
    'Non-displaced',
    'Displaced_abroad',
    'Displaced_internally'
]

df['displacement_type'] = np.select(conditions, choices, default='Not Specified')

### Displacement 2022 all participants

In [47]:
df[(df.year==2022)&(df.test_subject == 'ukrtest')].displaced.value_counts(normalize=True)

displaced
0    0.796095
1    0.203905
Name: proportion, dtype: float64

In [52]:
df[(df.year==2022)&(df.test_subject == 'ukrtest')].displacement_type.value_counts(normalize=True)

displacement_type
Non-displaced           0.796095
Displaced_abroad        0.117004
Displaced_internally    0.086902
Name: proportion, dtype: float64

In [58]:
df[(df.year==2022)&(df.test_subject == 'ukrtest')&(df.displaced==1)].displacement_type.value_counts(normalize=True)

displacement_type
Displaced_abroad        0.573814
Displaced_internally    0.426186
Name: proportion, dtype: float64

### Displacement 2022 graduates

In [61]:
df_graduated_tests=df[(df.status == 'A graduate of an Ukrainian school of the current year')|(df.status == 'A graduate of a foreign school')]

Displacement 2022 graduates near 22%

In [62]:
df_graduated_tests[(df_graduated_tests.year==2022)&(df_graduated_tests.test_subject == 'ukrtest')].displaced.value_counts(normalize=True)

displaced
0    0.780174
1    0.219826
Name: proportion, dtype: float64

In [63]:
df_graduated_tests[(df_graduated_tests.year==2022)&(df_graduated_tests.test_subject == 'ukrtest')].displacement_type.value_counts(normalize=True)

displacement_type
Non-displaced           0.780174
Displaced_abroad        0.139851
Displaced_internally    0.079975
Name: proportion, dtype: float64

In [64]:
df_graduated_tests[(df_graduated_tests.year==2022)&(df_graduated_tests.test_subject == 'ukrtest')&(df_graduated_tests.displaced==1)].displacement_type.value_counts(normalize=True)

displacement_type
Displaced_abroad        0.63619
Displaced_internally    0.36381
Name: proportion, dtype: float64

In [43]:
subj= pd.pivot_table(df_graduated_tests, index = ['test_subject'], columns = ['year'], values=['outid'], aggfunc='count')

total = [len(df_graduated_tests[df_graduated_tests['year']==year].outid.unique()) for year in range(2016, 2024)]

subj.div(total).round(2)

             outid
year          2016  2017  2018  2019  2020  2021 2022  2023
test_subject
biotest       0.29  0.36  0.34  0.34  0.31  0.32  NaN  0.12
chemtest      0.10  0.09  0.08  0.06  0.04  0.04  NaN  0.01
deutest       0.01  0.01  0.01  0.01  0.01  0.01  NaN  0.01
engtest       0.34  0.35  0.39  0.42  0.42  0.48  NaN  0.33
fratest       0.00  0.00  0.00  0.00  0.00  0.00  NaN  0.00
geotest       0.22  0.32  0.37  0.37  0.40  0.48  NaN   NaN
histtest      0.74  0.77  0.75  0.70  0.69  0.75  1.0  0.50
mathsttest     NaN   NaN   NaN   NaN   NaN  0.17  NaN   NaN
mathtest      0.49  0.48  0.48  0.52  0.54  0.83  1.0  1.00
phystest      0.12  0.11  0.09  0.09  0.09  0.10  NaN  0.02
rustest       0.01  0.01   NaN   NaN   NaN   NaN  NaN   NaN
spatest       0.00  0.00  0.00  0.00  0.00  0.00  NaN  0.00
ukrtest       1.00  1.00  1.00  1.00  1.00  0.99  1.0  1.00
umltest        NaN   NaN   NaN   NaN   NaN  0.74  NaN   NaN

# Ukrainian language test

In [39]:
df_ukr_graduated = df_graduated_tests[df_graduated_tests.test_subject == 'ukrtest']
sum(df_ukr_graduated.duplicated())

0

In [65]:
df_ukr_graduated[df_ukr_graduated.EDRPOU_school=='39382856'].year.value_counts()

year
2023    1551
2022     867
2021     764
2020     403
2019     152
2018      75
2017      29
2016      11
Name: count, dtype: int64

In [40]:
df_ukr_graduated

,outid,year,score100,score12,score,test_status,test_subject,test_type,KATOTTG_2023_test_center,EDRPOU_test_center,birth,sextypename,EDRPOU_school,status,category,region_name,abroad,category_test_center,KATOTTG_2023_region_test_center,region_name_test_center
0,00000AC7-CDDE-4C77-B979-8B0351AF1305,2017,161.0,9.0,NaN,Accepted,ukrtest,EIE,UA51100270010275193,20995060,2000,Female,23864660,A graduate of an Ukrainian school of the curre...,districts in cities,Odeska,0,districts in cities,UA51,Odeska
1,00000dce-36de-4d58-9dc2-7ffc824f597a,2021,NaN,NaN,NaN,Absent,ukrtest,EIE,UA18060090010074365,22061344,2004,Male,22056432,A graduate of an Ukrainian school of the curre...,village,Zhytomyrskа,0,city,UA18,Zhytomyrskа
3,0000268f-9fdd-49b2-9ee2-422778c9c4f1,2016,160.0,8.0,NaN,Accepted,ukrtest,EIE,UA63120270010216514,24486622,1998,Male,23320374,A graduate of an Ukrainian school of the curre...,districts in cities,Kharkivska,0,districts in cities,UA63,Kharkivska
4,0000324e-f525-49c4-a963-8df0cc02d6d5,2018,166.0,9.0,69.0,Accepted,ukrtest,EIE,UA46100230010074173,34387362,2001,Male,20773804,A graduate of an Ukrainian school of the curre...,city,Lvivska,0,city,UA46,Lvivska
8,00003fa1-de6c-488e-a130-8acf4fb817ef,2019,167.0,7.0,69.0,Accepted,ukrtest,EIE,UA59080270010287243,00220078,2002,Female,21117479,A graduate of an Ukrainian school of the curre...,districts in cities,Sumska,0,districts in cities,UA59,Sumska
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2456028,ffff8e58-5322-4b21-a385-d1fee504c2a8,2021,102.0,NaN,18.0,Accepted,ukrtest,EIE,UA51040010010048834,25417126,2004,Male,25417118,A graduate of an Ukrainian school of the curre...,city,Odeska,0,city,UA51,Odeska
2456033,ffffb2e5-b2a1-4f51-871b-d281c20e72e8,2019,119.0,4.0,33.0,Accepted,ukrtest,EIE,UA32080090010037585,26078206,2002,Male,25667248,A graduate of an Ukrainian school of the curre...,village,Kyivska,0,city,UA32,Kyivska
2456034,ffffb656-a973-409c-92a8-5d1276874724,2019,137.0,6.0,44.0,Accepted,ukrtest,EIE,UA18060170010010060,06670569,2002,Female,06670782,A graduate of an Ukrainian school of the curre...,village,Zhytomyrskа,0,city,UA18,Zhytomyrskа
2456038,ffffd378-2c03-407d-8937-3a4acca43f94,2019,127.0,6.0,38.0,Accepted,ukrtest,EIE,UA53020030010087471,21064435,2002,Female,25173440,A graduate of an Ukrainian school of the curre...,urban village,Poltavska,0,city,UA53,Poltavska
2456041,ffffeeb2-7258-4465-bca3-88dd19902340,2019,169.0,10.0,70.0,Accepted,ukrtest,EIE,UA12020010010639502,26508368,2002,Male,26509416,A graduate of an Ukrainian school of the curre...,districts in cities,Dnipropetrovska,0,districts in cities,UA12,Dnipropetrovska